c 1 CONFIG_KILL bool
c 2 CONFIG_FEATURE_TRACEROUTE_USE_ICMP bool
c 3 CONFIG_FEATURE_TAB_COMPLETION bool
c 4 CONFIG_FEATURE_INSTALL_LONG_OPTIONS bool
c 5 CONFIG_LOGGER bool
c 6 CONFIG_WHICH bool
c 7 CONFIG_FEATURE_PIDFILE bool
c 8 CONFIG_FEATURE_LESS_FLAGS bool
c 9 CONFIG_RAIDAUTORUN bool
c 10 CONFIG_LSATTR bool
c 11 CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION bool
c 12 CONFIG_ASH_MAIL bool
c 13 CONFIG_FEATURE_KILL_REMOVED bool
c 14 CONFIG_HUSH_INTERACTIVE bool
c 15 CONFIG_UUDECODE bool
c 16 CONFIG_FEATURE_SH_STANDALONE bool
c 17 CONFIG_FEATURE_IPV6 bool
c 18 CONFIG_LASH bool
c 19 CONFIG_ASH bool
c 20 CONFIG_FEATURE_IFCONFIG_MEMSTART_IOADDR_IRQ bool
c 21 CONFIG_OPENVT bool
c 22 CONFIG_SWITCH_ROOT bool
c 23 CONFIG_ASH_READ_NCHARS bool
c 24 CONFIG_FEATURE_PREFER_APPLETS bool
c 25 CONFIG_FEATURE_HTTPD_PROXY bool
c 26 CONFIG_ADJTIMEX bool
c 27 CONFIG_AR bool
c 28 CONFIG_CTTYHACK bool
c 29 CONFIG_WATCH bool
c 30 CONFIG_FEATURE_MAKEDEVS_TABLE choice_bool
c 31 CONFIG_FEATURE_HTTPD_RELOAD_CONFIG_SIGHUP bool
c 32 CONFIG_FEATURE_EDITING_MAX_LEN nonbool 1024
c 33 CONFIG_NC_EXTRA bool
c 34 CONFIG_FEATURE_TOPMEM bool
c 35 CONFIG_IFCONFIG bool
c 36 CONFIG_FEATURE_IP_LINK bool
c 37 CONFIG_FEATURE_ROTATE_LOGFILE bool
c 38 CONFIG_FEATURE_MOUNT_LOOP bool
c 39 CONFIG_MKDIR bool
c 40 CONFIG_FEATURE_CHCON_LONG_OPTIONS bool
c 41 CONFIG_FEATURE_TELNET_AUTOLOGIN bool
c 42 CONFIG_DEBUG_CROND_OPTION bool
c 43 CONFIG_FEATURE_SH_IS_ASH choice_bool
c 44 CONFIG_HEXDUMP bool
c 45 CONFIG_FEATURE_TELNET_TTYPE bool
c 46 CONFIG_CATV bool
c 47 CONFIG_FEATURE_WGET_LONG_OPTIONS bool
c 48 CONFIG_FEATURE_GREP_CONTEXT bool
c 49 CONFIG_FEATURE_TR_EQUIV bool
c 50 CONFIG_PASSWORD_MINLEN nonbool 6
c 51 CONFIG_FEATURE_MD5_SHA1_SUM_CHECK bool
c 52 CONFIG_IFUPDOWN bool
c 53 CONFIG_IPCS bool
c 54 CONFIG_BUILD_LIBBUSYBOX bool
c 55 CONFIG_ASH_JOB_CONTROL bool
c 56 CONFIG_FEATURE_REMOTE_LOG bool
c 57 CONFIG_FREERAMDISK bool
c 58 CONFIG_FEATURE_EDITING_SAVEHISTORY bool
c 59 CONFIG_FEATURE_TASKSET_FANCY bool
c 60 CONFIG_FEATURE_FDISK_WRITABLE bool
c 61 CONFIG_FEATURE_HTTPD_BASIC_AUTH bool
c 62 CONFIG_SETKEYCODES bool
c 63 CONFIG_UNIX2DOS hidden_bool
c 64 CONFIG_SEQ bool
c 65 CONFIG_FEATURE_FIND_XDEV bool
c 66 CONFIG_FEATURE_TFTP_PUT bool
c 67 CONFIG_FEATURE_WTMP bool
c 68 CONFIG_PS bool
c 69 CONFIG_FEATURE_VI_MAX_LEN nonbool 4096
c 70 CONFIG_FEATURE_MODPROBE_FANCY_ALIAS bool
c 71 CONFIG_FEATURE_PASSWD_WEAK_CHECK bool
c 72 CONFIG_SYNC bool
c 73 CONFIG_FEATURE_CLEAN_UP bool
c 74 CONFIG_FEATURE_FIND_PERM bool
c 75 CONFIG_FEATURE_FIND_MAXDEPTH bool
c 76 CONFIG_GZIP bool
c 77 CONFIG_CHRT bool
c 78 CONFIG_STATIC bool
c 79 CONFIG_FEATURE_VI_YANKMARK bool
c 80 CONFIG_FEATURE_TAR_FROM bool
c 81 CONFIG_FEATURE_FIND_CONTEXT bool
c 82 CONFIG_FEATURE_UTMP bool
c 83 CONFIG_FTPGET bool
c 84 CONFIG_FEATURE_MDEV_LOAD_FIRMWARE bool
c 85 CONFIG_RMMOD bool
c 86 CONFIG_TAIL bool
c 87 CONFIG_RUN_PARTS bool
c 88 CONFIG_HUSH_TICK bool
c 89 CONFIG_MORE bool
c 90 CONFIG_DNSD bool
c 91 CONFIG_CMP bool
c 92 CONFIG_GUNZIP bool
c 93 CONFIG_UNAME bool
c 94 CONFIG_TAC bool
c 95 CONFIG_LOAD_POLICY bool
c 96 CONFIG_FEATURE_SUID_CONFIG_QUIET bool
c 97 CONFIG_MV bool
c 98 CONFIG_PATCH bool
c 99 CONFIG_FEATURE_XARGS_SUPPORT_ZERO_TERM bool
c 100 CONFIG_HAVE_DOT_CONFIG hidden_bool
c 101 CONFIG_PKILL bool
c 102 CONFIG_DOS2UNIX bool
c 103 CONFIG_FEATURE_VI_OPTIMIZE_CURSOR bool
c 104 CONFIG_MKTEMP bool
c 105 CONFIG_FEATURE_LS_FILETYPES bool
c 106 CONFIG_FEATURE_SUID bool
c 107 CONFIG_READLINK bool
c 108 CONFIG_DMALLOC choice_bool
c 109 CONFIG_SETSEBOOL bool
c 110 CONFIG_FEATURE_RFC3397 bool
c 111 CONFIG_DF bool
c 112 CONFIG_RUNLEVEL bool
c 113 CONFIG_FEATURE_IP_ROUTE bool
c 114 CONFIG_FEATURE_BUFFERS_GO_ON_STACK choice_bool
c 115 CONFIG_LFS bool
c 116 CONFIG_SETLOGCONS bool
c 117 CONFIG_SESTATUS bool
c 118 CONFIG_LOGIN_SCRIPTS bool
c 119 CONFIG_FEATURE_CHECK_TAINTED_MODULE bool
c 120 CONFIG_FEATURE_COPYBUF_KB nonbool 4
c 121 CONFIG_RUNSVDIR bool
c 122 CONFIG_IPADDR hidden_bool
c 123 CONFIG_FEATURE_IFUPDOWN_IFCONFIG_BUILTIN bool
c 124 CONFIG_FEATURE_SPLIT_FANCY bool
c 125 CONFIG_FEATURE_HDPARM_HDIO_UNREGISTER_HWIF bool
c 126 CONFIG_DEVFSD_FG_NP bool
c 127 CONFIG_UNCOMPRESS bool
c 128 CONFIG_FEATURE_WGET_STATUSBAR bool
c 129 CONFIG_FEATURE_GUNZIP_UNCOMPRESS bool
c 130 CONFIG_DIFF bool
c 131 CONFIG_UNZIP bool
c 132 CONFIG_IPRULE hidden_bool
c 133 CONFIG_FEATURE_TAR_OLDSUN_COMPATIBILITY bool
c 134 CONFIG_RESIZE bool
c 135 CONFIG_YES bool
c 136 CONFIG_ARP bool
c 137 CONFIG_FEATURE_FIND_NEWER bool
c 138 CONFIG_FEATURE_BUFFERS_GO_IN_BSS choice_bool
c 139 CONFIG_ADDUSER bool
c 140 CONFIG_FEATURE_SUN_LABEL bool
c 141 CONFIG_BZIP2 bool
c 142 CONFIG_FOLD bool
c 143 CONFIG_FEATURE_LS_COLOR_IS_DEFAULT bool
c 144 CONFIG_FEATURE_TAR_LZMA bool
c 145 CONFIG_FEATURE_HTTPD_CGI bool
c 146 CONFIG_SHA1SUM bool
c 147 CONFIG_FEATURE_AR_LONG_FILENAMES bool
c 148 CONFIG_FEATURE_FANCY_TAIL bool
c 149 CONFIG_FEATURE_UDHCP_DEBUG bool
c 150 CONFIG_FEATURE_SORT_BIG bool
c 151 CONFIG_USLEEP bool
c 152 CONFIG_NICE bool
c 153 CONFIG_INSTALL_APPLET_DONT choice_bool
c 154 CONFIG_FEATURE_IP_RULE bool
c 155 CONFIG_VCONFIG bool
c 156 CONFIG_ASH_GETOPTS bool
c 157 CONFIG_FEATURE_MOUNT_FLAGS bool
c 158 CONFIG_HTTPD bool
c 159 CONFIG_TRACEROUTE bool
c 160 CONFIG_TEE bool
c 161 CONFIG_TEST bool
c 162 CONFIG_NAMEIF bool
c 163 CONFIG_ID bool
c 164 CONFIG_FEATURE_FANCY_SLEEP bool
c 165 CONFIG_FEATURE_LZMA_FAST bool
c 166 CONFIG_APP_DHCPRELAY bool
c 167 CONFIG_FEATURE_FIND_MTIME bool
c 168 CONFIG_FEATURE_VI_WIN_RESIZE bool
c 169 CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER choice_bool
c 170 CONFIG_TFTP bool
c 171 CONFIG_FDISK bool
c 172 CONFIG_IPCALC bool
c 173 CONFIG_BUNZIP2 bool
c 174 CONFIG_MOUNT bool
c 175 CONFIG_FEATURE_RESIZE_PRINT bool
c 176 CONFIG_HOSTID bool
c 177 CONFIG_EXPR bool
c 178 CONFIG_FEATURE_FIND_USER bool
c 179 CONFIG_FEATURE_DEVFS bool
c 180 CONFIG_CP bool
c 181 CONFIG_MICROCOM bool
c 182 CONFIG_FEATURE_IP_TUNNEL bool
c 183 CONFIG_CHPST bool
c 184 CONFIG_PREFIX nonbool "./_install"
c 185 CONFIG_FEATURE_IFUPDOWN_MAPPING bool
c 186 CONFIG_FEATURE_LESS_FLAGCS bool
c 187 CONFIG_FEATURE_HTTPD_ERROR_PAGES bool
c 188 CONFIG_ASH_MATH_SUPPORT bool
c 189 CONFIG_FEATURE_FANCY_ECHO bool
c 190 CONFIG_RUNCON bool
c 191 CONFIG_SPLIT bool
c 192 CONFIG_ASH_BUILTIN_ECHO bool
c 193 CONFIG_INSTALL_SH_APPLET_SYMLINK choice_bool
c 194 CONFIG_FEATURE_TELNETD_STANDALONE bool
c 195 CONFIG_SED bool
c 196 CONFIG_FEATURE_TFTP_BLOCKSIZE bool
c 197 CONFIG_RESET bool
c 198 CONFIG_BBCONFIG bool
c 199 CONFIG_FEATURE_MOUNT_NFS bool
c 200 CONFIG_FEATURE_FIND_PRUNE bool
c 201 CONFIG_SLATTACH bool
c 202 CONFIG_FEATURE_INSMOD_LOADINKMEM bool
c 203 CONFIG_FEATURE_READLINK_FOLLOW bool
c 204 CONFIG_WGET bool
c 205 CONFIG_RX bool
c 206 CONFIG_FEATURE_IP_RARE_PROTOCOLS bool
c 207 CONFIG_FEATURE_FANCY_PING bool
c 208 CONFIG_ENVDIR bool
c 209 CONFIG_LOADFONT bool
c 210 CONFIG_FEATURE_USE_TERMIOS bool
c 211 CONFIG_FEATURE_SETCONSOLE_LONG_OPTIONS bool
c 212 CONFIG_FEATURE_MTAB_SUPPORT bool
c 213 CONFIG_NOHUP bool
c 214 CONFIG_FEATURE_TOP_DECIMALS bool
c 215 CONFIG_IP bool
c 216 CONFIG_BUSYBOX_EXEC_PATH nonbool "/proc/self/exe"
c 217 CONFIG_FEATURE_VI_COLON bool
c 218 CONFIG_HEAD bool
c 219 CONFIG_MATCHPATHCON bool
c 220 CONFIG_UMOUNT bool
c 221 CONFIG_DIRNAME bool
c 222 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN bool
c 223 CONFIG_CLEAR bool
c 224 CONFIG_MD5_SIZE_VS_SPEED nonbool 2
c 225 CONFIG_FEATURE_DIFF_BINARY bool
c 226 CONFIG_FEATURE_MKDIR_LONG_OPTIONS bool
c 227 CONFIG_LOCALE_SUPPORT bool
c 228 CONFIG_DEBUG_TFTP bool
c 229 CONFIG_FEATURE_NAMEIF_EXTENDED bool
c 230 CONFIG_VI bool
c 231 CONFIG_FEATURE_FIND_PRINT0 bool
c 232 CONFIG_FEATURE_HTTPD_RANGES bool
c 233 CONFIG_STRINGS bool
c 234 CONFIG_FEATURE_EDITING bool
c 235 CONFIG_FEATURE_VI_SET bool
c 236 CONFIG_SULOGIN bool
c 237 CONFIG_RDATE bool
c 238 CONFIG_FEATURE_DEB_TAR_LZMA bool
c 239 CONFIG_FDFLUSH bool
c 240 CONFIG_SUM bool
c 241 CONFIG_CKSUM bool
c 242 CONFIG_FEATURE_EDITING_FANCY_PROMPT bool
c 243 CONFIG_KILLALL5 bool
c 244 CONFIG_FEATURE_USE_INITTAB bool
c 245 CONFIG_FEATURE_HAVE_RPC bool
c 246 CONFIG_SETSID bool
c 247 CONFIG_INSTALL_NO_USR bool
c 248 CONFIG_FEATURE_TR_CLASSES bool
c 249 CONFIG_FEATURE_MV_LONG_OPTIONS bool
c 250 CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING bool
c 251 CONFIG_FEATURE_SECURETTY bool
c 252 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_TIME bool
c 253 CONFIG_FEATURE_VI_SETOPTS bool
c 254 CONFIG_EFENCE choice_bool
c 255 CONFIG_FEATURE_TFTP_GET bool
c 256 CONFIG_FEATURE_VERBOSE_USAGE bool
c 257 CONFIG_FEATURE_GREP_EGREP_ALIAS bool
c 258 CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE nonbool 16
c 259 CONFIG_FEATURE_HTTPD_USE_SENDFILE bool
c 260 CONFIG_FEATURE_FIND_PATH bool
c 261 CONFIG_FEATURE_SH_IS_HUSH choice_bool
c 262 CONFIG_FDFORMAT bool
c 263 CONFIG_MKFIFO bool
c 264 CONFIG_DESKTOP bool
c 265 CONFIG_FEATURE_EXTRA_QUIET bool
c 266 CONFIG_PIPE_PROGRESS bool
c 267 CONFIG_FEATURE_RUNCON_LONG_OPTIONS bool
c 268 CONFIG_RESTORECON bool
c 269 CONFIG_FEATURE_LS_TIMESTAMPS bool
c 270 CONFIG_FEATURE_FIND_SIZE bool
c 271 CONFIG_FEATURE_UNEXPAND_LONG_OPTIONS bool
c 272 CONFIG_ENV bool
c 273 CONFIG_STAT bool
c 274 CONFIG_VERBOSE_RESOLUTION_ERRORS bool
c 275 CONFIG_IPTUNNEL hidden_bool
c 276 CONFIG_TELNET bool
c 277 CONFIG_FEATURE_SU_SYSLOG bool
c 278 CONFIG_UPTIME bool
c 279 CONFIG_LESS bool
c 280 CONFIG_FEATURE_IFUPDOWN_IPV4 bool
c 281 CONFIG_HALT bool
c 282 CONFIG_FEATURE_IP_SHORT_FORMS bool
c 283 CONFIG_LS bool
c 284 CONFIG_START_STOP_DAEMON bool
c 285 CONFIG_DUMPKMAP bool
c 286 CONFIG_PRINTF bool
c 287 CONFIG_FEATURE_MOUNT_FSTAB bool
c 288 CONFIG_LOGNAME bool
c 289 CONFIG_FEATURE_LS_RECURSIVE bool
c 290 CONFIG_PGREP bool
c 291 CONFIG_HUSH_JOB bool
c 292 CONFIG_MSH bool
c 293 CONFIG_FEATURE_EDITING_FANCY_KEYS bool
c 294 CONFIG_BB_SYSCTL bool
c 295 CONFIG_FEATURE_SETFILES_CHECK_OPTION bool
c 296 CONFIG_PASSWD bool
c 297 CONFIG_FEATURE_ALLOW_EXEC bool
c 298 CONFIG_ED bool
c 299 CONFIG_CAL bool
c 300 CONFIG_FEATURE_KILL_DELAY nonbool 0
c 301 CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY bool
c 302 CONFIG_FEATURE_XARGS_SUPPORT_QUOTES bool
c 303 CONFIG_FEATURE_XARGS_SUPPORT_TERMOPT bool
c 304 CONFIG_FEATURE_SH_IS_NONE choice_bool
c 305 CONFIG_PING6 bool
c 306 CONFIG_NC bool
c 307 CONFIG_FEATURE_LS_FOLLOWLINKS bool
c 308 CONFIG_FEATURE_TRACEROUTE_SOURCE_ROUTE bool
c 309 CONFIG_FEATURE_TAR_GNU_EXTENSIONS bool
c 310 CONFIG_FEATURE_AUTOWIDTH bool
c 311 CONFIG_FAKEIDENTD bool
c 312 CONFIG_WATCHDOG bool
c 313 CONFIG_FEATURE_IFUPDOWN_IP bool
c 314 CONFIG_CRONTAB bool
c 315 CONFIG_TASKSET bool
c 316 CONFIG_FEATURE_HTTPD_CONFIG_WITH_MIME_TYPES bool
c 317 CONFIG_FEATURE_VI_USE_SIGNALS bool
c 318 CONFIG_LAST bool
c 319 CONFIG_FEATURE_UNARCHIVE_TAPE bool
c 320 CONFIG_FEATURE_TAR_BZIP2 bool
c 321 CONFIG_WC bool
c 322 CONFIG_FEATURE_TAR_CREATE bool
c 323 CONFIG_GETOPT bool
c 324 CONFIG_PAM bool
c 325 CONFIG_FEATURE_STAT_FORMAT bool
c 326 CONFIG_FEATURE_LS_SORTFILES bool
c 327 CONFIG_FEATURE_HDPARM_GET_IDENTITY bool
c 328 CONFIG_CHMOD bool
c 329 CONFIG_FEATURE_RPM_BZ2 bool
c 330 CONFIG_FEATURE_MAKEDEVS_LEAF choice_bool
c 331 CONFIG_REALPATH bool
c 332 CONFIG_FEATURE_TAR_GZIP bool
c 333 CONFIG_FEATURE_FIND_REGEX bool
c 334 CONFIG_FEATURE_WC_LARGE bool
c 335 CONFIG_FEATURE_EDITING_HISTORY nonbool 15
c 336 CONFIG_UNIQ bool
c 337 CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY bool
c 338 CONFIG_WHO bool
c 339 CONFIG_FEATURE_PS_TIME bool
c 340 CONFIG_FEATURE_FIND_DELETE bool
c 341 CONFIG_HWCLOCK bool
c 342 CONFIG_FEATURE_TAR_COMPRESS bool
c 343 CONFIG_DMESG bool
c 344 CONFIG_FEATURE_MDEV_EXEC bool
c 345 CONFIG_MT bool
c 346 CONFIG_MKNOD bool
c 347 CONFIG_MOUNTPOINT bool
c 348 CONFIG_SETCONSOLE bool
c 349 CONFIG_KILLALL bool
c 350 CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT bool
c 351 CONFIG_FEATURE_VI_SEARCH bool
c 352 CONFIG_FEATURE_TAR_LONG_OPTIONS bool
c 353 CONFIG_SLEEP bool
c 354 CONFIG_FEATURE_INIT_COREDUMPS bool
c 355 CONFIG_WERROR bool
c 356 CONFIG_FEATURE_IFUPDOWN_EXTERNAL_DHCP bool
c 357 CONFIG_FEATURE_FIND_TYPE bool
c 358 CONFIG_FEATURE_START_STOP_DAEMON_LONG_OPTIONS bool
c 359 CONFIG_LOADKMAP bool
c 360 CONFIG_INSTALL bool
c 361 CONFIG_FUSER bool
c 362 CONFIG_SELINUX bool
c 363 CONFIG_FEATURE_INSMOD_LOAD_MAP bool
c 364 CONFIG_FEATURE_INSTALLER bool
c 365 CONFIG_FEATURE_PRESERVE_HARDLINKS bool
c 366 CONFIG_FEATURE_FBSET_FANCY bool
c 367 CONFIG_CHPASSWD bool
c 368 CONFIG_VLOCK bool
c 369 CONFIG_KLOGD bool
c 370 CONFIG_HD bool
c 371 CONFIG_FEATURE_MOUNT_HELPERS bool
c 372 CONFIG_ETHER_WAKE bool
c 373 CONFIG_INSMOD bool
c 374 CONFIG_FEATURE_WGET_AUTHENTICATION bool
c 375 CONFIG_MKSWAP bool
c 376 CONFIG_KBD_MODE bool
c 377 CONFIG_RENICE bool
c 378 CONFIG_CHATTR bool
c 379 CONFIG_NETSTAT bool
c 380 CONFIG_FEATURE_HTTPD_SET_REMOTE_PORT_TO_ENV bool
c 381 CONFIG_OD bool
c 382 CONFIG_FEATURE_CROND_CALL_SENDMAIL bool
c 383 CONFIG_FEATURE_VI_8BIT bool
c 384 CONFIG_INSTALL_SH_APPLET_HARDLINK choice_bool
c 385 CONFIG_FEATURE_SH_IS_MSH choice_bool
c 386 CONFIG_FEATURE_USERNAME_COMPLETION bool
c 387 CONFIG_TTY bool
c 388 CONFIG_FEATURE_LS_USERNAME bool
c 389 CONFIG_DU bool
c 390 CONFIG_FEATURE_HWCLOCK_LONG_OPTIONS bool
c 391 CONFIG_CROND bool
c 392 CONFIG_PWD bool
c 393 CONFIG_INCLUDE_SUSv2 bool
c 394 CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K bool
c 395 CONFIG_COMM bool
c 396 CONFIG_HDPARM bool
c 397 CONFIG_FEATURE_INETD_RPC bool
c 398 CONFIG_NC_SERVER bool
c 399 CONFIG_FEATURE_2_6_MODULES bool
c 400 CONFIG_FEATURE_HTTPD_ENCODE_URL_STR bool
c 401 CONFIG_ASH_RANDOM_SUPPORT bool
c 402 CONFIG_RPM bool
c 403 CONFIG_FEATURE_IFCONFIG_STATUS bool
c 404 CONFIG_FEATURE_SGI_LABEL bool
c 405 CONFIG_FEATURE_TEST_64 bool
c 406 CONFIG_CHVT bool
c 407 CONFIG_FEATURE_HTTPD_AUTH_MD5 bool
c 408 CONFIG_FEATURE_MOUNT_CIFS bool
c 409 CONFIG_FEATURE_MINIX2 bool
c 410 CONFIG_FEATURE_DEVPTS bool
c 411 CONFIG_FEATURE_FDISK_ADVANCED bool
c 412 CONFIG_XARGS bool
c 413 CONFIG_FEATURE_LESS_BRACKETS bool
c 414 CONFIG_DELUSER bool
c 415 CONFIG_LSMOD bool
c 416 CONFIG_DC bool
c 417 CONFIG_FBSET bool
c 418 CONFIG_FEATURE_INSMOD_LOAD_MAP_FULL bool
c 419 CONFIG_FEATURE_DEB_TAR_GZ bool
c 420 CONFIG_INIT bool
c 421 CONFIG_FSCK_MINIX bool
c 422 CONFIG_MKFS_MINIX bool
c 423 CONFIG_DEALLOCVT bool
c 424 CONFIG_FEATURE_HTTPD_SETUID bool
c 425 CONFIG_FEATURE_DEL_USER_FROM_GROUP bool
c 426 CONFIG_HUSH bool
c 427 CONFIG_BASENAME bool
c 428 CONFIG_FEATURE_COMPRESS_USAGE bool
c 429 CONFIG_RM bool
c 430 CONFIG_LN bool
c 431 CONFIG_FEATURE_FIND_PAREN bool
c 432 CONFIG_FEATURE_EDITING_VI bool
c 433 CONFIG_FEATURE_INIT_SCTTY bool
c 434 CONFIG_FIND bool
c 435 CONFIG_MODPROBE bool
c 436 CONFIG_CUT bool
c 437 CONFIG_FEATURE_RUN_PARTS_FANCY bool
c 438 CONFIG_FDISK_SUPPORT_LARGE_DISKS bool
c 439 CONFIG_FEATURE_FIND_EXEC bool
c 440 CONFIG_HUSH_LOOPS bool
c 441 CONFIG_SETUIDGID bool
c 442 CONFIG_FEATURE_FANCY_HEAD bool
c 443 CONFIG_FEATURE_DIFF_MINIMAL bool
c 444 CONFIG_FEATURE_NETSTAT_WIDE bool
c 445 CONFIG_FEATURE_LESS_REGEXP bool
c 446 CONFIG_MD5SUM bool
c 447 CONFIG_FEATURE_DEB_TAR_BZ2 bool
c 448 CONFIG_FALSE bool
c 449 CONFIG_TAR bool
c 450 CONFIG_LOGIN bool
c 451 CONFIG_MESG bool
c 452 CONFIG_GETSEBOOL bool
c 453 CONFIG_NMETER bool
c 454 CONFIG_IPLINK hidden_bool
c 455 CONFIG_SHOW_USAGE bool
c 456 CONFIG_FEATURE_PIDOF_SINGLE bool
c 457 CONFIG_FEATURE_SYSLOG bool
c 458 CONFIG_FEATURE_IP_ADDRESS bool
c 459 CONFIG_MAKEDEVS bool
c 460 CONFIG_FEATURE_SHADOWPASSWDS bool
c 461 CONFIG_FEATURE_INSMOD_KSYMOOPS_SYMBOLS bool
c 462 CONFIG_PRINTENV bool
c 463 CONFIG_FEATURE_EXPAND_LONG_OPTIONS bool
c 464 CONFIG_SETARCH bool
c 465 CONFIG_DELGROUP bool
c 466 CONFIG_FEATURE_IFCONFIG_SLIP bool
c 467 CONFIG_PING bool
c 468 CONFIG_ASH_BUILTIN_TEST bool
c 469 CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS bool
c 470 CONFIG_FEATURE_HWCLOCK_ADJTIME_FHS bool
c 471 CONFIG_FEATURE_NOLOGIN bool
c 472 CONFIG_LOGREAD bool
c 473 CONFIG_FEATURE_SHARED_BUSYBOX bool
c 474 CONFIG_FEATURE_LESS_MAXLINES nonbool 9999999
c 475 CONFIG_DEVFSD_MODLOAD bool
c 476 CONFIG_DEVFSD bool
c 477 CONFIG_HUSH_HELP bool
c 478 CONFIG_SELINUXENABLED bool
c 479 CONFIG_FEATURE_MODPROBE_MULTIPLE_OPTIONS bool
c 480 CONFIG_IOCTL_HEX2STR_ERROR bool
c 481 CONFIG_FEATURE_RUN_PARTS_LONG_OPTIONS bool
c 482 CONFIG_ECHO bool
c 483 CONFIG_ZCIP bool
c 484 CONFIG_TELNETD bool
c 485 CONFIG_FEATURE_LESS_MARKS bool
c 486 CONFIG_FEATURE_MDEV_CONF bool
c 487 CONFIG_TRUE bool
c 488 CONFIG_IFUPDOWN_IFSTATE_PATH nonbool "/var/run/ifstate"
c 489 CONFIG_CPIO bool
c 490 CONFIG_FSCK bool
c 491 CONFIG_FEATURE_ETC_NETWORKS bool
c 492 CONFIG_CHGRP bool
c 493 CONFIG_MDEV bool
c 494 CONFIG_USE_BB_PWD_GRP bool
c 495 CONFIG_TR bool
c 496 CONFIG_FEATURE_2_4_MODULES bool
c 497 CONFIG_FEATURE_START_STOP_DAEMON_FANCY bool
c 498 CONFIG_EXPAND bool
c 499 CONFIG_ENVUIDGID bool
c 500 CONFIG_CAT bool
c 501 CONFIG_FEATURE_DD_IBS_OBS bool
c 502 CONFIG_FEATURE_FBSET_READMODE bool
c 503 CONFIG_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR bool
c 504 CONFIG_APP_UDHCPC bool
c 505 CONFIG_ADDGROUP bool
c 506 CONFIG_DD bool
c 507 CONFIG_FEATURE_FIND_GROUP bool
c 508 CONFIG_RMDIR bool
c 509 CONFIG_ASH_READ_TIMEOUT bool
c 510 CONFIG_LENGTH bool
c 511 CONFIG_FEATURE_UDHCPC_ARPING bool
c 512 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD bool
c 513 CONFIG_GREP bool
c 514 CONFIG_PSCAN bool
c 515 CONFIG_INSTALL_APPLET_HARDLINKS choice_bool
c 516 CONFIG_SOFTLIMIT bool
c 517 CONFIG_FEATURE_DD_SIGNAL_HANDLING bool
c 518 CONFIG_FEATURE_UMOUNT_ALL bool
c 519 CONFIG_UUENCODE bool
c 520 CONFIG_FEATURE_PIDOF_OMIT bool
c 521 CONFIG_FEATURE_OSF_LABEL bool
c 522 CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS choice_bool
c 523 CONFIG_NITPICK bool
c 524 CONFIG_FEATURE_QUERY_MODULE_INTERFACE hidden_bool
c 525 CONFIG_FEATURE_FAST_TOP bool
c 526 CONFIG_NSLOOKUP bool
c 527 CONFIG_FEATURE_FTPGETPUT_LONG_OPTIONS bool
c 528 CONFIG_FEATURE_INDIVIDUAL bool
c 529 CONFIG_PIDOF bool
c 530 CONFIG_CHOWN bool
c 531 CONFIG_CHROOT bool
c 532 CONFIG_CRYPTPW bool
c 533 CONFIG_FEATURE_FIND_MMIN bool
c 534 CONFIG_DPKG_DEB bool
c 535 CONFIG_FEATURE_SU_CHECKS_SHELLS bool
c 536 CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS bool
c 537 CONFIG_DPKG bool
c 538 CONFIG_FEATURE_HDPARM_HDIO_SCAN_HWIF bool
c 539 CONFIG_DEVFSD_VERBOSE bool
c 540 CONFIG_PIVOT_ROOT bool
c 541 CONFIG_FEATURE_IFUPDOWN_IPV6 bool
c 542 CONFIG_FEATURE_ADDUSER_TO_GROUP bool
c 543 CONFIG_FEATURE_LS_COLOR bool
c 544 CONFIG_INSTALL_APPLET_SYMLINKS choice_bool
c 545 CONFIG_SU bool
c 546 CONFIG_RPM2CPIO bool
c 547 CONFIG_FEATURE_HDPARM_HDIO_GETSET_DMA bool
c 548 CONFIG_MONOTONIC_SYSCALL bool
c 549 CONFIG_FEATURE_TRACEROUTE_VERBOSE bool
c 550 CONFIG_RUNSV bool
c 551 CONFIG_FEATURE_AIX_LABEL bool
c 552 CONFIG_HOSTNAME bool
c 553 CONFIG_ROUTE bool
c 554 CONFIG_USE_BB_SHADOW bool
c 555 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME bool
c 556 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_ECHO bool
c 557 CONFIG_FEATURE_IPC_SYSLOG bool
c 558 CONFIG_FEATURE_HDPARM_HDIO_TRISTATE_HWIF bool
c 559 CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE bool
c 560 CONFIG_GETOPT_LONG bool
c 561 CONFIG_LOSETUP bool
c 562 CONFIG_FEATURE_VI_DOT_CMD bool
c 563 CONFIG_FEATURE_SH_EXTRA_QUIET bool
c 564 CONFIG_FEATURE_BUFFERS_USE_MALLOC choice_bool
c 565 CONFIG_FEATURE_DATE_ISOFMT bool
c 566 CONFIG_ASH_MATH_SUPPORT_64 bool
c 567 CONFIG_UDHCPC_SLACK_FOR_BUGGY_SERVERS nonbool 80
c 568 CONFIG_FEATURE_INIT_SYSLOG bool
c 569 CONFIG_IPCRM bool
c 570 CONFIG_FEATURE_IFUPDOWN_IP_BUILTIN bool
c 571 CONFIG_FEATURE_SUID_CONFIG bool
c 572 CONFIG_AWK bool
c 573 CONFIG_SETFILES bool
c 574 CONFIG_EXPR_MATH_SUPPORT_64 bool
c 575 CONFIG_FEATURE_VI_READONLY bool
c 576 CONFIG_APP_UDHCPD bool
c 577 CONFIG_DEBUG_INIT bool
c 578 CONFIG_FEATURE_DIFF_DIR bool
c 579 CONFIG_DATE bool
c 580 CONFIG_WHOAMI bool
c 581 CONFIG_INETD bool
c 582 CONFIG_FEATURE_HEXDUMP_REVERSE bool
c 583 CONFIG_FEATURE_DF_INODE bool
c 584 CONFIG_FEATURE_IFCONFIG_HW bool
c 585 CONFIG_FEATURE_PS_UNUSUAL_SYSTEMS bool
c 586 CONFIG_GETTY bool
c 587 CONFIG_FEATURE_DMESG_PRETTY bool
c 588 CONFIG_ASH_EXPAND_PRMT bool
c 589 CONFIG_FTPPUT bool
c 590 CONFIG_SETENFORCE bool
c 591 CONFIG_SWAPONOFF bool
c 592 CONFIG_FEATURE_FIND_NOT bool
c 593 CONFIG_SV bool
c 594 CONFIG_FEATURE_FIND_INUM bool
c 595 CONFIG_ASH_OPTIMIZE_FOR_SIZE bool
c 596 CONFIG_FEATURE_IPCALC_LONG_OPTIONS bool
c 597 CONFIG_DEBUG bool
c 598 CONFIG_TOP bool
c 599 CONFIG_FEATURE_ENV_LONG_OPTIONS bool
c 600 CONFIG_ASH_CMDCMD bool
c 601 CONFIG_UNEXPAND bool
c 602 CONFIG_FEATURE_PS_WIDE bool
c 603 CONFIG_EJECT bool
c 604 CONFIG_APP_DUMPLEASES bool
c 605 CONFIG_UNLZMA bool
c 606 CONFIG_SVLOGD bool
c 607 CONFIG_FEATURE_FIND_DEPTH bool
c 608 CONFIG_FEATURE_TEE_USE_BLOCK_IO bool
c 609 CONFIG_FEATURE_TAR_OLDGNU_COMPATIBILITY bool
c 610 CONFIG_FEATURE_GREP_FGREP_ALIAS bool
c 611 CONFIG_CHCON bool
c 612 CONFIG_SORT bool
c 613 CONFIG_FEATURE_MKSWAP_V0 bool
c 614 CONFIG_IPROUTE hidden_bool
c 615 CONFIG_READPROFILE bool
c 616 CONFIG_FEATURE_INSMOD_VERSION_CHECKING bool
c 617 CONFIG_TCPSVD bool
c 618 CONFIG_FEATURE_HUMAN_READABLE bool
c 619 CONFIG_TOUCH bool
c 620 CONFIG_FEATURE_INITRD bool
c 621 CONFIG_HUSH_IF bool
c 622 CONFIG_TIME bool
c 623 CONFIG_STTY bool
c 624 CONFIG_TTYSIZE bool
c 625 CONFIG_READAHEAD bool
c 626 CONFIG_SYSLOGD bool
c 627 CONFIG_NO_DEBUG_LIB choice_bool
c 628 CONFIG_UDPSVD bool
c 629 CONFIG_ASH_ALIAS bool
c 630 CONFIG_GETENFORCE bool
c 631 CONFIG_FREE bool
c 632 CONFIG_FEATURE_HDPARM_HDIO_DRIVE_RESET bool
c 633 CONFIG_FEATURE_IPCALC_FANCY bool
c 634 CONFIG_FEATURE_PREFER_IPV4_ADDRESS bool
c 635 CONFIG_FEATURE_AWK_MATH bool
c 636 CONFIG_ARPING bool
p cnf 636 524
-193 522 0
-199 245 0
-357 434 0
-461 496 0
145 -503 0
35 -536 0
-74 434 0
-84 493 0
30 330 -459 0
54 -473 0
18 19 292 426 -563 0
54 -78 -473 0
-40 560 611 0
-70 399 523 0
52 -541 0
-166 576 0
-138 -564 0
-275 282 0
-43 -304 0
283 -543 560 0
234 -335 0
-267 362 0
-119 373 415 0
218 -442 0
-222 581 0
184 0
-19 161 0
60 -404 0
-501 506 0
-42 391 0
-202 373 0
-202 496 0
-279 474 0
158 -232 0
434 -507 0
258 -557 0
-168 230 0
457 -586 0
36 -454 0
215 -282 0
111 -583 0
82 -338 -450 0
106 -314 0
-277 545 0
134 -175 0
-397 581 0
-3 234 0
-153 -515 0
130 -443 0
-67 82 -338 0
-302 412 0
396 -538 0
-186 279 0
-469 559 0
-73 523 0
-319 449 489 0
52 -123 -313 0
-363 399 496 0
-330 459 0
341 -390 0
-40 611 0
375 -613 0
313 -570 0
-267 560 0
-363 373 0
-12 19 0
-515 -544 0
115 -625 0
-48 513 0
69 -230 0
-70 399 435 0
-178 434 0
82 -338 0
283 -326 0
161 -405 0
-40 362 560 0
230 -562 0
-261 -385 0
44 -582 0
-47 204 0
-219 362 0
158 -424 0
67 -318 -450 0
373 -616 0
67 -82 338 450 545 586 0
-81 362 0
92 -129 0
-66 170 0
496 -616 0
-80 449 0
82 -338 -586 0
174 -371 0
86 -148 0
36 -570 0
-327 396 0
190 -267 362 0
-145 158 0
-267 362 560 0
-189 482 0
-391 457 0
-105 283 0
100 0
172 -633 0
19 -192 0
-257 513 0
506 -517 0
-296 457 0
172 -596 0
-486 493 0
379 -444 0
60 -551 0
106 -545 0
-252 581 0
-81 434 0
513 -610 0
-33 306 0
-143 543 0
-504 567 -576 0
-24 -54 0
-30 459 0
-200 434 0
-309 449 0
-114 523 0
170 -228 0
234 -242 0
160 -608 0
-399 -524 0
19 -629 0
476 -539 0
-301 576 0
-154 215 0
496 -524 0
108 254 627 0
-118 450 0
-149 504 576 0
82 -338 -545 0
-128 204 0
67 -318 0
19 -468 0
-244 420 0
-366 417 0
494 -554 0
-261 -304 0
-13 300 0
457 -545 0
-217 230 0
97 180 -365 0
-137 434 0
282 -614 0
-238 534 537 0
363 -418 0
-40 362 611 0
-16 24 0
-543 560 0
-340 434 0
-79 230 0
576 -604 0
460 -554 0
-329 402 0
1 -243 0
19 -156 0
-96 571 0
-251 450 0
-109 362 0
-305 467 0
449 -609 0
-140 171 0
-18 426 0
-265 420 0
-43 -261 0
106 -450 0
32 -234 0
44 -370 0
572 -635 0
19 -23 0
161 -292 0
-132 282 0
-234 335 0
-126 476 0
177 -574 0
-352 449 0
-428 455 0
19 -600 0
161 -426 0
-206 215 0
-16 18 19 292 426 0
159 -549 0
182 -275 0
-138 523 0
-14 426 0
-236 457 0
19 -588 0
-254 -627 0
-108 -627 0
-169 522 0
362 -630 0
-426 487 0
19 -509 0
-58 234 0
-214 559 0
68 -339 0
284 -497 0
-150 612 0
36 215 -570 0
-157 174 0
434 -592 0
-215 458 -570 0
113 -215 -570 0
-115 171 438 0
460 494 -554 0
-512 581 0
-63 102 0
-125 396 0
-103 230 0
67 -318 -586 0
-53 106 0
1 -349 0
-426 482 0
-350 415 0
-522 -544 0
420 -577 0
-352 560 0
115 171 -438 0
230 -317 0
-32 234 0
-249 560 0
43 261 304 385 0
-231 434 0
-67 82 -545 0
61 -407 0
420 -568 0
-270 434 0
230 -383 0
435 -479 523 0
234 -432 0
450 -471 0
35 -466 0
16 24 -153 364 0
159 -308 0
-324 450 0
35 -403 0
396 -547 0
457 -483 0
-527 560 0
-71 296 0
504 -567 576 0
19 -188 0
-271 560 0
162 -229 0
-431 434 0
-115 438 0
-344 486 0
-565 579 0
-56 626 0
-31 158 0
-472 557 0
19 -55 0
-78 -528 0
-556 581 0
-5 457 0
-110 504 576 0
-114 -138 0
171 -411 0
-248 495 0
396 -632 0
17 -305 0
272 -599 0
-192 482 0
215 -570 0
279 -413 0
283 -388 0
-45 276 0
-43 -385 0
60 -411 0
-559 598 0
36 -215 -570 0
504 -511 0
174 -408 0
-13 244 0
215 -458 570 0
-69 230 0
-2 159 0
-47 560 0
204 -374 0
85 373 -399 435 0
190 -267 560 0
19 -58 0
-114 -564 0
170 -196 0
19 -43 0
52 -280 0
113 215 -570 0
-358 560 0
-67 318 450 545 586 0
343 -587 0
169 193 384 -522 0
-382 391 0
130 -578 0
113 -614 0
-535 545 0
171 -551 0
145 -380 0
-342 449 0
161 -468 0
284 -358 0
87 -481 0
-78 -473 0
-122 282 0
111 283 389 -618 0
-292 448 0
-182 215 0
39 -226 0
396 -558 0
264 -339 0
426 -440 0
283 -307 0
50 0
170 -255 0
-70 399 0
17 -541 0
-167 434 0
279 -485 0
-425 465 0
420 -433 0
-4 360 0
230 -575 0
19 -595 0
523 -564 0
-320 449 0
362 -590 0
35 -584 0
52 -123 0
-182 275 -282 0
362 -611 0
-49 495 0
-515 -522 0
158 -400 0
-113 215 570 0
-557 626 0
-8 279 0
279 -445 0
292 -385 0
-61 158 0
-555 581 0
-60 171 0
-520 529 0
426 -621 0
-420 457 0
-52 488 0
-463 498 0
-36 -282 454 0
-132 154 0
106 -296 0
14 -291 0
-193 -384 0
-340 607 0
-4 560 0
-207 467 0
-447 534 537 0
106 -569 0
-59 315 0
-153 -522 0
-269 283 0
389 -394 0
-122 458 0
279 -474 0
-30 -330 0
-504 567 0
426 -477 0
373 -461 0
158 -259 0
-164 353 0
-99 412 0
362 -573 0
87 -437 0
67 -318 -545 0
245 -397 0
-435 479 523 0
107 -203 0
458 -570 0
132 -154 -282 0
-295 573 0
52 -185 0
560 -599 0
457 -484 0
417 -502 0
-40 362 0
-226 560 0
-144 449 0
89 276 283 -310 0
52 -356 0
158 -187 0
171 -521 0
188 -566 0
-456 529 0
435 -479 0
17 -634 0
174 -212 220 0
-133 449 0
-354 420 0
-123 553 0
3 -386 0
234 -293 0
83 -527 589 0
283 -543 0
224 0
68 -602 0
158 -316 0
-70 435 0
-268 362 0
-67 82 338 450 545 586 0
-450 457 0
-117 362 0
-337 534 0
230 -351 0
63 -102 0
-153 -544 0
-124 191 0
-250 472 0
-332 449 0
-67 82 -586 0
-419 534 537 0
-169 -193 0
-51 146 446 0
54 -78 -528 0
-38 174 220 0
-115 -171 438 0
-25 158 0
-165 605 0
-211 560 0
-409 421 422 0
171 -404 0
282 -454 0
-67 82 -450 0
-426 448 0
54 -528 0
216 0
341 -470 0
-271 601 0
35 -123 0
-475 476 0
-463 560 0
174 -199 0
106 -571 0
-75 434 0
106 -391 0
89 -210 0
-108 -254 0
230 -297 572 0
-390 560 0
-37 626 0
215 458 -570 0
-199 457 0
-70 435 523 0
52 -313 0
-303 412 0
-256 455 0
-36 215 570 0
174 -287 0
19 -401 0
-20 35 0
434 -439 0
362 -478 0
420 -620 0
-261 426 0
-211 348 0
190 -267 0
70 -399 -435 523 0
273 -325 0
120 0
-65 434 0
-481 560 0
399 -496 524 0
-190 362 0
-311 457 0
-162 457 0
-11 412 0
-258 557 0
-169 -384 0
130 -225 0
-88 426 0
230 -253 0
122 -282 -458 0
114 138 -523 564 0
153 515 522 544 0
457 -476 0
-34 598 0
-95 362 0
362 -452 0
-322 449 0
-292 487 0
321 -334 0
457 -581 0
-194 484 0
560 -596 0
434 -533 0
434 -607 0
97 -249 0
434 -594 0
-333 434 0
113 -570 0
52 -488 0
-123 -313 0
306 -398 0
60 -140 0
-304 -385 0
-113 -282 614 0
60 -521 0
-384 522 0
-295 362 0
230 -235 0
-260 434 0
106 -368 0
13 -300 0
-67 82 0
283 -289 0
505 -542 0
27 -147 0
85 373 435 -496 0
220 -518 0
567 -576 0
339 -585 0
-40 560 0
-41 276 0
