c 1 CONFIG_KILL bool
c 2 CONFIG_FEATURE_TRACEROUTE_USE_ICMP bool
c 3 CONFIG_FEATURE_TAB_COMPLETION bool
c 4 CONFIG_FEATURE_INSTALL_LONG_OPTIONS bool
c 5 CONFIG_LOGGER bool
c 6 CONFIG_WHICH bool
c 7 CONFIG_FEATURE_PIDFILE bool
c 8 CONFIG_FEATURE_LESS_FLAGS bool
c 9 CONFIG_RAIDAUTORUN bool
c 10 CONFIG_LSATTR bool
c 11 CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION bool
c 12 CONFIG_ASH_MAIL bool
c 13 CONFIG_HUSH_INTERACTIVE bool
c 14 CONFIG_UUDECODE bool
c 15 CONFIG_FEATURE_SH_STANDALONE bool
c 16 CONFIG_FEATURE_IPV6 bool
c 17 CONFIG_LASH bool
c 18 CONFIG_ASH bool
c 19 CONFIG_FEATURE_IFCONFIG_MEMSTART_IOADDR_IRQ bool
c 20 CONFIG_OPENVT bool
c 21 CONFIG_SWITCH_ROOT bool
c 22 CONFIG_ASH_READ_NCHARS bool
c 23 CONFIG_FEATURE_PREFER_APPLETS bool
c 24 CONFIG_FEATURE_HTTPD_PROXY bool
c 25 CONFIG_ADJTIMEX bool
c 26 CONFIG_AR bool
c 27 CONFIG_CTTYHACK bool
c 28 CONFIG_WATCH bool
c 29 CONFIG_FEATURE_MAKEDEVS_TABLE choice_bool
c 30 CONFIG_FEATURE_HTTPD_RELOAD_CONFIG_SIGHUP bool
c 31 CONFIG_FEATURE_EDITING_MAX_LEN nonbool 1024
c 32 CONFIG_NC_EXTRA bool
c 33 CONFIG_FEATURE_TOPMEM bool
c 34 CONFIG_IFCONFIG bool
c 35 CONFIG_FEATURE_IP_LINK bool
c 36 CONFIG_FEATURE_ROTATE_LOGFILE bool
c 37 CONFIG_FEATURE_MOUNT_LOOP bool
c 38 CONFIG_MKDIR bool
c 39 CONFIG_FEATURE_CHCON_LONG_OPTIONS bool
c 40 CONFIG_FEATURE_TELNET_AUTOLOGIN bool
c 41 CONFIG_DEBUG_CROND_OPTION bool
c 42 CONFIG_FEATURE_SH_IS_ASH choice_bool
c 43 CONFIG_HEXDUMP bool
c 44 CONFIG_FEATURE_TELNET_TTYPE bool
c 45 CONFIG_CATV bool
c 46 CONFIG_FEATURE_WGET_LONG_OPTIONS bool
c 47 CONFIG_FEATURE_GREP_CONTEXT bool
c 48 CONFIG_FEATURE_TR_EQUIV bool
c 49 CONFIG_PASSWORD_MINLEN nonbool 6
c 50 CONFIG_FEATURE_MD5_SHA1_SUM_CHECK bool
c 51 CONFIG_IFUPDOWN bool
c 52 CONFIG_IPCS bool
c 53 CONFIG_BUILD_LIBBUSYBOX bool
c 54 CONFIG_ASH_JOB_CONTROL bool
c 55 CONFIG_FEATURE_REMOTE_LOG bool
c 56 CONFIG_FREERAMDISK bool
c 57 CONFIG_FEATURE_EDITING_SAVEHISTORY bool
c 58 CONFIG_FEATURE_TASKSET_FANCY bool
c 59 CONFIG_FEATURE_FDISK_WRITABLE bool
c 60 CONFIG_FEATURE_HTTPD_BASIC_AUTH bool
c 61 CONFIG_SETKEYCODES bool
c 62 CONFIG_UNIX2DOS hidden_bool
c 63 CONFIG_SEQ bool
c 64 CONFIG_FEATURE_FIND_XDEV bool
c 65 CONFIG_FEATURE_TFTP_PUT bool
c 66 CONFIG_FEATURE_WTMP bool
c 67 CONFIG_PS bool
c 68 CONFIG_FEATURE_VI_MAX_LEN nonbool 1024
c 69 CONFIG_FEATURE_MODPROBE_FANCY_ALIAS bool
c 70 CONFIG_FEATURE_PASSWD_WEAK_CHECK bool
c 71 CONFIG_SYNC bool
c 72 CONFIG_FEATURE_CLEAN_UP bool
c 73 CONFIG_FEATURE_FIND_PERM bool
c 74 CONFIG_FEATURE_FIND_MAXDEPTH bool
c 75 CONFIG_GZIP bool
c 76 CONFIG_CHRT bool
c 77 CONFIG_STATIC bool
c 78 CONFIG_FEATURE_VI_YANKMARK bool
c 79 CONFIG_FEATURE_TAR_FROM bool
c 80 CONFIG_FEATURE_FIND_CONTEXT bool
c 81 CONFIG_FEATURE_UTMP bool
c 82 CONFIG_FTPGET bool
c 83 CONFIG_FEATURE_MDEV_LOAD_FIRMWARE bool
c 84 CONFIG_RMMOD bool
c 85 CONFIG_TAIL bool
c 86 CONFIG_RUN_PARTS bool
c 87 CONFIG_HUSH_TICK bool
c 88 CONFIG_MORE bool
c 89 CONFIG_DNSD bool
c 90 CONFIG_CMP bool
c 91 CONFIG_GUNZIP bool
c 92 CONFIG_UNAME bool
c 93 CONFIG_LOAD_POLICY bool
c 94 CONFIG_FEATURE_SUID_CONFIG_QUIET bool
c 95 CONFIG_MV bool
c 96 CONFIG_PATCH bool
c 97 CONFIG_FEATURE_XARGS_SUPPORT_ZERO_TERM bool
c 98 CONFIG_HAVE_DOT_CONFIG hidden_bool
c 99 CONFIG_PKILL bool
c 100 CONFIG_DOS2UNIX bool
c 101 CONFIG_FEATURE_VI_OPTIMIZE_CURSOR bool
c 102 CONFIG_MKTEMP bool
c 103 CONFIG_FEATURE_LS_FILETYPES bool
c 104 CONFIG_FEATURE_SUID bool
c 105 CONFIG_READLINK bool
c 106 CONFIG_DMALLOC choice_bool
c 107 CONFIG_SETSEBOOL bool
c 108 CONFIG_FEATURE_RFC3397 bool
c 109 CONFIG_DF bool
c 110 CONFIG_RUNLEVEL bool
c 111 CONFIG_FEATURE_IP_ROUTE bool
c 112 CONFIG_FEATURE_BUFFERS_GO_ON_STACK choice_bool
c 113 CONFIG_LFS bool
c 114 CONFIG_SETLOGCONS bool
c 115 CONFIG_LOGIN_SCRIPTS bool
c 116 CONFIG_FEATURE_CHECK_TAINTED_MODULE bool
c 117 CONFIG_RUNSVDIR bool
c 118 CONFIG_IPADDR hidden_bool
c 119 CONFIG_FEATURE_IFUPDOWN_IFCONFIG_BUILTIN bool
c 120 CONFIG_FEATURE_SPLIT_FANCY bool
c 121 CONFIG_FEATURE_HDPARM_HDIO_UNREGISTER_HWIF bool
c 122 CONFIG_DEVFSD_FG_NP bool
c 123 CONFIG_UNCOMPRESS bool
c 124 CONFIG_FEATURE_WGET_STATUSBAR bool
c 125 CONFIG_FEATURE_GUNZIP_UNCOMPRESS bool
c 126 CONFIG_DIFF bool
c 127 CONFIG_UNZIP bool
c 128 CONFIG_IPRULE hidden_bool
c 129 CONFIG_FEATURE_TAR_OLDSUN_COMPATIBILITY bool
c 130 CONFIG_RESIZE bool
c 131 CONFIG_YES bool
c 132 CONFIG_ARP bool
c 133 CONFIG_FEATURE_FIND_NEWER bool
c 134 CONFIG_FEATURE_BUFFERS_GO_IN_BSS choice_bool
c 135 CONFIG_ADDUSER bool
c 136 CONFIG_FEATURE_SUN_LABEL bool
c 137 CONFIG_BZIP2 bool
c 138 CONFIG_FOLD bool
c 139 CONFIG_FEATURE_LS_COLOR_IS_DEFAULT bool
c 140 CONFIG_FEATURE_TAR_LZMA bool
c 141 CONFIG_FEATURE_HTTPD_CGI bool
c 142 CONFIG_SHA1SUM bool
c 143 CONFIG_FEATURE_AR_LONG_FILENAMES bool
c 144 CONFIG_FEATURE_FANCY_TAIL bool
c 145 CONFIG_FEATURE_UDHCP_DEBUG bool
c 146 CONFIG_FEATURE_SORT_BIG bool
c 147 CONFIG_USLEEP bool
c 148 CONFIG_NICE bool
c 149 CONFIG_INSTALL_APPLET_DONT choice_bool
c 150 CONFIG_FEATURE_IP_RULE bool
c 151 CONFIG_VCONFIG bool
c 152 CONFIG_ASH_GETOPTS bool
c 153 CONFIG_FEATURE_MOUNT_FLAGS bool
c 154 CONFIG_HTTPD bool
c 155 CONFIG_TRACEROUTE bool
c 156 CONFIG_TEE bool
c 157 CONFIG_TEST bool
c 158 CONFIG_NAMEIF bool
c 159 CONFIG_ID bool
c 160 CONFIG_FEATURE_FANCY_SLEEP bool
c 161 CONFIG_FEATURE_LZMA_FAST bool
c 162 CONFIG_APP_DHCPRELAY bool
c 163 CONFIG_FEATURE_FIND_MTIME bool
c 164 CONFIG_FEATURE_SH_IS_LASH choice_bool
c 165 CONFIG_FEATURE_VI_WIN_RESIZE bool
c 166 CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER choice_bool
c 167 CONFIG_TFTP bool
c 168 CONFIG_FDISK bool
c 169 CONFIG_IPCALC bool
c 170 CONFIG_BUNZIP2 bool
c 171 CONFIG_MOUNT bool
c 172 CONFIG_FEATURE_RESIZE_PRINT bool
c 173 CONFIG_HOSTID bool
c 174 CONFIG_EXPR bool
c 175 CONFIG_FEATURE_FIND_USER bool
c 176 CONFIG_FEATURE_DEVFS bool
c 177 CONFIG_CP bool
c 178 CONFIG_MICROCOM bool
c 179 CONFIG_FEATURE_IP_TUNNEL bool
c 180 CONFIG_CHPST bool
c 181 CONFIG_PREFIX nonbool "./_install"
c 182 CONFIG_FEATURE_IFUPDOWN_MAPPING bool
c 183 CONFIG_FEATURE_LESS_FLAGCS bool
c 184 CONFIG_FEATURE_HTTPD_ERROR_PAGES bool
c 185 CONFIG_ASH_MATH_SUPPORT bool
c 186 CONFIG_FEATURE_FANCY_ECHO bool
c 187 CONFIG_RUNCON bool
c 188 CONFIG_SPLIT bool
c 189 CONFIG_ASH_BUILTIN_ECHO bool
c 190 CONFIG_INSTALL_SH_APPLET_SYMLINK choice_bool
c 191 CONFIG_FEATURE_TELNETD_STANDALONE bool
c 192 CONFIG_SED bool
c 193 CONFIG_FEATURE_TFTP_BLOCKSIZE bool
c 194 CONFIG_RESET bool
c 195 CONFIG_BBCONFIG bool
c 196 CONFIG_FEATURE_MOUNT_NFS bool
c 197 CONFIG_FEATURE_FIND_PRUNE bool
c 198 CONFIG_SLATTACH bool
c 199 CONFIG_FEATURE_INSMOD_LOADINKMEM bool
c 200 CONFIG_FEATURE_READLINK_FOLLOW bool
c 201 CONFIG_WGET bool
c 202 CONFIG_RX bool
c 203 CONFIG_FEATURE_FANCY_PING bool
c 204 CONFIG_ENVDIR bool
c 205 CONFIG_LOADFONT bool
c 206 CONFIG_FEATURE_USE_TERMIOS bool
c 207 CONFIG_FEATURE_SETCONSOLE_LONG_OPTIONS bool
c 208 CONFIG_FEATURE_MTAB_SUPPORT bool
c 209 CONFIG_NOHUP bool
c 210 CONFIG_FEATURE_TOP_DECIMALS bool
c 211 CONFIG_IP bool
c 212 CONFIG_BUSYBOX_EXEC_PATH nonbool "/proc/self/exe"
c 213 CONFIG_FEATURE_VI_COLON bool
c 214 CONFIG_HEAD bool
c 215 CONFIG_MATCHPATHCON bool
c 216 CONFIG_UMOUNT bool
c 217 CONFIG_DIRNAME bool
c 218 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN bool
c 219 CONFIG_CLEAR bool
c 220 CONFIG_MD5_SIZE_VS_SPEED nonbool 2
c 221 CONFIG_FEATURE_DIFF_BINARY bool
c 222 CONFIG_FEATURE_MKDIR_LONG_OPTIONS bool
c 223 CONFIG_LOCALE_SUPPORT bool
c 224 CONFIG_DEBUG_TFTP bool
c 225 CONFIG_VI bool
c 226 CONFIG_FEATURE_FIND_PRINT0 bool
c 227 CONFIG_FEATURE_HTTPD_RANGES bool
c 228 CONFIG_STRINGS bool
c 229 CONFIG_FEATURE_EDITING bool
c 230 CONFIG_FEATURE_VI_SET bool
c 231 CONFIG_SULOGIN bool
c 232 CONFIG_RDATE bool
c 233 CONFIG_FEATURE_DEB_TAR_LZMA bool
c 234 CONFIG_FDFLUSH bool
c 235 CONFIG_SUM bool
c 236 CONFIG_CKSUM bool
c 237 CONFIG_FEATURE_EDITING_FANCY_PROMPT bool
c 238 CONFIG_KILLALL5 bool
c 239 CONFIG_FEATURE_USE_INITTAB bool
c 240 CONFIG_FEATURE_HAVE_RPC bool
c 241 CONFIG_SETSID bool
c 242 CONFIG_INSTALL_NO_USR bool
c 243 CONFIG_FEATURE_TR_CLASSES bool
c 244 CONFIG_FEATURE_MV_LONG_OPTIONS bool
c 245 CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING bool
c 246 CONFIG_FEATURE_SECURETTY bool
c 247 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_TIME bool
c 248 CONFIG_FEATURE_VI_SETOPTS bool
c 249 CONFIG_EFENCE choice_bool
c 250 CONFIG_FEATURE_TFTP_GET bool
c 251 CONFIG_FEATURE_VERBOSE_USAGE bool
c 252 CONFIG_FEATURE_GREP_EGREP_ALIAS bool
c 253 CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE nonbool 16
c 254 CONFIG_FEATURE_HTTPD_USE_SENDFILE bool
c 255 CONFIG_FEATURE_FIND_PATH bool
c 256 CONFIG_FEATURE_SH_IS_HUSH choice_bool
c 257 CONFIG_FDFORMAT bool
c 258 CONFIG_MKFIFO bool
c 259 CONFIG_DESKTOP bool
c 260 CONFIG_FEATURE_EXTRA_QUIET bool
c 261 CONFIG_PIPE_PROGRESS bool
c 262 CONFIG_FEATURE_RUNCON_LONG_OPTIONS bool
c 263 CONFIG_RESTORECON bool
c 264 CONFIG_FEATURE_LS_TIMESTAMPS bool
c 265 CONFIG_FEATURE_FIND_SIZE bool
c 266 CONFIG_FEATURE_UNEXPAND_LONG_OPTIONS bool
c 267 CONFIG_ENV bool
c 268 CONFIG_STAT bool
c 269 CONFIG_VERBOSE_RESOLUTION_ERRORS bool
c 270 CONFIG_IPTUNNEL hidden_bool
c 271 CONFIG_TELNET bool
c 272 CONFIG_FEATURE_SU_SYSLOG bool
c 273 CONFIG_UPTIME bool
c 274 CONFIG_LESS bool
c 275 CONFIG_FEATURE_IFUPDOWN_IPV4 bool
c 276 CONFIG_HALT bool
c 277 CONFIG_FEATURE_IP_SHORT_FORMS bool
c 278 CONFIG_LS bool
c 279 CONFIG_START_STOP_DAEMON bool
c 280 CONFIG_DUMPKMAP bool
c 281 CONFIG_PRINTF bool
c 282 CONFIG_FEATURE_MOUNT_FSTAB bool
c 283 CONFIG_LOGNAME bool
c 284 CONFIG_FEATURE_LS_RECURSIVE bool
c 285 CONFIG_PGREP bool
c 286 CONFIG_HUSH_JOB bool
c 287 CONFIG_MSH bool
c 288 CONFIG_FEATURE_EDITING_FANCY_KEYS bool
c 289 CONFIG_BB_SYSCTL bool
c 290 CONFIG_FEATURE_SETFILES_CHECK_OPTION bool
c 291 CONFIG_PASSWD bool
c 292 CONFIG_FEATURE_ALLOW_EXEC bool
c 293 CONFIG_ED bool
c 294 CONFIG_CAL bool
c 295 CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY bool
c 296 CONFIG_FEATURE_XARGS_SUPPORT_QUOTES bool
c 297 CONFIG_FEATURE_XARGS_SUPPORT_TERMOPT bool
c 298 CONFIG_FEATURE_SH_IS_NONE choice_bool
c 299 CONFIG_PING6 bool
c 300 CONFIG_NC bool
c 301 CONFIG_FEATURE_LS_FOLLOWLINKS bool
c 302 CONFIG_FEATURE_TRACEROUTE_SOURCE_ROUTE bool
c 303 CONFIG_FEATURE_TAR_GNU_EXTENSIONS bool
c 304 CONFIG_FEATURE_AUTOWIDTH bool
c 305 CONFIG_FAKEIDENTD bool
c 306 CONFIG_WATCHDOG bool
c 307 CONFIG_FEATURE_IFUPDOWN_IP bool
c 308 CONFIG_CRONTAB bool
c 309 CONFIG_TASKSET bool
c 310 CONFIG_FEATURE_HTTPD_CONFIG_WITH_MIME_TYPES bool
c 311 CONFIG_FEATURE_VI_USE_SIGNALS bool
c 312 CONFIG_LAST bool
c 313 CONFIG_FEATURE_UNARCHIVE_TAPE bool
c 314 CONFIG_FEATURE_TAR_BZIP2 bool
c 315 CONFIG_WC bool
c 316 CONFIG_FEATURE_TAR_CREATE bool
c 317 CONFIG_GETOPT bool
c 318 CONFIG_PAM bool
c 319 CONFIG_FEATURE_STAT_FORMAT bool
c 320 CONFIG_FEATURE_LS_SORTFILES bool
c 321 CONFIG_FEATURE_HDPARM_GET_IDENTITY bool
c 322 CONFIG_CHMOD bool
c 323 CONFIG_FEATURE_RPM_BZ2 bool
c 324 CONFIG_FEATURE_MAKEDEVS_LEAF choice_bool
c 325 CONFIG_REALPATH bool
c 326 CONFIG_FEATURE_TAR_GZIP bool
c 327 CONFIG_FEATURE_FIND_REGEX bool
c 328 CONFIG_FEATURE_WC_LARGE bool
c 329 CONFIG_FEATURE_EDITING_HISTORY nonbool 15
c 330 CONFIG_UNIQ bool
c 331 CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY bool
c 332 CONFIG_WHO bool
c 333 CONFIG_FEATURE_FIND_DELETE bool
c 334 CONFIG_HWCLOCK bool
c 335 CONFIG_FEATURE_TAR_COMPRESS bool
c 336 CONFIG_DMESG bool
c 337 CONFIG_FEATURE_MDEV_EXEC bool
c 338 CONFIG_MT bool
c 339 CONFIG_MKNOD bool
c 340 CONFIG_MOUNTPOINT bool
c 341 CONFIG_SETCONSOLE bool
c 342 CONFIG_KILLALL bool
c 343 CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT bool
c 344 CONFIG_FEATURE_VI_SEARCH bool
c 345 CONFIG_FEATURE_TAR_LONG_OPTIONS bool
c 346 CONFIG_SLEEP bool
c 347 CONFIG_FEATURE_INIT_COREDUMPS bool
c 348 CONFIG_WERROR bool
c 349 CONFIG_FEATURE_IFUPDOWN_EXTERNAL_DHCP bool
c 350 CONFIG_FEATURE_FIND_TYPE bool
c 351 CONFIG_FEATURE_START_STOP_DAEMON_LONG_OPTIONS bool
c 352 CONFIG_LOADKMAP bool
c 353 CONFIG_INSTALL bool
c 354 CONFIG_FUSER bool
c 355 CONFIG_SELINUX bool
c 356 CONFIG_FEATURE_INSMOD_LOAD_MAP bool
c 357 CONFIG_FEATURE_INSTALLER bool
c 358 CONFIG_FEATURE_PRESERVE_HARDLINKS bool
c 359 CONFIG_FEATURE_FBSET_FANCY bool
c 360 CONFIG_CHPASSWD bool
c 361 CONFIG_VLOCK bool
c 362 CONFIG_KLOGD bool
c 363 CONFIG_FEATURE_MOUNT_HELPERS bool
c 364 CONFIG_ETHER_WAKE bool
c 365 CONFIG_INSMOD bool
c 366 CONFIG_FEATURE_WGET_AUTHENTICATION bool
c 367 CONFIG_MKSWAP bool
c 368 CONFIG_KBD_MODE bool
c 369 CONFIG_RENICE bool
c 370 CONFIG_CHATTR bool
c 371 CONFIG_NETSTAT bool
c 372 CONFIG_FEATURE_HTTPD_SET_REMOTE_PORT_TO_ENV bool
c 373 CONFIG_OD bool
c 374 CONFIG_FEATURE_CROND_CALL_SENDMAIL bool
c 375 CONFIG_INSTALL_SH_APPLET_HARDLINK choice_bool
c 376 CONFIG_FEATURE_SH_IS_MSH choice_bool
c 377 CONFIG_FEATURE_USERNAME_COMPLETION bool
c 378 CONFIG_TTY bool
c 379 CONFIG_FEATURE_LS_USERNAME bool
c 380 CONFIG_DU bool
c 381 CONFIG_FEATURE_HWCLOCK_LONG_OPTIONS bool
c 382 CONFIG_CROND bool
c 383 CONFIG_PWD bool
c 384 CONFIG_INCLUDE_SUSv2 bool
c 385 CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K bool
c 386 CONFIG_COMM bool
c 387 CONFIG_HDPARM bool
c 388 CONFIG_FEATURE_INETD_RPC bool
c 389 CONFIG_NC_SERVER bool
c 390 CONFIG_FEATURE_2_6_MODULES bool
c 391 CONFIG_FEATURE_HTTPD_ENCODE_URL_STR bool
c 392 CONFIG_ASH_RANDOM_SUPPORT bool
c 393 CONFIG_RPM bool
c 394 CONFIG_FEATURE_IFCONFIG_STATUS bool
c 395 CONFIG_FEATURE_SGI_LABEL bool
c 396 CONFIG_FEATURE_TEST_64 bool
c 397 CONFIG_CHVT bool
c 398 CONFIG_FEATURE_HTTPD_AUTH_MD5 bool
c 399 CONFIG_FEATURE_MOUNT_CIFS bool
c 400 CONFIG_FEATURE_MINIX2 bool
c 401 CONFIG_FEATURE_DEVPTS bool
c 402 CONFIG_FEATURE_FDISK_ADVANCED bool
c 403 CONFIG_XARGS bool
c 404 CONFIG_FEATURE_LESS_BRACKETS bool
c 405 CONFIG_DELUSER bool
c 406 CONFIG_LSMOD bool
c 407 CONFIG_DC bool
c 408 CONFIG_FBSET bool
c 409 CONFIG_FEATURE_INSMOD_LOAD_MAP_FULL bool
c 410 CONFIG_FEATURE_DEB_TAR_GZ bool
c 411 CONFIG_INIT bool
c 412 CONFIG_FSCK_MINIX bool
c 413 CONFIG_MKFS_MINIX bool
c 414 CONFIG_DEALLOCVT bool
c 415 CONFIG_FEATURE_HTTPD_SETUID bool
c 416 CONFIG_FEATURE_DEL_USER_FROM_GROUP bool
c 417 CONFIG_HUSH bool
c 418 CONFIG_BASENAME bool
c 419 CONFIG_FEATURE_COMPRESS_USAGE bool
c 420 CONFIG_RM bool
c 421 CONFIG_LN bool
c 422 CONFIG_FEATURE_FIND_PAREN bool
c 423 CONFIG_FEATURE_EDITING_VI bool
c 424 CONFIG_FEATURE_INIT_SCTTY bool
c 425 CONFIG_FIND bool
c 426 CONFIG_MODPROBE bool
c 427 CONFIG_CUT bool
c 428 CONFIG_FEATURE_RUN_PARTS_FANCY bool
c 429 CONFIG_FDISK_SUPPORT_LARGE_DISKS bool
c 430 CONFIG_FEATURE_FIND_EXEC bool
c 431 CONFIG_HUSH_LOOPS bool
c 432 CONFIG_SETUIDGID bool
c 433 CONFIG_FEATURE_FANCY_HEAD bool
c 434 CONFIG_FEATURE_DIFF_MINIMAL bool
c 435 CONFIG_FEATURE_NETSTAT_WIDE bool
c 436 CONFIG_FEATURE_LESS_REGEXP bool
c 437 CONFIG_MD5SUM bool
c 438 CONFIG_FEATURE_DEB_TAR_BZ2 bool
c 439 CONFIG_FALSE bool
c 440 CONFIG_TAR bool
c 441 CONFIG_LOGIN bool
c 442 CONFIG_MESG bool
c 443 CONFIG_GETSEBOOL bool
c 444 CONFIG_NMETER bool
c 445 CONFIG_IPLINK hidden_bool
c 446 CONFIG_SHOW_USAGE bool
c 447 CONFIG_FEATURE_PIDOF_SINGLE bool
c 448 CONFIG_FEATURE_SYSLOG bool
c 449 CONFIG_FEATURE_IP_ADDRESS bool
c 450 CONFIG_MAKEDEVS bool
c 451 CONFIG_FEATURE_SHADOWPASSWDS bool
c 452 CONFIG_FEATURE_INSMOD_KSYMOOPS_SYMBOLS bool
c 453 CONFIG_PRINTENV bool
c 454 CONFIG_FEATURE_EXPAND_LONG_OPTIONS bool
c 455 CONFIG_SETARCH bool
c 456 CONFIG_DELGROUP bool
c 457 CONFIG_FEATURE_IFCONFIG_SLIP bool
c 458 CONFIG_PING bool
c 459 CONFIG_ASH_BUILTIN_TEST bool
c 460 CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS bool
c 461 CONFIG_FEATURE_HWCLOCK_ADJTIME_FHS bool
c 462 CONFIG_FEATURE_NOLOGIN bool
c 463 CONFIG_LOGREAD bool
c 464 CONFIG_FEATURE_SHARED_BUSYBOX bool
c 465 CONFIG_FEATURE_LESS_MAXLINES nonbool 9999999
c 466 CONFIG_DEVFSD_MODLOAD bool
c 467 CONFIG_DEVFSD bool
c 468 CONFIG_HUSH_HELP bool
c 469 CONFIG_SELINUXENABLED bool
c 470 CONFIG_FEATURE_MODPROBE_MULTIPLE_OPTIONS bool
c 471 CONFIG_IOCTL_HEX2STR_ERROR bool
c 472 CONFIG_FEATURE_RUN_PARTS_LONG_OPTIONS bool
c 473 CONFIG_ECHO bool
c 474 CONFIG_ZCIP bool
c 475 CONFIG_TELNETD bool
c 476 CONFIG_FEATURE_LESS_MARKS bool
c 477 CONFIG_FEATURE_MDEV_CONF bool
c 478 CONFIG_TRUE bool
c 479 CONFIG_IFUPDOWN_IFSTATE_PATH nonbool "/var/run/ifstate"
c 480 CONFIG_CPIO bool
c 481 CONFIG_FSCK bool
c 482 CONFIG_FEATURE_ETC_NETWORKS bool
c 483 CONFIG_CHGRP bool
c 484 CONFIG_MDEV bool
c 485 CONFIG_USE_BB_PWD_GRP bool
c 486 CONFIG_TR bool
c 487 CONFIG_FEATURE_2_4_MODULES bool
c 488 CONFIG_FEATURE_START_STOP_DAEMON_FANCY bool
c 489 CONFIG_EXPAND bool
c 490 CONFIG_ENVUIDGID bool
c 491 CONFIG_CAT bool
c 492 CONFIG_FEATURE_DD_IBS_OBS bool
c 493 CONFIG_FEATURE_FBSET_READMODE bool
c 494 CONFIG_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR bool
c 495 CONFIG_APP_UDHCPC bool
c 496 CONFIG_ADDGROUP bool
c 497 CONFIG_DD bool
c 498 CONFIG_FEATURE_FIND_GROUP bool
c 499 CONFIG_RMDIR bool
c 500 CONFIG_ASH_READ_TIMEOUT bool
c 501 CONFIG_LENGTH bool
c 502 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD bool
c 503 CONFIG_GREP bool
c 504 CONFIG_PSCAN bool
c 505 CONFIG_INSTALL_APPLET_HARDLINKS choice_bool
c 506 CONFIG_SOFTLIMIT bool
c 507 CONFIG_FEATURE_DD_SIGNAL_HANDLING bool
c 508 CONFIG_FEATURE_UMOUNT_ALL bool
c 509 CONFIG_UUENCODE bool
c 510 CONFIG_FEATURE_PIDOF_OMIT bool
c 511 CONFIG_FEATURE_OSF_LABEL bool
c 512 CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS choice_bool
c 513 CONFIG_NITPICK bool
c 514 CONFIG_FEATURE_QUERY_MODULE_INTERFACE hidden_bool
c 515 CONFIG_FEATURE_FAST_TOP bool
c 516 CONFIG_NSLOOKUP bool
c 517 CONFIG_FEATURE_FTPGETPUT_LONG_OPTIONS bool
c 518 CONFIG_FEATURE_INDIVIDUAL bool
c 519 CONFIG_PIDOF bool
c 520 CONFIG_CHOWN bool
c 521 CONFIG_CHROOT bool
c 522 CONFIG_CRYPTPW bool
c 523 CONFIG_FEATURE_FIND_MMIN bool
c 524 CONFIG_DPKG_DEB bool
c 525 CONFIG_FEATURE_SU_CHECKS_SHELLS bool
c 526 CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS bool
c 527 CONFIG_DPKG bool
c 528 CONFIG_FEATURE_HDPARM_HDIO_SCAN_HWIF bool
c 529 CONFIG_DEVFSD_VERBOSE bool
c 530 CONFIG_PIVOT_ROOT bool
c 531 CONFIG_FEATURE_IFUPDOWN_IPV6 bool
c 532 CONFIG_FEATURE_ADDUSER_TO_GROUP bool
c 533 CONFIG_FEATURE_LS_COLOR bool
c 534 CONFIG_INSTALL_APPLET_SYMLINKS choice_bool
c 535 CONFIG_SU bool
c 536 CONFIG_RPM2CPIO bool
c 537 CONFIG_FEATURE_HDPARM_HDIO_GETSET_DMA bool
c 538 CONFIG_MONOTONIC_SYSCALL bool
c 539 CONFIG_FEATURE_TRACEROUTE_VERBOSE bool
c 540 CONFIG_RUNSV bool
c 541 CONFIG_FEATURE_AIX_LABEL bool
c 542 CONFIG_HOSTNAME bool
c 543 CONFIG_ROUTE bool
c 544 CONFIG_USE_BB_SHADOW bool
c 545 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME bool
c 546 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_ECHO bool
c 547 CONFIG_FEATURE_IPC_SYSLOG bool
c 548 CONFIG_FEATURE_HDPARM_HDIO_TRISTATE_HWIF bool
c 549 CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE bool
c 550 CONFIG_GETOPT_LONG bool
c 551 CONFIG_LOSETUP bool
c 552 CONFIG_FEATURE_VI_DOT_CMD bool
c 553 CONFIG_FEATURE_SH_EXTRA_QUIET bool
c 554 CONFIG_FEATURE_BUFFERS_USE_MALLOC choice_bool
c 555 CONFIG_FEATURE_DATE_ISOFMT bool
c 556 CONFIG_ASH_MATH_SUPPORT_64 bool
c 557 CONFIG_FEATURE_INIT_SYSLOG bool
c 558 CONFIG_IPCRM bool
c 559 CONFIG_FEATURE_IFUPDOWN_IP_BUILTIN bool
c 560 CONFIG_FEATURE_SUID_CONFIG bool
c 561 CONFIG_AWK bool
c 562 CONFIG_SETFILES bool
c 563 CONFIG_EXPR_MATH_SUPPORT_64 bool
c 564 CONFIG_FEATURE_VI_READONLY bool
c 565 CONFIG_APP_UDHCPD bool
c 566 CONFIG_DEBUG_INIT bool
c 567 CONFIG_FEATURE_DIFF_DIR bool
c 568 CONFIG_DATE bool
c 569 CONFIG_WHOAMI bool
c 570 CONFIG_INETD bool
c 571 CONFIG_FEATURE_IFCONFIG_HW bool
c 572 CONFIG_GETTY bool
c 573 CONFIG_FEATURE_DMESG_PRETTY bool
c 574 CONFIG_ASH_EXPAND_PRMT bool
c 575 CONFIG_FTPPUT bool
c 576 CONFIG_SETENFORCE bool
c 577 CONFIG_SWAPONOFF bool
c 578 CONFIG_FEATURE_FIND_NOT bool
c 579 CONFIG_SV bool
c 580 CONFIG_FEATURE_FIND_INUM bool
c 581 CONFIG_ASH_OPTIMIZE_FOR_SIZE bool
c 582 CONFIG_FEATURE_IPCALC_LONG_OPTIONS bool
c 583 CONFIG_DEBUG bool
c 584 CONFIG_TOP bool
c 585 CONFIG_FEATURE_ENV_LONG_OPTIONS bool
c 586 CONFIG_ASH_CMDCMD bool
c 587 CONFIG_UNEXPAND bool
c 588 CONFIG_FEATURE_PS_WIDE bool
c 589 CONFIG_EJECT bool
c 590 CONFIG_APP_DUMPLEASES bool
c 591 CONFIG_UNLZMA bool
c 592 CONFIG_SVLOGD bool
c 593 CONFIG_FEATURE_FIND_DEPTH bool
c 594 CONFIG_FEATURE_TEE_USE_BLOCK_IO bool
c 595 CONFIG_FEATURE_TAR_OLDGNU_COMPATIBILITY bool
c 596 CONFIG_FEATURE_GREP_FGREP_ALIAS bool
c 597 CONFIG_CHCON bool
c 598 CONFIG_SORT bool
c 599 CONFIG_FEATURE_MKSWAP_V0 bool
c 600 CONFIG_IPROUTE hidden_bool
c 601 CONFIG_READPROFILE bool
c 602 CONFIG_FEATURE_INSMOD_VERSION_CHECKING bool
c 603 CONFIG_TCPSVD bool
c 604 CONFIG_FEATURE_HUMAN_READABLE bool
c 605 CONFIG_TOUCH bool
c 606 CONFIG_FEATURE_INITRD bool
c 607 CONFIG_HUSH_IF bool
c 608 CONFIG_TIME bool
c 609 CONFIG_STTY bool
c 610 CONFIG_TTYSIZE bool
c 611 CONFIG_READAHEAD bool
c 612 CONFIG_SYSLOGD bool
c 613 CONFIG_NO_DEBUG_LIB choice_bool
c 614 CONFIG_UDPSVD bool
c 615 CONFIG_ASH_ALIAS bool
c 616 CONFIG_GETENFORCE bool
c 617 CONFIG_FREE bool
c 618 CONFIG_FEATURE_HDPARM_HDIO_DRIVE_RESET bool
c 619 CONFIG_FEATURE_IPCALC_FANCY bool
c 620 CONFIG_FEATURE_AWK_MATH bool
c 621 CONFIG_ARPING bool
p cnf 621 510
42 164 256 298 376 0
128 -150 -277 0
104 -308 0
59 -541 0
267 -585 0
-266 550 0
60 -398 0
-19 34 0
-35 211 559 0
-287 439 0
-69 390 0
18 -574 0
-477 484 0
95 -244 0
279 -488 0
-291 448 0
-287 478 0
-510 519 0
81 -332 -535 0
-164 -256 0
-72 513 0
-296 403 0
-333 425 0
-136 168 0
-454 489 0
-80 355 0
-23 -53 0
-390 -514 0
-42 -256 0
-158 448 0
-375 512 0
-417 439 0
277 -445 0
81 -332 -441 0
-337 477 0
334 -381 0
448 -467 0
-189 473 0
-69 390 513 0
-8 274 0
51 -531 0
-46 550 0
-466 467 0
-327 425 0
426 -470 513 0
113 -611 0
168 -395 0
113 168 -429 0
274 -404 0
-266 587 0
-78 225 0
-388 570 0
-120 188 0
-239 411 0
-243 486 0
126 -567 0
-51 479 0
-60 154 0
-318 441 0
34 -457 0
187 -262 550 0
-207 550 0
-129 440 0
34 -571 0
112 134 -513 554 0
216 -508 0
-203 458 0
-113 168 429 0
-190 -375 0
390 -487 514 0
497 -507 0
-546 570 0
-39 355 550 0
-218 570 0
111 -211 -559 0
411 -566 0
86 -472 0
-66 312 441 535 572 0
211 -559 0
229 -288 0
-165 225 0
130 -172 0
-46 201 0
-345 440 0
411 -606 0
448 -535 0
229 -237 0
334 -461 0
-545 570 0
387 -528 0
-422 425 0
487 -602 0
225 -344 0
274 -465 0
229 -423 0
-149 -512 0
425 -523 0
-162 565 0
-83 484 0
86 -428 0
496 -532 0
155 -302 0
-265 425 0
-36 612 0
18 -581 0
34 -526 0
-112 -134 0
225 -552 0
104 -560 0
-351 550 0
-66 81 332 441 535 572 0
141 -372 0
-260 411 0
-119 -307 0
-410 524 527 0
-35 -277 445 0
157 -417 0
-59 168 0
17 -164 0
315 -328 0
-211 449 -559 0
-73 425 0
-359 408 0
-115 441 0
387 -548 0
66 -312 -535 0
-460 549 0
441 -462 0
-164 -376 0
-502 570 0
-141 154 0
-50 142 437 0
-196 240 0
277 -600 0
-441 448 0
154 -254 0
426 -470 0
-17 478 0
-124 201 0
-39 355 597 0
278 -533 0
550 -582 0
35 -445 0
-69 426 513 0
-335 440 0
-24 154 0
278 -379 0
-66 81 -535 0
448 -570 0
355 -443 0
-262 355 0
18 -152 0
451 485 -544 0
-57 229 0
-350 425 0
229 -329 0
-305 448 0
411 -557 0
-33 584 0
-30 154 0
16 -531 0
-70 291 0
-183 274 0
-547 612 0
168 -511 0
-290 355 0
-196 448 0
-101 225 0
336 -573 0
268 -319 0
211 449 -559 0
-215 355 0
-15 17 18 287 417 0
185 -556 0
1 -342 0
168 -541 0
-272 535 0
-416 456 0
-166 -375 0
-256 417 0
171 -399 0
411 -424 0
-15 23 0
-62 100 0
-153 171 0
-128 277 0
225 -564 0
-48 486 0
-256 -376 0
109 278 380 -604 0
187 -262 355 0
355 -576 0
425 -593 0
111 -559 0
417 -607 0
35 -559 0
-323 393 0
-93 355 0
66 -312 -441 0
171 -363 0
104 -291 0
26 -143 0
-111 211 559 0
169 -582 0
-66 81 -441 0
-438 524 527 0
387 -618 0
-262 355 550 0
-298 -376 0
18 -459 0
111 211 -559 0
253 -547 0
-40 271 0
106 249 613 0
-39 355 0
95 177 -358 0
307 -559 0
-29 450 0
-255 425 0
-303 440 0
-113 -168 429 0
-454 550 0
408 -493 0
-118 277 0
-140 440 0
174 -563 0
3 -377 0
-4 550 0
-58 309 0
-187 355 0
-113 429 0
-210 549 0
-74 425 0
-103 278 0
16 -299 0
168 -402 0
-146 598 0
171 -282 0
274 -436 0
154 -310 0
157 -459 0
-80 425 0
214 -433 0
-324 450 0
104 -382 0
179 -270 0
-166 -190 0
287 -376 0
59 -511 0
141 -494 0
-97 403 0
118 -277 -449 0
-356 365 0
91 -125 0
18 -57 0
-356 390 487 0
-39 550 0
-121 387 0
440 -595 0
1 -238 0
-244 550 0
154 -391 0
59 -402 0
98 0
-108 495 565 0
-245 463 0
-118 449 0
-69 426 0
565 -590 0
-186 473 0
-549 584 0
425 -430 0
355 -469 0
35 211 -559 0
51 -119 -307 0
-145 495 565 0
-150 211 0
82 -517 575 0
425 -498 0
220 0
-222 550 0
-111 -277 600 0
-164 -298 0
-199 365 0
-134 -554 0
51 -307 0
-107 355 0
-77 -518 0
18 -189 0
157 -287 0
-505 -512 0
-44 271 0
66 -81 332 441 535 572 0
31 -229 0
355 -597 0
126 -434 0
69 -390 -426 513 0
18 -42 0
-5 448 0
-31 229 0
-52 104 0
-106 -613 0
-166 512 0
-133 425 0
-299 458 0
-112 -554 0
104 -558 0
300 -389 0
59 -136 0
181 0
212 0
-163 425 0
-39 597 0
-77 -464 0
417 -468 0
-119 543 0
451 -544 0
38 -222 0
-13 417 0
-122 467 0
-505 -534 0
356 -409 0
561 -620 0
-253 547 0
68 -225 0
-17 157 0
503 -596 0
-252 503 0
171 -196 0
53 -464 0
278 -284 0
156 -594 0
240 -388 0
279 -351 0
-68 225 0
425 -578 0
51 -119 0
-160 346 0
66 -312 -572 0
-29 -324 0
-47 503 0
29 324 -450 0
-382 448 0
-149 -534 0
-139 533 0
84 365 -390 426 0
-116 365 406 0
18 -615 0
81 -332 -572 0
-256 -298 0
-274 465 0
-112 513 0
13 -286 0
-106 -249 0
513 -554 0
-18 157 0
-463 547 0
-326 440 0
-295 565 0
225 -248 0
66 -312 0
-134 513 0
34 -394 0
-333 593 0
-226 425 0
449 -559 0
274 -476 0
211 -449 559 0
104 -441 0
-64 425 0
-426 470 513 0
448 -474 0
201 -366 0
53 -77 -518 0
-517 550 0
-179 211 0
-555 568 0
-400 412 413 0
-512 -534 0
-42 -298 0
171 -208 216 0
154 -184 0
187 -262 0
-207 341 0
-314 440 0
15 23 -149 357 0
467 -529 0
-32 300 0
-55 612 0
111 -600 0
-492 497 0
-321 387 0
169 -619 0
-331 524 0
-297 403 0
-347 411 0
-381 550 0
-179 270 -277 0
-17 439 0
59 -395 0
485 -544 0
155 -539 0
18 -586 0
225 -230 0
-42 -376 0
-12 18 0
-161 591 0
550 -585 0
166 190 375 -512 0
-270 277 0
18 -185 0
18 -54 0
-197 425 0
-2 155 0
-199 487 0
-246 441 0
-69 390 426 0
278 -320 0
67 -588 0
-190 512 0
167 -193 0
53 -518 0
211 -277 0
18 -22 0
-191 475 0
-87 417 0
84 365 426 -487 0
17 18 287 417 -553 0
278 -301 0
104 -361 0
225 -311 0
365 -602 0
-452 487 0
380 -385 0
62 -100 0
-37 171 216 0
149 505 512 534 0
-231 448 0
105 -200 0
-42 -164 0
367 -599 0
-345 550 0
-66 81 -332 0
51 -349 0
355 -616 0
-316 440 0
-233 524 527 0
-264 278 0
-229 329 0
-374 382 0
-175 425 0
-411 448 0
278 -533 550 0
18 -392 0
-447 519 0
154 -227 0
126 -221 0
-533 550 0
225 -292 561 0
34 -119 0
425 -580 0
51 -182 0
88 271 278 -304 0
51 -479 0
-149 -505 0
-343 406 0
-472 550 0
417 -431 0
-11 403 0
-247 570 0
371 -435 0
-39 550 597 0
-525 535 0
448 -572 0
-94 560 0
-66 81 0
-41 382 0
-262 550 0
154 -415 0
-79 440 0
387 -537 0
167 -224 0
-263 355 0
157 -396 0
-128 150 0
-251 446 0
365 -452 0
51 -275 0
448 -475 0
-249 -613 0
-419 446 0
85 -144 0
-65 167 0
49 0
88 -206 0
-66 81 -572 0
35 -211 -559 0
355 -562 0
81 -332 0
104 -535 0
167 -250 0
53 -77 -464 0
-213 225 0
18 -500 0
-290 562 0
-417 478 0
-3 229 0
487 -514 0
-4 353 0
-313 440 480 0
