c 1 CONFIG_KILL bool
c 2 CONFIG_FEATURE_TRACEROUTE_USE_ICMP bool
c 3 CONFIG_FEATURE_TAB_COMPLETION bool
c 4 CONFIG_FEATURE_INSTALL_LONG_OPTIONS bool
c 5 CONFIG_LOGGER bool
c 6 CONFIG_WHICH bool
c 7 CONFIG_FEATURE_PIDFILE bool
c 8 CONFIG_FEATURE_LESS_FLAGS bool
c 9 CONFIG_RAIDAUTORUN bool
c 10 CONFIG_LSATTR bool
c 11 CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION bool
c 12 CONFIG_ASH_MAIL bool
c 13 CONFIG_HUSH_INTERACTIVE bool
c 14 CONFIG_UUDECODE bool
c 15 CONFIG_FEATURE_SH_STANDALONE bool
c 16 CONFIG_FEATURE_IPV6 bool
c 17 CONFIG_LASH bool
c 18 CONFIG_ASH bool
c 19 CONFIG_FEATURE_IFCONFIG_MEMSTART_IOADDR_IRQ bool
c 20 CONFIG_OPENVT bool
c 21 CONFIG_SWITCH_ROOT bool
c 22 CONFIG_ASH_READ_NCHARS bool
c 23 CONFIG_FEATURE_PREFER_APPLETS bool
c 24 CONFIG_ADJTIMEX bool
c 25 CONFIG_AR bool
c 26 CONFIG_CTTYHACK bool
c 27 CONFIG_WATCH bool
c 28 CONFIG_FEATURE_MAKEDEVS_TABLE choice_bool
c 29 CONFIG_FEATURE_HTTPD_RELOAD_CONFIG_SIGHUP bool
c 30 CONFIG_FEATURE_EDITING_MAX_LEN nonbool 1024
c 31 CONFIG_NC_EXTRA bool
c 32 CONFIG_FEATURE_TOPMEM bool
c 33 CONFIG_IFCONFIG bool
c 34 CONFIG_FEATURE_IP_LINK bool
c 35 CONFIG_FEATURE_ROTATE_LOGFILE bool
c 36 CONFIG_FEATURE_MOUNT_LOOP bool
c 37 CONFIG_MKDIR bool
c 38 CONFIG_FEATURE_CHCON_LONG_OPTIONS bool
c 39 CONFIG_FEATURE_TELNET_AUTOLOGIN bool
c 40 CONFIG_DEBUG_CROND_OPTION bool
c 41 CONFIG_FEATURE_SH_IS_ASH choice_bool
c 42 CONFIG_HEXDUMP bool
c 43 CONFIG_FEATURE_TELNET_TTYPE bool
c 44 CONFIG_CATV bool
c 45 CONFIG_FEATURE_WGET_LONG_OPTIONS bool
c 46 CONFIG_FEATURE_GREP_CONTEXT bool
c 47 CONFIG_FEATURE_TR_EQUIV bool
c 48 CONFIG_PASSWORD_MINLEN nonbool 6
c 49 CONFIG_FEATURE_MD5_SHA1_SUM_CHECK bool
c 50 CONFIG_IFUPDOWN bool
c 51 CONFIG_IPCS bool
c 52 CONFIG_BUILD_LIBBUSYBOX bool
c 53 CONFIG_ASH_JOB_CONTROL bool
c 54 CONFIG_FEATURE_REMOTE_LOG bool
c 55 CONFIG_FREERAMDISK bool
c 56 CONFIG_FEATURE_EDITING_SAVEHISTORY bool
c 57 CONFIG_FEATURE_TASKSET_FANCY bool
c 58 CONFIG_FEATURE_FDISK_WRITABLE bool
c 59 CONFIG_FEATURE_HTTPD_BASIC_AUTH bool
c 60 CONFIG_SETKEYCODES bool
c 61 CONFIG_UNIX2DOS hidden_bool
c 62 CONFIG_SEQ bool
c 63 CONFIG_FEATURE_FIND_XDEV bool
c 64 CONFIG_FEATURE_TFTP_PUT bool
c 65 CONFIG_FEATURE_WTMP bool
c 66 CONFIG_PS bool
c 67 CONFIG_FEATURE_VI_MAX_LEN nonbool 1024
c 68 CONFIG_FEATURE_MODPROBE_FANCY_ALIAS bool
c 69 CONFIG_FEATURE_PASSWD_WEAK_CHECK bool
c 70 CONFIG_SYNC bool
c 71 CONFIG_FEATURE_CLEAN_UP bool
c 72 CONFIG_FEATURE_FIND_PERM bool
c 73 CONFIG_FEATURE_FIND_MAXDEPTH bool
c 74 CONFIG_GZIP bool
c 75 CONFIG_CHRT bool
c 76 CONFIG_STATIC bool
c 77 CONFIG_FEATURE_VI_YANKMARK bool
c 78 CONFIG_FEATURE_TAR_FROM bool
c 79 CONFIG_FEATURE_FIND_CONTEXT bool
c 80 CONFIG_FEATURE_UTMP bool
c 81 CONFIG_FTPGET bool
c 82 CONFIG_FEATURE_MDEV_LOAD_FIRMWARE bool
c 83 CONFIG_FEATURE_FULL_LIBBUSYBOX bool
c 84 CONFIG_RMMOD bool
c 85 CONFIG_TAIL bool
c 86 CONFIG_RUN_PARTS bool
c 87 CONFIG_HUSH_TICK bool
c 88 CONFIG_MORE bool
c 89 CONFIG_DNSD bool
c 90 CONFIG_CMP bool
c 91 CONFIG_GUNZIP bool
c 92 CONFIG_UNAME bool
c 93 CONFIG_LOAD_POLICY bool
c 94 CONFIG_FEATURE_SUID_CONFIG_QUIET bool
c 95 CONFIG_MV bool
c 96 CONFIG_PATCH bool
c 97 CONFIG_FEATURE_XARGS_SUPPORT_ZERO_TERM bool
c 98 CONFIG_HAVE_DOT_CONFIG hidden_bool
c 99 CONFIG_DOS2UNIX bool
c 100 CONFIG_FEATURE_VI_OPTIMIZE_CURSOR bool
c 101 CONFIG_MKTEMP bool
c 102 CONFIG_FEATURE_LS_FILETYPES bool
c 103 CONFIG_FEATURE_SUID bool
c 104 CONFIG_READLINK bool
c 105 CONFIG_DMALLOC choice_bool
c 106 CONFIG_FEATURE_RFC3397 bool
c 107 CONFIG_DF bool
c 108 CONFIG_RUNLEVEL bool
c 109 CONFIG_FEATURE_IP_ROUTE bool
c 110 CONFIG_FEATURE_BUFFERS_GO_ON_STACK choice_bool
c 111 CONFIG_LFS bool
c 112 CONFIG_SETLOGCONS bool
c 113 CONFIG_LOGIN_SCRIPTS bool
c 114 CONFIG_FEATURE_CHECK_TAINTED_MODULE bool
c 115 CONFIG_RUNSVDIR bool
c 116 CONFIG_IPADDR hidden_bool
c 117 CONFIG_FEATURE_IFUPDOWN_IFCONFIG_BUILTIN bool
c 118 CONFIG_FEATURE_SPLIT_FANCY bool
c 119 CONFIG_FEATURE_HDPARM_HDIO_UNREGISTER_HWIF bool
c 120 CONFIG_DEVFSD_FG_NP bool
c 121 CONFIG_UNCOMPRESS bool
c 122 CONFIG_FEATURE_WGET_STATUSBAR bool
c 123 CONFIG_FEATURE_GUNZIP_UNCOMPRESS bool
c 124 CONFIG_DIFF bool
c 125 CONFIG_UNZIP bool
c 126 CONFIG_IPRULE hidden_bool
c 127 CONFIG_FEATURE_TAR_OLDSUN_COMPATIBILITY bool
c 128 CONFIG_RESIZE bool
c 129 CONFIG_YES bool
c 130 CONFIG_ARP bool
c 131 CONFIG_FEATURE_FIND_NEWER bool
c 132 CONFIG_FEATURE_BUFFERS_GO_IN_BSS choice_bool
c 133 CONFIG_ADDUSER bool
c 134 CONFIG_FEATURE_SUN_LABEL bool
c 135 CONFIG_FOLD bool
c 136 CONFIG_FEATURE_LS_COLOR_IS_DEFAULT bool
c 137 CONFIG_FEATURE_TAR_LZMA bool
c 138 CONFIG_FEATURE_HTTPD_CGI bool
c 139 CONFIG_SHA1SUM bool
c 140 CONFIG_FEATURE_AR_LONG_FILENAMES bool
c 141 CONFIG_FEATURE_FANCY_TAIL bool
c 142 CONFIG_FEATURE_UDHCP_DEBUG bool
c 143 CONFIG_FEATURE_SORT_BIG bool
c 144 CONFIG_USLEEP bool
c 145 CONFIG_NICE bool
c 146 CONFIG_INSTALL_APPLET_DONT choice_bool
c 147 CONFIG_FEATURE_IP_RULE bool
c 148 CONFIG_VCONFIG bool
c 149 CONFIG_ASH_GETOPTS bool
c 150 CONFIG_FEATURE_MOUNT_FLAGS bool
c 151 CONFIG_HTTPD bool
c 152 CONFIG_TRACEROUTE bool
c 153 CONFIG_TEE bool
c 154 CONFIG_TEST bool
c 155 CONFIG_NAMEIF bool
c 156 CONFIG_ID bool
c 157 CONFIG_FEATURE_FANCY_SLEEP bool
c 158 CONFIG_FEATURE_LZMA_FAST bool
c 159 CONFIG_APP_DHCPRELAY bool
c 160 CONFIG_FEATURE_FIND_MTIME bool
c 161 CONFIG_FEATURE_SH_IS_LASH choice_bool
c 162 CONFIG_FEATURE_VI_WIN_RESIZE bool
c 163 CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER choice_bool
c 164 CONFIG_TFTP bool
c 165 CONFIG_FDISK bool
c 166 CONFIG_IPCALC bool
c 167 CONFIG_BUNZIP2 bool
c 168 CONFIG_MOUNT bool
c 169 CONFIG_FEATURE_RESIZE_PRINT bool
c 170 CONFIG_HOSTID bool
c 171 CONFIG_EXPR bool
c 172 CONFIG_FEATURE_FIND_USER bool
c 173 CONFIG_FEATURE_DEVFS bool
c 174 CONFIG_CP bool
c 175 CONFIG_FEATURE_IP_TUNNEL bool
c 176 CONFIG_CHPST bool
c 177 CONFIG_PREFIX nonbool "./_install"
c 178 CONFIG_FEATURE_IFUPDOWN_MAPPING bool
c 179 CONFIG_FEATURE_LESS_FLAGCS bool
c 180 CONFIG_FEATURE_HTTPD_ERROR_PAGES bool
c 181 CONFIG_ASH_MATH_SUPPORT bool
c 182 CONFIG_FEATURE_FANCY_ECHO bool
c 183 CONFIG_RUNCON bool
c 184 CONFIG_SPLIT bool
c 185 CONFIG_ASH_BUILTIN_ECHO bool
c 186 CONFIG_INSTALL_SH_APPLET_SYMLINK choice_bool
c 187 CONFIG_FEATURE_TELNETD_STANDALONE bool
c 188 CONFIG_SED bool
c 189 CONFIG_FEATURE_TFTP_BLOCKSIZE bool
c 190 CONFIG_RESET bool
c 191 CONFIG_BBCONFIG bool
c 192 CONFIG_FEATURE_MOUNT_NFS bool
c 193 CONFIG_FEATURE_FIND_PRUNE bool
c 194 CONFIG_SLATTACH bool
c 195 CONFIG_FEATURE_INSMOD_LOADINKMEM bool
c 196 CONFIG_FEATURE_READLINK_FOLLOW bool
c 197 CONFIG_WGET bool
c 198 CONFIG_RX bool
c 199 CONFIG_FEATURE_FANCY_PING bool
c 200 CONFIG_ENVDIR bool
c 201 CONFIG_LOADFONT bool
c 202 CONFIG_FEATURE_USE_TERMIOS bool
c 203 CONFIG_FEATURE_SETCONSOLE_LONG_OPTIONS bool
c 204 CONFIG_FEATURE_MTAB_SUPPORT bool
c 205 CONFIG_NOHUP bool
c 206 CONFIG_FEATURE_TOP_DECIMALS bool
c 207 CONFIG_IP bool
c 208 CONFIG_BUSYBOX_EXEC_PATH nonbool "/proc/self/exe"
c 209 CONFIG_FEATURE_VI_COLON bool
c 210 CONFIG_HEAD bool
c 211 CONFIG_MATCHPATHCON bool
c 212 CONFIG_UMOUNT bool
c 213 CONFIG_DIRNAME bool
c 214 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN bool
c 215 CONFIG_CLEAR bool
c 216 CONFIG_MD5_SIZE_VS_SPEED nonbool 2
c 217 CONFIG_FEATURE_DIFF_BINARY bool
c 218 CONFIG_FEATURE_MKDIR_LONG_OPTIONS bool
c 219 CONFIG_LOCALE_SUPPORT bool
c 220 CONFIG_DEBUG_TFTP bool
c 221 CONFIG_VI bool
c 222 CONFIG_FEATURE_FIND_PRINT0 bool
c 223 CONFIG_STRINGS bool
c 224 CONFIG_FEATURE_EDITING bool
c 225 CONFIG_FEATURE_VI_SET bool
c 226 CONFIG_SULOGIN bool
c 227 CONFIG_RDATE bool
c 228 CONFIG_FEATURE_DEB_TAR_LZMA bool
c 229 CONFIG_FDFLUSH bool
c 230 CONFIG_SUM bool
c 231 CONFIG_CKSUM bool
c 232 CONFIG_FEATURE_EDITING_FANCY_PROMPT bool
c 233 CONFIG_KILLALL5 bool
c 234 CONFIG_FEATURE_USE_INITTAB bool
c 235 CONFIG_FEATURE_HAVE_RPC bool
c 236 CONFIG_SETSID bool
c 237 CONFIG_INSTALL_NO_USR bool
c 238 CONFIG_FEATURE_TR_CLASSES bool
c 239 CONFIG_FEATURE_MV_LONG_OPTIONS bool
c 240 CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING bool
c 241 CONFIG_FEATURE_SECURETTY bool
c 242 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_TIME bool
c 243 CONFIG_FEATURE_VI_SETOPTS bool
c 244 CONFIG_EFENCE choice_bool
c 245 CONFIG_FEATURE_TFTP_GET bool
c 246 CONFIG_FEATURE_VERBOSE_USAGE bool
c 247 CONFIG_FEATURE_GREP_EGREP_ALIAS bool
c 248 CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE nonbool 16
c 249 CONFIG_FEATURE_HTTPD_USE_SENDFILE bool
c 250 CONFIG_FEATURE_FIND_PATH bool
c 251 CONFIG_FEATURE_SH_IS_HUSH choice_bool
c 252 CONFIG_FDFORMAT bool
c 253 CONFIG_MKFIFO bool
c 254 CONFIG_DESKTOP bool
c 255 CONFIG_FEATURE_EXTRA_QUIET bool
c 256 CONFIG_PIPE_PROGRESS bool
c 257 CONFIG_FEATURE_RUNCON_LONG_OPTIONS bool
c 258 CONFIG_RESTORECON bool
c 259 CONFIG_FEATURE_LS_TIMESTAMPS bool
c 260 CONFIG_FEATURE_FIND_SIZE bool
c 261 CONFIG_FEATURE_UNEXPAND_LONG_OPTIONS bool
c 262 CONFIG_ENV bool
c 263 CONFIG_STAT bool
c 264 CONFIG_VERBOSE_RESOLUTION_ERRORS bool
c 265 CONFIG_IPTUNNEL hidden_bool
c 266 CONFIG_TELNET bool
c 267 CONFIG_FEATURE_SU_SYSLOG bool
c 268 CONFIG_UPTIME bool
c 269 CONFIG_LESS bool
c 270 CONFIG_FEATURE_IFUPDOWN_IPV4 bool
c 271 CONFIG_HALT bool
c 272 CONFIG_FEATURE_IP_SHORT_FORMS bool
c 273 CONFIG_LS bool
c 274 CONFIG_START_STOP_DAEMON bool
c 275 CONFIG_DUMPKMAP bool
c 276 CONFIG_PRINTF bool
c 277 CONFIG_FEATURE_MOUNT_FSTAB bool
c 278 CONFIG_LOGNAME bool
c 279 CONFIG_FEATURE_LS_RECURSIVE bool
c 280 CONFIG_HUSH_JOB bool
c 281 CONFIG_MSH bool
c 282 CONFIG_FEATURE_EDITING_FANCY_KEYS bool
c 283 CONFIG_BB_SYSCTL bool
c 284 CONFIG_FEATURE_SETFILES_CHECK_OPTION bool
c 285 CONFIG_PASSWD bool
c 286 CONFIG_FEATURE_ALLOW_EXEC bool
c 287 CONFIG_ED bool
c 288 CONFIG_CAL bool
c 289 CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY bool
c 290 CONFIG_FEATURE_XARGS_SUPPORT_QUOTES bool
c 291 CONFIG_FEATURE_XARGS_SUPPORT_TERMOPT bool
c 292 CONFIG_FEATURE_SH_IS_NONE choice_bool
c 293 CONFIG_PING6 bool
c 294 CONFIG_NC bool
c 295 CONFIG_FEATURE_LS_FOLLOWLINKS bool
c 296 CONFIG_FEATURE_TRACEROUTE_SOURCE_ROUTE bool
c 297 CONFIG_FEATURE_TAR_GNU_EXTENSIONS bool
c 298 CONFIG_FEATURE_AUTOWIDTH bool
c 299 CONFIG_FAKEIDENTD bool
c 300 CONFIG_WATCHDOG bool
c 301 CONFIG_FEATURE_IFUPDOWN_IP bool
c 302 CONFIG_CRONTAB bool
c 303 CONFIG_TASKSET bool
c 304 CONFIG_FEATURE_HTTPD_CONFIG_WITH_MIME_TYPES bool
c 305 CONFIG_FEATURE_VI_USE_SIGNALS bool
c 306 CONFIG_LAST bool
c 307 CONFIG_FEATURE_UNARCHIVE_TAPE bool
c 308 CONFIG_FEATURE_TAR_BZIP2 bool
c 309 CONFIG_WC bool
c 310 CONFIG_FEATURE_TAR_CREATE bool
c 311 CONFIG_GETOPT bool
c 312 CONFIG_PAM bool
c 313 CONFIG_FEATURE_STAT_FORMAT bool
c 314 CONFIG_FEATURE_LS_SORTFILES bool
c 315 CONFIG_FEATURE_HDPARM_GET_IDENTITY bool
c 316 CONFIG_CHMOD bool
c 317 CONFIG_FEATURE_RPM_BZ2 bool
c 318 CONFIG_FEATURE_MAKEDEVS_LEAF choice_bool
c 319 CONFIG_REALPATH bool
c 320 CONFIG_FEATURE_TAR_GZIP bool
c 321 CONFIG_FEATURE_FIND_REGEX bool
c 322 CONFIG_FEATURE_WC_LARGE bool
c 323 CONFIG_FEATURE_EDITING_HISTORY nonbool 15
c 324 CONFIG_UNIQ bool
c 325 CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY bool
c 326 CONFIG_WHO bool
c 327 CONFIG_FEATURE_FIND_DELETE bool
c 328 CONFIG_HWCLOCK bool
c 329 CONFIG_FEATURE_TAR_COMPRESS bool
c 330 CONFIG_DMESG bool
c 331 CONFIG_FEATURE_MDEV_EXEC bool
c 332 CONFIG_MT bool
c 333 CONFIG_MKNOD bool
c 334 CONFIG_MOUNTPOINT bool
c 335 CONFIG_SETCONSOLE bool
c 336 CONFIG_KILLALL bool
c 337 CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT bool
c 338 CONFIG_FEATURE_VI_SEARCH bool
c 339 CONFIG_FEATURE_TAR_LONG_OPTIONS bool
c 340 CONFIG_SLEEP bool
c 341 CONFIG_FEATURE_INIT_COREDUMPS bool
c 342 CONFIG_WERROR bool
c 343 CONFIG_FEATURE_IFUPDOWN_EXTERNAL_DHCP bool
c 344 CONFIG_FEATURE_FIND_TYPE bool
c 345 CONFIG_FEATURE_START_STOP_DAEMON_LONG_OPTIONS bool
c 346 CONFIG_LOADKMAP bool
c 347 CONFIG_INSTALL bool
c 348 CONFIG_FUSER bool
c 349 CONFIG_SELINUX bool
c 350 CONFIG_FEATURE_INSMOD_LOAD_MAP bool
c 351 CONFIG_FEATURE_INSTALLER bool
c 352 CONFIG_FEATURE_PRESERVE_HARDLINKS bool
c 353 CONFIG_FEATURE_FBSET_FANCY bool
c 354 CONFIG_CHPASSWD bool
c 355 CONFIG_VLOCK bool
c 356 CONFIG_KLOGD bool
c 357 CONFIG_FEATURE_MOUNT_HELPERS bool
c 358 CONFIG_ETHER_WAKE bool
c 359 CONFIG_INSMOD bool
c 360 CONFIG_FEATURE_WGET_AUTHENTICATION bool
c 361 CONFIG_MKSWAP bool
c 362 CONFIG_RENICE bool
c 363 CONFIG_CHATTR bool
c 364 CONFIG_NETSTAT bool
c 365 CONFIG_FEATURE_HTTPD_SET_REMOTE_PORT_TO_ENV bool
c 366 CONFIG_OD bool
c 367 CONFIG_FEATURE_CROND_CALL_SENDMAIL bool
c 368 CONFIG_INSTALL_SH_APPLET_HARDLINK choice_bool
c 369 CONFIG_FEATURE_SH_IS_MSH choice_bool
c 370 CONFIG_FEATURE_USERNAME_COMPLETION bool
c 371 CONFIG_TTY bool
c 372 CONFIG_FEATURE_LS_USERNAME bool
c 373 CONFIG_DU bool
c 374 CONFIG_FEATURE_HWCLOCK_LONG_OPTIONS bool
c 375 CONFIG_CROND bool
c 376 CONFIG_PWD bool
c 377 CONFIG_INCLUDE_SUSv2 bool
c 378 CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K bool
c 379 CONFIG_COMM bool
c 380 CONFIG_HDPARM bool
c 381 CONFIG_FEATURE_INETD_RPC bool
c 382 CONFIG_NC_SERVER bool
c 383 CONFIG_FEATURE_2_6_MODULES bool
c 384 CONFIG_FEATURE_HTTPD_ENCODE_URL_STR bool
c 385 CONFIG_ASH_RANDOM_SUPPORT bool
c 386 CONFIG_RPM bool
c 387 CONFIG_FEATURE_IFCONFIG_STATUS bool
c 388 CONFIG_FEATURE_SGI_LABEL bool
c 389 CONFIG_FEATURE_TEST_64 bool
c 390 CONFIG_CHVT bool
c 391 CONFIG_FEATURE_HTTPD_AUTH_MD5 bool
c 392 CONFIG_FEATURE_MOUNT_CIFS bool
c 393 CONFIG_FEATURE_MINIX2 bool
c 394 CONFIG_FEATURE_DEVPTS bool
c 395 CONFIG_FEATURE_FDISK_ADVANCED bool
c 396 CONFIG_XARGS bool
c 397 CONFIG_FEATURE_LESS_BRACKETS bool
c 398 CONFIG_DELUSER bool
c 399 CONFIG_LSMOD bool
c 400 CONFIG_DC bool
c 401 CONFIG_FBSET bool
c 402 CONFIG_FEATURE_INSMOD_LOAD_MAP_FULL bool
c 403 CONFIG_FEATURE_DEB_TAR_GZ bool
c 404 CONFIG_INIT bool
c 405 CONFIG_FSCK_MINIX bool
c 406 CONFIG_MKFS_MINIX bool
c 407 CONFIG_DEALLOCVT bool
c 408 CONFIG_FEATURE_HTTPD_SETUID bool
c 409 CONFIG_FEATURE_DEL_USER_FROM_GROUP bool
c 410 CONFIG_HUSH bool
c 411 CONFIG_BASENAME bool
c 412 CONFIG_FEATURE_COMPRESS_USAGE bool
c 413 CONFIG_RM bool
c 414 CONFIG_LN bool
c 415 CONFIG_FEATURE_FIND_PAREN bool
c 416 CONFIG_FEATURE_EDITING_VI bool
c 417 CONFIG_FEATURE_INIT_SCTTY bool
c 418 CONFIG_FIND bool
c 419 CONFIG_MODPROBE bool
c 420 CONFIG_CUT bool
c 421 CONFIG_FEATURE_RUN_PARTS_FANCY bool
c 422 CONFIG_FDISK_SUPPORT_LARGE_DISKS bool
c 423 CONFIG_FEATURE_FIND_EXEC bool
c 424 CONFIG_HUSH_LOOPS bool
c 425 CONFIG_SETUIDGID bool
c 426 CONFIG_FEATURE_FANCY_HEAD bool
c 427 CONFIG_FEATURE_DIFF_MINIMAL bool
c 428 CONFIG_FEATURE_NETSTAT_WIDE bool
c 429 CONFIG_FEATURE_LESS_REGEXP bool
c 430 CONFIG_MD5SUM bool
c 431 CONFIG_FEATURE_DEB_TAR_BZ2 bool
c 432 CONFIG_FALSE bool
c 433 CONFIG_TAR bool
c 434 CONFIG_LOGIN bool
c 435 CONFIG_MESG bool
c 436 CONFIG_GETSEBOOL bool
c 437 CONFIG_NMETER bool
c 438 CONFIG_IPLINK hidden_bool
c 439 CONFIG_SHOW_USAGE bool
c 440 CONFIG_FEATURE_PIDOF_SINGLE bool
c 441 CONFIG_FEATURE_SYSLOG bool
c 442 CONFIG_FEATURE_IP_ADDRESS bool
c 443 CONFIG_MAKEDEVS bool
c 444 CONFIG_FEATURE_SHADOWPASSWDS bool
c 445 CONFIG_FEATURE_INSMOD_KSYMOOPS_SYMBOLS bool
c 446 CONFIG_PRINTENV bool
c 447 CONFIG_FEATURE_EXPAND_LONG_OPTIONS bool
c 448 CONFIG_SETARCH bool
c 449 CONFIG_DELGROUP bool
c 450 CONFIG_FEATURE_IFCONFIG_SLIP bool
c 451 CONFIG_PING bool
c 452 CONFIG_ASH_BUILTIN_TEST bool
c 453 CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS bool
c 454 CONFIG_FEATURE_HWCLOCK_ADJTIME_FHS bool
c 455 CONFIG_FEATURE_NOLOGIN bool
c 456 CONFIG_LOGREAD bool
c 457 CONFIG_FEATURE_SHARED_BUSYBOX bool
c 458 CONFIG_FEATURE_LESS_MAXLINES nonbool 9999999
c 459 CONFIG_DEVFSD_MODLOAD bool
c 460 CONFIG_DEVFSD bool
c 461 CONFIG_HUSH_HELP bool
c 462 CONFIG_SELINUXENABLED bool
c 463 CONFIG_FEATURE_MODPROBE_MULTIPLE_OPTIONS bool
c 464 CONFIG_IOCTL_HEX2STR_ERROR bool
c 465 CONFIG_FEATURE_RUN_PARTS_LONG_OPTIONS bool
c 466 CONFIG_ECHO bool
c 467 CONFIG_ZCIP bool
c 468 CONFIG_TELNETD bool
c 469 CONFIG_FEATURE_LESS_MARKS bool
c 470 CONFIG_FEATURE_MDEV_CONF bool
c 471 CONFIG_TRUE bool
c 472 CONFIG_IFUPDOWN_IFSTATE_PATH nonbool "/var/run/ifstate"
c 473 CONFIG_CPIO bool
c 474 CONFIG_FSCK bool
c 475 CONFIG_FEATURE_ETC_NETWORKS bool
c 476 CONFIG_CHGRP bool
c 477 CONFIG_MDEV bool
c 478 CONFIG_USE_BB_PWD_GRP bool
c 479 CONFIG_TR bool
c 480 CONFIG_FEATURE_2_4_MODULES bool
c 481 CONFIG_FEATURE_START_STOP_DAEMON_FANCY bool
c 482 CONFIG_EXPAND bool
c 483 CONFIG_ENVUIDGID bool
c 484 CONFIG_CAT bool
c 485 CONFIG_FEATURE_DD_IBS_OBS bool
c 486 CONFIG_FEATURE_FBSET_READMODE bool
c 487 CONFIG_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR bool
c 488 CONFIG_APP_UDHCPC bool
c 489 CONFIG_ADDGROUP bool
c 490 CONFIG_DD bool
c 491 CONFIG_FEATURE_FIND_GROUP bool
c 492 CONFIG_RMDIR bool
c 493 CONFIG_ASH_READ_TIMEOUT bool
c 494 CONFIG_LENGTH bool
c 495 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD bool
c 496 CONFIG_GREP bool
c 497 CONFIG_PSCAN bool
c 498 CONFIG_INSTALL_APPLET_HARDLINKS choice_bool
c 499 CONFIG_SOFTLIMIT bool
c 500 CONFIG_FEATURE_DD_SIGNAL_HANDLING bool
c 501 CONFIG_FEATURE_UMOUNT_ALL bool
c 502 CONFIG_UUENCODE bool
c 503 CONFIG_FEATURE_PIDOF_OMIT bool
c 504 CONFIG_FEATURE_OSF_LABEL bool
c 505 CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS choice_bool
c 506 CONFIG_NITPICK bool
c 507 CONFIG_FEATURE_QUERY_MODULE_INTERFACE hidden_bool
c 508 CONFIG_FEATURE_FAST_TOP bool
c 509 CONFIG_NSLOOKUP bool
c 510 CONFIG_FEATURE_FTPGETPUT_LONG_OPTIONS bool
c 511 CONFIG_PIDOF bool
c 512 CONFIG_CHOWN bool
c 513 CONFIG_CHROOT bool
c 514 CONFIG_CRYPTPW bool
c 515 CONFIG_FEATURE_FIND_MMIN bool
c 516 CONFIG_DPKG_DEB bool
c 517 CONFIG_FEATURE_SU_CHECKS_SHELLS bool
c 518 CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS bool
c 519 CONFIG_DPKG bool
c 520 CONFIG_FEATURE_HDPARM_HDIO_SCAN_HWIF bool
c 521 CONFIG_DEVFSD_VERBOSE bool
c 522 CONFIG_PIVOT_ROOT bool
c 523 CONFIG_FEATURE_IFUPDOWN_IPV6 bool
c 524 CONFIG_FEATURE_ADDUSER_TO_GROUP bool
c 525 CONFIG_FEATURE_LS_COLOR bool
c 526 CONFIG_INSTALL_APPLET_SYMLINKS choice_bool
c 527 CONFIG_SU bool
c 528 CONFIG_RPM2CPIO bool
c 529 CONFIG_FEATURE_HDPARM_HDIO_GETSET_DMA bool
c 530 CONFIG_MONOTONIC_SYSCALL bool
c 531 CONFIG_FEATURE_TRACEROUTE_VERBOSE bool
c 532 CONFIG_RUNSV bool
c 533 CONFIG_FEATURE_AIX_LABEL bool
c 534 CONFIG_HOSTNAME bool
c 535 CONFIG_ROUTE bool
c 536 CONFIG_USE_BB_SHADOW bool
c 537 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME bool
c 538 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_ECHO bool
c 539 CONFIG_FEATURE_IPC_SYSLOG bool
c 540 CONFIG_FEATURE_HDPARM_HDIO_TRISTATE_HWIF bool
c 541 CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE bool
c 542 CONFIG_GETOPT_LONG bool
c 543 CONFIG_LOSETUP bool
c 544 CONFIG_FEATURE_VI_DOT_CMD bool
c 545 CONFIG_FEATURE_SH_EXTRA_QUIET bool
c 546 CONFIG_FEATURE_BUFFERS_USE_MALLOC choice_bool
c 547 CONFIG_FEATURE_DATE_ISOFMT bool
c 548 CONFIG_ASH_MATH_SUPPORT_64 bool
c 549 CONFIG_BUILD_AT_ONCE bool
c 550 CONFIG_FEATURE_INIT_SYSLOG bool
c 551 CONFIG_IPCRM bool
c 552 CONFIG_FEATURE_IFUPDOWN_IP_BUILTIN bool
c 553 CONFIG_FEATURE_SUID_CONFIG bool
c 554 CONFIG_AWK bool
c 555 CONFIG_SETFILES bool
c 556 CONFIG_EXPR_MATH_SUPPORT_64 bool
c 557 CONFIG_FEATURE_VI_READONLY bool
c 558 CONFIG_APP_UDHCPD bool
c 559 CONFIG_DEBUG_INIT bool
c 560 CONFIG_FEATURE_DIFF_DIR bool
c 561 CONFIG_DATE bool
c 562 CONFIG_WHOAMI bool
c 563 CONFIG_INETD bool
c 564 CONFIG_FEATURE_IFCONFIG_HW bool
c 565 CONFIG_GETTY bool
c 566 CONFIG_FEATURE_DMESG_PRETTY bool
c 567 CONFIG_ASH_EXPAND_PRMT bool
c 568 CONFIG_FTPPUT bool
c 569 CONFIG_SETENFORCE bool
c 570 CONFIG_SWAPONOFF bool
c 571 CONFIG_FEATURE_FIND_NOT bool
c 572 CONFIG_SV bool
c 573 CONFIG_FEATURE_FIND_INUM bool
c 574 CONFIG_ASH_OPTIMIZE_FOR_SIZE bool
c 575 CONFIG_FEATURE_IPCALC_LONG_OPTIONS bool
c 576 CONFIG_DEBUG bool
c 577 CONFIG_TOP bool
c 578 CONFIG_FEATURE_ENV_LONG_OPTIONS bool
c 579 CONFIG_ASH_CMDCMD bool
c 580 CONFIG_UNEXPAND bool
c 581 CONFIG_FEATURE_PS_WIDE bool
c 582 CONFIG_EJECT bool
c 583 CONFIG_APP_DUMPLEASES bool
c 584 CONFIG_UNLZMA bool
c 585 CONFIG_SVLOGD bool
c 586 CONFIG_FEATURE_FIND_DEPTH bool
c 587 CONFIG_FEATURE_TEE_USE_BLOCK_IO bool
c 588 CONFIG_FEATURE_TAR_OLDGNU_COMPATIBILITY bool
c 589 CONFIG_FEATURE_GREP_FGREP_ALIAS bool
c 590 CONFIG_CHCON bool
c 591 CONFIG_SORT bool
c 592 CONFIG_FEATURE_MKSWAP_V0 bool
c 593 CONFIG_IPROUTE hidden_bool
c 594 CONFIG_READPROFILE bool
c 595 CONFIG_FEATURE_INSMOD_VERSION_CHECKING bool
c 596 CONFIG_TCPSVD bool
c 597 CONFIG_FEATURE_HUMAN_READABLE bool
c 598 CONFIG_TOUCH bool
c 599 CONFIG_FEATURE_INITRD bool
c 600 CONFIG_HUSH_IF bool
c 601 CONFIG_TIME bool
c 602 CONFIG_STTY bool
c 603 CONFIG_TTYSIZE bool
c 604 CONFIG_READAHEAD bool
c 605 CONFIG_SYSLOGD bool
c 606 CONFIG_NO_DEBUG_LIB choice_bool
c 607 CONFIG_UDPSVD bool
c 608 CONFIG_ASH_ALIAS bool
c 609 CONFIG_GETENFORCE bool
c 610 CONFIG_FREE bool
c 611 CONFIG_FEATURE_HDPARM_HDIO_DRIVE_RESET bool
c 612 CONFIG_FEATURE_IPCALC_FANCY bool
c 613 CONFIG_FEATURE_AWK_MATH bool
c 614 CONFIG_ARPING bool
p cnf 614 504
84 359 -383 419 0
-182 466 0
-299 441 0
-126 147 0
-105 -606 0
-82 477 0
81 -510 568 0
164 -245 0
-172 418 0
210 -426 0
116 -272 -442 0
-19 33 0
273 -525 542 0
1 -233 0
18 -574 0
-505 -526 0
-310 433 0
-34 207 552 0
221 -305 0
-146 -498 0
-119 380 0
58 -395 0
-127 433 0
85 -141 0
37 -218 0
-258 349 0
542 -578 0
441 -563 0
86 -421 0
-410 471 0
105 244 606 0
-32 577 0
80 -326 -565 0
-143 591 0
441 -468 0
361 -592 0
18 -385 0
-65 80 -434 0
-161 -251 0
-261 580 0
380 -611 0
-40 375 0
-110 506 0
-409 449 0
-337 399 0
61 -99 0
-41 -161 0
50 -270 0
17 18 281 410 -545 0
-41 -369 0
-17 432 0
25 -140 0
164 -189 0
107 273 373 -597 0
-251 -369 0
-415 418 0
177 0
309 -322 0
364 -428 0
-260 418 0
18 -181 0
-38 590 0
-341 404 0
-68 419 506 0
444 -536 0
221 -338 0
58 -533 0
235 -381 0
103 -434 0
480 -507 0
151 -384 0
-195 480 0
3 -370 0
52 -76 -457 0
-290 396 0
-36 168 212 0
-38 542 590 0
16 -523 0
-327 418 0
-41 -251 0
-211 349 0
164 -220 0
-155 441 0
444 478 -536 0
-187 468 0
-289 558 0
-15 17 18 281 410 0
165 -388 0
418 -491 0
-269 458 0
103 -375 0
460 -521 0
95 174 -352 0
-240 456 0
-331 470 0
359 -595 0
-525 542 0
50 -523 0
103 -551 0
274 -481 0
151 -304 0
349 -569 0
-71 506 0
-58 165 0
-353 401 0
-447 482 0
-453 541 0
418 -586 0
-162 221 0
-65 80 0
-218 542 0
380 -520 0
109 -207 -552 0
-374 542 0
419 -463 506 0
328 -454 0
-510 542 0
221 -544 0
-293 451 0
103 -355 0
-234 404 0
269 -397 0
224 -232 0
-79 418 0
95 -239 0
-137 433 0
-142 488 558 0
-39 266 0
18 -567 0
-209 221 0
-186 505 0
-244 -606 0
34 -552 0
221 -243 0
212 -501 0
66 -581 0
-157 340 0
-68 383 0
-329 433 0
-517 527 0
-251 410 0
207 -442 552 0
-393 405 406 0
28 318 -443 0
-38 349 542 0
404 -599 0
88 266 273 -298 0
-459 460 0
-78 433 0
48 0
18 -56 0
330 -566 0
-339 433 0
-259 273 0
224 -323 0
-150 168 0
-291 396 0
-281 432 0
-419 463 506 0
-226 441 0
-31 294 0
224 -282 0
221 -286 554 0
168 -192 0
262 -578 0
-404 441 0
18 -149 0
-72 418 0
-447 542 0
-193 418 0
-77 221 0
103 -302 0
221 -557 0
-102 273 0
16 -293 0
-131 418 0
18 -53 0
65 -306 -434 0
-238 479 0
-2 152 0
-134 165 0
281 -369 0
207 -272 0
153 -587 0
-116 442 0
154 -281 0
-73 418 0
65 -306 -565 0
50 -343 0
418 -573 0
373 -378 0
-15 23 0
404 -550 0
168 -204 212 0
-312 434 0
-403 516 519 0
-68 383 506 0
86 -465 0
-29 151 0
-251 -292 0
-146 -505 0
-116 272 0
490 -500 0
-57 303 0
-3 224 0
349 -436 0
-255 404 0
154 -410 0
-350 383 480 0
15 23 -146 351 0
-186 -368 0
91 -123 0
-431 516 519 0
-465 542 0
-284 555 0
-146 -526 0
-4 542 0
410 -424 0
166 -612 0
350 -402 0
-132 506 0
126 -147 -272 0
554 -613 0
-46 496 0
-51 103 0
-94 553 0
-56 224 0
349 -462 0
128 -169 0
-297 433 0
34 -438 0
-110 -132 0
-68 383 419 0
-325 516 0
248 -539 0
-203 335 0
-307 433 473 0
165 -533 0
-126 272 0
-109 207 552 0
224 -416 0
-65 80 -527 0
441 -527 0
-163 505 0
-183 349 0
-383 -507 0
542 -575 0
-284 349 0
-199 451 0
-45 542 0
-117 535 0
52 -83 0
-547 561 0
124 -217 0
-242 563 0
-34 -272 438 0
-281 471 0
98 0
-47 479 0
-267 527 0
-110 -546 0
-261 542 0
-224 323 0
-114 359 399 0
272 -593 0
-456 539 0
30 -224 0
-192 441 0
328 -374 0
103 -527 0
138 -487 0
-247 496 0
183 -257 542 0
269 -429 0
-246 439 0
-308 433 0
-35 605 0
84 359 419 -480 0
168 -392 0
152 -296 0
442 -552 0
-61 99 0
-41 -292 0
410 -461 0
104 -196 0
111 -604 0
-381 563 0
-207 442 -552 0
-136 525 0
-368 505 0
478 -536 0
34 -207 -552 0
-206 541 0
65 -306 -527 0
-38 542 0
-49 139 430 0
168 -357 0
146 498 505 526 0
-64 164 0
-13 410 0
-350 359 0
404 -559 0
-118 184 0
496 -589 0
-17 471 0
-538 563 0
-163 -186 0
-498 -505 0
-248 539 0
558 -583 0
-54 605 0
380 -540 0
-203 542 0
419 -463 0
-185 466 0
274 -345 0
269 -458 0
441 -460 0
-498 -526 0
-79 349 0
506 -546 0
-257 542 0
-250 418 0
-195 359 0
152 -531 0
-147 207 0
-495 563 0
109 207 -552 0
-67 221 0
-192 235 0
-239 542 0
-327 586 0
-65 80 -326 0
-18 154 0
273 -279 0
-345 542 0
50 -117 -301 0
-111 165 422 0
-285 441 0
-5 441 0
-11 396 0
273 -295 0
110 132 -506 546 0
-111 -165 422 0
163 186 368 -505 0
207 -552 0
441 -467 0
65 -306 0
-214 563 0
52 -457 0
-344 418 0
65 -80 326 434 527 565 0
-63 418 0
-159 558 0
349 -555 0
410 -600 0
-321 418 0
58 -134 0
151 -180 0
33 -387 0
-45 197 0
441 -565 0
-4 347 0
-69 285 0
175 -265 0
-59 151 0
-38 349 590 0
34 207 -552 0
58 -388 0
165 -504 0
-410 432 0
-541 577 0
124 -427 0
-113 434 0
183 -257 349 0
166 -575 0
-65 306 434 527 565 0
418 -571 0
-138 151 0
-105 -244 0
181 -548 0
-109 -272 593 0
434 -455 0
-65 80 -565 0
-163 -368 0
-100 221 0
-537 563 0
18 -41 0
-318 443 0
383 -480 507 0
-76 -457 0
151 -408 0
480 -595 0
-50 472 0
-106 488 558 0
88 -202 0
-30 224 0
433 -588 0
-539 605 0
273 -525 0
404 -417 0
165 -395 0
-503 511 0
-132 -546 0
489 -524 0
154 -452 0
-228 516 519 0
359 -445 0
269 -469 0
171 -556 0
59 -391 0
154 -389 0
-315 380 0
-292 -369 0
-12 18 0
80 -326 0
80 -326 -434 0
103 -553 0
-265 272 0
-8 269 0
197 -360 0
183 -257 0
301 -552 0
-65 80 326 434 527 565 0
18 -185 0
33 -450 0
18 -493 0
294 -382 0
80 -326 -527 0
221 -225 0
109 -593 0
-28 -318 0
33 -117 0
33 -518 0
50 -301 0
216 0
-375 441 0
18 -22 0
-161 -292 0
263 -313 0
-434 441 0
50 -117 0
-160 418 0
-117 -301 0
349 -590 0
-241 434 0
-17 154 0
138 -365 0
50 -472 0
-87 410 0
-440 511 0
68 -383 -419 506 0
103 -285 0
401 -486 0
273 -372 0
151 -249 0
17 -161 0
13 -280 0
168 -277 0
124 -560 0
41 161 251 292 369 0
111 165 -422 0
-111 422 0
272 -438 0
418 -423 0
-257 349 542 0
-175 265 -272 0
18 -608 0
1 -336 0
-28 443 0
-158 584 0
109 -552 0
-257 349 0
-122 197 0
-222 418 0
-367 375 0
-320 433 0
-68 419 0
-339 542 0
273 -314 0
-43 266 0
418 -515 0
-470 477 0
67 -221 0
-120 460 0
-179 269 0
380 -529 0
349 -609 0
-485 490 0
50 -178 0
207 442 -552 0
-161 -369 0
58 -504 0
33 -564 0
-97 396 0
-412 439 0
208 0
-175 207 0
-38 349 0
18 -579 0
18 -452 0
-317 386 0
-445 480 0
-93 349 0
