c 1 CONFIG_KILL bool
c 2 CONFIG_FEATURE_TRACEROUTE_USE_ICMP bool
c 3 CONFIG_FEATURE_TAB_COMPLETION bool
c 4 CONFIG_FEATURE_INSTALL_LONG_OPTIONS bool
c 5 CONFIG_LOGGER bool
c 6 CONFIG_WHICH bool
c 7 CONFIG_FEATURE_PIDFILE bool
c 8 CONFIG_FEATURE_LESS_FLAGS bool
c 9 CONFIG_DHCPD_LEASES_FILE nonbool "/var/lib/misc/udhcpd.leases"
c 10 CONFIG_RAIDAUTORUN bool
c 11 CONFIG_LSATTR bool
c 12 CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION bool
c 13 CONFIG_ASH_MAIL bool
c 14 CONFIG_FEATURE_KILL_REMOVED bool
c 15 CONFIG_HUSH_INTERACTIVE bool
c 16 CONFIG_UUDECODE bool
c 17 CONFIG_FEATURE_EJECT_SCSI bool
c 18 CONFIG_FEATURE_SH_STANDALONE bool
c 19 CONFIG_FEATURE_IPV6 bool
c 20 CONFIG_LASH bool
c 21 CONFIG_ASH bool
c 22 CONFIG_FEATURE_IFCONFIG_MEMSTART_IOADDR_IRQ bool
c 23 CONFIG_OPENVT bool
c 24 CONFIG_SWITCH_ROOT bool
c 25 CONFIG_FEATURE_BRCTL_FANCY bool
c 26 CONFIG_ASH_READ_NCHARS bool
c 27 CONFIG_FEATURE_PREFER_APPLETS bool
c 28 CONFIG_FEATURE_HTTPD_PROXY bool
c 29 CONFIG_ADJTIMEX bool
c 30 CONFIG_AR bool
c 31 CONFIG_CTTYHACK bool
c 32 CONFIG_WATCH bool
c 33 CONFIG_FEATURE_MAKEDEVS_TABLE choice_bool
c 34 CONFIG_FEATURE_HTTPD_RELOAD_CONFIG_SIGHUP bool
c 35 CONFIG_FEATURE_EDITING_MAX_LEN nonbool 1024
c 36 CONFIG_NC_EXTRA bool
c 37 CONFIG_FEATURE_TOPMEM bool
c 38 CONFIG_IFCONFIG bool
c 39 CONFIG_FEATURE_IP_LINK bool
c 40 CONFIG_FEATURE_ROTATE_LOGFILE bool
c 41 CONFIG_SENDMAIL bool
c 42 CONFIG_FEATURE_MOUNT_LOOP bool
c 43 CONFIG_MKDIR bool
c 44 CONFIG_FEATURE_CHCON_LONG_OPTIONS bool
c 45 CONFIG_FEATURE_TELNET_AUTOLOGIN bool
c 46 CONFIG_DEBUG_CROND_OPTION bool
c 47 CONFIG_FEATURE_SH_IS_ASH choice_bool
c 48 CONFIG_HEXDUMP bool
c 49 CONFIG_FEATURE_TELNET_TTYPE bool
c 50 CONFIG_CATV bool
c 51 CONFIG_FEATURE_WGET_LONG_OPTIONS bool
c 52 CONFIG_FEATURE_GREP_CONTEXT bool
c 53 CONFIG_FEATURE_TR_EQUIV bool
c 54 CONFIG_PASSWORD_MINLEN nonbool 6
c 55 CONFIG_FEATURE_MD5_SHA1_SUM_CHECK bool
c 56 CONFIG_IFUPDOWN bool
c 57 CONFIG_IPCS bool
c 58 CONFIG_BUILD_LIBBUSYBOX bool
c 59 CONFIG_ASH_JOB_CONTROL bool
c 60 CONFIG_FEATURE_REMOTE_LOG bool
c 61 CONFIG_FREERAMDISK bool
c 62 CONFIG_FEATURE_EDITING_SAVEHISTORY bool
c 63 CONFIG_FEATURE_TASKSET_FANCY bool
c 64 CONFIG_FEATURE_FDISK_WRITABLE bool
c 65 CONFIG_FEATURE_HTTPD_BASIC_AUTH bool
c 66 CONFIG_SETKEYCODES bool
c 67 CONFIG_UNIX2DOS hidden_bool
c 68 CONFIG_SEQ bool
c 69 CONFIG_FEATURE_FIND_XDEV bool
c 70 CONFIG_FEATURE_TFTP_PUT bool
c 71 CONFIG_FEATURE_WTMP bool
c 72 CONFIG_PS bool
c 73 CONFIG_FEATURE_VI_MAX_LEN nonbool 4096
c 74 CONFIG_FEATURE_MODPROBE_FANCY_ALIAS bool
c 75 CONFIG_FEATURE_PASSWD_WEAK_CHECK bool
c 76 CONFIG_SYNC bool
c 77 CONFIG_FEATURE_CLEAN_UP bool
c 78 CONFIG_FEATURE_FIND_PERM bool
c 79 CONFIG_FEATURE_FIND_MAXDEPTH bool
c 80 CONFIG_GZIP bool
c 81 CONFIG_CHRT bool
c 82 CONFIG_STATIC bool
c 83 CONFIG_FEATURE_VI_YANKMARK bool
c 84 CONFIG_FEATURE_TAR_FROM bool
c 85 CONFIG_FEATURE_FIND_CONTEXT bool
c 86 CONFIG_FEATURE_UTMP bool
c 87 CONFIG_FTPGET bool
c 88 CONFIG_FEATURE_MDEV_LOAD_FIRMWARE bool
c 89 CONFIG_RMMOD bool
c 90 CONFIG_TAIL bool
c 91 CONFIG_RUN_PARTS bool
c 92 CONFIG_HUSH_TICK bool
c 93 CONFIG_MORE bool
c 94 CONFIG_FEATURE_MDEV_RENAME_REGEXP bool
c 95 CONFIG_DNSD bool
c 96 CONFIG_CMP bool
c 97 CONFIG_GUNZIP bool
c 98 CONFIG_UNAME bool
c 99 CONFIG_FEATURE_VOLUMEID_XFS bool
c 100 CONFIG_FBSPLASH bool
c 101 CONFIG_TAC bool
c 102 CONFIG_LOAD_POLICY bool
c 103 CONFIG_FEATURE_SUID_CONFIG_QUIET bool
c 104 CONFIG_MV bool
c 105 CONFIG_PATCH bool
c 106 CONFIG_FEATURE_XARGS_SUPPORT_ZERO_TERM bool
c 107 CONFIG_HAVE_DOT_CONFIG hidden_bool
c 108 CONFIG_PKILL bool
c 109 CONFIG_DOS2UNIX bool
c 110 CONFIG_FEATURE_VI_OPTIMIZE_CURSOR bool
c 111 CONFIG_CHAT bool
c 112 CONFIG_MKTEMP bool
c 113 CONFIG_FEATURE_LS_FILETYPES bool
c 114 CONFIG_FEATURE_SUID bool
c 115 CONFIG_READLINK bool
c 116 CONFIG_DMALLOC choice_bool
c 117 CONFIG_SETSEBOOL bool
c 118 CONFIG_FEATURE_RFC3397 bool
c 119 CONFIG_NOMMU bool
c 120 CONFIG_DF bool
c 121 CONFIG_RUNLEVEL bool
c 122 CONFIG_FEATURE_UDHCP_PORT bool
c 123 CONFIG_FEATURE_CHAT_TTY_HIFI bool
c 124 CONFIG_FEATURE_IP_ROUTE bool
c 125 CONFIG_FEATURE_BUFFERS_GO_ON_STACK choice_bool
c 126 CONFIG_LFS bool
c 127 CONFIG_SETLOGCONS bool
c 128 CONFIG_SESTATUS bool
c 129 CONFIG_LOGIN_SCRIPTS bool
c 130 CONFIG_SCRIPT bool
c 131 CONFIG_FEATURE_CHECK_TAINTED_MODULE bool
c 132 CONFIG_FEATURE_COPYBUF_KB nonbool 4
c 133 CONFIG_RUNSVDIR bool
c 134 CONFIG_IPADDR hidden_bool
c 135 CONFIG_FEATURE_IFUPDOWN_IFCONFIG_BUILTIN bool
c 136 CONFIG_FEATURE_SPLIT_FANCY bool
c 137 CONFIG_FEATURE_HDPARM_HDIO_UNREGISTER_HWIF bool
c 138 CONFIG_DEVFSD_FG_NP bool
c 139 CONFIG_UNCOMPRESS bool
c 140 CONFIG_FEATURE_WGET_STATUSBAR bool
c 141 CONFIG_FEATURE_GUNZIP_UNCOMPRESS bool
c 142 CONFIG_DIFF bool
c 143 CONFIG_UNZIP bool
c 144 CONFIG_IPRULE hidden_bool
c 145 CONFIG_FEATURE_TAR_OLDSUN_COMPATIBILITY bool
c 146 CONFIG_RESIZE bool
c 147 CONFIG_YES bool
c 148 CONFIG_FEATURE_VOLUMEID_HFS bool
c 149 CONFIG_ARP bool
c 150 CONFIG_FEATURE_FIND_NEWER bool
c 151 CONFIG_FEATURE_BUFFERS_GO_IN_BSS choice_bool
c 152 CONFIG_ADDUSER bool
c 153 CONFIG_FEATURE_SUN_LABEL bool
c 154 CONFIG_BZIP2 bool
c 155 CONFIG_FOLD bool
c 156 CONFIG_FEATURE_LS_COLOR_IS_DEFAULT bool
c 157 CONFIG_FEATURE_TAR_LZMA bool
c 158 CONFIG_FEATURE_SYSLOGD_DUP bool
c 159 CONFIG_FEATURE_HTTPD_CGI bool
c 160 CONFIG_SHA1SUM bool
c 161 CONFIG_FEATURE_AR_LONG_FILENAMES bool
c 162 CONFIG_FEATURE_FANCY_TAIL bool
c 163 CONFIG_FEATURE_UDHCP_DEBUG bool
c 164 CONFIG_FEATURE_SORT_BIG bool
c 165 CONFIG_USLEEP bool
c 166 CONFIG_NICE bool
c 167 CONFIG_INSTALL_APPLET_DONT choice_bool
c 168 CONFIG_FEATURE_IP_RULE bool
c 169 CONFIG_VCONFIG bool
c 170 CONFIG_ASH_GETOPTS bool
c 171 CONFIG_FEATURE_MOUNT_FLAGS bool
c 172 CONFIG_HTTPD bool
c 173 CONFIG_TRACEROUTE bool
c 174 CONFIG_TEE bool
c 175 CONFIG_TEST bool
c 176 CONFIG_NAMEIF bool
c 177 CONFIG_ID bool
c 178 CONFIG_FEATURE_FANCY_SLEEP bool
c 179 CONFIG_FEATURE_LZMA_FAST bool
c 180 CONFIG_APP_DHCPRELAY bool
c 181 CONFIG_FEATURE_FIND_MTIME bool
c 182 CONFIG_FEATURE_VI_WIN_RESIZE bool
c 183 CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER choice_bool
c 184 CONFIG_TFTP bool
c 185 CONFIG_FDISK bool
c 186 CONFIG_IPCALC bool
c 187 CONFIG_BUNZIP2 bool
c 188 CONFIG_MOUNT bool
c 189 CONFIG_FEATURE_RESIZE_PRINT bool
c 190 CONFIG_HOSTID bool
c 191 CONFIG_EXPR bool
c 192 CONFIG_FEATURE_FIND_USER bool
c 193 CONFIG_FEATURE_DEVFS bool
c 194 CONFIG_FEATURE_ADDUSER_LONG_OPTIONS bool
c 195 CONFIG_CP bool
c 196 CONFIG_MICROCOM bool
c 197 CONFIG_FEATURE_IP_TUNNEL bool
c 198 CONFIG_CHPST bool
c 199 CONFIG_PREFIX nonbool "./_install"
c 200 CONFIG_FEATURE_IFUPDOWN_MAPPING bool
c 201 CONFIG_FEATURE_LESS_FLAGCS bool
c 202 CONFIG_FEATURE_HTTPD_ERROR_PAGES bool
c 203 CONFIG_ASH_MATH_SUPPORT bool
c 204 CONFIG_FEATURE_FANCY_ECHO bool
c 205 CONFIG_FEATURE_CHAT_IMPLICIT_CR bool
c 206 CONFIG_RUNCON bool
c 207 CONFIG_SPLIT bool
c 208 CONFIG_ASH_BUILTIN_ECHO bool
c 209 CONFIG_INSTALL_SH_APPLET_SYMLINK choice_bool
c 210 CONFIG_FEATURE_TELNETD_STANDALONE bool
c 211 CONFIG_SED bool
c 212 CONFIG_FEATURE_TFTP_BLOCKSIZE bool
c 213 CONFIG_RESET bool
c 214 CONFIG_BBCONFIG bool
c 215 CONFIG_FEATURE_MOUNT_NFS bool
c 216 CONFIG_FEATURE_FIND_PRUNE bool
c 217 CONFIG_SLATTACH bool
c 218 CONFIG_FEATURE_INSMOD_LOADINKMEM bool
c 219 CONFIG_FEATURE_READLINK_FOLLOW bool
c 220 CONFIG_WGET bool
c 221 CONFIG_RX bool
c 222 CONFIG_FEATURE_VOLUMEID_SYSV bool
c 223 CONFIG_FEATURE_IP_RARE_PROTOCOLS bool
c 224 CONFIG_FEATURE_FANCY_PING bool
c 225 CONFIG_VOLUMEID bool
c 226 CONFIG_ENVDIR bool
c 227 CONFIG_LOADFONT bool
c 228 CONFIG_FEATURE_VOLUMEID_ISO9660 bool
c 229 CONFIG_FEATURE_USE_TERMIOS bool
c 230 CONFIG_FEATURE_SETCONSOLE_LONG_OPTIONS bool
c 231 CONFIG_FEATURE_MTAB_SUPPORT bool
c 232 CONFIG_NOHUP bool
c 233 CONFIG_FEATURE_TOP_DECIMALS bool
c 234 CONFIG_IP bool
c 235 CONFIG_BUSYBOX_EXEC_PATH nonbool "/proc/self/exe"
c 236 CONFIG_FEATURE_VI_COLON bool
c 237 CONFIG_HEAD bool
c 238 CONFIG_MATCHPATHCON bool
c 239 CONFIG_UMOUNT bool
c 240 CONFIG_DIRNAME bool
c 241 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN bool
c 242 CONFIG_CLEAR bool
c 243 CONFIG_MD5_SIZE_VS_SPEED nonbool 2
c 244 CONFIG_FEATURE_DIFF_BINARY bool
c 245 CONFIG_FEATURE_MOUNT_FAKE bool
c 246 CONFIG_FEATURE_MKDIR_LONG_OPTIONS bool
c 247 CONFIG_LOCALE_SUPPORT bool
c 248 CONFIG_DEBUG_TFTP bool
c 249 CONFIG_FEATURE_NAMEIF_EXTENDED bool
c 250 CONFIG_VI bool
c 251 CONFIG_FEATURE_FIND_PRINT0 bool
c 252 CONFIG_FEATURE_HTTPD_RANGES bool
c 253 CONFIG_STRINGS bool
c 254 CONFIG_FEATURE_EDITING bool
c 255 CONFIG_FEATURE_VI_SET bool
c 256 CONFIG_SULOGIN bool
c 257 CONFIG_RDATE bool
c 258 CONFIG_FEATURE_DEB_TAR_LZMA bool
c 259 CONFIG_FDFLUSH bool
c 260 CONFIG_SUM bool
c 261 CONFIG_CKSUM bool
c 262 CONFIG_FEATURE_EDITING_FANCY_PROMPT bool
c 263 CONFIG_KILLALL5 bool
c 264 CONFIG_FEATURE_USE_INITTAB bool
c 265 CONFIG_FEATURE_HAVE_RPC bool
c 266 CONFIG_SETSID bool
c 267 CONFIG_INSTALL_NO_USR bool
c 268 CONFIG_FEATURE_TR_CLASSES bool
c 269 CONFIG_FEATURE_MV_LONG_OPTIONS bool
c 270 CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING bool
c 271 CONFIG_FEATURE_SECURETTY bool
c 272 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_TIME bool
c 273 CONFIG_FEATURE_VOLUMEID_EXT bool
c 274 CONFIG_FEATURE_MDEV_RENAME bool
c 275 CONFIG_FEATURE_VI_SETOPTS bool
c 276 CONFIG_EFENCE choice_bool
c 277 CONFIG_FEATURE_TFTP_GET bool
c 278 CONFIG_FEATURE_VERBOSE_USAGE bool
c 279 CONFIG_FEATURE_GREP_EGREP_ALIAS bool
c 280 CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE nonbool 16
c 281 CONFIG_FEATURE_HTTPD_USE_SENDFILE bool
c 282 CONFIG_FEATURE_FIND_PATH bool
c 283 CONFIG_FEATURE_VOLUMEID_LUKS bool
c 284 CONFIG_FEATURE_SH_IS_HUSH choice_bool
c 285 CONFIG_FDFORMAT bool
c 286 CONFIG_MKFIFO bool
c 287 CONFIG_DESKTOP bool
c 288 CONFIG_FEATURE_EXTRA_QUIET bool
c 289 CONFIG_PIPE_PROGRESS bool
c 290 CONFIG_FEATURE_RUNCON_LONG_OPTIONS bool
c 291 CONFIG_RESTORECON bool
c 292 CONFIG_FEATURE_LS_TIMESTAMPS bool
c 293 CONFIG_FEATURE_FIND_SIZE bool
c 294 CONFIG_FEATURE_UNEXPAND_LONG_OPTIONS bool
c 295 CONFIG_ENV bool
c 296 CONFIG_STAT bool
c 297 CONFIG_LPD bool
c 298 CONFIG_VERBOSE_RESOLUTION_ERRORS bool
c 299 CONFIG_IPTUNNEL hidden_bool
c 300 CONFIG_TELNET bool
c 301 CONFIG_FEATURE_SU_SYSLOG bool
c 302 CONFIG_UPTIME bool
c 303 CONFIG_LESS bool
c 304 CONFIG_ASH_BASH_COMPAT bool
c 305 CONFIG_FEATURE_IFUPDOWN_IPV4 bool
c 306 CONFIG_HALT bool
c 307 CONFIG_FEATURE_IP_SHORT_FORMS bool
c 308 CONFIG_LS bool
c 309 CONFIG_START_STOP_DAEMON bool
c 310 CONFIG_DUMPKMAP bool
c 311 CONFIG_PRINTF bool
c 312 CONFIG_FEATURE_MOUNT_FSTAB bool
c 313 CONFIG_LOGNAME bool
c 314 CONFIG_FEATURE_LS_RECURSIVE bool
c 315 CONFIG_PGREP bool
c 316 CONFIG_HUSH_JOB bool
c 317 CONFIG_MSH bool
c 318 CONFIG_BB_SYSCTL bool
c 319 CONFIG_FEATURE_SETFILES_CHECK_OPTION bool
c 320 CONFIG_PASSWD bool
c 321 CONFIG_FEATURE_ALLOW_EXEC bool
c 322 CONFIG_ED bool
c 323 CONFIG_CAL bool
c 324 CONFIG_FEATURE_KILL_DELAY nonbool 0
c 325 CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY bool
c 326 CONFIG_FEATURE_XARGS_SUPPORT_QUOTES bool
c 327 CONFIG_FEATURE_XARGS_SUPPORT_TERMOPT bool
c 328 CONFIG_FEATURE_SH_IS_NONE choice_bool
c 329 CONFIG_PING6 bool
c 330 CONFIG_NC bool
c 331 CONFIG_FEATURE_LS_FOLLOWLINKS bool
c 332 CONFIG_FEATURE_TRACEROUTE_SOURCE_ROUTE bool
c 333 CONFIG_FEATURE_TAR_GNU_EXTENSIONS bool
c 334 CONFIG_FEATURE_AUTOWIDTH bool
c 335 CONFIG_FAKEIDENTD bool
c 336 CONFIG_WATCHDOG bool
c 337 CONFIG_FEATURE_IFUPDOWN_IP bool
c 338 CONFIG_CRONTAB bool
c 339 CONFIG_TASKSET bool
c 340 CONFIG_FEATURE_HTTPD_CONFIG_WITH_MIME_TYPES bool
c 341 CONFIG_FEATURE_VI_USE_SIGNALS bool
c 342 CONFIG_BRCTL bool
c 343 CONFIG_LAST bool
c 344 CONFIG_FEATURE_UNARCHIVE_TAPE bool
c 345 CONFIG_FEATURE_TAR_BZIP2 bool
c 346 CONFIG_WC bool
c 347 CONFIG_FEATURE_TAR_CREATE bool
c 348 CONFIG_GETOPT bool
c 349 CONFIG_PAM bool
c 350 CONFIG_FEATURE_STAT_FORMAT bool
c 351 CONFIG_FEATURE_LS_SORTFILES bool
c 352 CONFIG_FEATURE_HDPARM_GET_IDENTITY bool
c 353 CONFIG_CHMOD bool
c 354 CONFIG_FEATURE_RPM_BZ2 bool
c 355 CONFIG_FEATURE_MAKEDEVS_LEAF choice_bool
c 356 CONFIG_TFTPD bool
c 357 CONFIG_REALPATH bool
c 358 CONFIG_FEATURE_TAR_GZIP bool
c 359 CONFIG_FEATURE_FIND_REGEX bool
c 360 CONFIG_FEATURE_WC_LARGE bool
c 361 CONFIG_FEATURE_EDITING_HISTORY nonbool 15
c 362 CONFIG_UNIQ bool
c 363 CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY bool
c 364 CONFIG_WHO bool
c 365 CONFIG_FEATURE_PS_TIME bool
c 366 CONFIG_FEATURE_FIND_DELETE bool
c 367 CONFIG_HWCLOCK bool
c 368 CONFIG_FEATURE_TAR_COMPRESS bool
c 369 CONFIG_DMESG bool
c 370 CONFIG_FEATURE_MDEV_EXEC bool
c 371 CONFIG_MT bool
c 372 CONFIG_MKNOD bool
c 373 CONFIG_MOUNTPOINT bool
c 374 CONFIG_SETCONSOLE bool
c 375 CONFIG_KILLALL bool
c 376 CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT bool
c 377 CONFIG_FEATURE_VI_SEARCH bool
c 378 CONFIG_FEATURE_TAR_LONG_OPTIONS bool
c 379 CONFIG_SLEEP bool
c 380 CONFIG_FEATURE_INIT_COREDUMPS bool
c 381 CONFIG_WERROR bool
c 382 CONFIG_FEATURE_IFUPDOWN_EXTERNAL_DHCP bool
c 383 CONFIG_FEATURE_FIND_TYPE bool
c 384 CONFIG_FEATURE_START_STOP_DAEMON_LONG_OPTIONS bool
c 385 CONFIG_LOADKMAP bool
c 386 CONFIG_INSTALL bool
c 387 CONFIG_FUSER bool
c 388 CONFIG_FEATURE_MOUNT_LABEL bool
c 389 CONFIG_SELINUX bool
c 390 CONFIG_FEATURE_INSMOD_LOAD_MAP bool
c 391 CONFIG_FEATURE_INSTALLER bool
c 392 CONFIG_FEATURE_PRESERVE_HARDLINKS bool
c 393 CONFIG_FEATURE_FBSET_FANCY bool
c 394 CONFIG_CHPASSWD bool
c 395 CONFIG_VLOCK bool
c 396 CONFIG_KLOGD bool
c 397 CONFIG_HD bool
c 398 CONFIG_FEATURE_TAR_AUTODETECT bool
c 399 CONFIG_FEATURE_MOUNT_HELPERS bool
c 400 CONFIG_ETHER_WAKE bool
c 401 CONFIG_INSMOD bool
c 402 CONFIG_FEATURE_WGET_AUTHENTICATION bool
c 403 CONFIG_MKSWAP bool
c 404 CONFIG_KBD_MODE bool
c 405 CONFIG_RENICE bool
c 406 CONFIG_CHATTR bool
c 407 CONFIG_NETSTAT bool
c 408 CONFIG_FEATURE_HTTPD_SET_REMOTE_PORT_TO_ENV bool
c 409 CONFIG_OD bool
c 410 CONFIG_FEATURE_CROND_CALL_SENDMAIL bool
c 411 CONFIG_FEATURE_VI_8BIT bool
c 412 CONFIG_INSTALL_SH_APPLET_HARDLINK choice_bool
c 413 CONFIG_FEATURE_SH_IS_MSH choice_bool
c 414 CONFIG_FEATURE_USERNAME_COMPLETION bool
c 415 CONFIG_RTCWAKE bool
c 416 CONFIG_TTY bool
c 417 CONFIG_FEATURE_LS_USERNAME bool
c 418 CONFIG_DU bool
c 419 CONFIG_FEATURE_HWCLOCK_LONG_OPTIONS bool
c 420 CONFIG_CROND bool
c 421 CONFIG_PWD bool
c 422 CONFIG_INCLUDE_SUSv2 bool
c 423 CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K bool
c 424 CONFIG_COMM bool
c 425 CONFIG_HDPARM bool
c 426 CONFIG_FEATURE_INETD_RPC bool
c 427 CONFIG_NC_SERVER bool
c 428 CONFIG_FEATURE_2_6_MODULES bool
c 429 CONFIG_FEATURE_HTTPD_ENCODE_URL_STR bool
c 430 CONFIG_ASH_RANDOM_SUPPORT bool
c 431 CONFIG_RPM bool
c 432 CONFIG_FEATURE_IFCONFIG_STATUS bool
c 433 CONFIG_FEATURE_SGI_LABEL bool
c 434 CONFIG_FEATURE_TEST_64 bool
c 435 CONFIG_CHVT bool
c 436 CONFIG_FEATURE_HTTPD_AUTH_MD5 bool
c 437 CONFIG_FEATURE_MOUNT_CIFS bool
c 438 CONFIG_FEATURE_MINIX2 bool
c 439 CONFIG_FEATURE_DEVPTS bool
c 440 CONFIG_FEATURE_FDISK_ADVANCED bool
c 441 CONFIG_XARGS bool
c 442 CONFIG_FEATURE_LESS_BRACKETS bool
c 443 CONFIG_DELUSER bool
c 444 CONFIG_LSMOD bool
c 445 CONFIG_DC bool
c 446 CONFIG_FBSET bool
c 447 CONFIG_FEATURE_INSMOD_LOAD_MAP_FULL bool
c 448 CONFIG_FEATURE_DEB_TAR_GZ bool
c 449 CONFIG_INIT bool
c 450 CONFIG_FSCK_MINIX bool
c 451 CONFIG_MKFS_MINIX bool
c 452 CONFIG_DEALLOCVT bool
c 453 CONFIG_FEATURE_HTTPD_SETUID bool
c 454 CONFIG_FEATURE_VOLUMEID_LINUXSWAP bool
c 455 CONFIG_FEATURE_DEL_USER_FROM_GROUP bool
c 456 CONFIG_HUSH bool
c 457 CONFIG_BASENAME bool
c 458 CONFIG_FEATURE_COMPRESS_USAGE bool
c 459 CONFIG_FEATURE_CHECK_NAMES bool
c 460 CONFIG_RM bool
c 461 CONFIG_LN bool
c 462 CONFIG_FEATURE_VOLUMEID_NTFS bool
c 463 CONFIG_FEATURE_FIND_PAREN bool
c 464 CONFIG_FEATURE_EDITING_VI bool
c 465 CONFIG_FEATURE_INIT_SCTTY bool
c 466 CONFIG_FIND bool
c 467 CONFIG_MODPROBE bool
c 468 CONFIG_CUT bool
c 469 CONFIG_FEATURE_RUN_PARTS_FANCY bool
c 470 CONFIG_FDISK_SUPPORT_LARGE_DISKS bool
c 471 CONFIG_FEATURE_FIND_EXEC bool
c 472 CONFIG_FEATURE_MOUNT_VERBOSE bool
c 473 CONFIG_HUSH_LOOPS bool
c 474 CONFIG_LPR bool
c 475 CONFIG_SETUIDGID bool
c 476 CONFIG_FEATURE_FANCY_HEAD bool
c 477 CONFIG_FEATURE_DIFF_MINIMAL bool
c 478 CONFIG_FEATURE_TAR_UNAME_GNAME bool
c 479 CONFIG_FEATURE_NETSTAT_WIDE bool
c 480 CONFIG_FEATURE_LESS_REGEXP bool
c 481 CONFIG_MD5SUM bool
c 482 CONFIG_FEATURE_DEB_TAR_BZ2 bool
c 483 CONFIG_FALSE bool
c 484 CONFIG_TAR bool
c 485 CONFIG_LOGIN bool
c 486 CONFIG_MESG bool
c 487 CONFIG_GETSEBOOL bool
c 488 CONFIG_NMETER bool
c 489 CONFIG_IPLINK hidden_bool
c 490 CONFIG_SHOW_USAGE bool
c 491 CONFIG_FEATURE_PIDOF_SINGLE bool
c 492 CONFIG_FEATURE_SYSLOG bool
c 493 CONFIG_FEATURE_IP_ADDRESS bool
c 494 CONFIG_MAKEDEVS bool
c 495 CONFIG_FEATURE_SHADOWPASSWDS bool
c 496 CONFIG_FEATURE_INSMOD_KSYMOOPS_SYMBOLS bool
c 497 CONFIG_FEATURE_VOLUMEID_LINUXRAID bool
c 498 CONFIG_PRINTENV bool
c 499 CONFIG_FEATURE_EXPAND_LONG_OPTIONS bool
c 500 CONFIG_SETARCH bool
c 501 CONFIG_DELGROUP bool
c 502 CONFIG_FEATURE_IFCONFIG_SLIP bool
c 503 CONFIG_PING bool
c 504 CONFIG_ASH_BUILTIN_TEST bool
c 505 CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS bool
c 506 CONFIG_FEATURE_CHAT_SEND_ESCAPES bool
c 507 CONFIG_FEATURE_HWCLOCK_ADJTIME_FHS bool
c 508 CONFIG_FEATURE_CHAT_CLR_ABORT bool
c 509 CONFIG_FEATURE_NOLOGIN bool
c 510 CONFIG_LOGREAD bool
c 511 CONFIG_FEATURE_SHARED_BUSYBOX bool
c 512 CONFIG_FEATURE_LESS_MAXLINES nonbool 9999999
c 513 CONFIG_DEVFSD_MODLOAD bool
c 514 CONFIG_DEVFSD bool
c 515 CONFIG_HUSH_HELP bool
c 516 CONFIG_SELINUXENABLED bool
c 517 CONFIG_FEATURE_MODPROBE_MULTIPLE_OPTIONS bool
c 518 CONFIG_IOCTL_HEX2STR_ERROR bool
c 519 CONFIG_FEATURE_RUN_PARTS_LONG_OPTIONS bool
c 520 CONFIG_ECHO bool
c 521 CONFIG_ZCIP bool
c 522 CONFIG_TELNETD bool
c 523 CONFIG_FEATURE_LESS_MARKS bool
c 524 CONFIG_FEATURE_MDEV_CONF bool
c 525 CONFIG_TRUE bool
c 526 CONFIG_IFUPDOWN_IFSTATE_PATH nonbool "/var/run/ifstate"
c 527 CONFIG_CPIO bool
c 528 CONFIG_FSCK bool
c 529 CONFIG_FEATURE_ETC_NETWORKS bool
c 530 CONFIG_CHGRP bool
c 531 CONFIG_MDEV bool
c 532 CONFIG_USE_BB_PWD_GRP bool
c 533 CONFIG_TR bool
c 534 CONFIG_FEATURE_2_4_MODULES bool
c 535 CONFIG_FEATURE_START_STOP_DAEMON_FANCY bool
c 536 CONFIG_FEATURE_RMDIR_LONG_OPTIONS bool
c 537 CONFIG_EXPAND bool
c 538 CONFIG_ENVUIDGID bool
c 539 CONFIG_CAT bool
c 540 CONFIG_FEATURE_DD_IBS_OBS bool
c 541 CONFIG_FEATURE_FBSET_READMODE bool
c 542 CONFIG_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR bool
c 543 CONFIG_APP_UDHCPC bool
c 544 CONFIG_ADDGROUP bool
c 545 CONFIG_DD bool
c 546 CONFIG_FEATURE_FIND_GROUP bool
c 547 CONFIG_RMDIR bool
c 548 CONFIG_ASH_READ_TIMEOUT bool
c 549 CONFIG_LPQ bool
c 550 CONFIG_LENGTH bool
c 551 CONFIG_FEATURE_UDHCPC_ARPING bool
c 552 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD bool
c 553 CONFIG_GREP bool
c 554 CONFIG_PSCAN bool
c 555 CONFIG_INSTALL_APPLET_HARDLINKS choice_bool
c 556 CONFIG_SOFTLIMIT bool
c 557 CONFIG_FEATURE_DD_SIGNAL_HANDLING bool
c 558 CONFIG_FEATURE_UMOUNT_ALL bool
c 559 CONFIG_UUENCODE bool
c 560 CONFIG_FEATURE_PIDOF_OMIT bool
c 561 CONFIG_FEATURE_OSF_LABEL bool
c 562 CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS choice_bool
c 563 CONFIG_FEATURE_CHAT_SWALLOW_OPTS bool
c 564 CONFIG_NITPICK bool
c 565 CONFIG_FEATURE_QUERY_MODULE_INTERFACE hidden_bool
c 566 CONFIG_FEATURE_FAST_TOP bool
c 567 CONFIG_FEATURE_VOLUMEID_FAT bool
c 568 CONFIG_NSLOOKUP bool
c 569 CONFIG_FEATURE_FTPGETPUT_LONG_OPTIONS bool
c 570 CONFIG_FEATURE_INDIVIDUAL bool
c 571 CONFIG_PIDOF bool
c 572 CONFIG_CHOWN bool
c 573 CONFIG_CHROOT bool
c 574 CONFIG_CRYPTPW bool
c 575 CONFIG_FEATURE_FIND_MMIN bool
c 576 CONFIG_DPKG_DEB bool
c 577 CONFIG_FEATURE_SU_CHECKS_SHELLS bool
c 578 CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS bool
c 579 CONFIG_DPKG bool
c 580 CONFIG_FEATURE_HDPARM_HDIO_SCAN_HWIF bool
c 581 CONFIG_DEVFSD_VERBOSE bool
c 582 CONFIG_FETCHMAIL bool
c 583 CONFIG_PIVOT_ROOT bool
c 584 CONFIG_FEATURE_IFUPDOWN_IPV6 bool
c 585 CONFIG_FEATURE_ADDUSER_TO_GROUP bool
c 586 CONFIG_FEATURE_LS_COLOR bool
c 587 CONFIG_INSTALL_APPLET_SYMLINKS choice_bool
c 588 CONFIG_SU bool
c 589 CONFIG_RPM2CPIO bool
c 590 CONFIG_FEATURE_HDPARM_HDIO_GETSET_DMA bool
c 591 CONFIG_MONOTONIC_SYSCALL bool
c 592 CONFIG_FEATURE_TRACEROUTE_VERBOSE bool
c 593 CONFIG_RUNSV bool
c 594 CONFIG_FEATURE_AIX_LABEL bool
c 595 CONFIG_HOSTNAME bool
c 596 CONFIG_ROUTE bool
c 597 CONFIG_USE_BB_SHADOW bool
c 598 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME bool
c 599 CONFIG_FEATURE_VOLUMEID_UDF bool
c 600 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_ECHO bool
c 601 CONFIG_FEATURE_IPC_SYSLOG bool
c 602 CONFIG_FEATURE_HDPARM_HDIO_TRISTATE_HWIF bool
c 603 CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE bool
c 604 CONFIG_GETOPT_LONG bool
c 605 CONFIG_LOSETUP bool
c 606 CONFIG_FEATURE_VI_DOT_CMD bool
c 607 CONFIG_FEATURE_VOLUMEID_REISERFS bool
c 608 CONFIG_FEATURE_SH_EXTRA_QUIET bool
c 609 CONFIG_FEATURE_BUFFERS_USE_MALLOC choice_bool
c 610 CONFIG_FEATURE_DATE_ISOFMT bool
c 611 CONFIG_ASH_MATH_SUPPORT_64 bool
c 612 CONFIG_UDHCPC_SLACK_FOR_BUGGY_SERVERS nonbool 80
c 613 CONFIG_FEATURE_CHAT_VAR_ABORT_LEN bool
c 614 CONFIG_FEATURE_INIT_SYSLOG bool
c 615 CONFIG_IPCRM bool
c 616 CONFIG_FEATURE_IFUPDOWN_IP_BUILTIN bool
c 617 CONFIG_FEATURE_SUID_CONFIG bool
c 618 CONFIG_AWK bool
c 619 CONFIG_SETFILES bool
c 620 CONFIG_EXPR_MATH_SUPPORT_64 bool
c 621 CONFIG_FEATURE_VI_READONLY bool
c 622 CONFIG_APP_UDHCPD bool
c 623 CONFIG_DEBUG_INIT bool
c 624 CONFIG_FINDFS bool
c 625 CONFIG_FEATURE_DIFF_DIR bool
c 626 CONFIG_DATE bool
c 627 CONFIG_WHOAMI bool
c 628 CONFIG_INETD bool
c 629 CONFIG_FEATURE_HEXDUMP_REVERSE bool
c 630 CONFIG_FEATURE_DF_INODE bool
c 631 CONFIG_FEATURE_IFCONFIG_HW bool
c 632 CONFIG_FEATURE_PS_UNUSUAL_SYSTEMS bool
c 633 CONFIG_GETTY bool
c 634 CONFIG_FEATURE_DMESG_PRETTY bool
c 635 CONFIG_ASH_EXPAND_PRMT bool
c 636 CONFIG_FTPPUT bool
c 637 CONFIG_SETENFORCE bool
c 638 CONFIG_SWAPONOFF bool
c 639 CONFIG_FEATURE_FIND_NOT bool
c 640 CONFIG_FEATURE_VOLUMEID_ROMFS bool
c 641 CONFIG_SV bool
c 642 CONFIG_FEATURE_FIND_INUM bool
c 643 CONFIG_ASH_OPTIMIZE_FOR_SIZE bool
c 644 CONFIG_FEATURE_IPCALC_LONG_OPTIONS bool
c 645 CONFIG_DEBUG bool
c 646 CONFIG_TOP bool
c 647 CONFIG_IFENSLAVE bool
c 648 CONFIG_FEATURE_ENV_LONG_OPTIONS bool
c 649 CONFIG_ASH_CMDCMD bool
c 650 CONFIG_UNEXPAND bool
c 651 CONFIG_FEATURE_PS_WIDE bool
c 652 CONFIG_EJECT bool
c 653 CONFIG_APP_DUMPLEASES bool
c 654 CONFIG_UNLZMA bool
c 655 CONFIG_SVLOGD bool
c 656 CONFIG_FEATURE_FIND_DEPTH bool
c 657 CONFIG_FEATURE_TEE_USE_BLOCK_IO bool
c 658 CONFIG_FEATURE_TAR_OLDGNU_COMPATIBILITY bool
c 659 CONFIG_DHCPC_DEFAULT_SCRIPT nonbool "/usr/share/udhcpc/default.script"
c 660 CONFIG_FEATURE_GREP_FGREP_ALIAS bool
c 661 CONFIG_CHCON bool
c 662 CONFIG_SORT bool
c 663 CONFIG_FEATURE_MKSWAP_V0 bool
c 664 CONFIG_IPROUTE hidden_bool
c 665 CONFIG_READPROFILE bool
c 666 CONFIG_FEATURE_INSMOD_VERSION_CHECKING bool
c 667 CONFIG_TCPSVD bool
c 668 CONFIG_FEATURE_HUMAN_READABLE bool
c 669 CONFIG_TOUCH bool
c 670 CONFIG_FEATURE_INITRD bool
c 671 CONFIG_HUSH_IF bool
c 672 CONFIG_TIME bool
c 673 CONFIG_FEATURE_VOLUMEID_OCFS2 bool
c 674 CONFIG_FEATURE_VERBOSE_CP_MESSAGE bool
c 675 CONFIG_FEATURE_VOLUMEID_JFS bool
c 676 CONFIG_STTY bool
c 677 CONFIG_TTYSIZE bool
c 678 CONFIG_READAHEAD bool
c 679 CONFIG_SYSLOGD bool
c 680 CONFIG_NO_DEBUG_LIB choice_bool
c 681 CONFIG_FEATURE_VOLUMEID_CRAMFS bool
c 682 CONFIG_UDPSVD bool
c 683 CONFIG_ASH_ALIAS bool
c 684 CONFIG_GETENFORCE bool
c 685 CONFIG_FREE bool
c 686 CONFIG_FEATURE_HDPARM_HDIO_DRIVE_RESET bool
c 687 CONFIG_FEATURE_IPCALC_FANCY bool
c 688 CONFIG_FEATURE_PREFER_IPV4_ADDRESS bool
c 689 CONFIG_FEATURE_AWK_MATH bool
c 690 CONFIG_ARPING bool
c 691 CONFIG_FEATURE_CHAT_NOFAIL bool
p cnf 691 572
-33 -355 0
71 -343 -633 0
449 -623 0
-288 449 0
-135 596 0
-345 484 0
64 -433 0
-151 -609 0
-47 -413 0
124 -234 -616 0
71 -343 0
449 -614 0
-47 -284 0
367 -419 0
172 -252 0
-294 604 0
-499 604 0
-102 389 0
618 -689 0
159 -408 0
-182 250 0
308 -314 0
-264 449 0
466 -656 0
-319 619 0
56 -135 -337 0
-284 -413 0
-18 20 21 317 456 0
-45 300 0
467 -517 564 0
303 -512 0
-88 531 0
390 -447 0
142 -477 0
-600 628 0
303 -523 0
225 -681 0
-366 466 0
-34 172 0
-3 254 0
-194 604 0
-37 646 0
604 -644 0
-280 601 0
184 -248 0
35 -254 0
188 -231 239 0
-83 250 0
367 -507 0
-251 466 0
21 -683 0
124 -664 0
-210 522 0
545 -557 0
185 -433 0
58 -570 0
-8 303 0
184 -277 356 0
492 -628 0
-94 274 0
234 -493 616 0
15 -316 0
467 -517 0
206 -290 0
21 -548 0
-153 185 0
-183 -412 0
-329 503 0
21 -208 0
225 -273 0
-540 545 0
-569 604 0
308 -351 0
-126 -185 470 0
225 -673 0
126 185 -470 0
21 -504 0
-67 109 0
-183 -209 0
-496 534 0
-349 485 0
-234 493 -616 0
-513 514 0
152 -459 544 0
-33 494 0
456 -473 0
-354 431 0
116 276 680 0
173 -592 0
188 -312 0
39 -616 0
-18 27 0
280 -601 0
21 -635 0
-543 659 0
303 -480 0
-294 650 0
365 -632 0
-412 562 0
-92 456 0
456 -515 0
-71 86 -588 0
43 -246 0
-390 401 0
114 -617 0
-74 428 0
-118 543 622 0
250 -255 0
191 -620 0
-180 622 0
-128 389 0
-366 656 0
-25 342 0
-209 562 0
-75 320 0
56 -526 0
125 151 -564 609 0
234 493 -616 0
225 -599 0
-44 389 0
21 -59 0
492 -514 0
159 -542 0
18 27 -167 391 0
120 -630 0
-135 -337 0
308 -586 604 0
389 -661 0
-179 654 0
456 -671 0
64 -440 0
38 -502 0
86 -364 0
-270 510 0
-279 553 0
-393 446 0
-158 679 0
239 -558 0
-293 466 0
-610 626 0
-347 484 0
-524 531 0
296 -350 0
-44 661 0
-378 484 0
492 -633 0
-188 -231 245 0
-218 401 0
-215 492 0
-85 466 0
-44 604 0
225 -388 0
206 -290 389 0
-224 503 0
389 -516 0
175 -434 0
-62 254 0
308 -417 0
97 -141 0
-233 603 0
1 -375 0
-144 168 0
188 231 -245 0
-82 -570 0
428 -534 565 0
-79 466 0
-117 389 0
225 -567 0
-171 188 0
21 -304 0
114 -420 0
-129 485 0
-69 466 0
553 -660 0
-499 537 0
-363 576 0
-14 264 0
203 -611 0
-246 604 0
612 -622 0
172 -429 0
287 -365 0
111 -506 0
-555 -562 0
225 -607 0
234 -307 0
532 -597 0
-5 492 0
-51 604 0
167 555 562 587 0
-216 466 0
111 -613 0
345 358 -398 0
-144 307 0
-482 576 579 0
493 -616 0
144 -168 -307 0
-218 534 0
-125 -151 0
466 -639 0
254 -464 0
-106 441 0
-238 389 0
-278 490 0
401 -666 0
-14 324 0
403 -663 0
114 -485 0
58 -511 0
-145 484 0
225 -624 0
466 -471 0
-159 172 0
-456 525 0
-71 343 485 588 633 0
89 401 -428 467 0
-208 520 0
21 -47 0
-167 -587 0
309 -384 0
-74 428 467 0
543 -551 0
449 -465 0
564 -609 0
466 -575 0
58 -82 -570 0
38 -135 0
-603 646 0
71 -343 -588 0
58 -82 -511 0
-42 188 239 0
337 -616 0
425 -590 0
-151 564 0
225 -675 0
-46 420 0
-562 -587 0
-284 -328 0
72 -365 0
172 -340 0
126 -678 0
152 -194 0
206 -290 604 0
-74 428 564 0
-333 484 0
19 -688 0
-44 604 661 0
389 -684 0
-326 441 0
-167 -555 0
-358 484 0
-290 604 0
492 -522 0
188 -388 0
-292 308 0
543 -612 622 0
-71 86 -485 0
-40 679 0
303 -442 0
111 -508 0
-116 -680 0
-410 420 0
39 234 -616 0
114 -588 0
72 -651 0
-113 308 0
-456 483 0
-55 160 481 0
176 -249 0
307 -489 0
-192 466 0
-134 493 0
199 0
-65 172 0
-467 517 564 0
-204 520 0
-82 -511 0
-449 492 0
225 -497 0
185 -594 0
-206 389 0
93 -229 646 0
-438 450 451 0
-4 386 0
-598 628 0
317 -413 0
-380 449 0
-63 339 0
-99 225 0
446 -541 0
56 -584 0
-157 484 0
111 -123 0
111 -691 0
64 -594 0
48 -397 0
-28 172 0
-126 185 470 0
-269 604 0
172 -202 0
295 -648 0
-148 225 0
-344 484 527 0
188 -399 0
-352 425 0
449 -670 0
21 -430 0
308 -331 0
-455 501 0
-428 -565 0
21 -26 0
183 209 412 -562 0
389 -637 0
-44 389 661 0
-328 -413 0
115 -219 0
186 -644 0
185 -561 0
225 -228 0
622 -653 0
-458 490 0
-77 564 0
-230 374 0
186 -687 0
-84 484 0
495 532 -597 0
87 -569 636 0
-181 466 0
20 21 317 456 -608 0
243 0
-319 389 0
-359 466 0
-355 494 0
188 -437 0
-103 617 0
175 -456 0
-552 628 0
104 195 -392 0
-9 622 0
-156 586 0
56 -135 0
-448 576 579 0
-390 428 534 0
-536 547 0
-201 303 0
-384 604 0
-22 38 0
47 284 328 413 0
495 -597 0
-122 543 622 0
-131 401 444 0
-36 330 0
308 -586 0
56 -337 0
-335 492 0
-27 -58 0
-126 470 0
-2 173 0
604 -648 0
250 -341 0
-376 444 0
-290 389 0
-299 307 0
225 -462 0
107 0
56 -200 0
-56 526 0
19 -329 0
-222 225 0
-586 604 0
-12 441 0
175 -317 0
-291 389 0
407 -479 0
142 -625 0
-601 679 0
71 -86 364 485 588 633 0
250 -411 0
188 -215 0
-536 604 0
-20 456 0
-78 466 0
-138 514 0
-282 466 0
111 -563 0
132 0
466 -642 0
-110 250 0
250 -275 0
-47 -328 0
-485 492 0
-274 524 0
-71 86 0
56 -382 0
86 -364 -485 0
-44 389 604 0
-74 467 564 0
124 -616 0
74 -428 -467 564 0
534 -666 0
254 -361 0
56 -305 0
307 -664 0
-505 603 0
-49 300 0
485 -509 0
197 -299 0
-197 234 0
89 401 467 -534 0
-271 485 0
48 -629 0
346 -360 0
19 -584 0
-183 562 0
-70 184 356 0
250 -621 0
86 -364 -633 0
466 -546 0
-150 466 0
33 355 -494 0
21 -203 0
401 -496 0
146 -189 0
-73 250 0
9 -622 0
492 -588 0
-35 254 0
235 0
492 -521 0
188 -472 0
234 -616 0
-197 299 -307 0
73 -250 0
-491 571 0
21 -649 0
250 -321 618 0
-370 524 0
-478 484 0
111 -205 0
-137 425 0
30 -161 0
173 -332 0
39 -234 -616 0
-140 220 0
14 -324 0
-125 564 0
514 -581 0
-85 389 0
425 -686 0
-419 604 0
-510 601 0
21 -170 0
-317 525 0
225 -454 0
-57 114 0
86 -364 -588 0
21 -643 0
-64 185 0
-290 389 604 0
64 -153 0
-17 652 0
544 -585 0
188 -231 245 0
-272 628 0
-426 628 0
-420 492 0
-325 622 0
-71 86 364 485 588 633 0
54 0
172 -281 0
-456 520 0
38 -432 0
172 -453 0
389 -487 0
114 -320 0
-15 456 0
-39 234 616 0
-560 571 0
-276 -680 0
-519 604 0
142 -244 0
114 -615 0
237 -476 0
91 -469 0
124 234 -616 0
534 -565 0
185 -440 0
175 -504 0
93 300 308 -334 0
184 -212 356 0
543 -659 0
-258 576 579 0
425 -602 0
250 -377 0
39 -489 0
-383 466 0
-254 361 0
-163 543 622 0
-327 441 0
220 -402 0
-301 588 0
-4 604 0
-378 604 0
-71 86 -633 0
114 -338 0
-168 234 0
1 -263 0
-60 679 0
-577 588 0
-52 553 0
104 -269 0
-463 466 0
-124 234 616 0
-231 245 0
-178 379 0
-164 662 0
-284 456 0
120 308 418 -668 0
389 -619 0
-543 612 -622 0
-176 492 0
-53 533 0
484 -658 0
67 -109 0
225 -640 0
-268 533 0
91 -519 0
418 -423 0
-136 207 0
-320 492 0
250 -606 0
330 -427 0
38 -578 0
90 -162 0
65 -436 0
425 -580 0
-116 -276 0
174 -657 0
-13 21 0
-124 -307 664 0
38 -631 0
-71 86 -364 0
-209 -412 0
254 -262 0
-241 628 0
-230 604 0
-555 -587 0
-236 250 0
-167 -562 0
-215 265 0
71 -343 -485 0
-21 175 0
225 -283 0
-368 484 0
114 -395 0
-256 492 0
-51 220 0
-74 467 0
-223 234 0
265 -426 0
-134 307 0
21 -62 0
-39 -307 489 0
-317 483 0
369 -634 0
-543 612 0
-125 -609 0
309 -535 0
3 -414 0
134 -307 -493 0
-303 512 0
64 -561 0
