c 1 CONFIG_KILL bool
c 2 CONFIG_FEATURE_TRACEROUTE_USE_ICMP bool
c 3 CONFIG_FEATURE_TAB_COMPLETION bool
c 4 CONFIG_FEATURE_INSTALL_LONG_OPTIONS bool
c 5 CONFIG_LOGGER bool
c 6 CONFIG_WHICH bool
c 7 CONFIG_FEATURE_PIDFILE bool
c 8 CONFIG_FEATURE_LESS_FLAGS bool
c 9 CONFIG_RAIDAUTORUN bool
c 10 CONFIG_LSATTR bool
c 11 CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION bool
c 12 CONFIG_ASH_MAIL bool
c 13 CONFIG_HUSH_INTERACTIVE bool
c 14 CONFIG_UUDECODE bool
c 15 CONFIG_FEATURE_SH_STANDALONE bool
c 16 CONFIG_FEATURE_IPV6 bool
c 17 CONFIG_LASH bool
c 18 CONFIG_ASH bool
c 19 CONFIG_FEATURE_IFCONFIG_MEMSTART_IOADDR_IRQ bool
c 20 CONFIG_OPENVT bool
c 21 CONFIG_SWITCH_ROOT bool
c 22 CONFIG_ASH_READ_NCHARS bool
c 23 CONFIG_FEATURE_PREFER_APPLETS bool
c 24 CONFIG_FEATURE_HTTPD_PROXY bool
c 25 CONFIG_ADJTIMEX bool
c 26 CONFIG_AR bool
c 27 CONFIG_CTTYHACK bool
c 28 CONFIG_WATCH bool
c 29 CONFIG_FEATURE_MAKEDEVS_TABLE choice_bool
c 30 CONFIG_FEATURE_HTTPD_RELOAD_CONFIG_SIGHUP bool
c 31 CONFIG_FEATURE_EDITING_MAX_LEN nonbool 1024
c 32 CONFIG_NC_EXTRA bool
c 33 CONFIG_FEATURE_TOPMEM bool
c 34 CONFIG_IFCONFIG bool
c 35 CONFIG_FEATURE_IP_LINK bool
c 36 CONFIG_FEATURE_ROTATE_LOGFILE bool
c 37 CONFIG_FEATURE_MOUNT_LOOP bool
c 38 CONFIG_MKDIR bool
c 39 CONFIG_FEATURE_CHCON_LONG_OPTIONS bool
c 40 CONFIG_FEATURE_TELNET_AUTOLOGIN bool
c 41 CONFIG_DEBUG_CROND_OPTION bool
c 42 CONFIG_FEATURE_SH_IS_ASH choice_bool
c 43 CONFIG_HEXDUMP bool
c 44 CONFIG_FEATURE_TELNET_TTYPE bool
c 45 CONFIG_CATV bool
c 46 CONFIG_FEATURE_WGET_LONG_OPTIONS bool
c 47 CONFIG_FEATURE_GREP_CONTEXT bool
c 48 CONFIG_FEATURE_TR_EQUIV bool
c 49 CONFIG_PASSWORD_MINLEN nonbool 6
c 50 CONFIG_FEATURE_MD5_SHA1_SUM_CHECK bool
c 51 CONFIG_IFUPDOWN bool
c 52 CONFIG_IPCS bool
c 53 CONFIG_BUILD_LIBBUSYBOX bool
c 54 CONFIG_ASH_JOB_CONTROL bool
c 55 CONFIG_FEATURE_REMOTE_LOG bool
c 56 CONFIG_FREERAMDISK bool
c 57 CONFIG_FEATURE_EDITING_SAVEHISTORY bool
c 58 CONFIG_FEATURE_TASKSET_FANCY bool
c 59 CONFIG_FEATURE_FDISK_WRITABLE bool
c 60 CONFIG_FEATURE_HTTPD_BASIC_AUTH bool
c 61 CONFIG_SETKEYCODES bool
c 62 CONFIG_UNIX2DOS hidden_bool
c 63 CONFIG_SEQ bool
c 64 CONFIG_FEATURE_FIND_XDEV bool
c 65 CONFIG_FEATURE_TFTP_PUT bool
c 66 CONFIG_FEATURE_WTMP bool
c 67 CONFIG_PS bool
c 68 CONFIG_FEATURE_VI_MAX_LEN nonbool 1024
c 69 CONFIG_FEATURE_MODPROBE_FANCY_ALIAS bool
c 70 CONFIG_FEATURE_PASSWD_WEAK_CHECK bool
c 71 CONFIG_SYNC bool
c 72 CONFIG_FEATURE_CLEAN_UP bool
c 73 CONFIG_FEATURE_FIND_PERM bool
c 74 CONFIG_FEATURE_FIND_MAXDEPTH bool
c 75 CONFIG_GZIP bool
c 76 CONFIG_CHRT bool
c 77 CONFIG_STATIC bool
c 78 CONFIG_FEATURE_VI_YANKMARK bool
c 79 CONFIG_FEATURE_TAR_FROM bool
c 80 CONFIG_FEATURE_FIND_CONTEXT bool
c 81 CONFIG_FEATURE_UTMP bool
c 82 CONFIG_FTPGET bool
c 83 CONFIG_FEATURE_MDEV_LOAD_FIRMWARE bool
c 84 CONFIG_RMMOD bool
c 85 CONFIG_TAIL bool
c 86 CONFIG_RUN_PARTS bool
c 87 CONFIG_HUSH_TICK bool
c 88 CONFIG_MORE bool
c 89 CONFIG_DNSD bool
c 90 CONFIG_CMP bool
c 91 CONFIG_GUNZIP bool
c 92 CONFIG_UNAME bool
c 93 CONFIG_LOAD_POLICY bool
c 94 CONFIG_FEATURE_SUID_CONFIG_QUIET bool
c 95 CONFIG_MV bool
c 96 CONFIG_PATCH bool
c 97 CONFIG_FEATURE_XARGS_SUPPORT_ZERO_TERM bool
c 98 CONFIG_HAVE_DOT_CONFIG hidden_bool
c 99 CONFIG_PKILL bool
c 100 CONFIG_DOS2UNIX bool
c 101 CONFIG_FEATURE_VI_OPTIMIZE_CURSOR bool
c 102 CONFIG_MKTEMP bool
c 103 CONFIG_FEATURE_LS_FILETYPES bool
c 104 CONFIG_FEATURE_SUID bool
c 105 CONFIG_READLINK bool
c 106 CONFIG_DMALLOC choice_bool
c 107 CONFIG_SETSEBOOL bool
c 108 CONFIG_FEATURE_RFC3397 bool
c 109 CONFIG_DF bool
c 110 CONFIG_RUNLEVEL bool
c 111 CONFIG_FEATURE_IP_ROUTE bool
c 112 CONFIG_FEATURE_BUFFERS_GO_ON_STACK choice_bool
c 113 CONFIG_LFS bool
c 114 CONFIG_SETLOGCONS bool
c 115 CONFIG_SESTATUS bool
c 116 CONFIG_LOGIN_SCRIPTS bool
c 117 CONFIG_FEATURE_CHECK_TAINTED_MODULE bool
c 118 CONFIG_FEATURE_COPYBUF_KB nonbool 4
c 119 CONFIG_RUNSVDIR bool
c 120 CONFIG_IPADDR hidden_bool
c 121 CONFIG_FEATURE_IFUPDOWN_IFCONFIG_BUILTIN bool
c 122 CONFIG_FEATURE_SPLIT_FANCY bool
c 123 CONFIG_FEATURE_HDPARM_HDIO_UNREGISTER_HWIF bool
c 124 CONFIG_DEVFSD_FG_NP bool
c 125 CONFIG_UNCOMPRESS bool
c 126 CONFIG_FEATURE_WGET_STATUSBAR bool
c 127 CONFIG_FEATURE_GUNZIP_UNCOMPRESS bool
c 128 CONFIG_DIFF bool
c 129 CONFIG_UNZIP bool
c 130 CONFIG_IPRULE hidden_bool
c 131 CONFIG_FEATURE_TAR_OLDSUN_COMPATIBILITY bool
c 132 CONFIG_RESIZE bool
c 133 CONFIG_YES bool
c 134 CONFIG_ARP bool
c 135 CONFIG_FEATURE_FIND_NEWER bool
c 136 CONFIG_FEATURE_BUFFERS_GO_IN_BSS choice_bool
c 137 CONFIG_ADDUSER bool
c 138 CONFIG_FEATURE_SUN_LABEL bool
c 139 CONFIG_BZIP2 bool
c 140 CONFIG_FOLD bool
c 141 CONFIG_FEATURE_LS_COLOR_IS_DEFAULT bool
c 142 CONFIG_FEATURE_TAR_LZMA bool
c 143 CONFIG_FEATURE_HTTPD_CGI bool
c 144 CONFIG_SHA1SUM bool
c 145 CONFIG_FEATURE_AR_LONG_FILENAMES bool
c 146 CONFIG_FEATURE_FANCY_TAIL bool
c 147 CONFIG_FEATURE_UDHCP_DEBUG bool
c 148 CONFIG_FEATURE_SORT_BIG bool
c 149 CONFIG_USLEEP bool
c 150 CONFIG_NICE bool
c 151 CONFIG_INSTALL_APPLET_DONT choice_bool
c 152 CONFIG_FEATURE_IP_RULE bool
c 153 CONFIG_VCONFIG bool
c 154 CONFIG_ASH_GETOPTS bool
c 155 CONFIG_FEATURE_MOUNT_FLAGS bool
c 156 CONFIG_HTTPD bool
c 157 CONFIG_TRACEROUTE bool
c 158 CONFIG_TEE bool
c 159 CONFIG_TEST bool
c 160 CONFIG_NAMEIF bool
c 161 CONFIG_ID bool
c 162 CONFIG_FEATURE_FANCY_SLEEP bool
c 163 CONFIG_FEATURE_LZMA_FAST bool
c 164 CONFIG_APP_DHCPRELAY bool
c 165 CONFIG_FEATURE_FIND_MTIME bool
c 166 CONFIG_FEATURE_VI_WIN_RESIZE bool
c 167 CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER choice_bool
c 168 CONFIG_TFTP bool
c 169 CONFIG_FDISK bool
c 170 CONFIG_IPCALC bool
c 171 CONFIG_BUNZIP2 bool
c 172 CONFIG_MOUNT bool
c 173 CONFIG_FEATURE_RESIZE_PRINT bool
c 174 CONFIG_HOSTID bool
c 175 CONFIG_EXPR bool
c 176 CONFIG_FEATURE_FIND_USER bool
c 177 CONFIG_FEATURE_DEVFS bool
c 178 CONFIG_CP bool
c 179 CONFIG_MICROCOM bool
c 180 CONFIG_FEATURE_IP_TUNNEL bool
c 181 CONFIG_CHPST bool
c 182 CONFIG_PREFIX nonbool "./_install"
c 183 CONFIG_FEATURE_IFUPDOWN_MAPPING bool
c 184 CONFIG_FEATURE_LESS_FLAGCS bool
c 185 CONFIG_FEATURE_HTTPD_ERROR_PAGES bool
c 186 CONFIG_ASH_MATH_SUPPORT bool
c 187 CONFIG_FEATURE_FANCY_ECHO bool
c 188 CONFIG_RUNCON bool
c 189 CONFIG_SPLIT bool
c 190 CONFIG_ASH_BUILTIN_ECHO bool
c 191 CONFIG_INSTALL_SH_APPLET_SYMLINK choice_bool
c 192 CONFIG_FEATURE_TELNETD_STANDALONE bool
c 193 CONFIG_SED bool
c 194 CONFIG_FEATURE_TFTP_BLOCKSIZE bool
c 195 CONFIG_RESET bool
c 196 CONFIG_BBCONFIG bool
c 197 CONFIG_FEATURE_MOUNT_NFS bool
c 198 CONFIG_FEATURE_FIND_PRUNE bool
c 199 CONFIG_SLATTACH bool
c 200 CONFIG_FEATURE_INSMOD_LOADINKMEM bool
c 201 CONFIG_FEATURE_READLINK_FOLLOW bool
c 202 CONFIG_WGET bool
c 203 CONFIG_RX bool
c 204 CONFIG_FEATURE_IP_RARE_PROTOCOLS bool
c 205 CONFIG_FEATURE_FANCY_PING bool
c 206 CONFIG_ENVDIR bool
c 207 CONFIG_LOADFONT bool
c 208 CONFIG_FEATURE_USE_TERMIOS bool
c 209 CONFIG_FEATURE_SETCONSOLE_LONG_OPTIONS bool
c 210 CONFIG_FEATURE_MTAB_SUPPORT bool
c 211 CONFIG_NOHUP bool
c 212 CONFIG_FEATURE_TOP_DECIMALS bool
c 213 CONFIG_IP bool
c 214 CONFIG_BUSYBOX_EXEC_PATH nonbool "/proc/self/exe"
c 215 CONFIG_FEATURE_VI_COLON bool
c 216 CONFIG_HEAD bool
c 217 CONFIG_MATCHPATHCON bool
c 218 CONFIG_UMOUNT bool
c 219 CONFIG_DIRNAME bool
c 220 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN bool
c 221 CONFIG_CLEAR bool
c 222 CONFIG_MD5_SIZE_VS_SPEED nonbool 2
c 223 CONFIG_FEATURE_DIFF_BINARY bool
c 224 CONFIG_FEATURE_MKDIR_LONG_OPTIONS bool
c 225 CONFIG_LOCALE_SUPPORT bool
c 226 CONFIG_DEBUG_TFTP bool
c 227 CONFIG_VI bool
c 228 CONFIG_FEATURE_FIND_PRINT0 bool
c 229 CONFIG_FEATURE_HTTPD_RANGES bool
c 230 CONFIG_STRINGS bool
c 231 CONFIG_FEATURE_EDITING bool
c 232 CONFIG_FEATURE_VI_SET bool
c 233 CONFIG_SULOGIN bool
c 234 CONFIG_RDATE bool
c 235 CONFIG_FEATURE_DEB_TAR_LZMA bool
c 236 CONFIG_FDFLUSH bool
c 237 CONFIG_SUM bool
c 238 CONFIG_CKSUM bool
c 239 CONFIG_FEATURE_EDITING_FANCY_PROMPT bool
c 240 CONFIG_KILLALL5 bool
c 241 CONFIG_FEATURE_USE_INITTAB bool
c 242 CONFIG_FEATURE_HAVE_RPC bool
c 243 CONFIG_SETSID bool
c 244 CONFIG_INSTALL_NO_USR bool
c 245 CONFIG_FEATURE_TR_CLASSES bool
c 246 CONFIG_FEATURE_MV_LONG_OPTIONS bool
c 247 CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING bool
c 248 CONFIG_FEATURE_SECURETTY bool
c 249 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_TIME bool
c 250 CONFIG_FEATURE_VI_SETOPTS bool
c 251 CONFIG_EFENCE choice_bool
c 252 CONFIG_FEATURE_TFTP_GET bool
c 253 CONFIG_FEATURE_VERBOSE_USAGE bool
c 254 CONFIG_FEATURE_GREP_EGREP_ALIAS bool
c 255 CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE nonbool 16
c 256 CONFIG_FEATURE_HTTPD_USE_SENDFILE bool
c 257 CONFIG_FEATURE_FIND_PATH bool
c 258 CONFIG_FEATURE_SH_IS_HUSH choice_bool
c 259 CONFIG_FDFORMAT bool
c 260 CONFIG_MKFIFO bool
c 261 CONFIG_DESKTOP bool
c 262 CONFIG_FEATURE_EXTRA_QUIET bool
c 263 CONFIG_PIPE_PROGRESS bool
c 264 CONFIG_FEATURE_RUNCON_LONG_OPTIONS bool
c 265 CONFIG_RESTORECON bool
c 266 CONFIG_FEATURE_LS_TIMESTAMPS bool
c 267 CONFIG_FEATURE_FIND_SIZE bool
c 268 CONFIG_FEATURE_UNEXPAND_LONG_OPTIONS bool
c 269 CONFIG_ENV bool
c 270 CONFIG_STAT bool
c 271 CONFIG_VERBOSE_RESOLUTION_ERRORS bool
c 272 CONFIG_IPTUNNEL hidden_bool
c 273 CONFIG_TELNET bool
c 274 CONFIG_FEATURE_SU_SYSLOG bool
c 275 CONFIG_UPTIME bool
c 276 CONFIG_LESS bool
c 277 CONFIG_FEATURE_IFUPDOWN_IPV4 bool
c 278 CONFIG_HALT bool
c 279 CONFIG_FEATURE_IP_SHORT_FORMS bool
c 280 CONFIG_LS bool
c 281 CONFIG_START_STOP_DAEMON bool
c 282 CONFIG_DUMPKMAP bool
c 283 CONFIG_PRINTF bool
c 284 CONFIG_FEATURE_MOUNT_FSTAB bool
c 285 CONFIG_LOGNAME bool
c 286 CONFIG_FEATURE_LS_RECURSIVE bool
c 287 CONFIG_PGREP bool
c 288 CONFIG_HUSH_JOB bool
c 289 CONFIG_MSH bool
c 290 CONFIG_FEATURE_EDITING_FANCY_KEYS bool
c 291 CONFIG_BB_SYSCTL bool
c 292 CONFIG_FEATURE_SETFILES_CHECK_OPTION bool
c 293 CONFIG_PASSWD bool
c 294 CONFIG_FEATURE_ALLOW_EXEC bool
c 295 CONFIG_ED bool
c 296 CONFIG_CAL bool
c 297 CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY bool
c 298 CONFIG_FEATURE_XARGS_SUPPORT_QUOTES bool
c 299 CONFIG_FEATURE_XARGS_SUPPORT_TERMOPT bool
c 300 CONFIG_FEATURE_SH_IS_NONE choice_bool
c 301 CONFIG_PING6 bool
c 302 CONFIG_NC bool
c 303 CONFIG_FEATURE_LS_FOLLOWLINKS bool
c 304 CONFIG_FEATURE_TRACEROUTE_SOURCE_ROUTE bool
c 305 CONFIG_FEATURE_TAR_GNU_EXTENSIONS bool
c 306 CONFIG_FEATURE_AUTOWIDTH bool
c 307 CONFIG_FAKEIDENTD bool
c 308 CONFIG_WATCHDOG bool
c 309 CONFIG_FEATURE_IFUPDOWN_IP bool
c 310 CONFIG_CRONTAB bool
c 311 CONFIG_TASKSET bool
c 312 CONFIG_FEATURE_HTTPD_CONFIG_WITH_MIME_TYPES bool
c 313 CONFIG_FEATURE_VI_USE_SIGNALS bool
c 314 CONFIG_LAST bool
c 315 CONFIG_FEATURE_UNARCHIVE_TAPE bool
c 316 CONFIG_FEATURE_TAR_BZIP2 bool
c 317 CONFIG_WC bool
c 318 CONFIG_FEATURE_TAR_CREATE bool
c 319 CONFIG_GETOPT bool
c 320 CONFIG_PAM bool
c 321 CONFIG_FEATURE_STAT_FORMAT bool
c 322 CONFIG_FEATURE_LS_SORTFILES bool
c 323 CONFIG_FEATURE_HDPARM_GET_IDENTITY bool
c 324 CONFIG_CHMOD bool
c 325 CONFIG_FEATURE_RPM_BZ2 bool
c 326 CONFIG_FEATURE_MAKEDEVS_LEAF choice_bool
c 327 CONFIG_REALPATH bool
c 328 CONFIG_FEATURE_TAR_GZIP bool
c 329 CONFIG_FEATURE_FIND_REGEX bool
c 330 CONFIG_FEATURE_WC_LARGE bool
c 331 CONFIG_FEATURE_EDITING_HISTORY nonbool 15
c 332 CONFIG_UNIQ bool
c 333 CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY bool
c 334 CONFIG_WHO bool
c 335 CONFIG_FEATURE_FIND_DELETE bool
c 336 CONFIG_HWCLOCK bool
c 337 CONFIG_FEATURE_TAR_COMPRESS bool
c 338 CONFIG_DMESG bool
c 339 CONFIG_FEATURE_MDEV_EXEC bool
c 340 CONFIG_MT bool
c 341 CONFIG_MKNOD bool
c 342 CONFIG_MOUNTPOINT bool
c 343 CONFIG_SETCONSOLE bool
c 344 CONFIG_KILLALL bool
c 345 CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT bool
c 346 CONFIG_FEATURE_VI_SEARCH bool
c 347 CONFIG_FEATURE_TAR_LONG_OPTIONS bool
c 348 CONFIG_SLEEP bool
c 349 CONFIG_FEATURE_INIT_COREDUMPS bool
c 350 CONFIG_WERROR bool
c 351 CONFIG_FEATURE_IFUPDOWN_EXTERNAL_DHCP bool
c 352 CONFIG_FEATURE_FIND_TYPE bool
c 353 CONFIG_FEATURE_START_STOP_DAEMON_LONG_OPTIONS bool
c 354 CONFIG_LOADKMAP bool
c 355 CONFIG_INSTALL bool
c 356 CONFIG_FUSER bool
c 357 CONFIG_SELINUX bool
c 358 CONFIG_FEATURE_INSMOD_LOAD_MAP bool
c 359 CONFIG_FEATURE_INSTALLER bool
c 360 CONFIG_FEATURE_PRESERVE_HARDLINKS bool
c 361 CONFIG_FEATURE_FBSET_FANCY bool
c 362 CONFIG_CHPASSWD bool
c 363 CONFIG_VLOCK bool
c 364 CONFIG_KLOGD bool
c 365 CONFIG_HD bool
c 366 CONFIG_FEATURE_MOUNT_HELPERS bool
c 367 CONFIG_ETHER_WAKE bool
c 368 CONFIG_INSMOD bool
c 369 CONFIG_FEATURE_WGET_AUTHENTICATION bool
c 370 CONFIG_MKSWAP bool
c 371 CONFIG_KBD_MODE bool
c 372 CONFIG_RENICE bool
c 373 CONFIG_CHATTR bool
c 374 CONFIG_NETSTAT bool
c 375 CONFIG_FEATURE_HTTPD_SET_REMOTE_PORT_TO_ENV bool
c 376 CONFIG_OD bool
c 377 CONFIG_FEATURE_CROND_CALL_SENDMAIL bool
c 378 CONFIG_INSTALL_SH_APPLET_HARDLINK choice_bool
c 379 CONFIG_FEATURE_SH_IS_MSH choice_bool
c 380 CONFIG_FEATURE_USERNAME_COMPLETION bool
c 381 CONFIG_TTY bool
c 382 CONFIG_FEATURE_LS_USERNAME bool
c 383 CONFIG_DU bool
c 384 CONFIG_FEATURE_HWCLOCK_LONG_OPTIONS bool
c 385 CONFIG_CROND bool
c 386 CONFIG_PWD bool
c 387 CONFIG_INCLUDE_SUSv2 bool
c 388 CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K bool
c 389 CONFIG_COMM bool
c 390 CONFIG_HDPARM bool
c 391 CONFIG_FEATURE_INETD_RPC bool
c 392 CONFIG_NC_SERVER bool
c 393 CONFIG_FEATURE_2_6_MODULES bool
c 394 CONFIG_FEATURE_HTTPD_ENCODE_URL_STR bool
c 395 CONFIG_ASH_RANDOM_SUPPORT bool
c 396 CONFIG_RPM bool
c 397 CONFIG_FEATURE_IFCONFIG_STATUS bool
c 398 CONFIG_FEATURE_SGI_LABEL bool
c 399 CONFIG_FEATURE_TEST_64 bool
c 400 CONFIG_CHVT bool
c 401 CONFIG_FEATURE_HTTPD_AUTH_MD5 bool
c 402 CONFIG_FEATURE_MOUNT_CIFS bool
c 403 CONFIG_FEATURE_MINIX2 bool
c 404 CONFIG_FEATURE_DEVPTS bool
c 405 CONFIG_FEATURE_FDISK_ADVANCED bool
c 406 CONFIG_XARGS bool
c 407 CONFIG_FEATURE_LESS_BRACKETS bool
c 408 CONFIG_DELUSER bool
c 409 CONFIG_LSMOD bool
c 410 CONFIG_DC bool
c 411 CONFIG_FBSET bool
c 412 CONFIG_FEATURE_INSMOD_LOAD_MAP_FULL bool
c 413 CONFIG_FEATURE_DEB_TAR_GZ bool
c 414 CONFIG_INIT bool
c 415 CONFIG_FSCK_MINIX bool
c 416 CONFIG_MKFS_MINIX bool
c 417 CONFIG_DEALLOCVT bool
c 418 CONFIG_FEATURE_HTTPD_SETUID bool
c 419 CONFIG_FEATURE_DEL_USER_FROM_GROUP bool
c 420 CONFIG_HUSH bool
c 421 CONFIG_BASENAME bool
c 422 CONFIG_FEATURE_COMPRESS_USAGE bool
c 423 CONFIG_RM bool
c 424 CONFIG_LN bool
c 425 CONFIG_FEATURE_FIND_PAREN bool
c 426 CONFIG_FEATURE_EDITING_VI bool
c 427 CONFIG_FEATURE_INIT_SCTTY bool
c 428 CONFIG_FIND bool
c 429 CONFIG_MODPROBE bool
c 430 CONFIG_CUT bool
c 431 CONFIG_FEATURE_RUN_PARTS_FANCY bool
c 432 CONFIG_FDISK_SUPPORT_LARGE_DISKS bool
c 433 CONFIG_FEATURE_FIND_EXEC bool
c 434 CONFIG_HUSH_LOOPS bool
c 435 CONFIG_SETUIDGID bool
c 436 CONFIG_FEATURE_FANCY_HEAD bool
c 437 CONFIG_FEATURE_DIFF_MINIMAL bool
c 438 CONFIG_FEATURE_NETSTAT_WIDE bool
c 439 CONFIG_FEATURE_LESS_REGEXP bool
c 440 CONFIG_MD5SUM bool
c 441 CONFIG_FEATURE_DEB_TAR_BZ2 bool
c 442 CONFIG_FALSE bool
c 443 CONFIG_TAR bool
c 444 CONFIG_LOGIN bool
c 445 CONFIG_MESG bool
c 446 CONFIG_GETSEBOOL bool
c 447 CONFIG_NMETER bool
c 448 CONFIG_IPLINK hidden_bool
c 449 CONFIG_SHOW_USAGE bool
c 450 CONFIG_FEATURE_PIDOF_SINGLE bool
c 451 CONFIG_FEATURE_SYSLOG bool
c 452 CONFIG_FEATURE_IP_ADDRESS bool
c 453 CONFIG_MAKEDEVS bool
c 454 CONFIG_FEATURE_SHADOWPASSWDS bool
c 455 CONFIG_FEATURE_INSMOD_KSYMOOPS_SYMBOLS bool
c 456 CONFIG_PRINTENV bool
c 457 CONFIG_FEATURE_EXPAND_LONG_OPTIONS bool
c 458 CONFIG_SETARCH bool
c 459 CONFIG_DELGROUP bool
c 460 CONFIG_FEATURE_IFCONFIG_SLIP bool
c 461 CONFIG_PING bool
c 462 CONFIG_ASH_BUILTIN_TEST bool
c 463 CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS bool
c 464 CONFIG_FEATURE_HWCLOCK_ADJTIME_FHS bool
c 465 CONFIG_FEATURE_NOLOGIN bool
c 466 CONFIG_LOGREAD bool
c 467 CONFIG_FEATURE_SHARED_BUSYBOX bool
c 468 CONFIG_FEATURE_LESS_MAXLINES nonbool 9999999
c 469 CONFIG_DEVFSD_MODLOAD bool
c 470 CONFIG_DEVFSD bool
c 471 CONFIG_HUSH_HELP bool
c 472 CONFIG_SELINUXENABLED bool
c 473 CONFIG_FEATURE_MODPROBE_MULTIPLE_OPTIONS bool
c 474 CONFIG_IOCTL_HEX2STR_ERROR bool
c 475 CONFIG_FEATURE_RUN_PARTS_LONG_OPTIONS bool
c 476 CONFIG_ECHO bool
c 477 CONFIG_ZCIP bool
c 478 CONFIG_TELNETD bool
c 479 CONFIG_FEATURE_LESS_MARKS bool
c 480 CONFIG_FEATURE_MDEV_CONF bool
c 481 CONFIG_TRUE bool
c 482 CONFIG_IFUPDOWN_IFSTATE_PATH nonbool "/var/run/ifstate"
c 483 CONFIG_CPIO bool
c 484 CONFIG_FSCK bool
c 485 CONFIG_FEATURE_ETC_NETWORKS bool
c 486 CONFIG_CHGRP bool
c 487 CONFIG_MDEV bool
c 488 CONFIG_USE_BB_PWD_GRP bool
c 489 CONFIG_TR bool
c 490 CONFIG_FEATURE_2_4_MODULES bool
c 491 CONFIG_FEATURE_START_STOP_DAEMON_FANCY bool
c 492 CONFIG_EXPAND bool
c 493 CONFIG_ENVUIDGID bool
c 494 CONFIG_CAT bool
c 495 CONFIG_FEATURE_DD_IBS_OBS bool
c 496 CONFIG_FEATURE_FBSET_READMODE bool
c 497 CONFIG_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR bool
c 498 CONFIG_APP_UDHCPC bool
c 499 CONFIG_ADDGROUP bool
c 500 CONFIG_DD bool
c 501 CONFIG_FEATURE_FIND_GROUP bool
c 502 CONFIG_RMDIR bool
c 503 CONFIG_ASH_READ_TIMEOUT bool
c 504 CONFIG_LENGTH bool
c 505 CONFIG_FEATURE_UDHCPC_ARPING bool
c 506 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD bool
c 507 CONFIG_GREP bool
c 508 CONFIG_PSCAN bool
c 509 CONFIG_INSTALL_APPLET_HARDLINKS choice_bool
c 510 CONFIG_SOFTLIMIT bool
c 511 CONFIG_FEATURE_DD_SIGNAL_HANDLING bool
c 512 CONFIG_FEATURE_UMOUNT_ALL bool
c 513 CONFIG_UUENCODE bool
c 514 CONFIG_FEATURE_PIDOF_OMIT bool
c 515 CONFIG_FEATURE_OSF_LABEL bool
c 516 CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS choice_bool
c 517 CONFIG_NITPICK bool
c 518 CONFIG_FEATURE_QUERY_MODULE_INTERFACE hidden_bool
c 519 CONFIG_FEATURE_FAST_TOP bool
c 520 CONFIG_NSLOOKUP bool
c 521 CONFIG_FEATURE_FTPGETPUT_LONG_OPTIONS bool
c 522 CONFIG_FEATURE_INDIVIDUAL bool
c 523 CONFIG_PIDOF bool
c 524 CONFIG_CHOWN bool
c 525 CONFIG_CHROOT bool
c 526 CONFIG_CRYPTPW bool
c 527 CONFIG_FEATURE_FIND_MMIN bool
c 528 CONFIG_DPKG_DEB bool
c 529 CONFIG_FEATURE_SU_CHECKS_SHELLS bool
c 530 CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS bool
c 531 CONFIG_DPKG bool
c 532 CONFIG_FEATURE_HDPARM_HDIO_SCAN_HWIF bool
c 533 CONFIG_DEVFSD_VERBOSE bool
c 534 CONFIG_PIVOT_ROOT bool
c 535 CONFIG_FEATURE_IFUPDOWN_IPV6 bool
c 536 CONFIG_FEATURE_ADDUSER_TO_GROUP bool
c 537 CONFIG_FEATURE_LS_COLOR bool
c 538 CONFIG_INSTALL_APPLET_SYMLINKS choice_bool
c 539 CONFIG_SU bool
c 540 CONFIG_RPM2CPIO bool
c 541 CONFIG_FEATURE_HDPARM_HDIO_GETSET_DMA bool
c 542 CONFIG_MONOTONIC_SYSCALL bool
c 543 CONFIG_FEATURE_TRACEROUTE_VERBOSE bool
c 544 CONFIG_RUNSV bool
c 545 CONFIG_FEATURE_AIX_LABEL bool
c 546 CONFIG_HOSTNAME bool
c 547 CONFIG_ROUTE bool
c 548 CONFIG_USE_BB_SHADOW bool
c 549 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME bool
c 550 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_ECHO bool
c 551 CONFIG_FEATURE_IPC_SYSLOG bool
c 552 CONFIG_FEATURE_HDPARM_HDIO_TRISTATE_HWIF bool
c 553 CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE bool
c 554 CONFIG_GETOPT_LONG bool
c 555 CONFIG_LOSETUP bool
c 556 CONFIG_FEATURE_VI_DOT_CMD bool
c 557 CONFIG_FEATURE_SH_EXTRA_QUIET bool
c 558 CONFIG_FEATURE_BUFFERS_USE_MALLOC choice_bool
c 559 CONFIG_FEATURE_DATE_ISOFMT bool
c 560 CONFIG_ASH_MATH_SUPPORT_64 bool
c 561 CONFIG_UDHCPC_SLACK_FOR_BUGGY_SERVERS nonbool 80
c 562 CONFIG_FEATURE_INIT_SYSLOG bool
c 563 CONFIG_IPCRM bool
c 564 CONFIG_FEATURE_IFUPDOWN_IP_BUILTIN bool
c 565 CONFIG_FEATURE_SUID_CONFIG bool
c 566 CONFIG_AWK bool
c 567 CONFIG_SETFILES bool
c 568 CONFIG_EXPR_MATH_SUPPORT_64 bool
c 569 CONFIG_FEATURE_VI_READONLY bool
c 570 CONFIG_APP_UDHCPD bool
c 571 CONFIG_DEBUG_INIT bool
c 572 CONFIG_FEATURE_DIFF_DIR bool
c 573 CONFIG_DATE bool
c 574 CONFIG_WHOAMI bool
c 575 CONFIG_INETD bool
c 576 CONFIG_FEATURE_HEXDUMP_REVERSE bool
c 577 CONFIG_FEATURE_DF_INODE bool
c 578 CONFIG_FEATURE_IFCONFIG_HW bool
c 579 CONFIG_GETTY bool
c 580 CONFIG_FEATURE_DMESG_PRETTY bool
c 581 CONFIG_ASH_EXPAND_PRMT bool
c 582 CONFIG_FTPPUT bool
c 583 CONFIG_SETENFORCE bool
c 584 CONFIG_SWAPONOFF bool
c 585 CONFIG_FEATURE_FIND_NOT bool
c 586 CONFIG_SV bool
c 587 CONFIG_FEATURE_FIND_INUM bool
c 588 CONFIG_ASH_OPTIMIZE_FOR_SIZE bool
c 589 CONFIG_FEATURE_IPCALC_LONG_OPTIONS bool
c 590 CONFIG_DEBUG bool
c 591 CONFIG_TOP bool
c 592 CONFIG_FEATURE_ENV_LONG_OPTIONS bool
c 593 CONFIG_ASH_CMDCMD bool
c 594 CONFIG_UNEXPAND bool
c 595 CONFIG_FEATURE_PS_WIDE bool
c 596 CONFIG_EJECT bool
c 597 CONFIG_APP_DUMPLEASES bool
c 598 CONFIG_UNLZMA bool
c 599 CONFIG_SVLOGD bool
c 600 CONFIG_FEATURE_FIND_DEPTH bool
c 601 CONFIG_FEATURE_TEE_USE_BLOCK_IO bool
c 602 CONFIG_FEATURE_TAR_OLDGNU_COMPATIBILITY bool
c 603 CONFIG_FEATURE_GREP_FGREP_ALIAS bool
c 604 CONFIG_CHCON bool
c 605 CONFIG_SORT bool
c 606 CONFIG_FEATURE_MKSWAP_V0 bool
c 607 CONFIG_IPROUTE hidden_bool
c 608 CONFIG_READPROFILE bool
c 609 CONFIG_FEATURE_INSMOD_VERSION_CHECKING bool
c 610 CONFIG_TCPSVD bool
c 611 CONFIG_FEATURE_HUMAN_READABLE bool
c 612 CONFIG_TOUCH bool
c 613 CONFIG_FEATURE_INITRD bool
c 614 CONFIG_HUSH_IF bool
c 615 CONFIG_TIME bool
c 616 CONFIG_STTY bool
c 617 CONFIG_TTYSIZE bool
c 618 CONFIG_READAHEAD bool
c 619 CONFIG_SYSLOGD bool
c 620 CONFIG_NO_DEBUG_LIB choice_bool
c 621 CONFIG_UDPSVD bool
c 622 CONFIG_ASH_ALIAS bool
c 623 CONFIG_GETENFORCE bool
c 624 CONFIG_FREE bool
c 625 CONFIG_FEATURE_HDPARM_HDIO_DRIVE_RESET bool
c 626 CONFIG_FEATURE_IPCALC_FANCY bool
c 627 CONFIG_FEATURE_PREFER_IPV4_ADDRESS bool
c 628 CONFIG_FEATURE_AWK_MATH bool
c 629 CONFIG_ARPING bool
p cnf 629 516
1 -240 0
202 -369 0
-297 570 0
227 -294 566 0
280 -286 0
-83 487 0
317 -330 0
-377 385 0
-264 357 554 0
111 213 -564 0
-19 34 0
227 -313 0
443 -602 0
280 -537 554 0
172 -366 0
357 -604 0
-136 -558 0
68 -227 0
-420 476 0
59 -138 0
172 -402 0
53 -77 -467 0
-391 575 0
451 -470 0
156 -312 0
-420 481 0
216 -436 0
-353 554 0
81 -334 0
-29 -326 0
-328 443 0
429 -473 0
280 -303 0
-498 561 0
-126 202 0
-167 -378 0
302 -392 0
-35 213 564 0
84 368 429 -490 0
51 -351 0
157 -543 0
498 -561 570 0
-253 449 0
-550 575 0
-120 279 0
-516 -538 0
-289 481 0
280 -382 0
118 0
109 280 383 -611 0
-262 414 0
390 -541 0
-32 302 0
180 -272 0
109 -577 0
370 -606 0
-180 213 0
156 -229 0
143 -375 0
368 -609 0
338 -580 0
-345 409 0
159 -462 0
-167 516 0
51 -121 0
168 -226 0
-29 453 0
-44 273 0
91 -127 0
-103 280 0
67 -595 0
-184 276 0
-106 -251 0
-209 343 0
18 -154 0
159 -289 0
-8 276 0
-87 420 0
-113 -169 432 0
-352 428 0
-66 314 444 539 579 0
112 136 -517 558 0
-152 213 0
-320 444 0
-74 428 0
-151 -516 0
104 -563 0
98 0
18 -462 0
-361 411 0
-39 604 0
-69 393 429 0
-64 428 0
105 -201 0
-457 492 0
-121 547 0
-264 357 0
104 -539 0
-420 442 0
111 -564 0
66 -314 -579 0
-300 -379 0
231 -426 0
-167 -191 0
336 -464 0
-73 428 0
269 -592 0
561 -570 0
168 -194 0
-553 591 0
-455 490 0
86 -475 0
-549 575 0
132 -173 0
18 -190 0
-293 451 0
428 -585 0
-217 357 0
18 -622 0
414 -613 0
18 -395 0
-333 528 0
-155 172 0
-267 428 0
357 -583 0
66 -81 334 444 539 579 0
-47 507 0
-65 168 0
-205 461 0
-72 517 0
-325 396 0
-289 442 0
-326 453 0
429 -473 517 0
-231 331 0
-425 428 0
-268 594 0
428 -433 0
-228 428 0
-463 553 0
374 -438 0
454 488 -548 0
29 326 -453 0
-220 575 0
-112 -558 0
-77 -522 0
-307 451 0
104 -565 0
-36 619 0
-514 523 0
-69 429 517 0
-249 575 0
-192 478 0
-257 428 0
-441 528 531 0
213 452 -564 0
-559 573 0
357 -623 0
390 -625 0
-46 202 0
43 -365 0
227 -569 0
414 -427 0
428 -501 0
-66 81 -579 0
-187 476 0
-39 357 604 0
128 -437 0
-164 570 0
130 -152 -279 0
-17 420 0
-457 554 0
104 -363 0
279 -607 0
-35 -279 448 0
428 -600 0
69 -393 -429 517 0
390 -552 0
-215 227 0
213 -279 0
-529 539 0
-378 516 0
-57 231 0
81 -334 -539 0
-68 227 0
-51 482 0
-200 490 0
-151 -538 0
-480 487 0
113 -618 0
53 -467 0
270 -321 0
51 -535 0
85 -146 0
-42 -379 0
188 -264 0
227 -250 0
428 -527 0
-301 461 0
420 -434 0
-130 279 0
-23 -53 0
-143 156 0
-69 393 0
-329 428 0
18 -581 0
18 -593 0
84 368 -393 429 0
13 -288 0
18 -588 0
488 -548 0
470 -533 0
-15 23 0
-62 100 0
-39 554 604 0
242 -391 0
159 -420 0
-37 172 218 0
172 -284 0
383 -388 0
-347 554 0
-258 420 0
17 18 289 420 -557 0
-121 -309 0
-204 213 0
-46 554 0
-385 451 0
507 -603 0
490 -609 0
-112 517 0
35 -213 -564 0
-80 357 0
-235 528 531 0
451 -478 0
-335 428 0
213 -452 564 0
-254 507 0
-69 429 0
-33 591 0
128 -572 0
-422 449 0
188 -264 357 0
34 -121 0
-212 553 0
218 -512 0
188 -264 554 0
517 -558 0
53 -77 -522 0
-180 272 -279 0
-48 489 0
-69 393 517 0
289 -379 0
452 -564 0
104 -310 0
281 -353 0
-2 157 0
-122 189 0
-41 385 0
-94 565 0
168 -252 0
1 -344 0
-335 600 0
214 0
-13 420 0
-78 227 0
-274 539 0
280 -537 0
106 251 620 0
-551 619 0
170 -626 0
26 -145 0
-358 393 490 0
-276 468 0
172 -210 218 0
81 -334 -444 0
-142 443 0
451 -539 0
-160 451 0
82 -521 582 0
18 -57 0
59 -405 0
-55 619 0
159 -399 0
-66 81 -334 0
51 -482 0
-264 554 0
16 -301 0
-266 280 0
-224 554 0
-305 443 0
-123 390 0
414 -571 0
-141 537 0
-148 605 0
-115 357 0
-113 169 432 0
-339 480 0
-111 213 564 0
-4 355 0
-130 152 0
309 -564 0
-191 -378 0
-113 432 0
120 -279 -452 0
186 -560 0
-316 443 0
156 -256 0
-349 414 0
231 -239 0
88 273 280 -306 0
-59 169 0
-3 231 0
-200 368 0
158 -601 0
-245 489 0
428 -587 0
-191 516 0
-255 551 0
227 -232 0
-42 -300 0
-498 561 -570 0
16 -535 0
-393 -518 0
156 -185 0
-475 554 0
18 -42 0
-197 451 0
-52 104 0
169 -405 0
-151 -509 0
-414 451 0
-419 459 0
500 -511 0
-358 368 0
-97 406 0
-79 443 0
281 -491 0
276 -479 0
60 -401 0
-233 451 0
-166 227 0
51 -277 0
-77 -467 0
-537 554 0
336 -384 0
-147 498 570 0
35 -564 0
-60 156 0
-213 452 -564 0
95 -246 0
-4 554 0
451 -575 0
-42 -258 0
499 -536 0
-24 156 0
3 -380 0
35 -448 0
95 178 -360 0
-466 551 0
-429 473 517 0
420 -614 0
393 -490 518 0
167 191 378 -516 0
-188 357 0
113 169 -432 0
59 -398 0
420 -471 0
182 0
15 23 -151 359 0
276 -407 0
-298 406 0
16 -627 0
169 -398 0
51 -183 0
111 -213 -564 0
-265 357 0
-509 -516 0
-39 554 0
454 -548 0
-117 368 409 0
231 -331 0
66 -314 0
-106 -620 0
51 -309 0
88 -208 0
111 -607 0
444 -465 0
570 -597 0
-337 443 0
-323 390 0
-66 81 -539 0
-268 554 0
-495 500 0
172 -197 0
-450 523 0
-506 575 0
34 -530 0
-136 517 0
227 -346 0
368 -455 0
175 -568 0
-318 443 0
279 -448 0
-248 444 0
59 -515 0
390 -532 0
213 -564 0
-15 17 18 289 420 0
-70 293 0
169 -515 0
-509 -538 0
357 -472 0
-93 357 0
104 -293 0
66 -314 -444 0
104 -444 0
51 -121 -309 0
498 -505 0
-469 470 0
-120 452 0
-124 470 0
59 -545 0
-198 428 0
170 -589 0
-384 554 0
414 -562 0
-444 451 0
-58 311 0
554 -589 0
156 -394 0
566 -628 0
128 -223 0
-247 466 0
143 -497 0
18 -54 0
86 -431 0
34 -397 0
-315 443 483 0
-251 -620 0
43 -576 0
169 -545 0
-403 415 416 0
18 -22 0
358 -412 0
156 -418 0
42 258 300 379 0
-258 -379 0
-163 598 0
276 -468 0
-112 -136 0
-197 242 0
-39 357 554 0
231 -290 0
-111 -279 607 0
-80 428 0
62 -100 0
-11 406 0
151 509 516 538 0
18 -186 0
-50 144 440 0
554 -592 0
-246 554 0
34 -578 0
-108 498 570 0
-5 451 0
-162 348 0
357 -446 0
451 -579 0
-521 554 0
-138 169 0
411 -496 0
-31 231 0
-12 18 0
-30 156 0
104 -385 0
-292 567 0
31 -231 0
-165 428 0
255 -551 0
-66 81 334 444 539 579 0
-241 414 0
490 -518 0
81 -334 -579 0
-347 443 0
-39 357 0
227 -556 0
-258 -300 0
-190 476 0
-66 81 -444 0
53 -522 0
-272 279 0
451 -477 0
280 -322 0
-18 159 0
222 0
-176 428 0
35 213 -564 0
-66 81 0
-209 554 0
-107 357 0
-292 357 0
-299 406 0
18 -503 0
-131 443 0
49 0
-413 528 531 0
276 -439 0
-40 273 0
-116 444 0
-101 227 0
357 -567 0
38 -224 0
66 -314 -539 0
157 -304 0
-135 428 0
34 -460 0
