c 1 CONFIG_KILL bool
c 2 CONFIG_FEATURE_TRACEROUTE_USE_ICMP bool
c 3 CONFIG_FEATURE_TAB_COMPLETION bool
c 4 CONFIG_FEATURE_INSTALL_LONG_OPTIONS bool
c 5 CONFIG_LOGGER bool
c 6 CONFIG_WHICH bool
c 7 CONFIG_FEATURE_PIDFILE bool
c 8 CONFIG_FEATURE_LESS_FLAGS bool
c 9 CONFIG_RAIDAUTORUN bool
c 10 CONFIG_LSATTR bool
c 11 CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION bool
c 12 CONFIG_ASH_MAIL bool
c 13 CONFIG_HUSH_INTERACTIVE bool
c 14 CONFIG_UUDECODE bool
c 15 CONFIG_FEATURE_SH_STANDALONE bool
c 16 CONFIG_FEATURE_IPV6 bool
c 17 CONFIG_LASH bool
c 18 CONFIG_ASH bool
c 19 CONFIG_FEATURE_IFCONFIG_MEMSTART_IOADDR_IRQ bool
c 20 CONFIG_OPENVT bool
c 21 CONFIG_SWITCH_ROOT bool
c 22 CONFIG_ASH_READ_NCHARS bool
c 23 CONFIG_FEATURE_PREFER_APPLETS bool
c 24 CONFIG_FEATURE_HTTPD_PROXY bool
c 25 CONFIG_ADJTIMEX bool
c 26 CONFIG_AR bool
c 27 CONFIG_CTTYHACK bool
c 28 CONFIG_WATCH bool
c 29 CONFIG_FEATURE_MAKEDEVS_TABLE choice_bool
c 30 CONFIG_FEATURE_HTTPD_RELOAD_CONFIG_SIGHUP bool
c 31 CONFIG_FEATURE_EDITING_MAX_LEN nonbool 1024
c 32 CONFIG_NC_EXTRA bool
c 33 CONFIG_FEATURE_TOPMEM bool
c 34 CONFIG_IFCONFIG bool
c 35 CONFIG_FEATURE_IP_LINK bool
c 36 CONFIG_FEATURE_ROTATE_LOGFILE bool
c 37 CONFIG_FEATURE_MOUNT_LOOP bool
c 38 CONFIG_MKDIR bool
c 39 CONFIG_FEATURE_CHCON_LONG_OPTIONS bool
c 40 CONFIG_FEATURE_TELNET_AUTOLOGIN bool
c 41 CONFIG_DEBUG_CROND_OPTION bool
c 42 CONFIG_FEATURE_SH_IS_ASH choice_bool
c 43 CONFIG_HEXDUMP bool
c 44 CONFIG_FEATURE_TELNET_TTYPE bool
c 45 CONFIG_CATV bool
c 46 CONFIG_FEATURE_WGET_LONG_OPTIONS bool
c 47 CONFIG_FEATURE_GREP_CONTEXT bool
c 48 CONFIG_FEATURE_TR_EQUIV bool
c 49 CONFIG_PASSWORD_MINLEN nonbool 6
c 50 CONFIG_FEATURE_MD5_SHA1_SUM_CHECK bool
c 51 CONFIG_IFUPDOWN bool
c 52 CONFIG_IPCS bool
c 53 CONFIG_BUILD_LIBBUSYBOX bool
c 54 CONFIG_ASH_JOB_CONTROL bool
c 55 CONFIG_FEATURE_REMOTE_LOG bool
c 56 CONFIG_FREERAMDISK bool
c 57 CONFIG_FEATURE_EDITING_SAVEHISTORY bool
c 58 CONFIG_FEATURE_TASKSET_FANCY bool
c 59 CONFIG_FEATURE_FDISK_WRITABLE bool
c 60 CONFIG_FEATURE_HTTPD_BASIC_AUTH bool
c 61 CONFIG_SETKEYCODES bool
c 62 CONFIG_UNIX2DOS hidden_bool
c 63 CONFIG_SEQ bool
c 64 CONFIG_FEATURE_FIND_XDEV bool
c 65 CONFIG_FEATURE_TFTP_PUT bool
c 66 CONFIG_FEATURE_WTMP bool
c 67 CONFIG_PS bool
c 68 CONFIG_FEATURE_VI_MAX_LEN nonbool 1024
c 69 CONFIG_FEATURE_MODPROBE_FANCY_ALIAS bool
c 70 CONFIG_FEATURE_PASSWD_WEAK_CHECK bool
c 71 CONFIG_SYNC bool
c 72 CONFIG_FEATURE_CLEAN_UP bool
c 73 CONFIG_FEATURE_FIND_PERM bool
c 74 CONFIG_FEATURE_FIND_MAXDEPTH bool
c 75 CONFIG_GZIP bool
c 76 CONFIG_CHRT bool
c 77 CONFIG_STATIC bool
c 78 CONFIG_FEATURE_VI_YANKMARK bool
c 79 CONFIG_FEATURE_TAR_FROM bool
c 80 CONFIG_FEATURE_FIND_CONTEXT bool
c 81 CONFIG_FEATURE_UTMP bool
c 82 CONFIG_FTPGET bool
c 83 CONFIG_FEATURE_MDEV_LOAD_FIRMWARE bool
c 84 CONFIG_RMMOD bool
c 85 CONFIG_TAIL bool
c 86 CONFIG_RUN_PARTS bool
c 87 CONFIG_HUSH_TICK bool
c 88 CONFIG_MORE bool
c 89 CONFIG_DNSD bool
c 90 CONFIG_CMP bool
c 91 CONFIG_GUNZIP bool
c 92 CONFIG_UNAME bool
c 93 CONFIG_LOAD_POLICY bool
c 94 CONFIG_FEATURE_SUID_CONFIG_QUIET bool
c 95 CONFIG_MV bool
c 96 CONFIG_PATCH bool
c 97 CONFIG_FEATURE_XARGS_SUPPORT_ZERO_TERM bool
c 98 CONFIG_HAVE_DOT_CONFIG hidden_bool
c 99 CONFIG_PKILL bool
c 100 CONFIG_DOS2UNIX bool
c 101 CONFIG_FEATURE_VI_OPTIMIZE_CURSOR bool
c 102 CONFIG_MKTEMP bool
c 103 CONFIG_FEATURE_LS_FILETYPES bool
c 104 CONFIG_FEATURE_SUID bool
c 105 CONFIG_READLINK bool
c 106 CONFIG_DMALLOC choice_bool
c 107 CONFIG_SETSEBOOL bool
c 108 CONFIG_FEATURE_RFC3397 bool
c 109 CONFIG_DF bool
c 110 CONFIG_RUNLEVEL bool
c 111 CONFIG_FEATURE_IP_ROUTE bool
c 112 CONFIG_FEATURE_BUFFERS_GO_ON_STACK choice_bool
c 113 CONFIG_LFS bool
c 114 CONFIG_SETLOGCONS bool
c 115 CONFIG_LOGIN_SCRIPTS bool
c 116 CONFIG_FEATURE_CHECK_TAINTED_MODULE bool
c 117 CONFIG_RUNSVDIR bool
c 118 CONFIG_IPADDR hidden_bool
c 119 CONFIG_FEATURE_IFUPDOWN_IFCONFIG_BUILTIN bool
c 120 CONFIG_FEATURE_SPLIT_FANCY bool
c 121 CONFIG_FEATURE_HDPARM_HDIO_UNREGISTER_HWIF bool
c 122 CONFIG_DEVFSD_FG_NP bool
c 123 CONFIG_UNCOMPRESS bool
c 124 CONFIG_FEATURE_WGET_STATUSBAR bool
c 125 CONFIG_FEATURE_GUNZIP_UNCOMPRESS bool
c 126 CONFIG_DIFF bool
c 127 CONFIG_UNZIP bool
c 128 CONFIG_IPRULE hidden_bool
c 129 CONFIG_FEATURE_TAR_OLDSUN_COMPATIBILITY bool
c 130 CONFIG_RESIZE bool
c 131 CONFIG_YES bool
c 132 CONFIG_ARP bool
c 133 CONFIG_FEATURE_FIND_NEWER bool
c 134 CONFIG_FEATURE_BUFFERS_GO_IN_BSS choice_bool
c 135 CONFIG_ADDUSER bool
c 136 CONFIG_FEATURE_SUN_LABEL bool
c 137 CONFIG_BZIP2 bool
c 138 CONFIG_FOLD bool
c 139 CONFIG_FEATURE_LS_COLOR_IS_DEFAULT bool
c 140 CONFIG_FEATURE_TAR_LZMA bool
c 141 CONFIG_FEATURE_HTTPD_CGI bool
c 142 CONFIG_SHA1SUM bool
c 143 CONFIG_FEATURE_AR_LONG_FILENAMES bool
c 144 CONFIG_FEATURE_FANCY_TAIL bool
c 145 CONFIG_FEATURE_UDHCP_DEBUG bool
c 146 CONFIG_FEATURE_SORT_BIG bool
c 147 CONFIG_USLEEP bool
c 148 CONFIG_NICE bool
c 149 CONFIG_INSTALL_APPLET_DONT choice_bool
c 150 CONFIG_FEATURE_IP_RULE bool
c 151 CONFIG_VCONFIG bool
c 152 CONFIG_ASH_GETOPTS bool
c 153 CONFIG_FEATURE_MOUNT_FLAGS bool
c 154 CONFIG_HTTPD bool
c 155 CONFIG_TRACEROUTE bool
c 156 CONFIG_TEE bool
c 157 CONFIG_TEST bool
c 158 CONFIG_NAMEIF bool
c 159 CONFIG_ID bool
c 160 CONFIG_FEATURE_FANCY_SLEEP bool
c 161 CONFIG_FEATURE_LZMA_FAST bool
c 162 CONFIG_APP_DHCPRELAY bool
c 163 CONFIG_FEATURE_FIND_MTIME bool
c 164 CONFIG_FEATURE_SH_IS_LASH choice_bool
c 165 CONFIG_FEATURE_VI_WIN_RESIZE bool
c 166 CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER choice_bool
c 167 CONFIG_TFTP bool
c 168 CONFIG_FDISK bool
c 169 CONFIG_IPCALC bool
c 170 CONFIG_BUNZIP2 bool
c 171 CONFIG_MOUNT bool
c 172 CONFIG_FEATURE_RESIZE_PRINT bool
c 173 CONFIG_HOSTID bool
c 174 CONFIG_EXPR bool
c 175 CONFIG_FEATURE_FIND_USER bool
c 176 CONFIG_FEATURE_DEVFS bool
c 177 CONFIG_CP bool
c 178 CONFIG_MICROCOM bool
c 179 CONFIG_FEATURE_IP_TUNNEL bool
c 180 CONFIG_CHPST bool
c 181 CONFIG_PREFIX nonbool "./_install"
c 182 CONFIG_FEATURE_IFUPDOWN_MAPPING bool
c 183 CONFIG_FEATURE_LESS_FLAGCS bool
c 184 CONFIG_FEATURE_HTTPD_ERROR_PAGES bool
c 185 CONFIG_ASH_MATH_SUPPORT bool
c 186 CONFIG_FEATURE_FANCY_ECHO bool
c 187 CONFIG_RUNCON bool
c 188 CONFIG_SPLIT bool
c 189 CONFIG_ASH_BUILTIN_ECHO bool
c 190 CONFIG_INSTALL_SH_APPLET_SYMLINK choice_bool
c 191 CONFIG_FEATURE_TELNETD_STANDALONE bool
c 192 CONFIG_SED bool
c 193 CONFIG_FEATURE_TFTP_BLOCKSIZE bool
c 194 CONFIG_RESET bool
c 195 CONFIG_BBCONFIG bool
c 196 CONFIG_FEATURE_MOUNT_NFS bool
c 197 CONFIG_FEATURE_FIND_PRUNE bool
c 198 CONFIG_SLATTACH bool
c 199 CONFIG_FEATURE_INSMOD_LOADINKMEM bool
c 200 CONFIG_FEATURE_READLINK_FOLLOW bool
c 201 CONFIG_WGET bool
c 202 CONFIG_RX bool
c 203 CONFIG_FEATURE_FANCY_PING bool
c 204 CONFIG_ENVDIR bool
c 205 CONFIG_LOADFONT bool
c 206 CONFIG_FEATURE_USE_TERMIOS bool
c 207 CONFIG_FEATURE_SETCONSOLE_LONG_OPTIONS bool
c 208 CONFIG_FEATURE_MTAB_SUPPORT bool
c 209 CONFIG_NOHUP bool
c 210 CONFIG_FEATURE_TOP_DECIMALS bool
c 211 CONFIG_IP bool
c 212 CONFIG_BUSYBOX_EXEC_PATH nonbool "/proc/self/exe"
c 213 CONFIG_FEATURE_VI_COLON bool
c 214 CONFIG_HEAD bool
c 215 CONFIG_MATCHPATHCON bool
c 216 CONFIG_UMOUNT bool
c 217 CONFIG_DIRNAME bool
c 218 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN bool
c 219 CONFIG_CLEAR bool
c 220 CONFIG_MD5_SIZE_VS_SPEED nonbool 2
c 221 CONFIG_FEATURE_DIFF_BINARY bool
c 222 CONFIG_FEATURE_MKDIR_LONG_OPTIONS bool
c 223 CONFIG_LOCALE_SUPPORT bool
c 224 CONFIG_DEBUG_TFTP bool
c 225 CONFIG_VI bool
c 226 CONFIG_FEATURE_FIND_PRINT0 bool
c 227 CONFIG_FEATURE_HTTPD_RANGES bool
c 228 CONFIG_STRINGS bool
c 229 CONFIG_FEATURE_EDITING bool
c 230 CONFIG_FEATURE_VI_SET bool
c 231 CONFIG_SULOGIN bool
c 232 CONFIG_RDATE bool
c 233 CONFIG_FEATURE_DEB_TAR_LZMA bool
c 234 CONFIG_FDFLUSH bool
c 235 CONFIG_SUM bool
c 236 CONFIG_CKSUM bool
c 237 CONFIG_FEATURE_EDITING_FANCY_PROMPT bool
c 238 CONFIG_KILLALL5 bool
c 239 CONFIG_FEATURE_USE_INITTAB bool
c 240 CONFIG_FEATURE_HAVE_RPC bool
c 241 CONFIG_SETSID bool
c 242 CONFIG_INSTALL_NO_USR bool
c 243 CONFIG_FEATURE_TR_CLASSES bool
c 244 CONFIG_FEATURE_MV_LONG_OPTIONS bool
c 245 CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING bool
c 246 CONFIG_FEATURE_SECURETTY bool
c 247 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_TIME bool
c 248 CONFIG_FEATURE_VI_SETOPTS bool
c 249 CONFIG_EFENCE choice_bool
c 250 CONFIG_FEATURE_TFTP_GET bool
c 251 CONFIG_FEATURE_VERBOSE_USAGE bool
c 252 CONFIG_FEATURE_GREP_EGREP_ALIAS bool
c 253 CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE nonbool 16
c 254 CONFIG_FEATURE_HTTPD_USE_SENDFILE bool
c 255 CONFIG_FEATURE_FIND_PATH bool
c 256 CONFIG_FEATURE_SH_IS_HUSH choice_bool
c 257 CONFIG_FDFORMAT bool
c 258 CONFIG_MKFIFO bool
c 259 CONFIG_DESKTOP bool
c 260 CONFIG_FEATURE_EXTRA_QUIET bool
c 261 CONFIG_PIPE_PROGRESS bool
c 262 CONFIG_FEATURE_RUNCON_LONG_OPTIONS bool
c 263 CONFIG_RESTORECON bool
c 264 CONFIG_FEATURE_LS_TIMESTAMPS bool
c 265 CONFIG_FEATURE_FIND_SIZE bool
c 266 CONFIG_FEATURE_UNEXPAND_LONG_OPTIONS bool
c 267 CONFIG_ENV bool
c 268 CONFIG_STAT bool
c 269 CONFIG_VERBOSE_RESOLUTION_ERRORS bool
c 270 CONFIG_IPTUNNEL hidden_bool
c 271 CONFIG_TELNET bool
c 272 CONFIG_FEATURE_SU_SYSLOG bool
c 273 CONFIG_UPTIME bool
c 274 CONFIG_LESS bool
c 275 CONFIG_FEATURE_IFUPDOWN_IPV4 bool
c 276 CONFIG_HALT bool
c 277 CONFIG_FEATURE_IP_SHORT_FORMS bool
c 278 CONFIG_LS bool
c 279 CONFIG_START_STOP_DAEMON bool
c 280 CONFIG_DUMPKMAP bool
c 281 CONFIG_PRINTF bool
c 282 CONFIG_FEATURE_MOUNT_FSTAB bool
c 283 CONFIG_LOGNAME bool
c 284 CONFIG_FEATURE_LS_RECURSIVE bool
c 285 CONFIG_PGREP bool
c 286 CONFIG_HUSH_JOB bool
c 287 CONFIG_MSH bool
c 288 CONFIG_FEATURE_EDITING_FANCY_KEYS bool
c 289 CONFIG_BB_SYSCTL bool
c 290 CONFIG_FEATURE_SETFILES_CHECK_OPTION bool
c 291 CONFIG_PASSWD bool
c 292 CONFIG_FEATURE_ALLOW_EXEC bool
c 293 CONFIG_ED bool
c 294 CONFIG_CAL bool
c 295 CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY bool
c 296 CONFIG_FEATURE_XARGS_SUPPORT_QUOTES bool
c 297 CONFIG_FEATURE_XARGS_SUPPORT_TERMOPT bool
c 298 CONFIG_FEATURE_SH_IS_NONE choice_bool
c 299 CONFIG_PING6 bool
c 300 CONFIG_NC bool
c 301 CONFIG_FEATURE_LS_FOLLOWLINKS bool
c 302 CONFIG_FEATURE_TRACEROUTE_SOURCE_ROUTE bool
c 303 CONFIG_FEATURE_TAR_GNU_EXTENSIONS bool
c 304 CONFIG_FEATURE_AUTOWIDTH bool
c 305 CONFIG_FAKEIDENTD bool
c 306 CONFIG_WATCHDOG bool
c 307 CONFIG_FEATURE_IFUPDOWN_IP bool
c 308 CONFIG_CRONTAB bool
c 309 CONFIG_TASKSET bool
c 310 CONFIG_FEATURE_HTTPD_CONFIG_WITH_MIME_TYPES bool
c 311 CONFIG_FEATURE_VI_USE_SIGNALS bool
c 312 CONFIG_LAST bool
c 313 CONFIG_FEATURE_UNARCHIVE_TAPE bool
c 314 CONFIG_FEATURE_TAR_BZIP2 bool
c 315 CONFIG_WC bool
c 316 CONFIG_FEATURE_TAR_CREATE bool
c 317 CONFIG_GETOPT bool
c 318 CONFIG_PAM bool
c 319 CONFIG_FEATURE_STAT_FORMAT bool
c 320 CONFIG_FEATURE_LS_SORTFILES bool
c 321 CONFIG_FEATURE_HDPARM_GET_IDENTITY bool
c 322 CONFIG_CHMOD bool
c 323 CONFIG_FEATURE_RPM_BZ2 bool
c 324 CONFIG_FEATURE_MAKEDEVS_LEAF choice_bool
c 325 CONFIG_REALPATH bool
c 326 CONFIG_FEATURE_TAR_GZIP bool
c 327 CONFIG_FEATURE_FIND_REGEX bool
c 328 CONFIG_FEATURE_WC_LARGE bool
c 329 CONFIG_FEATURE_EDITING_HISTORY nonbool 15
c 330 CONFIG_UNIQ bool
c 331 CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY bool
c 332 CONFIG_WHO bool
c 333 CONFIG_FEATURE_FIND_DELETE bool
c 334 CONFIG_HWCLOCK bool
c 335 CONFIG_FEATURE_TAR_COMPRESS bool
c 336 CONFIG_DMESG bool
c 337 CONFIG_FEATURE_MDEV_EXEC bool
c 338 CONFIG_MT bool
c 339 CONFIG_MKNOD bool
c 340 CONFIG_MOUNTPOINT bool
c 341 CONFIG_SETCONSOLE bool
c 342 CONFIG_KILLALL bool
c 343 CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT bool
c 344 CONFIG_FEATURE_VI_SEARCH bool
c 345 CONFIG_FEATURE_TAR_LONG_OPTIONS bool
c 346 CONFIG_SLEEP bool
c 347 CONFIG_FEATURE_INIT_COREDUMPS bool
c 348 CONFIG_WERROR bool
c 349 CONFIG_FEATURE_IFUPDOWN_EXTERNAL_DHCP bool
c 350 CONFIG_FEATURE_FIND_TYPE bool
c 351 CONFIG_FEATURE_START_STOP_DAEMON_LONG_OPTIONS bool
c 352 CONFIG_LOADKMAP bool
c 353 CONFIG_INSTALL bool
c 354 CONFIG_FUSER bool
c 355 CONFIG_SELINUX bool
c 356 CONFIG_FEATURE_INSMOD_LOAD_MAP bool
c 357 CONFIG_FEATURE_INSTALLER bool
c 358 CONFIG_FEATURE_PRESERVE_HARDLINKS bool
c 359 CONFIG_FEATURE_FBSET_FANCY bool
c 360 CONFIG_CHPASSWD bool
c 361 CONFIG_VLOCK bool
c 362 CONFIG_KLOGD bool
c 363 CONFIG_FEATURE_MOUNT_HELPERS bool
c 364 CONFIG_ETHER_WAKE bool
c 365 CONFIG_INSMOD bool
c 366 CONFIG_FEATURE_WGET_AUTHENTICATION bool
c 367 CONFIG_MKSWAP bool
c 368 CONFIG_RENICE bool
c 369 CONFIG_CHATTR bool
c 370 CONFIG_NETSTAT bool
c 371 CONFIG_FEATURE_HTTPD_SET_REMOTE_PORT_TO_ENV bool
c 372 CONFIG_OD bool
c 373 CONFIG_FEATURE_CROND_CALL_SENDMAIL bool
c 374 CONFIG_INSTALL_SH_APPLET_HARDLINK choice_bool
c 375 CONFIG_FEATURE_SH_IS_MSH choice_bool
c 376 CONFIG_FEATURE_USERNAME_COMPLETION bool
c 377 CONFIG_TTY bool
c 378 CONFIG_FEATURE_LS_USERNAME bool
c 379 CONFIG_DU bool
c 380 CONFIG_FEATURE_HWCLOCK_LONG_OPTIONS bool
c 381 CONFIG_CROND bool
c 382 CONFIG_PWD bool
c 383 CONFIG_INCLUDE_SUSv2 bool
c 384 CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K bool
c 385 CONFIG_COMM bool
c 386 CONFIG_HDPARM bool
c 387 CONFIG_FEATURE_INETD_RPC bool
c 388 CONFIG_NC_SERVER bool
c 389 CONFIG_FEATURE_2_6_MODULES bool
c 390 CONFIG_FEATURE_HTTPD_ENCODE_URL_STR bool
c 391 CONFIG_ASH_RANDOM_SUPPORT bool
c 392 CONFIG_RPM bool
c 393 CONFIG_FEATURE_IFCONFIG_STATUS bool
c 394 CONFIG_FEATURE_SGI_LABEL bool
c 395 CONFIG_FEATURE_TEST_64 bool
c 396 CONFIG_CHVT bool
c 397 CONFIG_FEATURE_HTTPD_AUTH_MD5 bool
c 398 CONFIG_FEATURE_MOUNT_CIFS bool
c 399 CONFIG_FEATURE_MINIX2 bool
c 400 CONFIG_FEATURE_DEVPTS bool
c 401 CONFIG_FEATURE_FDISK_ADVANCED bool
c 402 CONFIG_XARGS bool
c 403 CONFIG_FEATURE_LESS_BRACKETS bool
c 404 CONFIG_DELUSER bool
c 405 CONFIG_LSMOD bool
c 406 CONFIG_DC bool
c 407 CONFIG_FBSET bool
c 408 CONFIG_FEATURE_INSMOD_LOAD_MAP_FULL bool
c 409 CONFIG_FEATURE_DEB_TAR_GZ bool
c 410 CONFIG_INIT bool
c 411 CONFIG_FSCK_MINIX bool
c 412 CONFIG_MKFS_MINIX bool
c 413 CONFIG_DEALLOCVT bool
c 414 CONFIG_FEATURE_HTTPD_SETUID bool
c 415 CONFIG_FEATURE_DEL_USER_FROM_GROUP bool
c 416 CONFIG_HUSH bool
c 417 CONFIG_BASENAME bool
c 418 CONFIG_FEATURE_COMPRESS_USAGE bool
c 419 CONFIG_RM bool
c 420 CONFIG_LN bool
c 421 CONFIG_FEATURE_FIND_PAREN bool
c 422 CONFIG_FEATURE_EDITING_VI bool
c 423 CONFIG_FEATURE_INIT_SCTTY bool
c 424 CONFIG_FIND bool
c 425 CONFIG_MODPROBE bool
c 426 CONFIG_CUT bool
c 427 CONFIG_FEATURE_RUN_PARTS_FANCY bool
c 428 CONFIG_FDISK_SUPPORT_LARGE_DISKS bool
c 429 CONFIG_FEATURE_FIND_EXEC bool
c 430 CONFIG_HUSH_LOOPS bool
c 431 CONFIG_SETUIDGID bool
c 432 CONFIG_FEATURE_FANCY_HEAD bool
c 433 CONFIG_FEATURE_DIFF_MINIMAL bool
c 434 CONFIG_FEATURE_NETSTAT_WIDE bool
c 435 CONFIG_FEATURE_LESS_REGEXP bool
c 436 CONFIG_MD5SUM bool
c 437 CONFIG_FEATURE_DEB_TAR_BZ2 bool
c 438 CONFIG_FALSE bool
c 439 CONFIG_TAR bool
c 440 CONFIG_LOGIN bool
c 441 CONFIG_MESG bool
c 442 CONFIG_GETSEBOOL bool
c 443 CONFIG_NMETER bool
c 444 CONFIG_IPLINK hidden_bool
c 445 CONFIG_SHOW_USAGE bool
c 446 CONFIG_FEATURE_PIDOF_SINGLE bool
c 447 CONFIG_FEATURE_SYSLOG bool
c 448 CONFIG_FEATURE_IP_ADDRESS bool
c 449 CONFIG_MAKEDEVS bool
c 450 CONFIG_FEATURE_SHADOWPASSWDS bool
c 451 CONFIG_FEATURE_INSMOD_KSYMOOPS_SYMBOLS bool
c 452 CONFIG_PRINTENV bool
c 453 CONFIG_FEATURE_EXPAND_LONG_OPTIONS bool
c 454 CONFIG_SETARCH bool
c 455 CONFIG_DELGROUP bool
c 456 CONFIG_FEATURE_IFCONFIG_SLIP bool
c 457 CONFIG_PING bool
c 458 CONFIG_ASH_BUILTIN_TEST bool
c 459 CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS bool
c 460 CONFIG_FEATURE_HWCLOCK_ADJTIME_FHS bool
c 461 CONFIG_FEATURE_NOLOGIN bool
c 462 CONFIG_LOGREAD bool
c 463 CONFIG_FEATURE_SHARED_BUSYBOX bool
c 464 CONFIG_FEATURE_LESS_MAXLINES nonbool 9999999
c 465 CONFIG_DEVFSD_MODLOAD bool
c 466 CONFIG_DEVFSD bool
c 467 CONFIG_HUSH_HELP bool
c 468 CONFIG_SELINUXENABLED bool
c 469 CONFIG_FEATURE_MODPROBE_MULTIPLE_OPTIONS bool
c 470 CONFIG_IOCTL_HEX2STR_ERROR bool
c 471 CONFIG_FEATURE_RUN_PARTS_LONG_OPTIONS bool
c 472 CONFIG_ECHO bool
c 473 CONFIG_ZCIP bool
c 474 CONFIG_TELNETD bool
c 475 CONFIG_FEATURE_LESS_MARKS bool
c 476 CONFIG_FEATURE_MDEV_CONF bool
c 477 CONFIG_TRUE bool
c 478 CONFIG_IFUPDOWN_IFSTATE_PATH nonbool "/var/run/ifstate"
c 479 CONFIG_CPIO bool
c 480 CONFIG_FSCK bool
c 481 CONFIG_FEATURE_ETC_NETWORKS bool
c 482 CONFIG_CHGRP bool
c 483 CONFIG_MDEV bool
c 484 CONFIG_USE_BB_PWD_GRP bool
c 485 CONFIG_TR bool
c 486 CONFIG_FEATURE_2_4_MODULES bool
c 487 CONFIG_FEATURE_START_STOP_DAEMON_FANCY bool
c 488 CONFIG_EXPAND bool
c 489 CONFIG_ENVUIDGID bool
c 490 CONFIG_CAT bool
c 491 CONFIG_FEATURE_DD_IBS_OBS bool
c 492 CONFIG_FEATURE_FBSET_READMODE bool
c 493 CONFIG_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR bool
c 494 CONFIG_APP_UDHCPC bool
c 495 CONFIG_ADDGROUP bool
c 496 CONFIG_DD bool
c 497 CONFIG_FEATURE_FIND_GROUP bool
c 498 CONFIG_RMDIR bool
c 499 CONFIG_ASH_READ_TIMEOUT bool
c 500 CONFIG_LENGTH bool
c 501 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD bool
c 502 CONFIG_GREP bool
c 503 CONFIG_PSCAN bool
c 504 CONFIG_INSTALL_APPLET_HARDLINKS choice_bool
c 505 CONFIG_SOFTLIMIT bool
c 506 CONFIG_FEATURE_DD_SIGNAL_HANDLING bool
c 507 CONFIG_FEATURE_UMOUNT_ALL bool
c 508 CONFIG_UUENCODE bool
c 509 CONFIG_FEATURE_PIDOF_OMIT bool
c 510 CONFIG_FEATURE_OSF_LABEL bool
c 511 CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS choice_bool
c 512 CONFIG_NITPICK bool
c 513 CONFIG_FEATURE_QUERY_MODULE_INTERFACE hidden_bool
c 514 CONFIG_FEATURE_FAST_TOP bool
c 515 CONFIG_NSLOOKUP bool
c 516 CONFIG_FEATURE_FTPGETPUT_LONG_OPTIONS bool
c 517 CONFIG_FEATURE_INDIVIDUAL bool
c 518 CONFIG_PIDOF bool
c 519 CONFIG_CHOWN bool
c 520 CONFIG_CHROOT bool
c 521 CONFIG_CRYPTPW bool
c 522 CONFIG_FEATURE_FIND_MMIN bool
c 523 CONFIG_DPKG_DEB bool
c 524 CONFIG_FEATURE_SU_CHECKS_SHELLS bool
c 525 CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS bool
c 526 CONFIG_DPKG bool
c 527 CONFIG_FEATURE_HDPARM_HDIO_SCAN_HWIF bool
c 528 CONFIG_DEVFSD_VERBOSE bool
c 529 CONFIG_PIVOT_ROOT bool
c 530 CONFIG_FEATURE_IFUPDOWN_IPV6 bool
c 531 CONFIG_FEATURE_ADDUSER_TO_GROUP bool
c 532 CONFIG_FEATURE_LS_COLOR bool
c 533 CONFIG_INSTALL_APPLET_SYMLINKS choice_bool
c 534 CONFIG_SU bool
c 535 CONFIG_RPM2CPIO bool
c 536 CONFIG_FEATURE_HDPARM_HDIO_GETSET_DMA bool
c 537 CONFIG_MONOTONIC_SYSCALL bool
c 538 CONFIG_FEATURE_TRACEROUTE_VERBOSE bool
c 539 CONFIG_RUNSV bool
c 540 CONFIG_FEATURE_AIX_LABEL bool
c 541 CONFIG_HOSTNAME bool
c 542 CONFIG_ROUTE bool
c 543 CONFIG_USE_BB_SHADOW bool
c 544 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME bool
c 545 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_ECHO bool
c 546 CONFIG_FEATURE_IPC_SYSLOG bool
c 547 CONFIG_FEATURE_HDPARM_HDIO_TRISTATE_HWIF bool
c 548 CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE bool
c 549 CONFIG_GETOPT_LONG bool
c 550 CONFIG_LOSETUP bool
c 551 CONFIG_FEATURE_VI_DOT_CMD bool
c 552 CONFIG_FEATURE_SH_EXTRA_QUIET bool
c 553 CONFIG_FEATURE_BUFFERS_USE_MALLOC choice_bool
c 554 CONFIG_FEATURE_DATE_ISOFMT bool
c 555 CONFIG_ASH_MATH_SUPPORT_64 bool
c 556 CONFIG_FEATURE_INIT_SYSLOG bool
c 557 CONFIG_IPCRM bool
c 558 CONFIG_FEATURE_IFUPDOWN_IP_BUILTIN bool
c 559 CONFIG_FEATURE_SUID_CONFIG bool
c 560 CONFIG_AWK bool
c 561 CONFIG_SETFILES bool
c 562 CONFIG_EXPR_MATH_SUPPORT_64 bool
c 563 CONFIG_FEATURE_VI_READONLY bool
c 564 CONFIG_APP_UDHCPD bool
c 565 CONFIG_DEBUG_INIT bool
c 566 CONFIG_FEATURE_DIFF_DIR bool
c 567 CONFIG_DATE bool
c 568 CONFIG_WHOAMI bool
c 569 CONFIG_INETD bool
c 570 CONFIG_FEATURE_IFCONFIG_HW bool
c 571 CONFIG_GETTY bool
c 572 CONFIG_FEATURE_DMESG_PRETTY bool
c 573 CONFIG_ASH_EXPAND_PRMT bool
c 574 CONFIG_FTPPUT bool
c 575 CONFIG_SETENFORCE bool
c 576 CONFIG_SWAPONOFF bool
c 577 CONFIG_FEATURE_FIND_NOT bool
c 578 CONFIG_SV bool
c 579 CONFIG_FEATURE_FIND_INUM bool
c 580 CONFIG_ASH_OPTIMIZE_FOR_SIZE bool
c 581 CONFIG_FEATURE_IPCALC_LONG_OPTIONS bool
c 582 CONFIG_DEBUG bool
c 583 CONFIG_TOP bool
c 584 CONFIG_FEATURE_ENV_LONG_OPTIONS bool
c 585 CONFIG_ASH_CMDCMD bool
c 586 CONFIG_UNEXPAND bool
c 587 CONFIG_FEATURE_PS_WIDE bool
c 588 CONFIG_EJECT bool
c 589 CONFIG_APP_DUMPLEASES bool
c 590 CONFIG_UNLZMA bool
c 591 CONFIG_SVLOGD bool
c 592 CONFIG_FEATURE_FIND_DEPTH bool
c 593 CONFIG_FEATURE_TEE_USE_BLOCK_IO bool
c 594 CONFIG_FEATURE_TAR_OLDGNU_COMPATIBILITY bool
c 595 CONFIG_FEATURE_GREP_FGREP_ALIAS bool
c 596 CONFIG_CHCON bool
c 597 CONFIG_SORT bool
c 598 CONFIG_FEATURE_MKSWAP_V0 bool
c 599 CONFIG_IPROUTE hidden_bool
c 600 CONFIG_READPROFILE bool
c 601 CONFIG_FEATURE_INSMOD_VERSION_CHECKING bool
c 602 CONFIG_TCPSVD bool
c 603 CONFIG_FEATURE_HUMAN_READABLE bool
c 604 CONFIG_TOUCH bool
c 605 CONFIG_FEATURE_INITRD bool
c 606 CONFIG_HUSH_IF bool
c 607 CONFIG_TIME bool
c 608 CONFIG_STTY bool
c 609 CONFIG_TTYSIZE bool
c 610 CONFIG_READAHEAD bool
c 611 CONFIG_SYSLOGD bool
c 612 CONFIG_NO_DEBUG_LIB choice_bool
c 613 CONFIG_UDPSVD bool
c 614 CONFIG_ASH_ALIAS bool
c 615 CONFIG_GETENFORCE bool
c 616 CONFIG_FREE bool
c 617 CONFIG_FEATURE_HDPARM_HDIO_DRIVE_RESET bool
c 618 CONFIG_FEATURE_IPCALC_FANCY bool
c 619 CONFIG_FEATURE_AWK_MATH bool
c 620 CONFIG_ARPING bool
p cnf 620 510
-66 81 -534 0
128 -150 -277 0
-2 155 0
68 -225 0
66 -312 -571 0
448 -558 0
-19 34 0
229 -329 0
-139 532 0
-166 -374 0
157 -458 0
95 -244 0
82 -516 574 0
389 -486 513 0
-331 523 0
425 -469 0
17 -164 0
-295 564 0
34 -393 0
336 -572 0
-5 447 0
-164 -256 0
18 -573 0
-136 168 0
168 -540 0
-80 355 0
104 -440 0
-23 -53 0
-373 381 0
-77 -517 0
-196 447 0
-42 -256 0
225 -563 0
-211 448 -558 0
-476 483 0
424 -497 0
-8 274 0
-323 392 0
-350 424 0
-554 567 0
424 -429 0
169 -618 0
-453 488 0
109 278 379 -603 0
18 -22 0
-78 225 0
-347 410 0
-165 225 0
-39 549 596 0
-17 438 0
-120 188 0
155 -538 0
-253 546 0
-298 -375 0
18 -458 0
141 -371 0
410 -605 0
-158 447 0
-425 469 512 0
-47 502 0
-42 -375 0
106 249 612 0
307 -558 0
-255 424 0
154 -414 0
-197 424 0
-199 486 0
35 -558 0
-244 549 0
-210 548 0
-359 407 0
-291 447 0
-164 -375 0
410 -556 0
118 -277 -448 0
549 -581 0
-80 424 0
229 -288 0
104 -381 0
-324 449 0
410 -565 0
104 -559 0
-29 449 0
130 -172 0
-46 201 0
59 -510 0
424 -579 0
229 -237 0
278 -532 549 0
-416 477 0
-462 546 0
104 -308 0
-60 154 0
225 -344 0
447 -569 0
154 -390 0
-122 466 0
564 -589 0
155 -302 0
-222 549 0
-290 561 0
-118 448 0
126 -433 0
-203 457 0
549 -584 0
-296 402 0
1 -342 0
-112 -134 0
-243 485 0
-548 583 0
-119 -307 0
-17 477 0
35 211 -558 0
225 -292 560 0
126 -566 0
-59 168 0
315 -328 0
-532 549 0
-46 549 0
-231 447 0
51 -478 0
-134 -553 0
-108 494 564 0
141 -493 0
-83 483 0
-141 154 0
-465 466 0
225 -551 0
185 -555 0
211 448 -558 0
-256 -375 0
365 -451 0
-249 -612 0
154 -254 0
67 -587 0
-124 201 0
410 -423 0
104 -534 0
-24 154 0
-546 611 0
157 -395 0
-39 549 0
-149 -533 0
13 -286 0
300 -388 0
-262 355 0
18 -152 0
-186 472 0
-233 523 526 0
59 -540 0
-69 425 512 0
-335 439 0
-163 424 0
-57 229 0
-389 -513 0
-119 542 0
450 -543 0
60 -397 0
-30 154 0
-70 291 0
-183 274 0
356 -408 0
-418 445 0
-290 355 0
240 -387 0
-101 225 0
-252 502 0
268 -319 0
-380 549 0
447 -571 0
-215 355 0
-72 512 0
512 -553 0
-112 512 0
-333 424 0
439 -594 0
-262 549 0
-305 447 0
38 -222 0
-491 496 0
-15 23 0
-140 439 0
-62 100 0
-116 365 405 0
-153 171 0
-128 277 0
-381 447 0
18 -614 0
81 -332 -571 0
-504 -511 0
187 -262 355 0
104 -557 0
334 -380 0
-189 472 0
211 -448 558 0
-196 240 0
-134 512 0
-247 569 0
-94 559 0
-93 355 0
171 -363 0
-264 278 0
104 -291 0
26 -143 0
-66 81 332 440 534 571 0
168 -394 0
484 -543 0
274 -435 0
-4 549 0
-266 586 0
-145 494 564 0
-314 439 0
-51 478 0
-321 386 0
-40 271 0
-39 355 0
95 177 -358 0
386 -536 0
34 -570 0
17 18 287 416 -552 0
-118 277 0
416 -430 0
-58 309 0
-187 355 0
424 -592 0
-103 278 0
16 -299 0
171 -282 0
416 -467 0
86 -471 0
-297 402 0
154 -310 0
59 -394 0
-69 389 0
-459 548 0
18 -585 0
169 -581 0
59 -401 0
-190 -374 0
179 -270 0
-207 549 0
-161 590 0
-166 -190 0
-509 518 0
-226 424 0
-356 365 0
274 -475 0
91 -125 0
18 -57 0
-399 411 412 0
-246 440 0
274 -464 0
229 -422 0
1 -238 0
-190 511 0
287 -375 0
-149 -511 0
370 -434 0
98 0
168 -401 0
-265 424 0
-199 365 0
-440 447 0
-260 410 0
-345 549 0
-35 -277 444 0
-113 428 0
51 -119 -307 0
278 -378 0
-64 424 0
367 -598 0
466 -528 0
-150 211 0
-115 440 0
157 -287 0
220 0
66 -312 -534 0
-164 -298 0
-218 569 0
-146 597 0
51 -307 0
-107 355 0
214 -432 0
18 -189 0
-162 564 0
-501 569 0
-337 476 0
-44 271 0
31 -229 0
51 -182 0
447 -534 0
18 -42 0
-39 355 596 0
278 -532 0
-31 229 0
66 -312 0
386 -527 0
-39 355 549 0
-343 405 0
-272 534 0
-50 142 436 0
274 -403 0
53 -77 -517 0
-316 439 0
-544 569 0
355 -442 0
59 -136 0
-41 381 0
181 0
212 0
495 -531 0
-69 389 512 0
156 -593 0
53 -463 0
447 -466 0
111 -558 0
-191 474 0
277 -599 0
386 -547 0
16 -530 0
168 -510 0
187 -262 549 0
-239 410 0
253 -546 0
-11 402 0
171 -196 0
278 -284 0
-15 17 18 287 416 0
-453 549 0
-266 549 0
279 -351 0
-68 225 0
-111 -277 599 0
-175 424 0
-48 485 0
-66 81 -440 0
171 -398 0
51 -119 0
-160 346 0
-29 -324 0
84 365 -389 425 0
267 -584 0
69 -389 -425 512 0
-351 549 0
-32 300 0
-516 549 0
-87 416 0
-35 211 558 0
-287 438 0
-437 523 526 0
-327 424 0
502 -595 0
166 190 374 -511 0
-251 445 0
-256 -298 0
-287 477 0
-106 -249 0
-18 157 0
225 -248 0
-52 104 0
66 -312 -440 0
-256 416 0
-111 211 558 0
407 -492 0
53 -77 -463 0
201 -366 0
66 -81 332 440 534 571 0
-149 -504 0
35 -211 -558 0
365 -601 0
-345 439 0
-179 211 0
111 211 -558 0
-42 -298 0
355 -561 0
277 -444 0
149 504 511 533 0
81 -332 -440 0
171 -208 216 0
154 -184 0
53 -517 0
187 -262 0
-207 341 0
-113 -168 428 0
15 23 -149 357 0
355 -615 0
51 -530 0
18 -499 0
-39 596 0
-410 447 0
113 -610 0
113 168 -428 0
-511 -533 0
-179 270 -277 0
174 -562 0
225 -230 0
3 -376 0
157 -416 0
34 -456 0
-318 440 0
-12 18 0
-451 486 0
216 -507 0
424 -522 0
81 -332 -534 0
-545 569 0
-270 277 0
18 -185 0
18 -54 0
-113 168 428 0
-121 386 0
-66 81 -571 0
278 -320 0
450 484 -543 0
167 -193 0
111 -211 -558 0
-446 518 0
-245 462 0
-79 439 0
496 -506 0
-13 416 0
211 -277 0
-524 534 0
211 -558 0
-33 583 0
-69 425 0
278 -301 0
-303 439 0
104 -361 0
225 -311 0
42 164 256 298 375 0
386 -617 0
355 -468 0
-471 549 0
-262 355 549 0
62 -100 0
-37 171 216 0
105 -200 0
334 -460 0
-42 -164 0
-66 81 -332 0
86 -427 0
-326 439 0
-504 -533 0
51 -349 0
-129 439 0
-55 611 0
-415 455 0
-313 439 479 0
-97 402 0
-229 329 0
-36 611 0
84 365 425 -486 0
18 -580 0
-416 438 0
34 -525 0
440 -461 0
-77 -463 0
416 -606 0
355 -596 0
425 -469 512 0
154 -227 0
126 -221 0
486 -601 0
34 -119 0
111 -599 0
447 -474 0
88 271 278 -304 0
-374 511 0
-421 424 0
-387 569 0
-73 424 0
167 -250 0
379 -384 0
-106 -612 0
355 -575 0
-133 424 0
-166 511 0
-112 -553 0
-74 424 0
-333 592 0
-299 457 0
-66 81 0
-17 157 0
167 -224 0
486 -513 0
-263 355 0
560 -619 0
-66 312 440 534 571 0
-128 150 0
-409 523 526 0
-274 464 0
18 -391 0
29 324 -449 0
424 -577 0
-65 167 0
49 0
88 -206 0
112 134 -512 553 0
35 -444 0
81 -332 0
279 -487 0
-213 225 0
447 -473 0
51 -275 0
85 -144 0
-3 229 0
-69 389 425 0
-356 389 486 0
-4 353 0
