c 1 CONFIG_KILL bool
c 2 CONFIG_FEATURE_TRACEROUTE_USE_ICMP bool
c 3 CONFIG_FEATURE_TAB_COMPLETION bool
c 4 CONFIG_FEATURE_INSTALL_LONG_OPTIONS bool
c 5 CONFIG_LOGGER bool
c 6 CONFIG_WHICH bool
c 7 CONFIG_FEATURE_PIDFILE bool
c 8 CONFIG_FEATURE_LESS_FLAGS bool
c 9 CONFIG_DHCPD_LEASES_FILE nonbool "/var/lib/misc/udhcpd.leases"
c 10 CONFIG_RAIDAUTORUN bool
c 11 CONFIG_LSATTR bool
c 12 CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION bool
c 13 CONFIG_ASH_MAIL bool
c 14 CONFIG_FEATURE_KILL_REMOVED bool
c 15 CONFIG_HUSH_INTERACTIVE bool
c 16 CONFIG_UUDECODE bool
c 17 CONFIG_FEATURE_EJECT_SCSI bool
c 18 CONFIG_FEATURE_SH_STANDALONE bool
c 19 CONFIG_FEATURE_IPV6 bool
c 20 CONFIG_LASH bool
c 21 CONFIG_ASH bool
c 22 CONFIG_FEATURE_IFCONFIG_MEMSTART_IOADDR_IRQ bool
c 23 CONFIG_OPENVT bool
c 24 CONFIG_SWITCH_ROOT bool
c 25 CONFIG_FEATURE_BRCTL_FANCY bool
c 26 CONFIG_ASH_READ_NCHARS bool
c 27 CONFIG_FEATURE_PREFER_APPLETS bool
c 28 CONFIG_FEATURE_HTTPD_PROXY bool
c 29 CONFIG_ADJTIMEX bool
c 30 CONFIG_AR bool
c 31 CONFIG_CTTYHACK bool
c 32 CONFIG_WATCH bool
c 33 CONFIG_FEATURE_MAKEDEVS_TABLE choice_bool
c 34 CONFIG_FEATURE_HTTPD_RELOAD_CONFIG_SIGHUP bool
c 35 CONFIG_FEATURE_EDITING_MAX_LEN nonbool 1024
c 36 CONFIG_NC_EXTRA bool
c 37 CONFIG_FEATURE_TOPMEM bool
c 38 CONFIG_IFCONFIG bool
c 39 CONFIG_FEATURE_IP_LINK bool
c 40 CONFIG_FEATURE_ROTATE_LOGFILE bool
c 41 CONFIG_SENDMAIL bool
c 42 CONFIG_FEATURE_MOUNT_LOOP bool
c 43 CONFIG_MKDIR bool
c 44 CONFIG_FEATURE_CHCON_LONG_OPTIONS bool
c 45 CONFIG_FEATURE_TELNET_AUTOLOGIN bool
c 46 CONFIG_DEBUG_CROND_OPTION bool
c 47 CONFIG_FEATURE_SH_IS_ASH choice_bool
c 48 CONFIG_HEXDUMP bool
c 49 CONFIG_FEATURE_TELNET_TTYPE bool
c 50 CONFIG_CATV bool
c 51 CONFIG_FEATURE_WGET_LONG_OPTIONS bool
c 52 CONFIG_FEATURE_GREP_CONTEXT bool
c 53 CONFIG_FEATURE_TR_EQUIV bool
c 54 CONFIG_PASSWORD_MINLEN nonbool 6
c 55 CONFIG_FEATURE_MD5_SHA1_SUM_CHECK bool
c 56 CONFIG_IFUPDOWN bool
c 57 CONFIG_IPCS bool
c 58 CONFIG_BUILD_LIBBUSYBOX bool
c 59 CONFIG_ASH_JOB_CONTROL bool
c 60 CONFIG_FEATURE_REMOTE_LOG bool
c 61 CONFIG_FREERAMDISK bool
c 62 CONFIG_FEATURE_EDITING_SAVEHISTORY bool
c 63 CONFIG_FEATURE_TASKSET_FANCY bool
c 64 CONFIG_FEATURE_FDISK_WRITABLE bool
c 65 CONFIG_FEATURE_HTTPD_BASIC_AUTH bool
c 66 CONFIG_SETKEYCODES bool
c 67 CONFIG_UNIX2DOS hidden_bool
c 68 CONFIG_SEQ bool
c 69 CONFIG_FEATURE_FIND_XDEV bool
c 70 CONFIG_FEATURE_TFTP_PUT bool
c 71 CONFIG_FEATURE_WTMP bool
c 72 CONFIG_PS bool
c 73 CONFIG_FEATURE_VI_MAX_LEN nonbool 4096
c 74 CONFIG_FEATURE_MODPROBE_FANCY_ALIAS bool
c 75 CONFIG_FEATURE_PASSWD_WEAK_CHECK bool
c 76 CONFIG_SYNC bool
c 77 CONFIG_FEATURE_CLEAN_UP bool
c 78 CONFIG_FEATURE_FIND_PERM bool
c 79 CONFIG_FEATURE_FIND_MAXDEPTH bool
c 80 CONFIG_GZIP bool
c 81 CONFIG_CHRT bool
c 82 CONFIG_STATIC bool
c 83 CONFIG_FEATURE_VI_YANKMARK bool
c 84 CONFIG_FEATURE_TAR_FROM bool
c 85 CONFIG_FEATURE_FIND_CONTEXT bool
c 86 CONFIG_FEATURE_UTMP bool
c 87 CONFIG_FTPGET bool
c 88 CONFIG_FEATURE_MDEV_LOAD_FIRMWARE bool
c 89 CONFIG_RMMOD bool
c 90 CONFIG_TAIL bool
c 91 CONFIG_RUN_PARTS bool
c 92 CONFIG_HUSH_TICK bool
c 93 CONFIG_MORE bool
c 94 CONFIG_FEATURE_MDEV_RENAME_REGEXP bool
c 95 CONFIG_DNSD bool
c 96 CONFIG_CMP bool
c 97 CONFIG_GUNZIP bool
c 98 CONFIG_UNAME bool
c 99 CONFIG_FEATURE_VOLUMEID_XFS bool
c 100 CONFIG_FBSPLASH bool
c 101 CONFIG_TAC bool
c 102 CONFIG_LOAD_POLICY bool
c 103 CONFIG_FEATURE_SUID_CONFIG_QUIET bool
c 104 CONFIG_MV bool
c 105 CONFIG_PATCH bool
c 106 CONFIG_FEATURE_XARGS_SUPPORT_ZERO_TERM bool
c 107 CONFIG_HAVE_DOT_CONFIG hidden_bool
c 108 CONFIG_PKILL bool
c 109 CONFIG_DOS2UNIX bool
c 110 CONFIG_FEATURE_VI_OPTIMIZE_CURSOR bool
c 111 CONFIG_CHAT bool
c 112 CONFIG_MKTEMP bool
c 113 CONFIG_FEATURE_LS_FILETYPES bool
c 114 CONFIG_FEATURE_SUID bool
c 115 CONFIG_READLINK bool
c 116 CONFIG_DMALLOC choice_bool
c 117 CONFIG_SETSEBOOL bool
c 118 CONFIG_FEATURE_RFC3397 bool
c 119 CONFIG_NOMMU bool
c 120 CONFIG_DF bool
c 121 CONFIG_RUNLEVEL bool
c 122 CONFIG_FEATURE_UDHCP_PORT bool
c 123 CONFIG_FEATURE_CHAT_TTY_HIFI bool
c 124 CONFIG_FEATURE_IP_ROUTE bool
c 125 CONFIG_FEATURE_BUFFERS_GO_ON_STACK choice_bool
c 126 CONFIG_LFS bool
c 127 CONFIG_SETLOGCONS bool
c 128 CONFIG_SESTATUS bool
c 129 CONFIG_LOGIN_SCRIPTS bool
c 130 CONFIG_SCRIPT bool
c 131 CONFIG_FEATURE_CHECK_TAINTED_MODULE bool
c 132 CONFIG_FEATURE_COPYBUF_KB nonbool 4
c 133 CONFIG_RUNSVDIR bool
c 134 CONFIG_IPADDR hidden_bool
c 135 CONFIG_FEATURE_IFUPDOWN_IFCONFIG_BUILTIN bool
c 136 CONFIG_FEATURE_SPLIT_FANCY bool
c 137 CONFIG_FEATURE_HDPARM_HDIO_UNREGISTER_HWIF bool
c 138 CONFIG_DEVFSD_FG_NP bool
c 139 CONFIG_UNCOMPRESS bool
c 140 CONFIG_FEATURE_WGET_STATUSBAR bool
c 141 CONFIG_FEATURE_GUNZIP_UNCOMPRESS bool
c 142 CONFIG_DIFF bool
c 143 CONFIG_UNZIP bool
c 144 CONFIG_IPRULE hidden_bool
c 145 CONFIG_FEATURE_TAR_OLDSUN_COMPATIBILITY bool
c 146 CONFIG_RESIZE bool
c 147 CONFIG_YES bool
c 148 CONFIG_FEATURE_VOLUMEID_HFS bool
c 149 CONFIG_ARP bool
c 150 CONFIG_FEATURE_FIND_NEWER bool
c 151 CONFIG_FEATURE_BUFFERS_GO_IN_BSS choice_bool
c 152 CONFIG_ADDUSER bool
c 153 CONFIG_FEATURE_SUN_LABEL bool
c 154 CONFIG_BZIP2 bool
c 155 CONFIG_FOLD bool
c 156 CONFIG_FEATURE_LS_COLOR_IS_DEFAULT bool
c 157 CONFIG_FEATURE_TAR_LZMA bool
c 158 CONFIG_FEATURE_SYSLOGD_DUP bool
c 159 CONFIG_FEATURE_HTTPD_CGI bool
c 160 CONFIG_SHA1SUM bool
c 161 CONFIG_FEATURE_AR_LONG_FILENAMES bool
c 162 CONFIG_FEATURE_FANCY_TAIL bool
c 163 CONFIG_FEATURE_UDHCP_DEBUG bool
c 164 CONFIG_FEATURE_SORT_BIG bool
c 165 CONFIG_USLEEP bool
c 166 CONFIG_NICE bool
c 167 CONFIG_INSTALL_APPLET_DONT choice_bool
c 168 CONFIG_FEATURE_IP_RULE bool
c 169 CONFIG_VCONFIG bool
c 170 CONFIG_ASH_GETOPTS bool
c 171 CONFIG_FEATURE_MOUNT_FLAGS bool
c 172 CONFIG_HTTPD bool
c 173 CONFIG_TRACEROUTE bool
c 174 CONFIG_TEE bool
c 175 CONFIG_TEST bool
c 176 CONFIG_NAMEIF bool
c 177 CONFIG_ID bool
c 178 CONFIG_FEATURE_FANCY_SLEEP bool
c 179 CONFIG_FEATURE_LZMA_FAST bool
c 180 CONFIG_APP_DHCPRELAY bool
c 181 CONFIG_FEATURE_FIND_MTIME bool
c 182 CONFIG_FEATURE_VI_WIN_RESIZE bool
c 183 CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER choice_bool
c 184 CONFIG_TFTP bool
c 185 CONFIG_FEATURE_CPIO_O bool
c 186 CONFIG_FDISK bool
c 187 CONFIG_IPCALC bool
c 188 CONFIG_BUNZIP2 bool
c 189 CONFIG_MOUNT bool
c 190 CONFIG_FEATURE_RESIZE_PRINT bool
c 191 CONFIG_HOSTID bool
c 192 CONFIG_EXPR bool
c 193 CONFIG_FEATURE_FIND_USER bool
c 194 CONFIG_FEATURE_DEVFS bool
c 195 CONFIG_FEATURE_ADDUSER_LONG_OPTIONS bool
c 196 CONFIG_CP bool
c 197 CONFIG_MICROCOM bool
c 198 CONFIG_FEATURE_IP_TUNNEL bool
c 199 CONFIG_CHPST bool
c 200 CONFIG_PREFIX nonbool "./_install"
c 201 CONFIG_FEATURE_IFUPDOWN_MAPPING bool
c 202 CONFIG_FEATURE_LESS_FLAGCS bool
c 203 CONFIG_FEATURE_HTTPD_ERROR_PAGES bool
c 204 CONFIG_ASH_MATH_SUPPORT bool
c 205 CONFIG_FEATURE_FANCY_ECHO bool
c 206 CONFIG_FEATURE_CHAT_IMPLICIT_CR bool
c 207 CONFIG_RUNCON bool
c 208 CONFIG_SPLIT bool
c 209 CONFIG_ASH_BUILTIN_ECHO bool
c 210 CONFIG_INSTALL_SH_APPLET_SYMLINK choice_bool
c 211 CONFIG_FEATURE_TELNETD_STANDALONE bool
c 212 CONFIG_SED bool
c 213 CONFIG_FEATURE_TFTP_BLOCKSIZE bool
c 214 CONFIG_RESET bool
c 215 CONFIG_BBCONFIG bool
c 216 CONFIG_FEATURE_MOUNT_NFS bool
c 217 CONFIG_FEATURE_FIND_PRUNE bool
c 218 CONFIG_SLATTACH bool
c 219 CONFIG_FEATURE_INSMOD_LOADINKMEM bool
c 220 CONFIG_FEATURE_READLINK_FOLLOW bool
c 221 CONFIG_WGET bool
c 222 CONFIG_RX bool
c 223 CONFIG_FEATURE_VOLUMEID_SYSV bool
c 224 CONFIG_FEATURE_IP_RARE_PROTOCOLS bool
c 225 CONFIG_FEATURE_FANCY_PING bool
c 226 CONFIG_VOLUMEID bool
c 227 CONFIG_ENVDIR bool
c 228 CONFIG_LOADFONT bool
c 229 CONFIG_FEATURE_VOLUMEID_ISO9660 bool
c 230 CONFIG_FEATURE_USE_TERMIOS bool
c 231 CONFIG_FEATURE_SETCONSOLE_LONG_OPTIONS bool
c 232 CONFIG_FEATURE_MTAB_SUPPORT bool
c 233 CONFIG_NOHUP bool
c 234 CONFIG_FEATURE_TOP_DECIMALS bool
c 235 CONFIG_IP bool
c 236 CONFIG_BUSYBOX_EXEC_PATH nonbool "/proc/self/exe"
c 237 CONFIG_FEATURE_VI_COLON bool
c 238 CONFIG_HEAD bool
c 239 CONFIG_MATCHPATHCON bool
c 240 CONFIG_UMOUNT bool
c 241 CONFIG_DIRNAME bool
c 242 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN bool
c 243 CONFIG_CLEAR bool
c 244 CONFIG_MD5_SIZE_VS_SPEED nonbool 2
c 245 CONFIG_FEATURE_DIFF_BINARY bool
c 246 CONFIG_FEATURE_MOUNT_FAKE bool
c 247 CONFIG_FEATURE_MKDIR_LONG_OPTIONS bool
c 248 CONFIG_LOCALE_SUPPORT bool
c 249 CONFIG_DEBUG_TFTP bool
c 250 CONFIG_FEATURE_NAMEIF_EXTENDED bool
c 251 CONFIG_VI bool
c 252 CONFIG_FEATURE_FIND_PRINT0 bool
c 253 CONFIG_FEATURE_HTTPD_RANGES bool
c 254 CONFIG_STRINGS bool
c 255 CONFIG_FEATURE_EDITING bool
c 256 CONFIG_FEATURE_VI_SET bool
c 257 CONFIG_SULOGIN bool
c 258 CONFIG_RDATE bool
c 259 CONFIG_FEATURE_DEB_TAR_LZMA bool
c 260 CONFIG_FDFLUSH bool
c 261 CONFIG_SUM bool
c 262 CONFIG_CKSUM bool
c 263 CONFIG_FEATURE_EDITING_FANCY_PROMPT bool
c 264 CONFIG_KILLALL5 bool
c 265 CONFIG_FEATURE_USE_INITTAB bool
c 266 CONFIG_FEATURE_HAVE_RPC bool
c 267 CONFIG_SETSID bool
c 268 CONFIG_INSTALL_NO_USR bool
c 269 CONFIG_FEATURE_TR_CLASSES bool
c 270 CONFIG_FEATURE_MV_LONG_OPTIONS bool
c 271 CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING bool
c 272 CONFIG_FEATURE_SECURETTY bool
c 273 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_TIME bool
c 274 CONFIG_FEATURE_VOLUMEID_EXT bool
c 275 CONFIG_FEATURE_MDEV_RENAME bool
c 276 CONFIG_FEATURE_VI_SETOPTS bool
c 277 CONFIG_EFENCE choice_bool
c 278 CONFIG_FEATURE_TFTP_GET bool
c 279 CONFIG_FEATURE_VERBOSE_USAGE bool
c 280 CONFIG_FEATURE_GREP_EGREP_ALIAS bool
c 281 CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE nonbool 16
c 282 CONFIG_FEATURE_HTTPD_USE_SENDFILE bool
c 283 CONFIG_FEATURE_FIND_PATH bool
c 284 CONFIG_FEATURE_VOLUMEID_LUKS bool
c 285 CONFIG_FEATURE_SH_IS_HUSH choice_bool
c 286 CONFIG_FDFORMAT bool
c 287 CONFIG_MKFIFO bool
c 288 CONFIG_DESKTOP bool
c 289 CONFIG_FEATURE_EXTRA_QUIET bool
c 290 CONFIG_PIPE_PROGRESS bool
c 291 CONFIG_FEATURE_RUNCON_LONG_OPTIONS bool
c 292 CONFIG_RESTORECON bool
c 293 CONFIG_FEATURE_LS_TIMESTAMPS bool
c 294 CONFIG_FEATURE_FIND_SIZE bool
c 295 CONFIG_FEATURE_UNEXPAND_LONG_OPTIONS bool
c 296 CONFIG_ENV bool
c 297 CONFIG_STAT bool
c 298 CONFIG_LPD bool
c 299 CONFIG_VERBOSE_RESOLUTION_ERRORS bool
c 300 CONFIG_FEATURE_BRCTL_SHOW bool
c 301 CONFIG_IPTUNNEL hidden_bool
c 302 CONFIG_TELNET bool
c 303 CONFIG_FEATURE_SU_SYSLOG bool
c 304 CONFIG_UPTIME bool
c 305 CONFIG_LESS bool
c 306 CONFIG_ASH_BASH_COMPAT bool
c 307 CONFIG_FEATURE_IFUPDOWN_IPV4 bool
c 308 CONFIG_HALT bool
c 309 CONFIG_FEATURE_IP_SHORT_FORMS bool
c 310 CONFIG_LS bool
c 311 CONFIG_START_STOP_DAEMON bool
c 312 CONFIG_DUMPKMAP bool
c 313 CONFIG_PRINTF bool
c 314 CONFIG_FEATURE_MOUNT_FSTAB bool
c 315 CONFIG_LOGNAME bool
c 316 CONFIG_FEATURE_LS_RECURSIVE bool
c 317 CONFIG_PGREP bool
c 318 CONFIG_HUSH_JOB bool
c 319 CONFIG_MSH bool
c 320 CONFIG_BB_SYSCTL bool
c 321 CONFIG_FEATURE_SETFILES_CHECK_OPTION bool
c 322 CONFIG_PASSWD bool
c 323 CONFIG_FEATURE_ALLOW_EXEC bool
c 324 CONFIG_ED bool
c 325 CONFIG_CAL bool
c 326 CONFIG_FEATURE_KILL_DELAY nonbool 0
c 327 CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY bool
c 328 CONFIG_FEATURE_XARGS_SUPPORT_QUOTES bool
c 329 CONFIG_FEATURE_XARGS_SUPPORT_TERMOPT bool
c 330 CONFIG_FEATURE_SH_IS_NONE choice_bool
c 331 CONFIG_PING6 bool
c 332 CONFIG_NC bool
c 333 CONFIG_FEATURE_LS_FOLLOWLINKS bool
c 334 CONFIG_FEATURE_TRACEROUTE_SOURCE_ROUTE bool
c 335 CONFIG_FEATURE_TAR_GNU_EXTENSIONS bool
c 336 CONFIG_FEATURE_AUTOWIDTH bool
c 337 CONFIG_FAKEIDENTD bool
c 338 CONFIG_WATCHDOG bool
c 339 CONFIG_FEATURE_IFUPDOWN_IP bool
c 340 CONFIG_CRONTAB bool
c 341 CONFIG_TASKSET bool
c 342 CONFIG_FEATURE_HTTPD_CONFIG_WITH_MIME_TYPES bool
c 343 CONFIG_FEATURE_VI_USE_SIGNALS bool
c 344 CONFIG_BRCTL bool
c 345 CONFIG_LAST bool
c 346 CONFIG_FEATURE_TAR_BZIP2 bool
c 347 CONFIG_WC bool
c 348 CONFIG_FEATURE_TAR_CREATE bool
c 349 CONFIG_GETOPT bool
c 350 CONFIG_PAM bool
c 351 CONFIG_FEATURE_STAT_FORMAT bool
c 352 CONFIG_FEATURE_LS_SORTFILES bool
c 353 CONFIG_FEATURE_HDPARM_GET_IDENTITY bool
c 354 CONFIG_CHMOD bool
c 355 CONFIG_FEATURE_RPM_BZ2 bool
c 356 CONFIG_FEATURE_MAKEDEVS_LEAF choice_bool
c 357 CONFIG_TFTPD bool
c 358 CONFIG_REALPATH bool
c 359 CONFIG_FEATURE_TAR_GZIP bool
c 360 CONFIG_FEATURE_FIND_REGEX bool
c 361 CONFIG_FEATURE_WC_LARGE bool
c 362 CONFIG_FEATURE_EDITING_HISTORY nonbool 15
c 363 CONFIG_UNIQ bool
c 364 CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY bool
c 365 CONFIG_WHO bool
c 366 CONFIG_FEATURE_PS_TIME bool
c 367 CONFIG_FEATURE_FIND_DELETE bool
c 368 CONFIG_HWCLOCK bool
c 369 CONFIG_FEATURE_TAR_COMPRESS bool
c 370 CONFIG_DMESG bool
c 371 CONFIG_FEATURE_MDEV_EXEC bool
c 372 CONFIG_MT bool
c 373 CONFIG_MKNOD bool
c 374 CONFIG_MOUNTPOINT bool
c 375 CONFIG_SETCONSOLE bool
c 376 CONFIG_KILLALL bool
c 377 CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT bool
c 378 CONFIG_FEATURE_VI_SEARCH bool
c 379 CONFIG_FEATURE_TAR_LONG_OPTIONS bool
c 380 CONFIG_SLEEP bool
c 381 CONFIG_FEATURE_INIT_COREDUMPS bool
c 382 CONFIG_WERROR bool
c 383 CONFIG_FEATURE_IFUPDOWN_EXTERNAL_DHCP bool
c 384 CONFIG_FEATURE_FIND_TYPE bool
c 385 CONFIG_FEATURE_START_STOP_DAEMON_LONG_OPTIONS bool
c 386 CONFIG_LOADKMAP bool
c 387 CONFIG_INSTALL bool
c 388 CONFIG_FUSER bool
c 389 CONFIG_FEATURE_MOUNT_LABEL bool
c 390 CONFIG_SELINUX bool
c 391 CONFIG_FEATURE_INSMOD_LOAD_MAP bool
c 392 CONFIG_FEATURE_INSTALLER bool
c 393 CONFIG_FEATURE_PRESERVE_HARDLINKS bool
c 394 CONFIG_FEATURE_FBSET_FANCY bool
c 395 CONFIG_CHPASSWD bool
c 396 CONFIG_VLOCK bool
c 397 CONFIG_KLOGD bool
c 398 CONFIG_HD bool
c 399 CONFIG_FEATURE_TAR_AUTODETECT bool
c 400 CONFIG_FEATURE_MOUNT_HELPERS bool
c 401 CONFIG_ETHER_WAKE bool
c 402 CONFIG_INSMOD bool
c 403 CONFIG_FEATURE_WGET_AUTHENTICATION bool
c 404 CONFIG_MKSWAP bool
c 405 CONFIG_KBD_MODE bool
c 406 CONFIG_RENICE bool
c 407 CONFIG_CHATTR bool
c 408 CONFIG_NETSTAT bool
c 409 CONFIG_FEATURE_HTTPD_SET_REMOTE_PORT_TO_ENV bool
c 410 CONFIG_OD bool
c 411 CONFIG_FEATURE_CROND_CALL_SENDMAIL bool
c 412 CONFIG_FEATURE_VI_8BIT bool
c 413 CONFIG_INSTALL_SH_APPLET_HARDLINK choice_bool
c 414 CONFIG_FEATURE_SH_IS_MSH choice_bool
c 415 CONFIG_FEATURE_USERNAME_COMPLETION bool
c 416 CONFIG_RTCWAKE bool
c 417 CONFIG_TTY bool
c 418 CONFIG_FEATURE_LS_USERNAME bool
c 419 CONFIG_DU bool
c 420 CONFIG_FEATURE_HWCLOCK_LONG_OPTIONS bool
c 421 CONFIG_CROND bool
c 422 CONFIG_PWD bool
c 423 CONFIG_INCLUDE_SUSv2 bool
c 424 CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K bool
c 425 CONFIG_COMM bool
c 426 CONFIG_HDPARM bool
c 427 CONFIG_FEATURE_INETD_RPC bool
c 428 CONFIG_NC_SERVER bool
c 429 CONFIG_FEATURE_2_6_MODULES bool
c 430 CONFIG_FEATURE_HTTPD_ENCODE_URL_STR bool
c 431 CONFIG_ASH_RANDOM_SUPPORT bool
c 432 CONFIG_RPM bool
c 433 CONFIG_FEATURE_IFCONFIG_STATUS bool
c 434 CONFIG_FEATURE_SGI_LABEL bool
c 435 CONFIG_FEATURE_TEST_64 bool
c 436 CONFIG_CHVT bool
c 437 CONFIG_FEATURE_HTTPD_AUTH_MD5 bool
c 438 CONFIG_FEATURE_MOUNT_CIFS bool
c 439 CONFIG_FEATURE_MINIX2 bool
c 440 CONFIG_FEATURE_DEVPTS bool
c 441 CONFIG_FEATURE_FDISK_ADVANCED bool
c 442 CONFIG_XARGS bool
c 443 CONFIG_FEATURE_LESS_BRACKETS bool
c 444 CONFIG_DELUSER bool
c 445 CONFIG_LSMOD bool
c 446 CONFIG_DC bool
c 447 CONFIG_FBSET bool
c 448 CONFIG_FEATURE_INSMOD_LOAD_MAP_FULL bool
c 449 CONFIG_FEATURE_DEB_TAR_GZ bool
c 450 CONFIG_INIT bool
c 451 CONFIG_FSCK_MINIX bool
c 452 CONFIG_MKFS_MINIX bool
c 453 CONFIG_DEALLOCVT bool
c 454 CONFIG_FEATURE_HTTPD_SETUID bool
c 455 CONFIG_FEATURE_VOLUMEID_LINUXSWAP bool
c 456 CONFIG_FEATURE_DEL_USER_FROM_GROUP bool
c 457 CONFIG_HUSH bool
c 458 CONFIG_BASENAME bool
c 459 CONFIG_FEATURE_COMPRESS_USAGE bool
c 460 CONFIG_FEATURE_CHECK_NAMES bool
c 461 CONFIG_RM bool
c 462 CONFIG_LN bool
c 463 CONFIG_FEATURE_VOLUMEID_NTFS bool
c 464 CONFIG_FEATURE_FIND_PAREN bool
c 465 CONFIG_FEATURE_EDITING_VI bool
c 466 CONFIG_FEATURE_INIT_SCTTY bool
c 467 CONFIG_FIND bool
c 468 CONFIG_MODPROBE bool
c 469 CONFIG_CUT bool
c 470 CONFIG_FEATURE_RUN_PARTS_FANCY bool
c 471 CONFIG_FDISK_SUPPORT_LARGE_DISKS bool
c 472 CONFIG_FEATURE_FIND_EXEC bool
c 473 CONFIG_FEATURE_MOUNT_VERBOSE bool
c 474 CONFIG_HUSH_LOOPS bool
c 475 CONFIG_LPR bool
c 476 CONFIG_SETUIDGID bool
c 477 CONFIG_FEATURE_FANCY_HEAD bool
c 478 CONFIG_FEATURE_DIFF_MINIMAL bool
c 479 CONFIG_FEATURE_TAR_UNAME_GNAME bool
c 480 CONFIG_FEATURE_NETSTAT_WIDE bool
c 481 CONFIG_FEATURE_LESS_REGEXP bool
c 482 CONFIG_MD5SUM bool
c 483 CONFIG_FEATURE_DEB_TAR_BZ2 bool
c 484 CONFIG_FALSE bool
c 485 CONFIG_TAR bool
c 486 CONFIG_LOGIN bool
c 487 CONFIG_MESG bool
c 488 CONFIG_GETSEBOOL bool
c 489 CONFIG_NMETER bool
c 490 CONFIG_IPLINK hidden_bool
c 491 CONFIG_SHOW_USAGE bool
c 492 CONFIG_FEATURE_PIDOF_SINGLE bool
c 493 CONFIG_FEATURE_SYSLOG bool
c 494 CONFIG_FEATURE_IP_ADDRESS bool
c 495 CONFIG_MAKEDEVS bool
c 496 CONFIG_FEATURE_SHADOWPASSWDS bool
c 497 CONFIG_FEATURE_INSMOD_KSYMOOPS_SYMBOLS bool
c 498 CONFIG_FEATURE_VOLUMEID_LINUXRAID bool
c 499 CONFIG_PRINTENV bool
c 500 CONFIG_FEATURE_EXPAND_LONG_OPTIONS bool
c 501 CONFIG_SETARCH bool
c 502 CONFIG_DELGROUP bool
c 503 CONFIG_FEATURE_IFCONFIG_SLIP bool
c 504 CONFIG_PING bool
c 505 CONFIG_ASH_BUILTIN_TEST bool
c 506 CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS bool
c 507 CONFIG_FEATURE_CHAT_SEND_ESCAPES bool
c 508 CONFIG_FEATURE_HWCLOCK_ADJTIME_FHS bool
c 509 CONFIG_FEATURE_CHAT_CLR_ABORT bool
c 510 CONFIG_FEATURE_NOLOGIN bool
c 511 CONFIG_LOGREAD bool
c 512 CONFIG_FEATURE_SHARED_BUSYBOX bool
c 513 CONFIG_FEATURE_LESS_MAXLINES nonbool 9999999
c 514 CONFIG_DEVFSD_MODLOAD bool
c 515 CONFIG_DEVFSD bool
c 516 CONFIG_HUSH_HELP bool
c 517 CONFIG_SELINUXENABLED bool
c 518 CONFIG_FEATURE_MODPROBE_MULTIPLE_OPTIONS bool
c 519 CONFIG_IOCTL_HEX2STR_ERROR bool
c 520 CONFIG_FEATURE_RUN_PARTS_LONG_OPTIONS bool
c 521 CONFIG_ECHO bool
c 522 CONFIG_ZCIP bool
c 523 CONFIG_TELNETD bool
c 524 CONFIG_FEATURE_LESS_MARKS bool
c 525 CONFIG_FEATURE_MDEV_CONF bool
c 526 CONFIG_TRUE bool
c 527 CONFIG_IFUPDOWN_IFSTATE_PATH nonbool "/var/run/ifstate"
c 528 CONFIG_CPIO bool
c 529 CONFIG_FSCK bool
c 530 CONFIG_FEATURE_ETC_NETWORKS bool
c 531 CONFIG_CHGRP bool
c 532 CONFIG_MDEV bool
c 533 CONFIG_USE_BB_PWD_GRP bool
c 534 CONFIG_TR bool
c 535 CONFIG_FEATURE_2_4_MODULES bool
c 536 CONFIG_FEATURE_START_STOP_DAEMON_FANCY bool
c 537 CONFIG_FEATURE_RMDIR_LONG_OPTIONS bool
c 538 CONFIG_EXPAND bool
c 539 CONFIG_ENVUIDGID bool
c 540 CONFIG_CAT bool
c 541 CONFIG_FEATURE_DD_IBS_OBS bool
c 542 CONFIG_FEATURE_FBSET_READMODE bool
c 543 CONFIG_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR bool
c 544 CONFIG_APP_UDHCPC bool
c 545 CONFIG_ADDGROUP bool
c 546 CONFIG_DD bool
c 547 CONFIG_FEATURE_FIND_GROUP bool
c 548 CONFIG_RMDIR bool
c 549 CONFIG_ASH_READ_TIMEOUT bool
c 550 CONFIG_LPQ bool
c 551 CONFIG_LENGTH bool
c 552 CONFIG_FEATURE_UDHCPC_ARPING bool
c 553 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD bool
c 554 CONFIG_GREP bool
c 555 CONFIG_PSCAN bool
c 556 CONFIG_INSTALL_APPLET_HARDLINKS choice_bool
c 557 CONFIG_SOFTLIMIT bool
c 558 CONFIG_FEATURE_DD_SIGNAL_HANDLING bool
c 559 CONFIG_FEATURE_UMOUNT_ALL bool
c 560 CONFIG_UUENCODE bool
c 561 CONFIG_FEATURE_PIDOF_OMIT bool
c 562 CONFIG_FEATURE_OSF_LABEL bool
c 563 CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS choice_bool
c 564 CONFIG_FEATURE_CHAT_SWALLOW_OPTS bool
c 565 CONFIG_NITPICK bool
c 566 CONFIG_FEATURE_QUERY_MODULE_INTERFACE hidden_bool
c 567 CONFIG_FEATURE_FAST_TOP bool
c 568 CONFIG_FEATURE_VOLUMEID_FAT bool
c 569 CONFIG_NSLOOKUP bool
c 570 CONFIG_FEATURE_FTPGETPUT_LONG_OPTIONS bool
c 571 CONFIG_FEATURE_INDIVIDUAL bool
c 572 CONFIG_PIDOF bool
c 573 CONFIG_CHOWN bool
c 574 CONFIG_CHROOT bool
c 575 CONFIG_CRYPTPW bool
c 576 CONFIG_FEATURE_FIND_MMIN bool
c 577 CONFIG_DPKG_DEB bool
c 578 CONFIG_FEATURE_SU_CHECKS_SHELLS bool
c 579 CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS bool
c 580 CONFIG_DPKG bool
c 581 CONFIG_FEATURE_HDPARM_HDIO_SCAN_HWIF bool
c 582 CONFIG_DEVFSD_VERBOSE bool
c 583 CONFIG_FETCHMAIL bool
c 584 CONFIG_PIVOT_ROOT bool
c 585 CONFIG_FEATURE_IFUPDOWN_IPV6 bool
c 586 CONFIG_FEATURE_ADDUSER_TO_GROUP bool
c 587 CONFIG_FEATURE_LS_COLOR bool
c 588 CONFIG_INSTALL_APPLET_SYMLINKS choice_bool
c 589 CONFIG_SU bool
c 590 CONFIG_RPM2CPIO bool
c 591 CONFIG_FEATURE_HDPARM_HDIO_GETSET_DMA bool
c 592 CONFIG_MONOTONIC_SYSCALL bool
c 593 CONFIG_FEATURE_TRACEROUTE_VERBOSE bool
c 594 CONFIG_RUNSV bool
c 595 CONFIG_FEATURE_AIX_LABEL bool
c 596 CONFIG_HOSTNAME bool
c 597 CONFIG_ROUTE bool
c 598 CONFIG_USE_BB_SHADOW bool
c 599 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME bool
c 600 CONFIG_FEATURE_VOLUMEID_UDF bool
c 601 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_ECHO bool
c 602 CONFIG_FEATURE_IPC_SYSLOG bool
c 603 CONFIG_FEATURE_HDPARM_HDIO_TRISTATE_HWIF bool
c 604 CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE bool
c 605 CONFIG_GETOPT_LONG bool
c 606 CONFIG_LOSETUP bool
c 607 CONFIG_FEATURE_VI_DOT_CMD bool
c 608 CONFIG_FEATURE_VOLUMEID_REISERFS bool
c 609 CONFIG_FEATURE_SH_EXTRA_QUIET bool
c 610 CONFIG_FEATURE_BUFFERS_USE_MALLOC choice_bool
c 611 CONFIG_FEATURE_DATE_ISOFMT bool
c 612 CONFIG_ASH_MATH_SUPPORT_64 bool
c 613 CONFIG_UDHCPC_SLACK_FOR_BUGGY_SERVERS nonbool 80
c 614 CONFIG_FEATURE_CHAT_VAR_ABORT_LEN bool
c 615 CONFIG_FEATURE_INIT_SYSLOG bool
c 616 CONFIG_IPCRM bool
c 617 CONFIG_FEATURE_IFUPDOWN_IP_BUILTIN bool
c 618 CONFIG_FEATURE_SUID_CONFIG bool
c 619 CONFIG_AWK bool
c 620 CONFIG_SETFILES bool
c 621 CONFIG_EXPR_MATH_SUPPORT_64 bool
c 622 CONFIG_FEATURE_VI_READONLY bool
c 623 CONFIG_APP_UDHCPD bool
c 624 CONFIG_DEBUG_INIT bool
c 625 CONFIG_FINDFS bool
c 626 CONFIG_FEATURE_DIFF_DIR bool
c 627 CONFIG_DATE bool
c 628 CONFIG_WHOAMI bool
c 629 CONFIG_INETD bool
c 630 CONFIG_FEATURE_HEXDUMP_REVERSE bool
c 631 CONFIG_FEATURE_DF_INODE bool
c 632 CONFIG_FEATURE_IFCONFIG_HW bool
c 633 CONFIG_FEATURE_PS_UNUSUAL_SYSTEMS bool
c 634 CONFIG_GETTY bool
c 635 CONFIG_FEATURE_DMESG_PRETTY bool
c 636 CONFIG_ASH_EXPAND_PRMT bool
c 637 CONFIG_FTPPUT bool
c 638 CONFIG_SETENFORCE bool
c 639 CONFIG_SWAPONOFF bool
c 640 CONFIG_FEATURE_FIND_NOT bool
c 641 CONFIG_FEATURE_VOLUMEID_ROMFS bool
c 642 CONFIG_SV bool
c 643 CONFIG_FEATURE_FIND_INUM bool
c 644 CONFIG_ASH_OPTIMIZE_FOR_SIZE bool
c 645 CONFIG_FEATURE_IPCALC_LONG_OPTIONS bool
c 646 CONFIG_DEBUG bool
c 647 CONFIG_TOP bool
c 648 CONFIG_IFENSLAVE bool
c 649 CONFIG_FEATURE_ENV_LONG_OPTIONS bool
c 650 CONFIG_ASH_CMDCMD bool
c 651 CONFIG_UNEXPAND bool
c 652 CONFIG_FEATURE_PS_WIDE bool
c 653 CONFIG_EJECT bool
c 654 CONFIG_APP_DUMPLEASES bool
c 655 CONFIG_UNLZMA bool
c 656 CONFIG_SVLOGD bool
c 657 CONFIG_FEATURE_FIND_DEPTH bool
c 658 CONFIG_FEATURE_TEE_USE_BLOCK_IO bool
c 659 CONFIG_FEATURE_TAR_OLDGNU_COMPATIBILITY bool
c 660 CONFIG_DHCPC_DEFAULT_SCRIPT nonbool "/usr/share/udhcpc/default.script"
c 661 CONFIG_FEATURE_GREP_FGREP_ALIAS bool
c 662 CONFIG_CHCON bool
c 663 CONFIG_SORT bool
c 664 CONFIG_FEATURE_MKSWAP_V0 bool
c 665 CONFIG_IPROUTE hidden_bool
c 666 CONFIG_READPROFILE bool
c 667 CONFIG_FEATURE_INSMOD_VERSION_CHECKING bool
c 668 CONFIG_TCPSVD bool
c 669 CONFIG_FEATURE_HUMAN_READABLE bool
c 670 CONFIG_TOUCH bool
c 671 CONFIG_FEATURE_INITRD bool
c 672 CONFIG_HUSH_IF bool
c 673 CONFIG_TIME bool
c 674 CONFIG_FEATURE_VOLUMEID_OCFS2 bool
c 675 CONFIG_FEATURE_VERBOSE_CP_MESSAGE bool
c 676 CONFIG_FEATURE_VOLUMEID_JFS bool
c 677 CONFIG_STTY bool
c 678 CONFIG_TTYSIZE bool
c 679 CONFIG_READAHEAD bool
c 680 CONFIG_SYSLOGD bool
c 681 CONFIG_NO_DEBUG_LIB choice_bool
c 682 CONFIG_FEATURE_VOLUMEID_CRAMFS bool
c 683 CONFIG_UDPSVD bool
c 684 CONFIG_ASH_ALIAS bool
c 685 CONFIG_GETENFORCE bool
c 686 CONFIG_FREE bool
c 687 CONFIG_FEATURE_HDPARM_HDIO_DRIVE_RESET bool
c 688 CONFIG_FEATURE_IPCALC_FANCY bool
c 689 CONFIG_FEATURE_PREFER_IPV4_ADDRESS bool
c 690 CONFIG_FEATURE_AWK_MATH bool
c 691 CONFIG_ARPING bool
c 692 CONFIG_FEATURE_CHAT_NOFAIL bool
p cnf 692 564
111 -507 0
-124 -309 665 0
-126 186 471 0
-364 577 0
426 -581 0
-106 442 0
486 -510 0
126 186 -471 0
86 -365 -634 0
255 -362 0
-67 109 0
124 -617 0
58 -512 0
-53 534 0
74 -429 -468 565 0
310 -333 0
235 -309 0
-44 390 605 0
-210 563 0
-255 362 0
-611 627 0
-39 -309 490 0
-150 467 0
457 -516 0
-479 485 0
-350 486 0
236 0
56 -135 -339 0
-117 390 0
-578 589 0
64 -434 0
-34 172 0
-71 86 365 486 589 634 0
305 -513 0
288 -366 0
-224 235 0
-44 390 0
-216 266 0
-231 605 0
114 -396 0
-514 515 0
-71 86 -486 0
-25 344 0
-167 -588 0
125 151 -565 610 0
226 -625 0
-167 -556 0
56 -383 0
251 -378 0
-553 629 0
-511 602 0
18 27 -167 392 0
71 -345 0
-88 532 0
-601 629 0
184 -278 357 0
189 -216 0
226 -676 0
450 -466 0
-270 605 0
89 402 468 -535 0
-346 485 0
56 -307 0
226 -641 0
114 -589 0
-131 402 445 0
390 -638 0
310 -316 0
305 -443 0
467 -657 0
71 -345 -634 0
-134 494 0
-82 -512 0
172 -282 0
-293 310 0
-500 538 0
-291 390 605 0
1 -376 0
-275 525 0
493 -629 0
-4 387 0
146 -190 0
-269 534 0
-18 27 0
-391 402 0
-379 485 0
-18 20 21 319 457 0
-242 629 0
-182 251 0
426 -603 0
-321 620 0
-367 467 0
251 -323 619 0
467 -640 0
390 -662 0
-391 429 535 0
-449 577 580 0
390 -620 0
-116 -277 0
186 -595 0
-198 235 0
-544 613 0
-4 605 0
111 -564 0
-195 605 0
114 -322 0
226 -568 0
310 -418 0
21 -59 0
-168 235 0
-285 457 0
-486 493 0
370 -635 0
235 -617 0
93 302 310 -336 0
204 -612 0
-55 160 482 0
104 196 -393 0
-506 604 0
-210 -413 0
251 -607 0
3 -415 0
391 -448 0
48 -398 0
-556 -563 0
-144 309 0
-74 429 468 0
1 -264 0
111 -614 0
-327 623 0
366 -633 0
189 -232 240 0
-556 -588 0
-103 618 0
-71 86 -365 0
97 -141 0
240 -559 0
-337 493 0
-356 495 0
-167 -563 0
21 -636 0
-163 544 623 0
496 -598 0
-156 587 0
39 -490 0
115 -220 0
-136 208 0
-394 447 0
20 21 319 457 -609 0
-335 485 0
-225 504 0
-44 662 0
-283 467 0
457 -474 0
-379 605 0
187 -645 0
124 -235 -617 0
226 -608 0
-219 402 0
38 -632 0
-421 493 0
-359 485 0
-135 597 0
281 -602 0
554 -661 0
-420 605 0
186 -434 0
266 -427 0
-52 554 0
174 -658 0
-367 657 0
56 -201 0
404 -664 0
-211 523 0
-125 -151 0
310 -587 605 0
305 -524 0
-12 442 0
-47 -285 0
-126 -186 471 0
544 -613 623 0
309 -490 0
-9 623 0
21 -650 0
-159 172 0
-252 467 0
-20 457 0
226 -455 0
226 -463 0
-599 629 0
189 232 -246 0
-78 467 0
21 -47 0
-219 535 0
86 -365 -486 0
-295 605 0
-259 577 580 0
-110 251 0
38 -135 0
-294 467 0
467 -576 0
-179 655 0
-205 521 0
-49 302 0
-303 589 0
-328 442 0
-439 451 452 0
19 -689 0
-3 255 0
-281 602 0
192 -621 0
114 -486 0
-37 647 0
-51 221 0
545 -586 0
-83 251 0
-74 429 565 0
-129 486 0
-468 518 565 0
-47 -414 0
-178 380 0
-148 226 0
619 -690 0
-602 680 0
19 -585 0
14 -326 0
-85 390 0
-183 563 0
-369 485 0
-94 275 0
104 -270 0
-116 -681 0
402 -667 0
21 -549 0
189 -232 246 0
-73 251 0
238 -477 0
9 -623 0
114 -340 0
-153 186 0
-183 -413 0
-291 605 0
-27 -58 0
493 -589 0
-42 189 240 0
-77 565 0
515 -582 0
-456 502 0
-300 344 0
21 -505 0
111 -206 0
-277 -681 0
-74 468 0
544 -660 0
-355 432 0
58 -82 -571 0
-65 172 0
-239 390 0
-140 221 0
-541 546 0
468 -518 565 0
-289 450 0
-329 442 0
134 -309 -494 0
-305 513 0
25 -300 0
251 -256 0
226 -674 0
419 -424 0
58 -82 -512 0
19 -331 0
-60 680 0
-92 457 0
-71 86 -589 0
402 -497 0
226 -274 0
111 -123 0
-331 504 0
226 -284 0
207 -291 390 0
-537 548 0
-28 172 0
56 -527 0
-102 390 0
493 -515 0
-271 511 0
184 -213 357 0
159 -543 0
120 -631 0
244 0
-125 565 0
-183 -210 0
33 356 -495 0
-79 467 0
64 -441 0
38 -503 0
450 -624 0
450 -671 0
493 -523 0
21 -26 0
-384 467 0
-348 485 0
390 -685 0
87 -570 637 0
-15 457 0
221 -403 0
-321 390 0
-570 605 0
-17 653 0
368 -420 0
-75 322 0
310 -587 0
-39 235 617 0
91 -470 0
-44 605 0
-272 486 0
623 -654 0
-35 255 0
310 -352 0
175 -435 0
72 -652 0
251 -276 0
35 -255 0
-164 663 0
167 556 563 588 0
184 -249 0
142 -245 0
429 -535 566 0
-185 528 0
-176 493 0
-145 485 0
251 -412 0
-171 189 0
56 -135 0
142 -626 0
468 -518 0
21 -684 0
-151 565 0
114 -421 0
-22 38 0
226 -389 0
38 -579 0
89 402 -429 468 0
21 -306 0
426 -591 0
565 -610 0
346 359 -399 0
-2 173 0
-544 613 -623 0
-429 -566 0
200 0
-5 493 0
-51 605 0
-157 485 0
605 -649 0
-464 467 0
-118 544 623 0
173 -593 0
107 0
189 -400 0
73 -251 0
-126 471 0
-301 309 0
207 -291 605 0
38 -433 0
-44 390 662 0
-193 467 0
-137 426 0
368 -508 0
173 -334 0
91 -520 0
71 -86 365 486 589 634 0
-40 680 0
533 -598 0
-232 246 0
546 -558 0
39 -235 -617 0
132 0
311 -385 0
-561 572 0
56 -339 0
48 -630 0
-217 467 0
-265 450 0
-483 577 580 0
-216 493 0
347 -361 0
-71 345 486 589 634 0
-62 255 0
-71 86 0
93 -230 647 0
-46 421 0
72 -366 0
172 -253 0
426 -687 0
-237 251 0
126 -679 0
535 -667 0
152 -195 0
605 -645 0
187 -688 0
159 -409 0
183 210 413 -563 0
-427 629 0
-144 168 0
-44 605 662 0
-134 309 0
613 -623 0
-71 86 -634 0
-587 605 0
-371 525 0
-292 390 0
-563 -588 0
226 -682 0
467 -472 0
496 533 -598 0
58 -571 0
-122 544 623 0
144 -168 -309 0
111 -509 0
-279 491 0
309 -665 0
494 -617 0
-64 186 0
-223 226 0
-285 -330 0
120 310 419 -669 0
47 285 330 414 0
-82 -571 0
-125 -610 0
296 -649 0
-413 563 0
30 -161 0
-273 629 0
305 -481 0
-537 605 0
-74 468 565 0
-124 235 617 0
-385 605 0
-189 -232 246 0
172 -430 0
21 -431 0
-135 -339 0
390 -517 0
226 -498 0
-459 491 0
21 -170 0
-181 467 0
71 -345 -486 0
15 -318 0
21 -209 0
-525 532 0
-57 114 0
-231 375 0
-47 -330 0
255 -263 0
142 -478 0
56 -585 0
-63 341 0
189 -473 0
-235 494 -617 0
64 -153 0
-99 226 0
251 -622 0
124 235 -617 0
-128 390 0
-500 605 0
116 277 681 0
-285 -414 0
-14 265 0
71 -345 -589 0
332 -428 0
-33 495 0
255 -465 0
235 -494 617 0
172 -203 0
-158 680 0
339 -617 0
39 -617 0
189 -438 0
235 494 -617 0
450 -615 0
493 -522 0
-198 301 -309 0
114 -618 0
43 -247 0
-247 605 0
-381 450 0
-74 429 0
189 -389 0
65 -437 0
21 -644 0
390 -488 0
251 -343 0
535 -566 0
-45 302 0
64 -595 0
-497 535 0
-84 485 0
485 -659 0
124 -665 0
447 -542 0
64 -562 0
21 -204 0
-113 310 0
-377 445 0
-295 651 0
493 -634 0
-322 493 0
-14 326 0
-450 493 0
111 -692 0
-207 390 0
39 235 -617 0
207 -291 0
-520 605 0
172 -454 0
67 -109 0
86 -365 -589 0
152 -460 545 0
457 -672 0
226 -600 0
-411 421 0
-291 390 0
-202 305 0
90 -162 0
-151 -610 0
-360 467 0
-492 572 0
-180 623 0
-85 467 0
-257 493 0
-13 21 0
311 -536 0
54 0
186 -562 0
467 -547 0
-33 -356 0
-544 660 0
-70 184 357 0
-56 527 0
198 -301 0
86 -365 0
176 -250 0
186 -441 0
-69 467 0
-138 515 0
172 -342 0
-604 647 0
467 -643 0
319 -414 0
-330 -414 0
-234 604 0
189 -314 0
21 -62 0
297 -351 0
-280 554 0
-36 332 0
544 -552 0
114 -616 0
-8 305 0
408 -480 0
226 -229 0
-353 426 0
