c 1 CONFIG_KILL bool
c 2 CONFIG_FEATURE_TRACEROUTE_USE_ICMP bool
c 3 CONFIG_FEATURE_TAB_COMPLETION bool
c 4 CONFIG_FEATURE_INSTALL_LONG_OPTIONS bool
c 5 CONFIG_LOGGER bool
c 6 CONFIG_WHICH bool
c 7 CONFIG_FEATURE_PIDFILE bool
c 8 CONFIG_FEATURE_LESS_FLAGS bool
c 9 CONFIG_RAIDAUTORUN bool
c 10 CONFIG_LSATTR bool
c 11 CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION bool
c 12 CONFIG_ASH_MAIL bool
c 13 CONFIG_HUSH_INTERACTIVE bool
c 14 CONFIG_UUDECODE bool
c 15 CONFIG_FEATURE_SH_STANDALONE bool
c 16 CONFIG_FEATURE_IPV6 bool
c 17 CONFIG_LASH bool
c 18 CONFIG_ASH bool
c 19 CONFIG_FEATURE_IFCONFIG_MEMSTART_IOADDR_IRQ bool
c 20 CONFIG_OPENVT bool
c 21 CONFIG_SWITCH_ROOT bool
c 22 CONFIG_ASH_READ_NCHARS bool
c 23 CONFIG_FEATURE_PREFER_APPLETS bool
c 24 CONFIG_ADJTIMEX bool
c 25 CONFIG_AR bool
c 26 CONFIG_CTTYHACK bool
c 27 CONFIG_WATCH bool
c 28 CONFIG_FEATURE_MAKEDEVS_TABLE choice_bool
c 29 CONFIG_FEATURE_HTTPD_RELOAD_CONFIG_SIGHUP bool
c 30 CONFIG_FEATURE_EDITING_MAX_LEN nonbool 1024
c 31 CONFIG_NC_EXTRA bool
c 32 CONFIG_IFCONFIG bool
c 33 CONFIG_FEATURE_IP_LINK bool
c 34 CONFIG_FEATURE_ROTATE_LOGFILE bool
c 35 CONFIG_FEATURE_MOUNT_LOOP bool
c 36 CONFIG_MKDIR bool
c 37 CONFIG_FEATURE_CHCON_LONG_OPTIONS bool
c 38 CONFIG_FEATURE_TELNET_AUTOLOGIN bool
c 39 CONFIG_DEBUG_CROND_OPTION bool
c 40 CONFIG_FEATURE_SH_IS_ASH choice_bool
c 41 CONFIG_HEXDUMP bool
c 42 CONFIG_FEATURE_TELNET_TTYPE bool
c 43 CONFIG_CATV bool
c 44 CONFIG_FEATURE_WGET_LONG_OPTIONS bool
c 45 CONFIG_FEATURE_GREP_CONTEXT bool
c 46 CONFIG_FEATURE_TR_EQUIV bool
c 47 CONFIG_PASSWORD_MINLEN nonbool 6
c 48 CONFIG_FEATURE_MD5_SHA1_SUM_CHECK bool
c 49 CONFIG_IFUPDOWN bool
c 50 CONFIG_IPCS bool
c 51 CONFIG_BUILD_LIBBUSYBOX bool
c 52 CONFIG_ASH_JOB_CONTROL bool
c 53 CONFIG_FEATURE_REMOTE_LOG bool
c 54 CONFIG_FREERAMDISK bool
c 55 CONFIG_FEATURE_EDITING_SAVEHISTORY bool
c 56 CONFIG_FEATURE_TASKSET_FANCY bool
c 57 CONFIG_FEATURE_FDISK_WRITABLE bool
c 58 CONFIG_FEATURE_HTTPD_BASIC_AUTH bool
c 59 CONFIG_SETKEYCODES bool
c 60 CONFIG_UNIX2DOS hidden_bool
c 61 CONFIG_SEQ bool
c 62 CONFIG_FEATURE_FIND_XDEV bool
c 63 CONFIG_FEATURE_TFTP_PUT bool
c 64 CONFIG_FEATURE_WTMP bool
c 65 CONFIG_PS bool
c 66 CONFIG_FEATURE_VI_MAX_LEN nonbool 1024
c 67 CONFIG_FEATURE_MODPROBE_FANCY_ALIAS bool
c 68 CONFIG_FEATURE_PASSWD_WEAK_CHECK bool
c 69 CONFIG_SYNC bool
c 70 CONFIG_FEATURE_CLEAN_UP bool
c 71 CONFIG_FEATURE_FIND_PERM bool
c 72 CONFIG_FEATURE_FIND_MAXDEPTH bool
c 73 CONFIG_GZIP bool
c 74 CONFIG_CHRT bool
c 75 CONFIG_STATIC bool
c 76 CONFIG_FEATURE_VI_YANKMARK bool
c 77 CONFIG_FEATURE_TAR_FROM bool
c 78 CONFIG_FEATURE_FIND_CONTEXT bool
c 79 CONFIG_FEATURE_UTMP bool
c 80 CONFIG_FTPGET bool
c 81 CONFIG_FEATURE_MDEV_LOAD_FIRMWARE bool
c 82 CONFIG_FEATURE_FULL_LIBBUSYBOX bool
c 83 CONFIG_RMMOD bool
c 84 CONFIG_TAIL bool
c 85 CONFIG_RUN_PARTS bool
c 86 CONFIG_HUSH_TICK bool
c 87 CONFIG_MORE bool
c 88 CONFIG_DNSD bool
c 89 CONFIG_CMP bool
c 90 CONFIG_GUNZIP bool
c 91 CONFIG_UNAME bool
c 92 CONFIG_LOAD_POLICY bool
c 93 CONFIG_FEATURE_SUID_CONFIG_QUIET bool
c 94 CONFIG_MV bool
c 95 CONFIG_PATCH bool
c 96 CONFIG_FEATURE_XARGS_SUPPORT_ZERO_TERM bool
c 97 CONFIG_HAVE_DOT_CONFIG hidden_bool
c 98 CONFIG_DOS2UNIX bool
c 99 CONFIG_FEATURE_VI_OPTIMIZE_CURSOR bool
c 100 CONFIG_MKTEMP bool
c 101 CONFIG_FEATURE_LS_FILETYPES bool
c 102 CONFIG_FEATURE_SUID bool
c 103 CONFIG_READLINK bool
c 104 CONFIG_DMALLOC choice_bool
c 105 CONFIG_FEATURE_RFC3397 bool
c 106 CONFIG_DF bool
c 107 CONFIG_RUNLEVEL bool
c 108 CONFIG_FEATURE_IP_ROUTE bool
c 109 CONFIG_FEATURE_BUFFERS_GO_ON_STACK choice_bool
c 110 CONFIG_LFS bool
c 111 CONFIG_SETLOGCONS bool
c 112 CONFIG_LOGIN_SCRIPTS bool
c 113 CONFIG_FEATURE_CHECK_TAINTED_MODULE bool
c 114 CONFIG_RUNSVDIR bool
c 115 CONFIG_IPADDR hidden_bool
c 116 CONFIG_FEATURE_IFUPDOWN_IFCONFIG_BUILTIN bool
c 117 CONFIG_FEATURE_SPLIT_FANCY bool
c 118 CONFIG_FEATURE_HDPARM_HDIO_UNREGISTER_HWIF bool
c 119 CONFIG_DEVFSD_FG_NP bool
c 120 CONFIG_UNCOMPRESS bool
c 121 CONFIG_FEATURE_WGET_STATUSBAR bool
c 122 CONFIG_FEATURE_GUNZIP_UNCOMPRESS bool
c 123 CONFIG_DIFF bool
c 124 CONFIG_UNZIP bool
c 125 CONFIG_IPRULE hidden_bool
c 126 CONFIG_RESIZE bool
c 127 CONFIG_YES bool
c 128 CONFIG_ARP bool
c 129 CONFIG_FEATURE_FIND_NEWER bool
c 130 CONFIG_FEATURE_BUFFERS_GO_IN_BSS choice_bool
c 131 CONFIG_ADDUSER bool
c 132 CONFIG_FEATURE_SUN_LABEL bool
c 133 CONFIG_FOLD bool
c 134 CONFIG_FEATURE_LS_COLOR_IS_DEFAULT bool
c 135 CONFIG_FEATURE_TAR_LZMA bool
c 136 CONFIG_FEATURE_HTTPD_CGI bool
c 137 CONFIG_SHA1SUM bool
c 138 CONFIG_FEATURE_AR_LONG_FILENAMES bool
c 139 CONFIG_FEATURE_FANCY_TAIL bool
c 140 CONFIG_FEATURE_UDHCP_DEBUG bool
c 141 CONFIG_FEATURE_SORT_BIG bool
c 142 CONFIG_USLEEP bool
c 143 CONFIG_NICE bool
c 144 CONFIG_INSTALL_APPLET_DONT choice_bool
c 145 CONFIG_FEATURE_IP_RULE bool
c 146 CONFIG_VCONFIG bool
c 147 CONFIG_ASH_GETOPTS bool
c 148 CONFIG_FEATURE_MOUNT_FLAGS bool
c 149 CONFIG_HTTPD bool
c 150 CONFIG_TRACEROUTE bool
c 151 CONFIG_TEE bool
c 152 CONFIG_TEST bool
c 153 CONFIG_NAMEIF bool
c 154 CONFIG_ID bool
c 155 CONFIG_FEATURE_FANCY_SLEEP bool
c 156 CONFIG_FEATURE_LZMA_FAST bool
c 157 CONFIG_APP_DHCPRELAY bool
c 158 CONFIG_FEATURE_FIND_MTIME bool
c 159 CONFIG_FEATURE_SH_IS_LASH choice_bool
c 160 CONFIG_FEATURE_VI_WIN_RESIZE bool
c 161 CONFIG_TFTP bool
c 162 CONFIG_FDISK bool
c 163 CONFIG_IPCALC bool
c 164 CONFIG_BUNZIP2 bool
c 165 CONFIG_MOUNT bool
c 166 CONFIG_FEATURE_RESIZE_PRINT bool
c 167 CONFIG_HOSTID bool
c 168 CONFIG_EXPR bool
c 169 CONFIG_FEATURE_FIND_USER bool
c 170 CONFIG_FEATURE_DEVFS bool
c 171 CONFIG_CP bool
c 172 CONFIG_FEATURE_IP_TUNNEL bool
c 173 CONFIG_CHPST bool
c 174 CONFIG_PREFIX nonbool "./_install"
c 175 CONFIG_FEATURE_IFUPDOWN_MAPPING bool
c 176 CONFIG_FEATURE_LESS_FLAGCS bool
c 177 CONFIG_ASH_MATH_SUPPORT bool
c 178 CONFIG_FEATURE_FANCY_ECHO bool
c 179 CONFIG_RUNCON bool
c 180 CONFIG_SPLIT bool
c 181 CONFIG_FEATURE_UDHCP_SYSLOG bool
c 182 CONFIG_ASH_BUILTIN_ECHO bool
c 183 CONFIG_FEATURE_TELNETD_STANDALONE bool
c 184 CONFIG_SED bool
c 185 CONFIG_FEATURE_TFTP_BLOCKSIZE bool
c 186 CONFIG_RESET bool
c 187 CONFIG_BBCONFIG bool
c 188 CONFIG_FEATURE_MOUNT_NFS bool
c 189 CONFIG_FEATURE_FIND_PRUNE bool
c 190 CONFIG_FEATURE_INSMOD_LOADINKMEM bool
c 191 CONFIG_FEATURE_READLINK_FOLLOW bool
c 192 CONFIG_WGET bool
c 193 CONFIG_RX bool
c 194 CONFIG_FEATURE_FANCY_PING bool
c 195 CONFIG_ENVDIR bool
c 196 CONFIG_LOADFONT bool
c 197 CONFIG_FEATURE_USE_TERMIOS bool
c 198 CONFIG_FEATURE_SETCONSOLE_LONG_OPTIONS bool
c 199 CONFIG_FEATURE_MTAB_SUPPORT bool
c 200 CONFIG_NOHUP bool
c 201 CONFIG_FEATURE_TOP_DECIMALS bool
c 202 CONFIG_IP bool
c 203 CONFIG_BUSYBOX_EXEC_PATH nonbool "/proc/self/exe"
c 204 CONFIG_FEATURE_VI_COLON bool
c 205 CONFIG_HEAD bool
c 206 CONFIG_MATCHPATHCON bool
c 207 CONFIG_UMOUNT bool
c 208 CONFIG_DIRNAME bool
c 209 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN bool
c 210 CONFIG_CLEAR bool
c 211 CONFIG_MD5_SIZE_VS_SPEED nonbool 2
c 212 CONFIG_FEATURE_DIFF_BINARY bool
c 213 CONFIG_FEATURE_MKDIR_LONG_OPTIONS bool
c 214 CONFIG_LOCALE_SUPPORT bool
c 215 CONFIG_DEBUG_TFTP bool
c 216 CONFIG_VI bool
c 217 CONFIG_FEATURE_FIND_PRINT0 bool
c 218 CONFIG_STRINGS bool
c 219 CONFIG_FEATURE_EDITING bool
c 220 CONFIG_FEATURE_VI_SET bool
c 221 CONFIG_SULOGIN bool
c 222 CONFIG_RDATE bool
c 223 CONFIG_FEATURE_DEB_TAR_LZMA bool
c 224 CONFIG_FDFLUSH bool
c 225 CONFIG_SUM bool
c 226 CONFIG_CKSUM bool
c 227 CONFIG_FEATURE_EDITING_FANCY_PROMPT bool
c 228 CONFIG_KILLALL5 bool
c 229 CONFIG_FEATURE_USE_INITTAB bool
c 230 CONFIG_FEATURE_HAVE_RPC bool
c 231 CONFIG_SETSID bool
c 232 CONFIG_INSTALL_NO_USR bool
c 233 CONFIG_FEATURE_TR_CLASSES bool
c 234 CONFIG_FEATURE_MV_LONG_OPTIONS bool
c 235 CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING bool
c 236 CONFIG_FEATURE_SECURETTY bool
c 237 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_TIME bool
c 238 CONFIG_FEATURE_VI_SETOPTS bool
c 239 CONFIG_EFENCE choice_bool
c 240 CONFIG_FEATURE_TFTP_GET bool
c 241 CONFIG_FEATURE_VERBOSE_USAGE bool
c 242 CONFIG_FEATURE_GREP_EGREP_ALIAS bool
c 243 CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE nonbool 16
c 244 CONFIG_FEATURE_FIND_PATH bool
c 245 CONFIG_FEATURE_SH_IS_HUSH choice_bool
c 246 CONFIG_FDFORMAT bool
c 247 CONFIG_MKFIFO bool
c 248 CONFIG_DESKTOP bool
c 249 CONFIG_FEATURE_EXTRA_QUIET bool
c 250 CONFIG_PIPE_PROGRESS bool
c 251 CONFIG_FEATURE_RUNCON_LONG_OPTIONS bool
c 252 CONFIG_FEATURE_LS_TIMESTAMPS bool
c 253 CONFIG_FEATURE_FIND_SIZE bool
c 254 CONFIG_ENV bool
c 255 CONFIG_STAT bool
c 256 CONFIG_VERBOSE_RESOLUTION_ERRORS bool
c 257 CONFIG_IPTUNNEL hidden_bool
c 258 CONFIG_TELNET bool
c 259 CONFIG_FEATURE_SU_SYSLOG bool
c 260 CONFIG_UPTIME bool
c 261 CONFIG_LESS bool
c 262 CONFIG_FEATURE_IFUPDOWN_IPV4 bool
c 263 CONFIG_HALT bool
c 264 CONFIG_FEATURE_IP_SHORT_FORMS bool
c 265 CONFIG_LS bool
c 266 CONFIG_START_STOP_DAEMON bool
c 267 CONFIG_DUMPKMAP bool
c 268 CONFIG_PRINTF bool
c 269 CONFIG_FEATURE_MOUNT_FSTAB bool
c 270 CONFIG_LOGNAME bool
c 271 CONFIG_FEATURE_LS_RECURSIVE bool
c 272 CONFIG_HUSH_JOB bool
c 273 CONFIG_MSH bool
c 274 CONFIG_FEATURE_EDITING_FANCY_KEYS bool
c 275 CONFIG_BB_SYSCTL bool
c 276 CONFIG_PASSWD bool
c 277 CONFIG_FEATURE_ALLOW_EXEC bool
c 278 CONFIG_ED bool
c 279 CONFIG_CAL bool
c 280 CONFIG_FEATURE_XARGS_SUPPORT_QUOTES bool
c 281 CONFIG_FEATURE_XARGS_SUPPORT_TERMOPT bool
c 282 CONFIG_FEATURE_SH_IS_NONE choice_bool
c 283 CONFIG_PING6 bool
c 284 CONFIG_NC bool
c 285 CONFIG_FEATURE_LS_FOLLOWLINKS bool
c 286 CONFIG_FEATURE_TRACEROUTE_SOURCE_ROUTE bool
c 287 CONFIG_FEATURE_TAR_GNU_EXTENSIONS bool
c 288 CONFIG_FEATURE_AUTOWIDTH bool
c 289 CONFIG_FAKEIDENTD bool
c 290 CONFIG_WATCHDOG bool
c 291 CONFIG_FEATURE_IFUPDOWN_IP bool
c 292 CONFIG_CRONTAB bool
c 293 CONFIG_TASKSET bool
c 294 CONFIG_FEATURE_HTTPD_CONFIG_WITH_MIME_TYPES bool
c 295 CONFIG_FEATURE_VI_USE_SIGNALS bool
c 296 CONFIG_LAST bool
c 297 CONFIG_FEATURE_UNARCHIVE_TAPE bool
c 298 CONFIG_FEATURE_TAR_BZIP2 bool
c 299 CONFIG_WC bool
c 300 CONFIG_FEATURE_TAR_CREATE bool
c 301 CONFIG_GETOPT bool
c 302 CONFIG_FEATURE_STAT_FORMAT bool
c 303 CONFIG_FEATURE_LS_SORTFILES bool
c 304 CONFIG_FEATURE_HDPARM_GET_IDENTITY bool
c 305 CONFIG_CHMOD bool
c 306 CONFIG_FEATURE_RPM_BZ2 bool
c 307 CONFIG_FEATURE_MAKEDEVS_LEAF choice_bool
c 308 CONFIG_REALPATH bool
c 309 CONFIG_FEATURE_TAR_GZIP bool
c 310 CONFIG_FEATURE_FIND_REGEX bool
c 311 CONFIG_FEATURE_WC_LARGE bool
c 312 CONFIG_FEATURE_EDITING_HISTORY nonbool 15
c 313 CONFIG_UNIQ bool
c 314 CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY bool
c 315 CONFIG_WHO bool
c 316 CONFIG_FEATURE_FIND_DELETE bool
c 317 CONFIG_HWCLOCK bool
c 318 CONFIG_FEATURE_TAR_COMPRESS bool
c 319 CONFIG_DMESG bool
c 320 CONFIG_FEATURE_MDEV_EXEC bool
c 321 CONFIG_MT bool
c 322 CONFIG_MKNOD bool
c 323 CONFIG_MOUNTPOINT bool
c 324 CONFIG_SETCONSOLE bool
c 325 CONFIG_KILLALL bool
c 326 CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT bool
c 327 CONFIG_FEATURE_VI_SEARCH bool
c 328 CONFIG_FEATURE_TAR_LONG_OPTIONS bool
c 329 CONFIG_SLEEP bool
c 330 CONFIG_FEATURE_INIT_COREDUMPS bool
c 331 CONFIG_WERROR bool
c 332 CONFIG_FEATURE_IFUPDOWN_EXTERNAL_DHCP bool
c 333 CONFIG_FEATURE_FIND_TYPE bool
c 334 CONFIG_FEATURE_START_STOP_DAEMON_LONG_OPTIONS bool
c 335 CONFIG_LOADKMAP bool
c 336 CONFIG_INSTALL bool
c 337 CONFIG_FUSER bool
c 338 CONFIG_SELINUX bool
c 339 CONFIG_FEATURE_INSMOD_LOAD_MAP bool
c 340 CONFIG_FEATURE_INSTALLER bool
c 341 CONFIG_FEATURE_PRESERVE_HARDLINKS bool
c 342 CONFIG_FEATURE_FBSET_FANCY bool
c 343 CONFIG_VLOCK bool
c 344 CONFIG_KLOGD bool
c 345 CONFIG_ETHER_WAKE bool
c 346 CONFIG_INSMOD bool
c 347 CONFIG_FEATURE_WGET_AUTHENTICATION bool
c 348 CONFIG_MKSWAP bool
c 349 CONFIG_RENICE bool
c 350 CONFIG_CHATTR bool
c 351 CONFIG_NETSTAT bool
c 352 CONFIG_FEATURE_HTTPD_SET_REMOTE_PORT_TO_ENV bool
c 353 CONFIG_OD bool
c 354 CONFIG_FEATURE_CROND_CALL_SENDMAIL bool
c 355 CONFIG_FEATURE_SH_IS_MSH choice_bool
c 356 CONFIG_FEATURE_USERNAME_COMPLETION bool
c 357 CONFIG_TTY bool
c 358 CONFIG_FEATURE_LS_USERNAME bool
c 359 CONFIG_DU bool
c 360 CONFIG_FEATURE_HWCLOCK_LONG_OPTIONS bool
c 361 CONFIG_CROND bool
c 362 CONFIG_PWD bool
c 363 CONFIG_INCLUDE_SUSv2 bool
c 364 CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K bool
c 365 CONFIG_COMM bool
c 366 CONFIG_HDPARM bool
c 367 CONFIG_FEATURE_INETD_RPC bool
c 368 CONFIG_NC_SERVER bool
c 369 CONFIG_FEATURE_2_6_MODULES bool
c 370 CONFIG_FEATURE_HTTPD_ENCODE_URL_STR bool
c 371 CONFIG_ASH_RANDOM_SUPPORT bool
c 372 CONFIG_RPM bool
c 373 CONFIG_FEATURE_IFCONFIG_STATUS bool
c 374 CONFIG_FEATURE_SGI_LABEL bool
c 375 CONFIG_FEATURE_TEST_64 bool
c 376 CONFIG_CHVT bool
c 377 CONFIG_FEATURE_HTTPD_AUTH_MD5 bool
c 378 CONFIG_FEATURE_MOUNT_CIFS bool
c 379 CONFIG_FEATURE_MINIX2 bool
c 380 CONFIG_FEATURE_DEVPTS bool
c 381 CONFIG_FEATURE_FDISK_ADVANCED bool
c 382 CONFIG_XARGS bool
c 383 CONFIG_FEATURE_LESS_BRACKETS bool
c 384 CONFIG_DELUSER bool
c 385 CONFIG_LSMOD bool
c 386 CONFIG_DC bool
c 387 CONFIG_FBSET bool
c 388 CONFIG_FEATURE_INSMOD_LOAD_MAP_FULL bool
c 389 CONFIG_FEATURE_DEB_TAR_GZ bool
c 390 CONFIG_INIT bool
c 391 CONFIG_FSCK_MINIX bool
c 392 CONFIG_MKFS_MINIX bool
c 393 CONFIG_DEALLOCVT bool
c 394 CONFIG_FEATURE_HTTPD_SETUID bool
c 395 CONFIG_FEATURE_DEL_USER_FROM_GROUP bool
c 396 CONFIG_HUSH bool
c 397 CONFIG_BASENAME bool
c 398 CONFIG_FEATURE_COMPRESS_USAGE bool
c 399 CONFIG_RM bool
c 400 CONFIG_LN bool
c 401 CONFIG_FEATURE_FIND_PAREN bool
c 402 CONFIG_FEATURE_EDITING_VI bool
c 403 CONFIG_FEATURE_INIT_SCTTY bool
c 404 CONFIG_FIND bool
c 405 CONFIG_MODPROBE bool
c 406 CONFIG_CUT bool
c 407 CONFIG_FEATURE_RUN_PARTS_FANCY bool
c 408 CONFIG_FDISK_SUPPORT_LARGE_DISKS bool
c 409 CONFIG_FEATURE_FIND_EXEC bool
c 410 CONFIG_HUSH_LOOPS bool
c 411 CONFIG_SETUIDGID bool
c 412 CONFIG_FEATURE_FANCY_HEAD bool
c 413 CONFIG_FEATURE_DIFF_MINIMAL bool
c 414 CONFIG_FEATURE_NETSTAT_WIDE bool
c 415 CONFIG_FEATURE_LESS_REGEXP bool
c 416 CONFIG_MD5SUM bool
c 417 CONFIG_FEATURE_DEB_TAR_BZ2 bool
c 418 CONFIG_FALSE bool
c 419 CONFIG_TAR bool
c 420 CONFIG_LOGIN bool
c 421 CONFIG_MESG bool
c 422 CONFIG_GETSEBOOL bool
c 423 CONFIG_NMETER bool
c 424 CONFIG_IPLINK hidden_bool
c 425 CONFIG_SHOW_USAGE bool
c 426 CONFIG_FEATURE_PIDOF_SINGLE bool
c 427 CONFIG_FEATURE_SYSLOG bool
c 428 CONFIG_FEATURE_IP_ADDRESS bool
c 429 CONFIG_MAKEDEVS bool
c 430 CONFIG_FEATURE_SHADOWPASSWDS bool
c 431 CONFIG_FEATURE_INSMOD_KSYMOOPS_SYMBOLS bool
c 432 CONFIG_PRINTENV bool
c 433 CONFIG_SETARCH bool
c 434 CONFIG_DELGROUP bool
c 435 CONFIG_FEATURE_IFCONFIG_SLIP bool
c 436 CONFIG_PING bool
c 437 CONFIG_ASH_BUILTIN_TEST bool
c 438 CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS bool
c 439 CONFIG_FEATURE_HWCLOCK_ADJTIME_FHS bool
c 440 CONFIG_FEATURE_NOLOGIN bool
c 441 CONFIG_LOGREAD bool
c 442 CONFIG_FEATURE_SHARED_BUSYBOX bool
c 443 CONFIG_FEATURE_LESS_MAXLINES nonbool 9999999
c 444 CONFIG_DEVFSD_MODLOAD bool
c 445 CONFIG_DEVFSD bool
c 446 CONFIG_HUSH_HELP bool
c 447 CONFIG_SELINUXENABLED bool
c 448 CONFIG_FEATURE_MODPROBE_MULTIPLE_OPTIONS bool
c 449 CONFIG_FEATURE_RUN_PARTS_LONG_OPTIONS bool
c 450 CONFIG_ECHO bool
c 451 CONFIG_ZCIP bool
c 452 CONFIG_TELNETD bool
c 453 CONFIG_FEATURE_LESS_MARKS bool
c 454 CONFIG_FEATURE_MDEV_CONF bool
c 455 CONFIG_TRUE bool
c 456 CONFIG_CPIO bool
c 457 CONFIG_FSCK bool
c 458 CONFIG_FEATURE_ETC_NETWORKS bool
c 459 CONFIG_CHGRP bool
c 460 CONFIG_MDEV bool
c 461 CONFIG_USE_BB_PWD_GRP bool
c 462 CONFIG_TR bool
c 463 CONFIG_FEATURE_2_4_MODULES bool
c 464 CONFIG_FEATURE_START_STOP_DAEMON_FANCY bool
c 465 CONFIG_ENVUIDGID bool
c 466 CONFIG_CAT bool
c 467 CONFIG_FEATURE_DD_IBS_OBS bool
c 468 CONFIG_FEATURE_FBSET_READMODE bool
c 469 CONFIG_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR bool
c 470 CONFIG_APP_UDHCPC bool
c 471 CONFIG_ADDGROUP bool
c 472 CONFIG_DD bool
c 473 CONFIG_FEATURE_FIND_GROUP bool
c 474 CONFIG_RMDIR bool
c 475 CONFIG_ASH_READ_TIMEOUT bool
c 476 CONFIG_LENGTH bool
c 477 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD bool
c 478 CONFIG_GREP bool
c 479 CONFIG_PSCAN bool
c 480 CONFIG_INSTALL_APPLET_HARDLINKS choice_bool
c 481 CONFIG_SOFTLIMIT bool
c 482 CONFIG_FEATURE_DD_SIGNAL_HANDLING bool
c 483 CONFIG_FEATURE_UMOUNT_ALL bool
c 484 CONFIG_UUENCODE bool
c 485 CONFIG_FEATURE_PIDOF_OMIT bool
c 486 CONFIG_FEATURE_OSF_LABEL bool
c 487 CONFIG_NITPICK bool
c 488 CONFIG_FEATURE_QUERY_MODULE_INTERFACE hidden_bool
c 489 CONFIG_FEATURE_FAST_TOP bool
c 490 CONFIG_NSLOOKUP bool
c 491 CONFIG_FEATURE_FTPGETPUT_LONG_OPTIONS bool
c 492 CONFIG_PIDOF bool
c 493 CONFIG_CHOWN bool
c 494 CONFIG_CHROOT bool
c 495 CONFIG_CRYPTPW bool
c 496 CONFIG_FEATURE_FIND_MMIN bool
c 497 CONFIG_DPKG_DEB bool
c 498 CONFIG_FEATURE_SU_CHECKS_SHELLS bool
c 499 CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS bool
c 500 CONFIG_DPKG bool
c 501 CONFIG_FEATURE_HDPARM_HDIO_SCAN_HWIF bool
c 502 CONFIG_DEVFSD_VERBOSE bool
c 503 CONFIG_PIVOT_ROOT bool
c 504 CONFIG_FEATURE_IFUPDOWN_IPV6 bool
c 505 CONFIG_FEATURE_ADDUSER_TO_GROUP bool
c 506 CONFIG_FEATURE_LS_COLOR bool
c 507 CONFIG_INSTALL_APPLET_SYMLINKS choice_bool
c 508 CONFIG_SU bool
c 509 CONFIG_RPM2CPIO bool
c 510 CONFIG_FEATURE_HDPARM_HDIO_GETSET_DMA bool
c 511 CONFIG_MONOTONIC_SYSCALL bool
c 512 CONFIG_FEATURE_TRACEROUTE_VERBOSE bool
c 513 CONFIG_RUNSV bool
c 514 CONFIG_FEATURE_AIX_LABEL bool
c 515 CONFIG_HOSTNAME bool
c 516 CONFIG_ROUTE bool
c 517 CONFIG_USE_BB_SHADOW bool
c 518 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME bool
c 519 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_ECHO bool
c 520 CONFIG_FEATURE_IPC_SYSLOG bool
c 521 CONFIG_FEATURE_HDPARM_HDIO_TRISTATE_HWIF bool
c 522 CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE bool
c 523 CONFIG_GETOPT_LONG bool
c 524 CONFIG_LOSETUP bool
c 525 CONFIG_FEATURE_VI_DOT_CMD bool
c 526 CONFIG_FEATURE_SH_EXTRA_QUIET bool
c 527 CONFIG_FEATURE_BUFFERS_USE_MALLOC choice_bool
c 528 CONFIG_FEATURE_DATE_ISOFMT bool
c 529 CONFIG_ASH_MATH_SUPPORT_64 bool
c 530 CONFIG_BUILD_AT_ONCE bool
c 531 CONFIG_FEATURE_INIT_SYSLOG bool
c 532 CONFIG_IPCRM bool
c 533 CONFIG_FEATURE_IFUPDOWN_IP_BUILTIN bool
c 534 CONFIG_FEATURE_SUID_CONFIG bool
c 535 CONFIG_AWK bool
c 536 CONFIG_EXPR_MATH_SUPPORT_64 bool
c 537 CONFIG_FEATURE_VI_READONLY bool
c 538 CONFIG_APP_UDHCPD bool
c 539 CONFIG_DEBUG_INIT bool
c 540 CONFIG_FEATURE_DIFF_DIR bool
c 541 CONFIG_DATE bool
c 542 CONFIG_WHOAMI bool
c 543 CONFIG_INETD bool
c 544 CONFIG_FEATURE_IFCONFIG_HW bool
c 545 CONFIG_GETTY bool
c 546 CONFIG_FEATURE_DMESG_PRETTY bool
c 547 CONFIG_ASH_EXPAND_PRMT bool
c 548 CONFIG_FTPPUT bool
c 549 CONFIG_SETENFORCE bool
c 550 CONFIG_SWAPONOFF bool
c 551 CONFIG_FEATURE_FIND_NOT bool
c 552 CONFIG_SV bool
c 553 CONFIG_FEATURE_FIND_INUM bool
c 554 CONFIG_ASH_OPTIMIZE_FOR_SIZE bool
c 555 CONFIG_FEATURE_IPCALC_LONG_OPTIONS bool
c 556 CONFIG_DEBUG bool
c 557 CONFIG_TOP bool
c 558 CONFIG_FEATURE_ENV_LONG_OPTIONS bool
c 559 CONFIG_ASH_CMDCMD bool
c 560 CONFIG_FEATURE_PS_WIDE bool
c 561 CONFIG_EJECT bool
c 562 CONFIG_APP_DUMPLEASES bool
c 563 CONFIG_UNLZMA bool
c 564 CONFIG_SVLOGD bool
c 565 CONFIG_FEATURE_FIND_DEPTH bool
c 566 CONFIG_FEATURE_TEE_USE_BLOCK_IO bool
c 567 CONFIG_FEATURE_TAR_OLDGNU_COMPATIBILITY bool
c 568 CONFIG_FEATURE_GREP_FGREP_ALIAS bool
c 569 CONFIG_CHCON bool
c 570 CONFIG_SORT bool
c 571 CONFIG_FEATURE_MKSWAP_V0 bool
c 572 CONFIG_IPROUTE hidden_bool
c 573 CONFIG_READPROFILE bool
c 574 CONFIG_FEATURE_INSMOD_VERSION_CHECKING bool
c 575 CONFIG_TCPSVD bool
c 576 CONFIG_FEATURE_HUMAN_READABLE bool
c 577 CONFIG_TOUCH bool
c 578 CONFIG_FEATURE_INITRD bool
c 579 CONFIG_HUSH_IF bool
c 580 CONFIG_TIME bool
c 581 CONFIG_STTY bool
c 582 CONFIG_READAHEAD bool
c 583 CONFIG_SYSLOGD bool
c 584 CONFIG_NO_DEBUG_LIB choice_bool
c 585 CONFIG_UDPSVD bool
c 586 CONFIG_ASH_ALIAS bool
c 587 CONFIG_GETENFORCE bool
c 588 CONFIG_FREE bool
c 589 CONFIG_FEATURE_HDPARM_HDIO_DRIVE_RESET bool
c 590 CONFIG_FEATURE_IPCALC_FANCY bool
c 591 CONFIG_FEATURE_AWK_MATH bool
c 592 CONFIG_ARPING bool
p cnf 592 479
66 -216 0
57 -381 0
174 0
-68 276 0
404 -565 0
18 -475 0
-491 523 0
60 -98 0
390 -539 0
-144 -480 0
-96 382 0
-310 404 0
-159 -282 0
64 -296 -508 0
165 -199 207 0
-159 -355 0
266 -334 0
-287 419 0
427 -445 0
-11 382 0
396 -446 0
319 -546 0
265 -506 523 0
102 -361 0
-182 450 0
-245 -282 0
-67 369 0
338 -447 0
346 -574 0
-520 583 0
-179 338 0
-281 382 0
404 -553 0
-42 258 0
-12 18 0
-339 346 0
94 171 -341 0
30 -219 0
90 -122 0
-273 418 0
427 -508 0
13 -272 0
-37 338 523 0
-252 265 0
-77 419 0
125 -145 -264 0
-104 -584 0
67 -369 -405 487 0
-217 404 0
317 -360 0
-441 520 0
-153 427 0
18 -22 0
-46 462 0
-71 404 0
-420 427 0
18 -177 0
396 -579 0
18 -147 0
192 -347 0
-31 284 0
-518 543 0
-300 419 0
-113 346 385 0
202 -533 0
57 -374 0
64 -296 -545 0
216 -327 0
18 -55 0
110 -582 0
-110 408 0
-333 404 0
461 -517 0
430 -517 0
87 -197 0
126 -166 0
-144 -507 0
-60 98 0
-396 418 0
162 -514 0
-78 404 0
32 -435 0
33 -202 -533 0
366 -501 0
-298 419 0
108 -533 0
-33 -264 424 0
-326 385 0
-119 445 0
-76 216 0
-297 419 456 0
-178 450 0
264 -424 0
-360 523 0
-438 522 0
179 -251 523 0
-318 419 0
-125 264 0
-188 427 0
-253 404 0
-156 563 0
-172 202 0
163 -590 0
420 -440 0
-3 219 0
102 -276 0
3 -356 0
-477 543 0
33 -533 0
-194 436 0
47 0
-148 165 0
-320 454 0
-37 338 569 0
165 -188 0
32 -116 0
102 -420 0
202 428 -533 0
-67 369 487 0
405 -448 487 0
-306 372 0
18 -437 0
-15 17 18 273 396 0
419 -567 0
427 -451 0
230 -367 0
-8 261 0
165 -378 0
85 -407 0
-116 516 0
87 258 265 -288 0
404 -551 0
-35 165 207 0
57 -132 0
-235 441 0
404 -409 0
390 -578 0
366 -510 0
254 -558 0
-5 427 0
404 -496 0
-17 418 0
179 -251 0
79 -315 -545 0
-81 460 0
-40 -245 0
-40 -355 0
79 -315 0
94 -234 0
-29 149 0
18 -554 0
366 -521 0
-259 508 0
-219 312 0
-108 -264 572 0
-498 508 0
-13 396 0
291 -533 0
-283 436 0
-140 470 538 0
265 -358 0
16 -283 0
-183 452 0
79 -315 -420 0
-37 523 569 0
-361 427 0
161 -240 0
202 -428 533 0
-64 79 0
-236 420 0
108 -572 0
149 -394 0
-75 -442 0
32 -499 0
108 -202 -533 0
-289 427 0
-209 543 0
40 159 245 282 355 0
-367 543 0
162 -381 0
535 -591 0
161 -185 0
102 -508 0
-316 404 0
-339 369 463 0
149 -370 0
108 202 -533 0
49 -116 -291 0
-15 23 0
-426 492 0
-190 463 0
-390 427 0
-229 390 0
-234 523 0
80 -491 548 0
-467 472 0
-44 192 0
219 -274 0
317 -439 0
-92 338 0
265 -506 0
-172 257 -264 0
-251 338 0
-239 -584 0
150 -286 0
265 -285 0
-155 329 0
-108 202 533 0
427 -543 0
-249 390 0
102 -292 0
348 -571 0
18 -182 0
123 -413 0
-64 79 -508 0
207 -483 0
-37 569 0
338 -587 0
32 -544 0
-110 -162 408 0
390 -531 0
-251 523 0
-330 390 0
205 -412 0
49 -332 0
338 -549 0
-204 216 0
-135 419 0
-112 420 0
57 -514 0
-109 487 0
-67 405 487 0
472 -482 0
49 -504 0
-72 404 0
487 -527 0
-417 497 500 0
-221 427 0
150 -512 0
202 -264 0
387 -468 0
49 -262 0
216 -238 0
-109 -527 0
-115 264 0
261 -453 0
471 -505 0
-136 149 0
390 -403 0
-58 149 0
430 461 -517 0
-379 391 392 0
115 -264 -428 0
273 -355 0
163 -555 0
-55 219 0
265 -271 0
49 -116 0
-528 541 0
-130 487 0
-63 161 0
216 -220 0
1 -325 0
-369 -488 0
-261 443 0
-57 162 0
338 -422 0
18 -52 0
103 -191 0
17 18 273 396 -526 0
427 -452 0
-342 387 0
152 -273 0
151 -566 0
152 -375 0
211 0
79 -315 -508 0
83 346 405 -463 0
-257 264 0
-30 219 0
-169 404 0
-316 565 0
-190 346 0
445 -502 0
15 23 -144 340 0
-522 557 0
-64 79 -315 0
-276 427 0
36 -213 0
261 -383 0
-314 497 0
339 -388 0
-307 429 0
-389 497 500 0
16 -504 0
-28 429 0
51 -82 0
359 -364 0
216 -295 0
-398 425 0
104 239 584 0
-86 396 0
-189 404 0
-48 137 416 0
-273 455 0
-19 32 0
216 -277 535 0
-480 -507 0
427 -545 0
-101 265 0
-17 455 0
369 -463 488 0
58 -377 0
-40 -159 0
-38 258 0
85 -449 0
-78 338 0
538 -562 0
-334 523 0
-104 -239 0
51 -75 -442 0
83 346 -369 405 0
463 -488 0
255 -302 0
-485 492 0
219 -402 0
-132 162 0
-304 366 0
-158 404 0
-202 428 -533 0
523 -558 0
-70 487 0
-157 538 0
123 -212 0
-141 570 0
33 -424 0
-396 455 0
-2 150 0
-244 404 0
-37 523 0
168 -536 0
261 -415 0
-444 445 0
396 -410 0
64 -296 -420 0
-213 523 0
-354 361 0
49 -291 0
216 -537 0
-93 534 0
284 -368 0
404 -473 0
-181 470 538 0
-280 382 0
18 -559 0
33 202 -533 0
-328 523 0
-66 216 0
-50 102 0
-245 396 0
-223 497 500 0
-110 162 408 0
-17 152 0
-33 202 533 0
-176 261 0
136 -352 0
266 -464 0
17 -159 0
-519 543 0
-145 202 0
-125 145 0
-506 523 0
-129 404 0
-309 419 0
25 -138 0
179 -251 338 0
219 -312 0
338 -569 0
177 -529 0
57 -486 0
-40 -282 0
18 -586 0
-109 -130 0
161 -215 0
-159 -245 0
-44 523 0
-34 583 0
-53 583 0
-134 506 0
97 0
123 -540 0
-282 -355 0
-449 523 0
18 -547 0
-56 293 0
64 -296 0
523 -555 0
-39 361 0
264 -572 0
165 -269 0
144 480 507 0
-64 79 -420 0
-37 338 0
-401 404 0
405 -448 0
109 130 -487 527 0
216 -525 0
-116 -291 0
-454 460 0
51 -442 0
-4 523 0
-241 425 0
-405 448 487 0
1 -228 0
-181 427 0
-64 79 -545 0
149 -294 0
-62 404 0
-237 543 0
110 162 -408 0
84 -139 0
18 -371 0
-328 419 0
-117 180 0
-28 -307 0
351 -414 0
-201 522 0
162 -486 0
172 -257 0
64 -79 315 420 508 545 0
-130 -527 0
-64 296 420 508 545 0
-64 79 315 420 508 545 0
-18 152 0
-4 336 0
-105 470 538 0
-206 338 0
102 -343 0
478 -568 0
65 -560 0
-395 434 0
-198 523 0
106 265 359 -576 0
428 -533 0
346 -431 0
366 -589 0
219 -227 0
-99 216 0
-198 324 0
-431 463 0
-160 216 0
102 -534 0
203 0
243 -520 0
265 -303 0
-45 478 0
-245 -355 0
-242 478 0
102 -532 0
49 -175 0
-188 230 0
-67 405 0
-233 462 0
-251 338 523 0
299 -311 0
-118 366 0
152 -396 0
162 -374 0
18 -40 0
-67 369 405 0
32 -373 0
-243 520 0
152 -437 0
463 -574 0
136 -469 0
-121 192 0
261 -443 0
-115 428 0
28 307 -429 0
