c 1 CONFIG_KILL bool
c 2 CONFIG_FEATURE_TRACEROUTE_USE_ICMP bool
c 3 CONFIG_FEATURE_TAB_COMPLETION bool
c 4 CONFIG_FEATURE_INSTALL_LONG_OPTIONS bool
c 5 CONFIG_LOGGER bool
c 6 CONFIG_WHICH bool
c 7 CONFIG_FEATURE_PIDFILE bool
c 8 CONFIG_FEATURE_LESS_FLAGS bool
c 9 CONFIG_RAIDAUTORUN bool
c 10 CONFIG_LSATTR bool
c 11 CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION bool
c 12 CONFIG_ASH_MAIL bool
c 13 CONFIG_HUSH_INTERACTIVE bool
c 14 CONFIG_UUDECODE bool
c 15 CONFIG_FEATURE_SH_STANDALONE bool
c 16 CONFIG_FEATURE_IPV6 bool
c 17 CONFIG_LASH bool
c 18 CONFIG_ASH bool
c 19 CONFIG_FEATURE_IFCONFIG_MEMSTART_IOADDR_IRQ bool
c 20 CONFIG_OPENVT bool
c 21 CONFIG_SWITCH_ROOT bool
c 22 CONFIG_ASH_READ_NCHARS bool
c 23 CONFIG_FEATURE_PREFER_APPLETS bool
c 24 CONFIG_ADJTIMEX bool
c 25 CONFIG_AR bool
c 26 CONFIG_CTTYHACK bool
c 27 CONFIG_WATCH bool
c 28 CONFIG_FEATURE_MAKEDEVS_TABLE choice_bool
c 29 CONFIG_FEATURE_HTTPD_RELOAD_CONFIG_SIGHUP bool
c 30 CONFIG_FEATURE_EDITING_MAX_LEN nonbool 1024
c 31 CONFIG_NC_EXTRA bool
c 32 CONFIG_IFCONFIG bool
c 33 CONFIG_FEATURE_IP_LINK bool
c 34 CONFIG_FEATURE_ROTATE_LOGFILE bool
c 35 CONFIG_FEATURE_MOUNT_LOOP bool
c 36 CONFIG_MKDIR bool
c 37 CONFIG_FEATURE_CHCON_LONG_OPTIONS bool
c 38 CONFIG_FEATURE_TELNET_AUTOLOGIN bool
c 39 CONFIG_DEBUG_CROND_OPTION bool
c 40 CONFIG_FEATURE_SH_IS_ASH choice_bool
c 41 CONFIG_HEXDUMP bool
c 42 CONFIG_FEATURE_TELNET_TTYPE bool
c 43 CONFIG_CATV bool
c 44 CONFIG_FEATURE_WGET_LONG_OPTIONS bool
c 45 CONFIG_FEATURE_GREP_CONTEXT bool
c 46 CONFIG_FEATURE_TR_EQUIV bool
c 47 CONFIG_PASSWORD_MINLEN nonbool 6
c 48 CONFIG_FEATURE_MD5_SHA1_SUM_CHECK bool
c 49 CONFIG_IFUPDOWN bool
c 50 CONFIG_IPCS bool
c 51 CONFIG_BUILD_LIBBUSYBOX bool
c 52 CONFIG_ASH_JOB_CONTROL bool
c 53 CONFIG_FEATURE_REMOTE_LOG bool
c 54 CONFIG_FREERAMDISK bool
c 55 CONFIG_FEATURE_EDITING_SAVEHISTORY bool
c 56 CONFIG_FEATURE_TASKSET_FANCY bool
c 57 CONFIG_FEATURE_FDISK_WRITABLE bool
c 58 CONFIG_FEATURE_HTTPD_BASIC_AUTH bool
c 59 CONFIG_SETKEYCODES bool
c 60 CONFIG_UNIX2DOS hidden_bool
c 61 CONFIG_SEQ bool
c 62 CONFIG_FEATURE_FIND_XDEV bool
c 63 CONFIG_FEATURE_TFTP_PUT bool
c 64 CONFIG_FEATURE_WTMP bool
c 65 CONFIG_PS bool
c 66 CONFIG_FEATURE_VI_MAX_LEN nonbool 1024
c 67 CONFIG_FEATURE_MODPROBE_FANCY_ALIAS bool
c 68 CONFIG_FEATURE_PASSWD_WEAK_CHECK bool
c 69 CONFIG_SYNC bool
c 70 CONFIG_FEATURE_CLEAN_UP bool
c 71 CONFIG_FEATURE_FIND_PERM bool
c 72 CONFIG_FEATURE_FIND_MAXDEPTH bool
c 73 CONFIG_GZIP bool
c 74 CONFIG_CHRT bool
c 75 CONFIG_STATIC bool
c 76 CONFIG_FEATURE_VI_YANKMARK bool
c 77 CONFIG_FEATURE_TAR_FROM bool
c 78 CONFIG_FEATURE_FIND_CONTEXT bool
c 79 CONFIG_FEATURE_UTMP bool
c 80 CONFIG_FTPGET bool
c 81 CONFIG_FEATURE_MDEV_LOAD_FIRMWARE bool
c 82 CONFIG_FEATURE_FULL_LIBBUSYBOX bool
c 83 CONFIG_RMMOD bool
c 84 CONFIG_TAIL bool
c 85 CONFIG_RUN_PARTS bool
c 86 CONFIG_HUSH_TICK bool
c 87 CONFIG_MORE bool
c 88 CONFIG_DNSD bool
c 89 CONFIG_CMP bool
c 90 CONFIG_GUNZIP bool
c 91 CONFIG_UNAME bool
c 92 CONFIG_LOAD_POLICY bool
c 93 CONFIG_FEATURE_SUID_CONFIG_QUIET bool
c 94 CONFIG_MV bool
c 95 CONFIG_PATCH bool
c 96 CONFIG_FEATURE_XARGS_SUPPORT_ZERO_TERM bool
c 97 CONFIG_HAVE_DOT_CONFIG hidden_bool
c 98 CONFIG_DOS2UNIX bool
c 99 CONFIG_FEATURE_VI_OPTIMIZE_CURSOR bool
c 100 CONFIG_MKTEMP bool
c 101 CONFIG_FEATURE_LS_FILETYPES bool
c 102 CONFIG_FEATURE_SUID bool
c 103 CONFIG_READLINK bool
c 104 CONFIG_DMALLOC choice_bool
c 105 CONFIG_FEATURE_RFC3397 bool
c 106 CONFIG_DF bool
c 107 CONFIG_RUNLEVEL bool
c 108 CONFIG_FEATURE_IP_ROUTE bool
c 109 CONFIG_FEATURE_BUFFERS_GO_ON_STACK choice_bool
c 110 CONFIG_LFS bool
c 111 CONFIG_SETLOGCONS bool
c 112 CONFIG_LOGIN_SCRIPTS bool
c 113 CONFIG_FEATURE_CHECK_TAINTED_MODULE bool
c 114 CONFIG_RUNSVDIR bool
c 115 CONFIG_IPADDR hidden_bool
c 116 CONFIG_FEATURE_IFUPDOWN_IFCONFIG_BUILTIN bool
c 117 CONFIG_FEATURE_SPLIT_FANCY bool
c 118 CONFIG_FEATURE_HDPARM_HDIO_UNREGISTER_HWIF bool
c 119 CONFIG_DEVFSD_FG_NP bool
c 120 CONFIG_UNCOMPRESS bool
c 121 CONFIG_FEATURE_WGET_STATUSBAR bool
c 122 CONFIG_FEATURE_GUNZIP_UNCOMPRESS bool
c 123 CONFIG_DIFF bool
c 124 CONFIG_UNZIP bool
c 125 CONFIG_IPRULE hidden_bool
c 126 CONFIG_FEATURE_TAR_OLDSUN_COMPATIBILITY bool
c 127 CONFIG_RESIZE bool
c 128 CONFIG_YES bool
c 129 CONFIG_ARP bool
c 130 CONFIG_FEATURE_FIND_NEWER bool
c 131 CONFIG_FEATURE_BUFFERS_GO_IN_BSS choice_bool
c 132 CONFIG_ADDUSER bool
c 133 CONFIG_FEATURE_SUN_LABEL bool
c 134 CONFIG_FOLD bool
c 135 CONFIG_FEATURE_LS_COLOR_IS_DEFAULT bool
c 136 CONFIG_FEATURE_TAR_LZMA bool
c 137 CONFIG_FEATURE_HTTPD_CGI bool
c 138 CONFIG_SHA1SUM bool
c 139 CONFIG_FEATURE_AR_LONG_FILENAMES bool
c 140 CONFIG_FEATURE_FANCY_TAIL bool
c 141 CONFIG_FEATURE_UDHCP_DEBUG bool
c 142 CONFIG_FEATURE_SORT_BIG bool
c 143 CONFIG_USLEEP bool
c 144 CONFIG_NICE bool
c 145 CONFIG_INSTALL_APPLET_DONT choice_bool
c 146 CONFIG_FEATURE_IP_RULE bool
c 147 CONFIG_VCONFIG bool
c 148 CONFIG_ASH_GETOPTS bool
c 149 CONFIG_FEATURE_MOUNT_FLAGS bool
c 150 CONFIG_HTTPD bool
c 151 CONFIG_TRACEROUTE bool
c 152 CONFIG_TEE bool
c 153 CONFIG_TEST bool
c 154 CONFIG_NAMEIF bool
c 155 CONFIG_ID bool
c 156 CONFIG_FEATURE_FANCY_SLEEP bool
c 157 CONFIG_FEATURE_LZMA_FAST bool
c 158 CONFIG_APP_DHCPRELAY bool
c 159 CONFIG_FEATURE_FIND_MTIME bool
c 160 CONFIG_FEATURE_SH_IS_LASH choice_bool
c 161 CONFIG_FEATURE_VI_WIN_RESIZE bool
c 162 CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER choice_bool
c 163 CONFIG_TFTP bool
c 164 CONFIG_FDISK bool
c 165 CONFIG_IPCALC bool
c 166 CONFIG_BUNZIP2 bool
c 167 CONFIG_MOUNT bool
c 168 CONFIG_FEATURE_RESIZE_PRINT bool
c 169 CONFIG_HOSTID bool
c 170 CONFIG_EXPR bool
c 171 CONFIG_FEATURE_FIND_USER bool
c 172 CONFIG_FEATURE_DEVFS bool
c 173 CONFIG_CP bool
c 174 CONFIG_FEATURE_IP_TUNNEL bool
c 175 CONFIG_CHPST bool
c 176 CONFIG_PREFIX nonbool "./_install"
c 177 CONFIG_FEATURE_IFUPDOWN_MAPPING bool
c 178 CONFIG_FEATURE_LESS_FLAGCS bool
c 179 CONFIG_FEATURE_HTTPD_ERROR_PAGES bool
c 180 CONFIG_ASH_MATH_SUPPORT bool
c 181 CONFIG_FEATURE_FANCY_ECHO bool
c 182 CONFIG_RUNCON bool
c 183 CONFIG_SPLIT bool
c 184 CONFIG_ASH_BUILTIN_ECHO bool
c 185 CONFIG_INSTALL_SH_APPLET_SYMLINK choice_bool
c 186 CONFIG_FEATURE_TELNETD_STANDALONE bool
c 187 CONFIG_SED bool
c 188 CONFIG_FEATURE_TFTP_BLOCKSIZE bool
c 189 CONFIG_RESET bool
c 190 CONFIG_BBCONFIG bool
c 191 CONFIG_FEATURE_MOUNT_NFS bool
c 192 CONFIG_FEATURE_FIND_PRUNE bool
c 193 CONFIG_SLATTACH bool
c 194 CONFIG_FEATURE_INSMOD_LOADINKMEM bool
c 195 CONFIG_FEATURE_READLINK_FOLLOW bool
c 196 CONFIG_WGET bool
c 197 CONFIG_RX bool
c 198 CONFIG_FEATURE_FANCY_PING bool
c 199 CONFIG_ENVDIR bool
c 200 CONFIG_LOADFONT bool
c 201 CONFIG_FEATURE_USE_TERMIOS bool
c 202 CONFIG_FEATURE_SETCONSOLE_LONG_OPTIONS bool
c 203 CONFIG_FEATURE_MTAB_SUPPORT bool
c 204 CONFIG_NOHUP bool
c 205 CONFIG_FEATURE_TOP_DECIMALS bool
c 206 CONFIG_IP bool
c 207 CONFIG_BUSYBOX_EXEC_PATH nonbool "/proc/self/exe"
c 208 CONFIG_FEATURE_VI_COLON bool
c 209 CONFIG_HEAD bool
c 210 CONFIG_MATCHPATHCON bool
c 211 CONFIG_UMOUNT bool
c 212 CONFIG_DIRNAME bool
c 213 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN bool
c 214 CONFIG_CLEAR bool
c 215 CONFIG_MD5_SIZE_VS_SPEED nonbool 2
c 216 CONFIG_FEATURE_DIFF_BINARY bool
c 217 CONFIG_FEATURE_MKDIR_LONG_OPTIONS bool
c 218 CONFIG_LOCALE_SUPPORT bool
c 219 CONFIG_DEBUG_TFTP bool
c 220 CONFIG_VI bool
c 221 CONFIG_FEATURE_FIND_PRINT0 bool
c 222 CONFIG_STRINGS bool
c 223 CONFIG_FEATURE_EDITING bool
c 224 CONFIG_FEATURE_VI_SET bool
c 225 CONFIG_SULOGIN bool
c 226 CONFIG_RDATE bool
c 227 CONFIG_FEATURE_DEB_TAR_LZMA bool
c 228 CONFIG_FDFLUSH bool
c 229 CONFIG_SUM bool
c 230 CONFIG_CKSUM bool
c 231 CONFIG_FEATURE_EDITING_FANCY_PROMPT bool
c 232 CONFIG_KILLALL5 bool
c 233 CONFIG_FEATURE_USE_INITTAB bool
c 234 CONFIG_FEATURE_HAVE_RPC bool
c 235 CONFIG_SETSID bool
c 236 CONFIG_INSTALL_NO_USR bool
c 237 CONFIG_FEATURE_TR_CLASSES bool
c 238 CONFIG_FEATURE_MV_LONG_OPTIONS bool
c 239 CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING bool
c 240 CONFIG_FEATURE_SECURETTY bool
c 241 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_TIME bool
c 242 CONFIG_FEATURE_VI_SETOPTS bool
c 243 CONFIG_EFENCE choice_bool
c 244 CONFIG_FEATURE_TFTP_GET bool
c 245 CONFIG_FEATURE_VERBOSE_USAGE bool
c 246 CONFIG_FEATURE_GREP_EGREP_ALIAS bool
c 247 CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE nonbool 16
c 248 CONFIG_FEATURE_HTTPD_USE_SENDFILE bool
c 249 CONFIG_FEATURE_FIND_PATH bool
c 250 CONFIG_FEATURE_SH_IS_HUSH choice_bool
c 251 CONFIG_FDFORMAT bool
c 252 CONFIG_MKFIFO bool
c 253 CONFIG_DESKTOP bool
c 254 CONFIG_FEATURE_EXTRA_QUIET bool
c 255 CONFIG_PIPE_PROGRESS bool
c 256 CONFIG_FEATURE_RUNCON_LONG_OPTIONS bool
c 257 CONFIG_RESTORECON bool
c 258 CONFIG_FEATURE_LS_TIMESTAMPS bool
c 259 CONFIG_FEATURE_FIND_SIZE bool
c 260 CONFIG_FEATURE_UNEXPAND_LONG_OPTIONS bool
c 261 CONFIG_ENV bool
c 262 CONFIG_STAT bool
c 263 CONFIG_VERBOSE_RESOLUTION_ERRORS bool
c 264 CONFIG_IPTUNNEL hidden_bool
c 265 CONFIG_TELNET bool
c 266 CONFIG_FEATURE_SU_SYSLOG bool
c 267 CONFIG_UPTIME bool
c 268 CONFIG_LESS bool
c 269 CONFIG_FEATURE_IFUPDOWN_IPV4 bool
c 270 CONFIG_HALT bool
c 271 CONFIG_FEATURE_IP_SHORT_FORMS bool
c 272 CONFIG_LS bool
c 273 CONFIG_START_STOP_DAEMON bool
c 274 CONFIG_DUMPKMAP bool
c 275 CONFIG_PRINTF bool
c 276 CONFIG_FEATURE_MOUNT_FSTAB bool
c 277 CONFIG_LOGNAME bool
c 278 CONFIG_FEATURE_LS_RECURSIVE bool
c 279 CONFIG_HUSH_JOB bool
c 280 CONFIG_MSH bool
c 281 CONFIG_FEATURE_EDITING_FANCY_KEYS bool
c 282 CONFIG_BB_SYSCTL bool
c 283 CONFIG_FEATURE_SETFILES_CHECK_OPTION bool
c 284 CONFIG_PASSWD bool
c 285 CONFIG_FEATURE_ALLOW_EXEC bool
c 286 CONFIG_ED bool
c 287 CONFIG_CAL bool
c 288 CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY bool
c 289 CONFIG_FEATURE_XARGS_SUPPORT_QUOTES bool
c 290 CONFIG_FEATURE_XARGS_SUPPORT_TERMOPT bool
c 291 CONFIG_FEATURE_SH_IS_NONE choice_bool
c 292 CONFIG_PING6 bool
c 293 CONFIG_NC bool
c 294 CONFIG_FEATURE_LS_FOLLOWLINKS bool
c 295 CONFIG_FEATURE_TRACEROUTE_SOURCE_ROUTE bool
c 296 CONFIG_FEATURE_TAR_GNU_EXTENSIONS bool
c 297 CONFIG_FEATURE_AUTOWIDTH bool
c 298 CONFIG_FAKEIDENTD bool
c 299 CONFIG_WATCHDOG bool
c 300 CONFIG_FEATURE_IFUPDOWN_IP bool
c 301 CONFIG_CRONTAB bool
c 302 CONFIG_TASKSET bool
c 303 CONFIG_FEATURE_HTTPD_CONFIG_WITH_MIME_TYPES bool
c 304 CONFIG_FEATURE_VI_USE_SIGNALS bool
c 305 CONFIG_LAST bool
c 306 CONFIG_FEATURE_UNARCHIVE_TAPE bool
c 307 CONFIG_FEATURE_TAR_BZIP2 bool
c 308 CONFIG_WC bool
c 309 CONFIG_FEATURE_TAR_CREATE bool
c 310 CONFIG_GETOPT bool
c 311 CONFIG_PAM bool
c 312 CONFIG_FEATURE_STAT_FORMAT bool
c 313 CONFIG_FEATURE_LS_SORTFILES bool
c 314 CONFIG_FEATURE_HDPARM_GET_IDENTITY bool
c 315 CONFIG_CHMOD bool
c 316 CONFIG_FEATURE_RPM_BZ2 bool
c 317 CONFIG_FEATURE_MAKEDEVS_LEAF choice_bool
c 318 CONFIG_REALPATH bool
c 319 CONFIG_FEATURE_TAR_GZIP bool
c 320 CONFIG_FEATURE_FIND_REGEX bool
c 321 CONFIG_FEATURE_WC_LARGE bool
c 322 CONFIG_FEATURE_EDITING_HISTORY nonbool 15
c 323 CONFIG_UNIQ bool
c 324 CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY bool
c 325 CONFIG_WHO bool
c 326 CONFIG_FEATURE_FIND_DELETE bool
c 327 CONFIG_HWCLOCK bool
c 328 CONFIG_FEATURE_TAR_COMPRESS bool
c 329 CONFIG_DMESG bool
c 330 CONFIG_FEATURE_MDEV_EXEC bool
c 331 CONFIG_MT bool
c 332 CONFIG_MKNOD bool
c 333 CONFIG_MOUNTPOINT bool
c 334 CONFIG_SETCONSOLE bool
c 335 CONFIG_KILLALL bool
c 336 CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT bool
c 337 CONFIG_FEATURE_VI_SEARCH bool
c 338 CONFIG_FEATURE_TAR_LONG_OPTIONS bool
c 339 CONFIG_SLEEP bool
c 340 CONFIG_FEATURE_INIT_COREDUMPS bool
c 341 CONFIG_WERROR bool
c 342 CONFIG_FEATURE_IFUPDOWN_EXTERNAL_DHCP bool
c 343 CONFIG_FEATURE_FIND_TYPE bool
c 344 CONFIG_FEATURE_START_STOP_DAEMON_LONG_OPTIONS bool
c 345 CONFIG_LOADKMAP bool
c 346 CONFIG_INSTALL bool
c 347 CONFIG_FUSER bool
c 348 CONFIG_SELINUX bool
c 349 CONFIG_FEATURE_INSMOD_LOAD_MAP bool
c 350 CONFIG_FEATURE_INSTALLER bool
c 351 CONFIG_FEATURE_PRESERVE_HARDLINKS bool
c 352 CONFIG_FEATURE_FBSET_FANCY bool
c 353 CONFIG_CHPASSWD bool
c 354 CONFIG_VLOCK bool
c 355 CONFIG_KLOGD bool
c 356 CONFIG_ETHER_WAKE bool
c 357 CONFIG_INSMOD bool
c 358 CONFIG_FEATURE_WGET_AUTHENTICATION bool
c 359 CONFIG_MKSWAP bool
c 360 CONFIG_RENICE bool
c 361 CONFIG_CHATTR bool
c 362 CONFIG_NETSTAT bool
c 363 CONFIG_FEATURE_HTTPD_SET_REMOTE_PORT_TO_ENV bool
c 364 CONFIG_OD bool
c 365 CONFIG_FEATURE_CROND_CALL_SENDMAIL bool
c 366 CONFIG_INSTALL_SH_APPLET_HARDLINK choice_bool
c 367 CONFIG_FEATURE_SH_IS_MSH choice_bool
c 368 CONFIG_FEATURE_USERNAME_COMPLETION bool
c 369 CONFIG_TTY bool
c 370 CONFIG_FEATURE_LS_USERNAME bool
c 371 CONFIG_DU bool
c 372 CONFIG_FEATURE_HWCLOCK_LONG_OPTIONS bool
c 373 CONFIG_CROND bool
c 374 CONFIG_PWD bool
c 375 CONFIG_INCLUDE_SUSv2 bool
c 376 CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K bool
c 377 CONFIG_COMM bool
c 378 CONFIG_HDPARM bool
c 379 CONFIG_FEATURE_INETD_RPC bool
c 380 CONFIG_NC_SERVER bool
c 381 CONFIG_FEATURE_2_6_MODULES bool
c 382 CONFIG_FEATURE_HTTPD_ENCODE_URL_STR bool
c 383 CONFIG_ASH_RANDOM_SUPPORT bool
c 384 CONFIG_RPM bool
c 385 CONFIG_FEATURE_IFCONFIG_STATUS bool
c 386 CONFIG_FEATURE_SGI_LABEL bool
c 387 CONFIG_FEATURE_TEST_64 bool
c 388 CONFIG_CHVT bool
c 389 CONFIG_FEATURE_HTTPD_AUTH_MD5 bool
c 390 CONFIG_FEATURE_MOUNT_CIFS bool
c 391 CONFIG_FEATURE_MINIX2 bool
c 392 CONFIG_FEATURE_DEVPTS bool
c 393 CONFIG_FEATURE_FDISK_ADVANCED bool
c 394 CONFIG_XARGS bool
c 395 CONFIG_FEATURE_LESS_BRACKETS bool
c 396 CONFIG_DELUSER bool
c 397 CONFIG_LSMOD bool
c 398 CONFIG_DC bool
c 399 CONFIG_FBSET bool
c 400 CONFIG_FEATURE_INSMOD_LOAD_MAP_FULL bool
c 401 CONFIG_FEATURE_DEB_TAR_GZ bool
c 402 CONFIG_INIT bool
c 403 CONFIG_FSCK_MINIX bool
c 404 CONFIG_MKFS_MINIX bool
c 405 CONFIG_DEALLOCVT bool
c 406 CONFIG_FEATURE_HTTPD_SETUID bool
c 407 CONFIG_FEATURE_DEL_USER_FROM_GROUP bool
c 408 CONFIG_HUSH bool
c 409 CONFIG_BASENAME bool
c 410 CONFIG_FEATURE_COMPRESS_USAGE bool
c 411 CONFIG_RM bool
c 412 CONFIG_LN bool
c 413 CONFIG_FEATURE_FIND_PAREN bool
c 414 CONFIG_FEATURE_EDITING_VI bool
c 415 CONFIG_FEATURE_INIT_SCTTY bool
c 416 CONFIG_FIND bool
c 417 CONFIG_MODPROBE bool
c 418 CONFIG_CUT bool
c 419 CONFIG_FEATURE_RUN_PARTS_FANCY bool
c 420 CONFIG_FDISK_SUPPORT_LARGE_DISKS bool
c 421 CONFIG_FEATURE_FIND_EXEC bool
c 422 CONFIG_HUSH_LOOPS bool
c 423 CONFIG_SETUIDGID bool
c 424 CONFIG_FEATURE_FANCY_HEAD bool
c 425 CONFIG_FEATURE_DIFF_MINIMAL bool
c 426 CONFIG_FEATURE_NETSTAT_WIDE bool
c 427 CONFIG_FEATURE_LESS_REGEXP bool
c 428 CONFIG_MD5SUM bool
c 429 CONFIG_FEATURE_DEB_TAR_BZ2 bool
c 430 CONFIG_FALSE bool
c 431 CONFIG_TAR bool
c 432 CONFIG_LOGIN bool
c 433 CONFIG_MESG bool
c 434 CONFIG_GETSEBOOL bool
c 435 CONFIG_NMETER bool
c 436 CONFIG_IPLINK hidden_bool
c 437 CONFIG_SHOW_USAGE bool
c 438 CONFIG_FEATURE_PIDOF_SINGLE bool
c 439 CONFIG_FEATURE_SYSLOG bool
c 440 CONFIG_FEATURE_IP_ADDRESS bool
c 441 CONFIG_MAKEDEVS bool
c 442 CONFIG_FEATURE_SHADOWPASSWDS bool
c 443 CONFIG_FEATURE_INSMOD_KSYMOOPS_SYMBOLS bool
c 444 CONFIG_PRINTENV bool
c 445 CONFIG_FEATURE_EXPAND_LONG_OPTIONS bool
c 446 CONFIG_SETARCH bool
c 447 CONFIG_DELGROUP bool
c 448 CONFIG_FEATURE_IFCONFIG_SLIP bool
c 449 CONFIG_PING bool
c 450 CONFIG_ASH_BUILTIN_TEST bool
c 451 CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS bool
c 452 CONFIG_FEATURE_HWCLOCK_ADJTIME_FHS bool
c 453 CONFIG_FEATURE_NOLOGIN bool
c 454 CONFIG_LOGREAD bool
c 455 CONFIG_FEATURE_SHARED_BUSYBOX bool
c 456 CONFIG_FEATURE_LESS_MAXLINES nonbool 9999999
c 457 CONFIG_DEVFSD_MODLOAD bool
c 458 CONFIG_DEVFSD bool
c 459 CONFIG_HUSH_HELP bool
c 460 CONFIG_SELINUXENABLED bool
c 461 CONFIG_FEATURE_MODPROBE_MULTIPLE_OPTIONS bool
c 462 CONFIG_IOCTL_HEX2STR_ERROR bool
c 463 CONFIG_FEATURE_RUN_PARTS_LONG_OPTIONS bool
c 464 CONFIG_ECHO bool
c 465 CONFIG_ZCIP bool
c 466 CONFIG_TELNETD bool
c 467 CONFIG_FEATURE_LESS_MARKS bool
c 468 CONFIG_FEATURE_MDEV_CONF bool
c 469 CONFIG_TRUE bool
c 470 CONFIG_IFUPDOWN_IFSTATE_PATH nonbool "/var/run/ifstate"
c 471 CONFIG_CPIO bool
c 472 CONFIG_FSCK bool
c 473 CONFIG_FEATURE_ETC_NETWORKS bool
c 474 CONFIG_CHGRP bool
c 475 CONFIG_MDEV bool
c 476 CONFIG_USE_BB_PWD_GRP bool
c 477 CONFIG_TR bool
c 478 CONFIG_FEATURE_2_4_MODULES bool
c 479 CONFIG_FEATURE_START_STOP_DAEMON_FANCY bool
c 480 CONFIG_EXPAND bool
c 481 CONFIG_ENVUIDGID bool
c 482 CONFIG_CAT bool
c 483 CONFIG_FEATURE_DD_IBS_OBS bool
c 484 CONFIG_FEATURE_FBSET_READMODE bool
c 485 CONFIG_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR bool
c 486 CONFIG_APP_UDHCPC bool
c 487 CONFIG_ADDGROUP bool
c 488 CONFIG_DD bool
c 489 CONFIG_FEATURE_FIND_GROUP bool
c 490 CONFIG_RMDIR bool
c 491 CONFIG_ASH_READ_TIMEOUT bool
c 492 CONFIG_LENGTH bool
c 493 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD bool
c 494 CONFIG_GREP bool
c 495 CONFIG_PSCAN bool
c 496 CONFIG_INSTALL_APPLET_HARDLINKS choice_bool
c 497 CONFIG_SOFTLIMIT bool
c 498 CONFIG_FEATURE_DD_SIGNAL_HANDLING bool
c 499 CONFIG_FEATURE_UMOUNT_ALL bool
c 500 CONFIG_UUENCODE bool
c 501 CONFIG_FEATURE_PIDOF_OMIT bool
c 502 CONFIG_FEATURE_OSF_LABEL bool
c 503 CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS choice_bool
c 504 CONFIG_NITPICK bool
c 505 CONFIG_FEATURE_QUERY_MODULE_INTERFACE hidden_bool
c 506 CONFIG_FEATURE_FAST_TOP bool
c 507 CONFIG_NSLOOKUP bool
c 508 CONFIG_FEATURE_FTPGETPUT_LONG_OPTIONS bool
c 509 CONFIG_PIDOF bool
c 510 CONFIG_CHOWN bool
c 511 CONFIG_CHROOT bool
c 512 CONFIG_CRYPTPW bool
c 513 CONFIG_FEATURE_FIND_MMIN bool
c 514 CONFIG_DPKG_DEB bool
c 515 CONFIG_FEATURE_SU_CHECKS_SHELLS bool
c 516 CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS bool
c 517 CONFIG_DPKG bool
c 518 CONFIG_FEATURE_HDPARM_HDIO_SCAN_HWIF bool
c 519 CONFIG_DEVFSD_VERBOSE bool
c 520 CONFIG_PIVOT_ROOT bool
c 521 CONFIG_FEATURE_IFUPDOWN_IPV6 bool
c 522 CONFIG_FEATURE_ADDUSER_TO_GROUP bool
c 523 CONFIG_FEATURE_LS_COLOR bool
c 524 CONFIG_INSTALL_APPLET_SYMLINKS choice_bool
c 525 CONFIG_SU bool
c 526 CONFIG_RPM2CPIO bool
c 527 CONFIG_FEATURE_HDPARM_HDIO_GETSET_DMA bool
c 528 CONFIG_MONOTONIC_SYSCALL bool
c 529 CONFIG_FEATURE_TRACEROUTE_VERBOSE bool
c 530 CONFIG_RUNSV bool
c 531 CONFIG_FEATURE_AIX_LABEL bool
c 532 CONFIG_HOSTNAME bool
c 533 CONFIG_ROUTE bool
c 534 CONFIG_USE_BB_SHADOW bool
c 535 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME bool
c 536 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_ECHO bool
c 537 CONFIG_FEATURE_IPC_SYSLOG bool
c 538 CONFIG_FEATURE_HDPARM_HDIO_TRISTATE_HWIF bool
c 539 CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE bool
c 540 CONFIG_GETOPT_LONG bool
c 541 CONFIG_LOSETUP bool
c 542 CONFIG_FEATURE_VI_DOT_CMD bool
c 543 CONFIG_FEATURE_SH_EXTRA_QUIET bool
c 544 CONFIG_FEATURE_BUFFERS_USE_MALLOC choice_bool
c 545 CONFIG_FEATURE_DATE_ISOFMT bool
c 546 CONFIG_ASH_MATH_SUPPORT_64 bool
c 547 CONFIG_BUILD_AT_ONCE bool
c 548 CONFIG_FEATURE_INIT_SYSLOG bool
c 549 CONFIG_IPCRM bool
c 550 CONFIG_FEATURE_IFUPDOWN_IP_BUILTIN bool
c 551 CONFIG_FEATURE_SUID_CONFIG bool
c 552 CONFIG_AWK bool
c 553 CONFIG_SETFILES bool
c 554 CONFIG_EXPR_MATH_SUPPORT_64 bool
c 555 CONFIG_FEATURE_VI_READONLY bool
c 556 CONFIG_APP_UDHCPD bool
c 557 CONFIG_DEBUG_INIT bool
c 558 CONFIG_FEATURE_DIFF_DIR bool
c 559 CONFIG_DATE bool
c 560 CONFIG_WHOAMI bool
c 561 CONFIG_INETD bool
c 562 CONFIG_FEATURE_IFCONFIG_HW bool
c 563 CONFIG_GETTY bool
c 564 CONFIG_FEATURE_DMESG_PRETTY bool
c 565 CONFIG_ASH_EXPAND_PRMT bool
c 566 CONFIG_FTPPUT bool
c 567 CONFIG_SETENFORCE bool
c 568 CONFIG_SWAPONOFF bool
c 569 CONFIG_FEATURE_FIND_NOT bool
c 570 CONFIG_SV bool
c 571 CONFIG_FEATURE_FIND_INUM bool
c 572 CONFIG_ASH_OPTIMIZE_FOR_SIZE bool
c 573 CONFIG_FEATURE_IPCALC_LONG_OPTIONS bool
c 574 CONFIG_DEBUG bool
c 575 CONFIG_TOP bool
c 576 CONFIG_FEATURE_ENV_LONG_OPTIONS bool
c 577 CONFIG_ASH_CMDCMD bool
c 578 CONFIG_UNEXPAND bool
c 579 CONFIG_FEATURE_PS_WIDE bool
c 580 CONFIG_EJECT bool
c 581 CONFIG_APP_DUMPLEASES bool
c 582 CONFIG_UNLZMA bool
c 583 CONFIG_SVLOGD bool
c 584 CONFIG_FEATURE_FIND_DEPTH bool
c 585 CONFIG_FEATURE_TEE_USE_BLOCK_IO bool
c 586 CONFIG_FEATURE_TAR_OLDGNU_COMPATIBILITY bool
c 587 CONFIG_FEATURE_GREP_FGREP_ALIAS bool
c 588 CONFIG_CHCON bool
c 589 CONFIG_SORT bool
c 590 CONFIG_FEATURE_MKSWAP_V0 bool
c 591 CONFIG_IPROUTE hidden_bool
c 592 CONFIG_READPROFILE bool
c 593 CONFIG_FEATURE_INSMOD_VERSION_CHECKING bool
c 594 CONFIG_TCPSVD bool
c 595 CONFIG_FEATURE_HUMAN_READABLE bool
c 596 CONFIG_TOUCH bool
c 597 CONFIG_FEATURE_INITRD bool
c 598 CONFIG_HUSH_IF bool
c 599 CONFIG_TIME bool
c 600 CONFIG_STTY bool
c 601 CONFIG_TTYSIZE bool
c 602 CONFIG_READAHEAD bool
c 603 CONFIG_SYSLOGD bool
c 604 CONFIG_NO_DEBUG_LIB choice_bool
c 605 CONFIG_UDPSVD bool
c 606 CONFIG_ASH_ALIAS bool
c 607 CONFIG_GETENFORCE bool
c 608 CONFIG_FREE bool
c 609 CONFIG_FEATURE_HDPARM_HDIO_DRIVE_RESET bool
c 610 CONFIG_FEATURE_IPCALC_FANCY bool
c 611 CONFIG_FEATURE_AWK_MATH bool
c 612 CONFIG_ARPING bool
p cnf 612 501
-413 416 0
-92 348 0
-108 206 550 0
182 -256 0
-338 540 0
439 -525 0
-243 -604 0
18 -148 0
-96 394 0
-417 461 504 0
64 -305 0
-64 79 0
163 -188 0
102 -284 0
-536 561 0
-250 -291 0
-429 514 517 0
-2 151 0
-237 477 0
-256 348 540 0
-246 494 0
416 -513 0
174 -264 0
-11 394 0
-131 504 0
-202 334 0
137 -485 0
416 -421 0
-306 431 471 0
268 -395 0
-432 439 0
-250 408 0
487 -522 0
-45 494 0
164 -386 0
556 -581 0
417 -461 504 0
209 -424 0
-70 504 0
-407 447 0
-64 79 -325 0
18 -577 0
18 -606 0
-64 79 -563 0
90 -122 0
18 -52 0
-343 416 0
-245 437 0
151 -529 0
432 -453 0
-191 439 0
206 440 -550 0
-256 348 0
-298 439 0
-178 268 0
32 -448 0
-30 223 0
-260 578 0
-181 464 0
431 -586 0
-545 559 0
-33 206 550 0
-292 449 0
458 -519 0
-17 153 0
-186 466 0
-238 540 0
-185 -366 0
206 -271 0
64 -305 -432 0
-34 603 0
-174 206 0
108 -550 0
16 -292 0
123 -425 0
268 -427 0
33 206 -550 0
-249 416 0
18 -55 0
-268 456 0
-53 603 0
-443 478 0
272 -523 540 0
182 -256 348 0
-296 431 0
-149 167 0
-146 206 0
-259 416 0
-156 339 0
-445 480 0
-60 98 0
60 -98 0
49 -300 0
163 -244 0
-63 163 0
-108 -271 591 0
-101 272 0
-67 381 504 0
-141 486 556 0
-402 439 0
125 -146 -271 0
440 -550 0
87 265 272 -297 0
-37 588 0
-266 525 0
-257 348 0
280 -367 0
-37 348 588 0
57 -133 0
-40 -367 0
261 -576 0
-227 514 517 0
-328 431 0
102 -301 0
17 -160 0
-62 416 0
-508 540 0
293 -380 0
-46 477 0
-4 346 0
220 -304 0
-104 -604 0
167 -390 0
108 -206 -550 0
-67 417 504 0
348 -553 0
85 -419 0
416 -569 0
47 0
17 18 280 408 -543 0
32 -116 0
-493 561 0
-135 523 0
-349 357 0
65 -579 0
272 -370 0
402 -557 0
-48 138 428 0
-280 469 0
-142 589 0
57 -502 0
150 -303 0
442 476 -534 0
220 -555 0
-160 -291 0
327 -372 0
-162 -185 0
-241 561 0
-496 -524 0
102 -549 0
164 -531 0
-115 271 0
-311 432 0
-37 348 540 0
109 131 -504 544 0
-126 431 0
-28 441 0
-38 265 0
-184 464 0
162 185 366 -503 0
84 -140 0
-31 293 0
-160 -250 0
371 -376 0
416 -584 0
182 -256 540 0
-202 540 0
-344 540 0
416 -489 0
-50 102 0
49 -177 0
150 -248 0
-408 469 0
40 160 250 291 367 0
220 -285 552 0
-381 -505 0
272 -313 0
-56 302 0
-133 164 0
83 357 417 -478 0
348 -607 0
272 -523 0
108 -591 0
-154 439 0
-208 220 0
-326 584 0
476 -534 0
-445 540 0
-217 540 0
57 -531 0
-93 551 0
18 -572 0
150 -179 0
49 -521 0
-110 164 420 0
-131 -544 0
206 -550 0
-496 -503 0
-78 416 0
-15 23 0
408 -422 0
416 -571 0
-28 -317 0
102 -354 0
220 -224 0
417 -461 0
-37 540 0
-501 509 0
18 -491 0
399 -484 0
-113 357 397 0
-223 322 0
378 -609 0
-145 -496 0
-78 348 0
49 -269 0
-99 220 0
-158 556 0
-66 220 0
176 0
-221 416 0
-338 431 0
-37 348 0
-35 167 211 0
-17 469 0
-317 441 0
-58 150 0
-280 430 0
-468 475 0
-110 420 0
-145 -524 0
439 -561 0
-130 416 0
64 -79 325 432 525 563 0
-67 381 0
-81 475 0
206 -440 550 0
-40 -250 0
-109 -131 0
223 -322 0
402 -597 0
-33 -271 436 0
-116 533 0
207 0
167 -191 0
402 -548 0
79 -325 -525 0
-159 416 0
102 -525 0
102 -373 0
349 -400 0
-401 514 517 0
33 -206 -550 0
33 -436 0
348 -588 0
-192 416 0
-8 268 0
540 -573 0
-160 -367 0
164 -502 0
-109 -544 0
49 -116 -300 0
102 -551 0
18 -184 0
442 -534 0
64 -305 -563 0
-137 150 0
-185 503 0
180 -546 0
-112 432 0
-366 503 0
-18 153 0
-314 378 0
80 -508 566 0
378 -527 0
16 -521 0
165 -610 0
-174 264 -271 0
49 -342 0
49 -116 0
-372 540 0
494 -587 0
123 -216 0
-205 539 0
268 -467 0
153 -387 0
-116 -300 0
164 -393 0
-171 416 0
-503 -524 0
488 -498 0
262 -312 0
-145 -503 0
439 -458 0
106 272 371 -595 0
-537 603 0
-104 -243 0
-283 553 0
273 -344 0
271 -591 0
-457 458 0
-105 486 556 0
-115 440 0
-75 -455 0
-44 196 0
66 -220 0
-290 394 0
64 -305 -525 0
327 -452 0
-349 381 478 0
67 -381 -417 504 0
-391 403 404 0
-182 348 0
-42 265 0
-161 220 0
-438 509 0
163 -219 0
223 -231 0
-67 381 417 0
359 -590 0
18 -383 0
220 -337 0
-125 146 0
-40 -291 0
271 -436 0
381 -478 505 0
18 -450 0
153 -450 0
-309 431 0
32 -385 0
51 -75 -455 0
32 -516 0
-71 416 0
-254 402 0
58 -389 0
-373 439 0
51 -82 0
-336 397 0
-283 348 0
-365 373 0
-17 430 0
-55 223 0
-19 32 0
-256 540 0
94 -238 0
152 -585 0
-324 514 0
110 -602 0
-260 540 0
247 -537 0
-379 561 0
-110 -164 420 0
470 0
83 357 -381 417 0
-13 408 0
234 -379 0
348 -460 0
-264 271 0
-64 79 -432 0
-316 384 0
-39 373 0
-194 357 0
408 -598 0
102 -432 0
151 -295 0
478 -505 0
170 -554 0
79 -325 0
-29 150 0
-247 537 0
478 -593 0
402 -415 0
-191 234 0
-64 305 432 525 563 0
-483 488 0
103 -195 0
-119 458 0
-239 454 0
272 -294 0
378 -518 0
-3 223 0
-320 416 0
-515 525 0
220 -542 0
-250 -367 0
79 -325 -563 0
-57 164 0
348 -567 0
-109 504 0
-206 440 -550 0
150 -406 0
-136 431 0
150 -382 0
552 -611 0
33 -550 0
1 -232 0
18 -180 0
-125 271 0
-408 430 0
362 -426 0
-539 575 0
32 -562 0
215 0
-117 183 0
-225 439 0
-77 431 0
3 -368 0
-463 540 0
-326 416 0
-198 449 0
308 -321 0
87 -201 0
348 -434 0
-291 -367 0
-535 561 0
-12 18 0
-523 540 0
-67 417 0
-4 540 0
-44 540 0
-64 79 325 432 525 563 0
-454 537 0
94 173 -351 0
25 -139 0
-86 408 0
97 0
439 -465 0
-118 378 0
-194 478 0
-213 561 0
145 496 503 524 0
51 -455 0
-307 431 0
211 -499 0
57 -393 0
104 243 604 0
18 -22 0
-340 402 0
357 -593 0
329 -564 0
-68 284 0
165 -573 0
-289 394 0
-121 196 0
-284 439 0
30 -223 0
-162 -366 0
196 -358 0
127 -168 0
-288 556 0
13 -279 0
123 -558 0
79 -325 -432 0
273 -479 0
223 -281 0
110 164 -420 0
-157 582 0
167 -203 211 0
18 -565 0
36 -217 0
137 -363 0
-64 79 -525 0
439 -563 0
15 23 -145 350 0
-5 439 0
408 -459 0
-40 -160 0
223 -414 0
167 -276 0
-72 416 0
357 -443 0
108 206 -550 0
18 -40 0
-76 220 0
378 -538 0
-319 431 0
85 -463 0
-330 468 0
57 -386 0
-15 17 18 280 408 0
300 -550 0
-162 503 0
28 317 -441 0
272 -278 0
-352 399 0
268 -456 0
-240 432 0
-410 437 0
-233 402 0
439 -466 0
1 -335 0
-258 272 0
-451 539 0
115 -271 -440 0
504 -544 0
220 -242 0
-210 348 0
540 -576 0
-37 540 588 0
153 -280 0
153 -408 0
