c 1 CONFIG_KILL bool
c 2 CONFIG_FEATURE_TRACEROUTE_USE_ICMP bool
c 3 CONFIG_FEATURE_TAB_COMPLETION bool
c 4 CONFIG_FEATURE_INSTALL_LONG_OPTIONS bool
c 5 CONFIG_LOGGER bool
c 6 CONFIG_WHICH bool
c 7 CONFIG_FEATURE_PIDFILE bool
c 8 CONFIG_FEATURE_LESS_FLAGS bool
c 9 CONFIG_RAIDAUTORUN bool
c 10 CONFIG_LSATTR bool
c 11 CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION bool
c 12 CONFIG_ASH_MAIL bool
c 13 CONFIG_FEATURE_KILL_REMOVED bool
c 14 CONFIG_HUSH_INTERACTIVE bool
c 15 CONFIG_UUDECODE bool
c 16 CONFIG_FEATURE_SH_STANDALONE bool
c 17 CONFIG_FEATURE_IPV6 bool
c 18 CONFIG_LASH bool
c 19 CONFIG_ASH bool
c 20 CONFIG_FEATURE_IFCONFIG_MEMSTART_IOADDR_IRQ bool
c 21 CONFIG_OPENVT bool
c 22 CONFIG_SWITCH_ROOT bool
c 23 CONFIG_ASH_READ_NCHARS bool
c 24 CONFIG_FEATURE_PREFER_APPLETS bool
c 25 CONFIG_FEATURE_HTTPD_PROXY bool
c 26 CONFIG_ADJTIMEX bool
c 27 CONFIG_AR bool
c 28 CONFIG_CTTYHACK bool
c 29 CONFIG_WATCH bool
c 30 CONFIG_FEATURE_MAKEDEVS_TABLE choice_bool
c 31 CONFIG_FEATURE_HTTPD_RELOAD_CONFIG_SIGHUP bool
c 32 CONFIG_FEATURE_EDITING_MAX_LEN nonbool 1024
c 33 CONFIG_NC_EXTRA bool
c 34 CONFIG_FEATURE_TOPMEM bool
c 35 CONFIG_IFCONFIG bool
c 36 CONFIG_FEATURE_IP_LINK bool
c 37 CONFIG_FEATURE_ROTATE_LOGFILE bool
c 38 CONFIG_FEATURE_MOUNT_LOOP bool
c 39 CONFIG_MKDIR bool
c 40 CONFIG_FEATURE_CHCON_LONG_OPTIONS bool
c 41 CONFIG_FEATURE_TELNET_AUTOLOGIN bool
c 42 CONFIG_DEBUG_CROND_OPTION bool
c 43 CONFIG_FEATURE_SH_IS_ASH choice_bool
c 44 CONFIG_HEXDUMP bool
c 45 CONFIG_FEATURE_TELNET_TTYPE bool
c 46 CONFIG_CATV bool
c 47 CONFIG_FEATURE_WGET_LONG_OPTIONS bool
c 48 CONFIG_FEATURE_GREP_CONTEXT bool
c 49 CONFIG_FEATURE_TR_EQUIV bool
c 50 CONFIG_PASSWORD_MINLEN nonbool 6
c 51 CONFIG_FEATURE_MD5_SHA1_SUM_CHECK bool
c 52 CONFIG_IFUPDOWN bool
c 53 CONFIG_IPCS bool
c 54 CONFIG_BUILD_LIBBUSYBOX bool
c 55 CONFIG_ASH_JOB_CONTROL bool
c 56 CONFIG_FEATURE_REMOTE_LOG bool
c 57 CONFIG_FREERAMDISK bool
c 58 CONFIG_FEATURE_EDITING_SAVEHISTORY bool
c 59 CONFIG_FEATURE_TASKSET_FANCY bool
c 60 CONFIG_FEATURE_FDISK_WRITABLE bool
c 61 CONFIG_FEATURE_HTTPD_BASIC_AUTH bool
c 62 CONFIG_SETKEYCODES bool
c 63 CONFIG_UNIX2DOS hidden_bool
c 64 CONFIG_SEQ bool
c 65 CONFIG_FEATURE_FIND_XDEV bool
c 66 CONFIG_FEATURE_TFTP_PUT bool
c 67 CONFIG_FEATURE_WTMP bool
c 68 CONFIG_PS bool
c 69 CONFIG_FEATURE_VI_MAX_LEN nonbool 4096
c 70 CONFIG_FEATURE_MODPROBE_FANCY_ALIAS bool
c 71 CONFIG_FEATURE_PASSWD_WEAK_CHECK bool
c 72 CONFIG_SYNC bool
c 73 CONFIG_FEATURE_CLEAN_UP bool
c 74 CONFIG_FEATURE_FIND_PERM bool
c 75 CONFIG_FEATURE_FIND_MAXDEPTH bool
c 76 CONFIG_GZIP bool
c 77 CONFIG_CHRT bool
c 78 CONFIG_STATIC bool
c 79 CONFIG_FEATURE_VI_YANKMARK bool
c 80 CONFIG_FEATURE_TAR_FROM bool
c 81 CONFIG_FEATURE_FIND_CONTEXT bool
c 82 CONFIG_FEATURE_UTMP bool
c 83 CONFIG_FTPGET bool
c 84 CONFIG_FEATURE_MDEV_LOAD_FIRMWARE bool
c 85 CONFIG_RMMOD bool
c 86 CONFIG_TAIL bool
c 87 CONFIG_RUN_PARTS bool
c 88 CONFIG_HUSH_TICK bool
c 89 CONFIG_MORE bool
c 90 CONFIG_DNSD bool
c 91 CONFIG_CMP bool
c 92 CONFIG_GUNZIP bool
c 93 CONFIG_UNAME bool
c 94 CONFIG_TAC bool
c 95 CONFIG_LOAD_POLICY bool
c 96 CONFIG_FEATURE_SUID_CONFIG_QUIET bool
c 97 CONFIG_MV bool
c 98 CONFIG_PATCH bool
c 99 CONFIG_FEATURE_XARGS_SUPPORT_ZERO_TERM bool
c 100 CONFIG_HAVE_DOT_CONFIG hidden_bool
c 101 CONFIG_PKILL bool
c 102 CONFIG_DOS2UNIX bool
c 103 CONFIG_FEATURE_VI_OPTIMIZE_CURSOR bool
c 104 CONFIG_MKTEMP bool
c 105 CONFIG_FEATURE_LS_FILETYPES bool
c 106 CONFIG_FEATURE_SUID bool
c 107 CONFIG_READLINK bool
c 108 CONFIG_DMALLOC choice_bool
c 109 CONFIG_SETSEBOOL bool
c 110 CONFIG_FEATURE_RFC3397 bool
c 111 CONFIG_NOMMU bool
c 112 CONFIG_DF bool
c 113 CONFIG_RUNLEVEL bool
c 114 CONFIG_FEATURE_IP_ROUTE bool
c 115 CONFIG_FEATURE_BUFFERS_GO_ON_STACK choice_bool
c 116 CONFIG_LFS bool
c 117 CONFIG_SETLOGCONS bool
c 118 CONFIG_SESTATUS bool
c 119 CONFIG_LOGIN_SCRIPTS bool
c 120 CONFIG_FEATURE_CHECK_TAINTED_MODULE bool
c 121 CONFIG_FEATURE_COPYBUF_KB nonbool 4
c 122 CONFIG_RUNSVDIR bool
c 123 CONFIG_IPADDR hidden_bool
c 124 CONFIG_FEATURE_IFUPDOWN_IFCONFIG_BUILTIN bool
c 125 CONFIG_FEATURE_SPLIT_FANCY bool
c 126 CONFIG_FEATURE_HDPARM_HDIO_UNREGISTER_HWIF bool
c 127 CONFIG_DEVFSD_FG_NP bool
c 128 CONFIG_UNCOMPRESS bool
c 129 CONFIG_FEATURE_WGET_STATUSBAR bool
c 130 CONFIG_FEATURE_GUNZIP_UNCOMPRESS bool
c 131 CONFIG_DIFF bool
c 132 CONFIG_UNZIP bool
c 133 CONFIG_IPRULE hidden_bool
c 134 CONFIG_FEATURE_TAR_OLDSUN_COMPATIBILITY bool
c 135 CONFIG_RESIZE bool
c 136 CONFIG_YES bool
c 137 CONFIG_ARP bool
c 138 CONFIG_FEATURE_FIND_NEWER bool
c 139 CONFIG_FEATURE_BUFFERS_GO_IN_BSS choice_bool
c 140 CONFIG_ADDUSER bool
c 141 CONFIG_FEATURE_SUN_LABEL bool
c 142 CONFIG_BZIP2 bool
c 143 CONFIG_FOLD bool
c 144 CONFIG_FEATURE_LS_COLOR_IS_DEFAULT bool
c 145 CONFIG_FEATURE_TAR_LZMA bool
c 146 CONFIG_FEATURE_HTTPD_CGI bool
c 147 CONFIG_SHA1SUM bool
c 148 CONFIG_FEATURE_AR_LONG_FILENAMES bool
c 149 CONFIG_FEATURE_FANCY_TAIL bool
c 150 CONFIG_FEATURE_UDHCP_DEBUG bool
c 151 CONFIG_FEATURE_SORT_BIG bool
c 152 CONFIG_USLEEP bool
c 153 CONFIG_NICE bool
c 154 CONFIG_INSTALL_APPLET_DONT choice_bool
c 155 CONFIG_FEATURE_IP_RULE bool
c 156 CONFIG_VCONFIG bool
c 157 CONFIG_ASH_GETOPTS bool
c 158 CONFIG_FEATURE_MOUNT_FLAGS bool
c 159 CONFIG_HTTPD bool
c 160 CONFIG_TRACEROUTE bool
c 161 CONFIG_TEE bool
c 162 CONFIG_TEST bool
c 163 CONFIG_NAMEIF bool
c 164 CONFIG_ID bool
c 165 CONFIG_FEATURE_FANCY_SLEEP bool
c 166 CONFIG_FEATURE_LZMA_FAST bool
c 167 CONFIG_APP_DHCPRELAY bool
c 168 CONFIG_FEATURE_FIND_MTIME bool
c 169 CONFIG_FEATURE_VI_WIN_RESIZE bool
c 170 CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER choice_bool
c 171 CONFIG_TFTP bool
c 172 CONFIG_FDISK bool
c 173 CONFIG_IPCALC bool
c 174 CONFIG_BUNZIP2 bool
c 175 CONFIG_MOUNT bool
c 176 CONFIG_FEATURE_RESIZE_PRINT bool
c 177 CONFIG_HOSTID bool
c 178 CONFIG_EXPR bool
c 179 CONFIG_FEATURE_FIND_USER bool
c 180 CONFIG_FEATURE_DEVFS bool
c 181 CONFIG_CP bool
c 182 CONFIG_MICROCOM bool
c 183 CONFIG_FEATURE_IP_TUNNEL bool
c 184 CONFIG_CHPST bool
c 185 CONFIG_PREFIX nonbool "./_install"
c 186 CONFIG_FEATURE_IFUPDOWN_MAPPING bool
c 187 CONFIG_FEATURE_LESS_FLAGCS bool
c 188 CONFIG_FEATURE_HTTPD_ERROR_PAGES bool
c 189 CONFIG_ASH_MATH_SUPPORT bool
c 190 CONFIG_FEATURE_FANCY_ECHO bool
c 191 CONFIG_RUNCON bool
c 192 CONFIG_SPLIT bool
c 193 CONFIG_ASH_BUILTIN_ECHO bool
c 194 CONFIG_INSTALL_SH_APPLET_SYMLINK choice_bool
c 195 CONFIG_FEATURE_TELNETD_STANDALONE bool
c 196 CONFIG_SED bool
c 197 CONFIG_FEATURE_TFTP_BLOCKSIZE bool
c 198 CONFIG_RESET bool
c 199 CONFIG_BBCONFIG bool
c 200 CONFIG_FEATURE_MOUNT_NFS bool
c 201 CONFIG_FEATURE_FIND_PRUNE bool
c 202 CONFIG_SLATTACH bool
c 203 CONFIG_FEATURE_INSMOD_LOADINKMEM bool
c 204 CONFIG_FEATURE_READLINK_FOLLOW bool
c 205 CONFIG_WGET bool
c 206 CONFIG_RX bool
c 207 CONFIG_FEATURE_IP_RARE_PROTOCOLS bool
c 208 CONFIG_FEATURE_FANCY_PING bool
c 209 CONFIG_ENVDIR bool
c 210 CONFIG_LOADFONT bool
c 211 CONFIG_FEATURE_USE_TERMIOS bool
c 212 CONFIG_FEATURE_SETCONSOLE_LONG_OPTIONS bool
c 213 CONFIG_FEATURE_MTAB_SUPPORT bool
c 214 CONFIG_NOHUP bool
c 215 CONFIG_FEATURE_TOP_DECIMALS bool
c 216 CONFIG_IP bool
c 217 CONFIG_BUSYBOX_EXEC_PATH nonbool "/proc/self/exe"
c 218 CONFIG_FEATURE_VI_COLON bool
c 219 CONFIG_HEAD bool
c 220 CONFIG_MATCHPATHCON bool
c 221 CONFIG_UMOUNT bool
c 222 CONFIG_DIRNAME bool
c 223 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN bool
c 224 CONFIG_CLEAR bool
c 225 CONFIG_MD5_SIZE_VS_SPEED nonbool 2
c 226 CONFIG_FEATURE_DIFF_BINARY bool
c 227 CONFIG_FEATURE_MKDIR_LONG_OPTIONS bool
c 228 CONFIG_LOCALE_SUPPORT bool
c 229 CONFIG_DEBUG_TFTP bool
c 230 CONFIG_FEATURE_NAMEIF_EXTENDED bool
c 231 CONFIG_VI bool
c 232 CONFIG_FEATURE_FIND_PRINT0 bool
c 233 CONFIG_FEATURE_HTTPD_RANGES bool
c 234 CONFIG_STRINGS bool
c 235 CONFIG_FEATURE_EDITING bool
c 236 CONFIG_FEATURE_VI_SET bool
c 237 CONFIG_SULOGIN bool
c 238 CONFIG_RDATE bool
c 239 CONFIG_FEATURE_DEB_TAR_LZMA bool
c 240 CONFIG_FDFLUSH bool
c 241 CONFIG_SUM bool
c 242 CONFIG_CKSUM bool
c 243 CONFIG_FEATURE_EDITING_FANCY_PROMPT bool
c 244 CONFIG_KILLALL5 bool
c 245 CONFIG_FEATURE_USE_INITTAB bool
c 246 CONFIG_FEATURE_HAVE_RPC bool
c 247 CONFIG_SETSID bool
c 248 CONFIG_INSTALL_NO_USR bool
c 249 CONFIG_FEATURE_TR_CLASSES bool
c 250 CONFIG_FEATURE_MV_LONG_OPTIONS bool
c 251 CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING bool
c 252 CONFIG_FEATURE_SECURETTY bool
c 253 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_TIME bool
c 254 CONFIG_FEATURE_VI_SETOPTS bool
c 255 CONFIG_EFENCE choice_bool
c 256 CONFIG_FEATURE_TFTP_GET bool
c 257 CONFIG_FEATURE_VERBOSE_USAGE bool
c 258 CONFIG_FEATURE_GREP_EGREP_ALIAS bool
c 259 CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE nonbool 16
c 260 CONFIG_FEATURE_HTTPD_USE_SENDFILE bool
c 261 CONFIG_FEATURE_FIND_PATH bool
c 262 CONFIG_FEATURE_SH_IS_HUSH choice_bool
c 263 CONFIG_FDFORMAT bool
c 264 CONFIG_MKFIFO bool
c 265 CONFIG_DESKTOP bool
c 266 CONFIG_FEATURE_EXTRA_QUIET bool
c 267 CONFIG_PIPE_PROGRESS bool
c 268 CONFIG_FEATURE_RUNCON_LONG_OPTIONS bool
c 269 CONFIG_RESTORECON bool
c 270 CONFIG_FEATURE_LS_TIMESTAMPS bool
c 271 CONFIG_FEATURE_FIND_SIZE bool
c 272 CONFIG_FEATURE_UNEXPAND_LONG_OPTIONS bool
c 273 CONFIG_ENV bool
c 274 CONFIG_STAT bool
c 275 CONFIG_VERBOSE_RESOLUTION_ERRORS bool
c 276 CONFIG_IPTUNNEL hidden_bool
c 277 CONFIG_TELNET bool
c 278 CONFIG_FEATURE_SU_SYSLOG bool
c 279 CONFIG_UPTIME bool
c 280 CONFIG_LESS bool
c 281 CONFIG_FEATURE_IFUPDOWN_IPV4 bool
c 282 CONFIG_HALT bool
c 283 CONFIG_FEATURE_IP_SHORT_FORMS bool
c 284 CONFIG_LS bool
c 285 CONFIG_START_STOP_DAEMON bool
c 286 CONFIG_DUMPKMAP bool
c 287 CONFIG_PRINTF bool
c 288 CONFIG_FEATURE_MOUNT_FSTAB bool
c 289 CONFIG_LOGNAME bool
c 290 CONFIG_FEATURE_LS_RECURSIVE bool
c 291 CONFIG_PGREP bool
c 292 CONFIG_HUSH_JOB bool
c 293 CONFIG_MSH bool
c 294 CONFIG_FEATURE_EDITING_FANCY_KEYS bool
c 295 CONFIG_BB_SYSCTL bool
c 296 CONFIG_FEATURE_SETFILES_CHECK_OPTION bool
c 297 CONFIG_PASSWD bool
c 298 CONFIG_FEATURE_ALLOW_EXEC bool
c 299 CONFIG_ED bool
c 300 CONFIG_CAL bool
c 301 CONFIG_FEATURE_KILL_DELAY nonbool 0
c 302 CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY bool
c 303 CONFIG_FEATURE_XARGS_SUPPORT_QUOTES bool
c 304 CONFIG_FEATURE_XARGS_SUPPORT_TERMOPT bool
c 305 CONFIG_FEATURE_SH_IS_NONE choice_bool
c 306 CONFIG_PING6 bool
c 307 CONFIG_NC bool
c 308 CONFIG_FEATURE_LS_FOLLOWLINKS bool
c 309 CONFIG_FEATURE_TRACEROUTE_SOURCE_ROUTE bool
c 310 CONFIG_FEATURE_TAR_GNU_EXTENSIONS bool
c 311 CONFIG_FEATURE_AUTOWIDTH bool
c 312 CONFIG_FAKEIDENTD bool
c 313 CONFIG_WATCHDOG bool
c 314 CONFIG_FEATURE_IFUPDOWN_IP bool
c 315 CONFIG_CRONTAB bool
c 316 CONFIG_TASKSET bool
c 317 CONFIG_FEATURE_HTTPD_CONFIG_WITH_MIME_TYPES bool
c 318 CONFIG_FEATURE_VI_USE_SIGNALS bool
c 319 CONFIG_LAST bool
c 320 CONFIG_FEATURE_UNARCHIVE_TAPE bool
c 321 CONFIG_FEATURE_TAR_BZIP2 bool
c 322 CONFIG_WC bool
c 323 CONFIG_FEATURE_TAR_CREATE bool
c 324 CONFIG_GETOPT bool
c 325 CONFIG_PAM bool
c 326 CONFIG_FEATURE_STAT_FORMAT bool
c 327 CONFIG_FEATURE_LS_SORTFILES bool
c 328 CONFIG_FEATURE_HDPARM_GET_IDENTITY bool
c 329 CONFIG_CHMOD bool
c 330 CONFIG_FEATURE_RPM_BZ2 bool
c 331 CONFIG_FEATURE_MAKEDEVS_LEAF choice_bool
c 332 CONFIG_REALPATH bool
c 333 CONFIG_FEATURE_TAR_GZIP bool
c 334 CONFIG_FEATURE_FIND_REGEX bool
c 335 CONFIG_FEATURE_WC_LARGE bool
c 336 CONFIG_FEATURE_EDITING_HISTORY nonbool 15
c 337 CONFIG_UNIQ bool
c 338 CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY bool
c 339 CONFIG_WHO bool
c 340 CONFIG_FEATURE_PS_TIME bool
c 341 CONFIG_FEATURE_FIND_DELETE bool
c 342 CONFIG_HWCLOCK bool
c 343 CONFIG_FEATURE_TAR_COMPRESS bool
c 344 CONFIG_DMESG bool
c 345 CONFIG_FEATURE_MDEV_EXEC bool
c 346 CONFIG_MT bool
c 347 CONFIG_MKNOD bool
c 348 CONFIG_MOUNTPOINT bool
c 349 CONFIG_SETCONSOLE bool
c 350 CONFIG_KILLALL bool
c 351 CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT bool
c 352 CONFIG_FEATURE_VI_SEARCH bool
c 353 CONFIG_FEATURE_TAR_LONG_OPTIONS bool
c 354 CONFIG_SLEEP bool
c 355 CONFIG_FEATURE_INIT_COREDUMPS bool
c 356 CONFIG_WERROR bool
c 357 CONFIG_FEATURE_IFUPDOWN_EXTERNAL_DHCP bool
c 358 CONFIG_FEATURE_FIND_TYPE bool
c 359 CONFIG_FEATURE_START_STOP_DAEMON_LONG_OPTIONS bool
c 360 CONFIG_LOADKMAP bool
c 361 CONFIG_INSTALL bool
c 362 CONFIG_FUSER bool
c 363 CONFIG_SELINUX bool
c 364 CONFIG_FEATURE_INSMOD_LOAD_MAP bool
c 365 CONFIG_FEATURE_INSTALLER bool
c 366 CONFIG_FEATURE_PRESERVE_HARDLINKS bool
c 367 CONFIG_FEATURE_FBSET_FANCY bool
c 368 CONFIG_CHPASSWD bool
c 369 CONFIG_VLOCK bool
c 370 CONFIG_KLOGD bool
c 371 CONFIG_HD bool
c 372 CONFIG_FEATURE_MOUNT_HELPERS bool
c 373 CONFIG_ETHER_WAKE bool
c 374 CONFIG_INSMOD bool
c 375 CONFIG_FEATURE_WGET_AUTHENTICATION bool
c 376 CONFIG_MKSWAP bool
c 377 CONFIG_KBD_MODE bool
c 378 CONFIG_RENICE bool
c 379 CONFIG_CHATTR bool
c 380 CONFIG_NETSTAT bool
c 381 CONFIG_FEATURE_HTTPD_SET_REMOTE_PORT_TO_ENV bool
c 382 CONFIG_OD bool
c 383 CONFIG_FEATURE_CROND_CALL_SENDMAIL bool
c 384 CONFIG_FEATURE_VI_8BIT bool
c 385 CONFIG_INSTALL_SH_APPLET_HARDLINK choice_bool
c 386 CONFIG_FEATURE_SH_IS_MSH choice_bool
c 387 CONFIG_FEATURE_USERNAME_COMPLETION bool
c 388 CONFIG_TTY bool
c 389 CONFIG_FEATURE_LS_USERNAME bool
c 390 CONFIG_DU bool
c 391 CONFIG_FEATURE_HWCLOCK_LONG_OPTIONS bool
c 392 CONFIG_CROND bool
c 393 CONFIG_PWD bool
c 394 CONFIG_INCLUDE_SUSv2 bool
c 395 CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K bool
c 396 CONFIG_COMM bool
c 397 CONFIG_HDPARM bool
c 398 CONFIG_FEATURE_INETD_RPC bool
c 399 CONFIG_NC_SERVER bool
c 400 CONFIG_FEATURE_2_6_MODULES bool
c 401 CONFIG_FEATURE_HTTPD_ENCODE_URL_STR bool
c 402 CONFIG_ASH_RANDOM_SUPPORT bool
c 403 CONFIG_RPM bool
c 404 CONFIG_FEATURE_IFCONFIG_STATUS bool
c 405 CONFIG_FEATURE_SGI_LABEL bool
c 406 CONFIG_FEATURE_TEST_64 bool
c 407 CONFIG_CHVT bool
c 408 CONFIG_FEATURE_HTTPD_AUTH_MD5 bool
c 409 CONFIG_FEATURE_MOUNT_CIFS bool
c 410 CONFIG_FEATURE_MINIX2 bool
c 411 CONFIG_FEATURE_DEVPTS bool
c 412 CONFIG_FEATURE_FDISK_ADVANCED bool
c 413 CONFIG_XARGS bool
c 414 CONFIG_FEATURE_LESS_BRACKETS bool
c 415 CONFIG_DELUSER bool
c 416 CONFIG_LSMOD bool
c 417 CONFIG_DC bool
c 418 CONFIG_FBSET bool
c 419 CONFIG_FEATURE_INSMOD_LOAD_MAP_FULL bool
c 420 CONFIG_FEATURE_DEB_TAR_GZ bool
c 421 CONFIG_INIT bool
c 422 CONFIG_FSCK_MINIX bool
c 423 CONFIG_MKFS_MINIX bool
c 424 CONFIG_DEALLOCVT bool
c 425 CONFIG_FEATURE_HTTPD_SETUID bool
c 426 CONFIG_FEATURE_DEL_USER_FROM_GROUP bool
c 427 CONFIG_HUSH bool
c 428 CONFIG_BASENAME bool
c 429 CONFIG_FEATURE_COMPRESS_USAGE bool
c 430 CONFIG_RM bool
c 431 CONFIG_LN bool
c 432 CONFIG_FEATURE_FIND_PAREN bool
c 433 CONFIG_FEATURE_EDITING_VI bool
c 434 CONFIG_FEATURE_INIT_SCTTY bool
c 435 CONFIG_FIND bool
c 436 CONFIG_MODPROBE bool
c 437 CONFIG_CUT bool
c 438 CONFIG_FEATURE_RUN_PARTS_FANCY bool
c 439 CONFIG_FDISK_SUPPORT_LARGE_DISKS bool
c 440 CONFIG_FEATURE_FIND_EXEC bool
c 441 CONFIG_HUSH_LOOPS bool
c 442 CONFIG_SETUIDGID bool
c 443 CONFIG_FEATURE_FANCY_HEAD bool
c 444 CONFIG_FEATURE_DIFF_MINIMAL bool
c 445 CONFIG_FEATURE_NETSTAT_WIDE bool
c 446 CONFIG_FEATURE_LESS_REGEXP bool
c 447 CONFIG_MD5SUM bool
c 448 CONFIG_FEATURE_DEB_TAR_BZ2 bool
c 449 CONFIG_FALSE bool
c 450 CONFIG_TAR bool
c 451 CONFIG_LOGIN bool
c 452 CONFIG_MESG bool
c 453 CONFIG_GETSEBOOL bool
c 454 CONFIG_NMETER bool
c 455 CONFIG_IPLINK hidden_bool
c 456 CONFIG_SHOW_USAGE bool
c 457 CONFIG_FEATURE_PIDOF_SINGLE bool
c 458 CONFIG_FEATURE_SYSLOG bool
c 459 CONFIG_FEATURE_IP_ADDRESS bool
c 460 CONFIG_MAKEDEVS bool
c 461 CONFIG_FEATURE_SHADOWPASSWDS bool
c 462 CONFIG_FEATURE_INSMOD_KSYMOOPS_SYMBOLS bool
c 463 CONFIG_PRINTENV bool
c 464 CONFIG_FEATURE_EXPAND_LONG_OPTIONS bool
c 465 CONFIG_SETARCH bool
c 466 CONFIG_DELGROUP bool
c 467 CONFIG_FEATURE_IFCONFIG_SLIP bool
c 468 CONFIG_PING bool
c 469 CONFIG_ASH_BUILTIN_TEST bool
c 470 CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS bool
c 471 CONFIG_FEATURE_HWCLOCK_ADJTIME_FHS bool
c 472 CONFIG_FEATURE_NOLOGIN bool
c 473 CONFIG_LOGREAD bool
c 474 CONFIG_FEATURE_SHARED_BUSYBOX bool
c 475 CONFIG_FEATURE_LESS_MAXLINES nonbool 9999999
c 476 CONFIG_DEVFSD_MODLOAD bool
c 477 CONFIG_DEVFSD bool
c 478 CONFIG_HUSH_HELP bool
c 479 CONFIG_SELINUXENABLED bool
c 480 CONFIG_FEATURE_MODPROBE_MULTIPLE_OPTIONS bool
c 481 CONFIG_IOCTL_HEX2STR_ERROR bool
c 482 CONFIG_FEATURE_RUN_PARTS_LONG_OPTIONS bool
c 483 CONFIG_ECHO bool
c 484 CONFIG_ZCIP bool
c 485 CONFIG_TELNETD bool
c 486 CONFIG_FEATURE_LESS_MARKS bool
c 487 CONFIG_FEATURE_MDEV_CONF bool
c 488 CONFIG_TRUE bool
c 489 CONFIG_IFUPDOWN_IFSTATE_PATH nonbool "/var/run/ifstate"
c 490 CONFIG_CPIO bool
c 491 CONFIG_FSCK bool
c 492 CONFIG_FEATURE_ETC_NETWORKS bool
c 493 CONFIG_CHGRP bool
c 494 CONFIG_MDEV bool
c 495 CONFIG_USE_BB_PWD_GRP bool
c 496 CONFIG_TR bool
c 497 CONFIG_FEATURE_2_4_MODULES bool
c 498 CONFIG_FEATURE_START_STOP_DAEMON_FANCY bool
c 499 CONFIG_EXPAND bool
c 500 CONFIG_ENVUIDGID bool
c 501 CONFIG_CAT bool
c 502 CONFIG_FEATURE_DD_IBS_OBS bool
c 503 CONFIG_FEATURE_FBSET_READMODE bool
c 504 CONFIG_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR bool
c 505 CONFIG_APP_UDHCPC bool
c 506 CONFIG_ADDGROUP bool
c 507 CONFIG_DD bool
c 508 CONFIG_FEATURE_FIND_GROUP bool
c 509 CONFIG_RMDIR bool
c 510 CONFIG_ASH_READ_TIMEOUT bool
c 511 CONFIG_LENGTH bool
c 512 CONFIG_FEATURE_UDHCPC_ARPING bool
c 513 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD bool
c 514 CONFIG_GREP bool
c 515 CONFIG_PSCAN bool
c 516 CONFIG_INSTALL_APPLET_HARDLINKS choice_bool
c 517 CONFIG_SOFTLIMIT bool
c 518 CONFIG_FEATURE_DD_SIGNAL_HANDLING bool
c 519 CONFIG_FEATURE_UMOUNT_ALL bool
c 520 CONFIG_UUENCODE bool
c 521 CONFIG_FEATURE_PIDOF_OMIT bool
c 522 CONFIG_FEATURE_OSF_LABEL bool
c 523 CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS choice_bool
c 524 CONFIG_NITPICK bool
c 525 CONFIG_FEATURE_QUERY_MODULE_INTERFACE hidden_bool
c 526 CONFIG_FEATURE_FAST_TOP bool
c 527 CONFIG_NSLOOKUP bool
c 528 CONFIG_FEATURE_FTPGETPUT_LONG_OPTIONS bool
c 529 CONFIG_FEATURE_INDIVIDUAL bool
c 530 CONFIG_PIDOF bool
c 531 CONFIG_CHOWN bool
c 532 CONFIG_CHROOT bool
c 533 CONFIG_CRYPTPW bool
c 534 CONFIG_FEATURE_FIND_MMIN bool
c 535 CONFIG_DPKG_DEB bool
c 536 CONFIG_FEATURE_SU_CHECKS_SHELLS bool
c 537 CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS bool
c 538 CONFIG_DPKG bool
c 539 CONFIG_FEATURE_HDPARM_HDIO_SCAN_HWIF bool
c 540 CONFIG_DEVFSD_VERBOSE bool
c 541 CONFIG_PIVOT_ROOT bool
c 542 CONFIG_FEATURE_IFUPDOWN_IPV6 bool
c 543 CONFIG_FEATURE_ADDUSER_TO_GROUP bool
c 544 CONFIG_FEATURE_LS_COLOR bool
c 545 CONFIG_INSTALL_APPLET_SYMLINKS choice_bool
c 546 CONFIG_SU bool
c 547 CONFIG_RPM2CPIO bool
c 548 CONFIG_FEATURE_HDPARM_HDIO_GETSET_DMA bool
c 549 CONFIG_MONOTONIC_SYSCALL bool
c 550 CONFIG_FEATURE_TRACEROUTE_VERBOSE bool
c 551 CONFIG_RUNSV bool
c 552 CONFIG_FEATURE_AIX_LABEL bool
c 553 CONFIG_HOSTNAME bool
c 554 CONFIG_ROUTE bool
c 555 CONFIG_USE_BB_SHADOW bool
c 556 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME bool
c 557 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_ECHO bool
c 558 CONFIG_FEATURE_IPC_SYSLOG bool
c 559 CONFIG_FEATURE_HDPARM_HDIO_TRISTATE_HWIF bool
c 560 CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE bool
c 561 CONFIG_GETOPT_LONG bool
c 562 CONFIG_LOSETUP bool
c 563 CONFIG_FEATURE_VI_DOT_CMD bool
c 564 CONFIG_FEATURE_SH_EXTRA_QUIET bool
c 565 CONFIG_FEATURE_BUFFERS_USE_MALLOC choice_bool
c 566 CONFIG_FEATURE_DATE_ISOFMT bool
c 567 CONFIG_ASH_MATH_SUPPORT_64 bool
c 568 CONFIG_UDHCPC_SLACK_FOR_BUGGY_SERVERS nonbool 80
c 569 CONFIG_FEATURE_INIT_SYSLOG bool
c 570 CONFIG_IPCRM bool
c 571 CONFIG_FEATURE_IFUPDOWN_IP_BUILTIN bool
c 572 CONFIG_FEATURE_SUID_CONFIG bool
c 573 CONFIG_AWK bool
c 574 CONFIG_SETFILES bool
c 575 CONFIG_EXPR_MATH_SUPPORT_64 bool
c 576 CONFIG_FEATURE_VI_READONLY bool
c 577 CONFIG_APP_UDHCPD bool
c 578 CONFIG_DEBUG_INIT bool
c 579 CONFIG_FEATURE_DIFF_DIR bool
c 580 CONFIG_DATE bool
c 581 CONFIG_WHOAMI bool
c 582 CONFIG_INETD bool
c 583 CONFIG_FEATURE_HEXDUMP_REVERSE bool
c 584 CONFIG_FEATURE_DF_INODE bool
c 585 CONFIG_FEATURE_IFCONFIG_HW bool
c 586 CONFIG_FEATURE_PS_UNUSUAL_SYSTEMS bool
c 587 CONFIG_GETTY bool
c 588 CONFIG_FEATURE_DMESG_PRETTY bool
c 589 CONFIG_ASH_EXPAND_PRMT bool
c 590 CONFIG_FTPPUT bool
c 591 CONFIG_SETENFORCE bool
c 592 CONFIG_SWAPONOFF bool
c 593 CONFIG_FEATURE_FIND_NOT bool
c 594 CONFIG_SV bool
c 595 CONFIG_FEATURE_FIND_INUM bool
c 596 CONFIG_ASH_OPTIMIZE_FOR_SIZE bool
c 597 CONFIG_FEATURE_IPCALC_LONG_OPTIONS bool
c 598 CONFIG_DEBUG bool
c 599 CONFIG_TOP bool
c 600 CONFIG_FEATURE_ENV_LONG_OPTIONS bool
c 601 CONFIG_ASH_CMDCMD bool
c 602 CONFIG_UNEXPAND bool
c 603 CONFIG_FEATURE_PS_WIDE bool
c 604 CONFIG_EJECT bool
c 605 CONFIG_APP_DUMPLEASES bool
c 606 CONFIG_UNLZMA bool
c 607 CONFIG_SVLOGD bool
c 608 CONFIG_FEATURE_FIND_DEPTH bool
c 609 CONFIG_FEATURE_TEE_USE_BLOCK_IO bool
c 610 CONFIG_FEATURE_TAR_OLDGNU_COMPATIBILITY bool
c 611 CONFIG_FEATURE_GREP_FGREP_ALIAS bool
c 612 CONFIG_CHCON bool
c 613 CONFIG_SORT bool
c 614 CONFIG_FEATURE_MKSWAP_V0 bool
c 615 CONFIG_IPROUTE hidden_bool
c 616 CONFIG_READPROFILE bool
c 617 CONFIG_FEATURE_INSMOD_VERSION_CHECKING bool
c 618 CONFIG_TCPSVD bool
c 619 CONFIG_FEATURE_HUMAN_READABLE bool
c 620 CONFIG_TOUCH bool
c 621 CONFIG_FEATURE_INITRD bool
c 622 CONFIG_HUSH_IF bool
c 623 CONFIG_TIME bool
c 624 CONFIG_STTY bool
c 625 CONFIG_TTYSIZE bool
c 626 CONFIG_READAHEAD bool
c 627 CONFIG_SYSLOGD bool
c 628 CONFIG_NO_DEBUG_LIB choice_bool
c 629 CONFIG_UDPSVD bool
c 630 CONFIG_ASH_ALIAS bool
c 631 CONFIG_GETENFORCE bool
c 632 CONFIG_FREE bool
c 633 CONFIG_FEATURE_HDPARM_HDIO_DRIVE_RESET bool
c 634 CONFIG_FEATURE_IPCALC_FANCY bool
c 635 CONFIG_FEATURE_PREFER_IPV4_ADDRESS bool
c 636 CONFIG_FEATURE_AWK_MATH bool
c 637 CONFIG_ARPING bool
p cnf 637 524
-262 -386 0
106 -297 0
14 -292 0
-257 456 0
-109 363 0
-341 435 0
159 -317 0
-194 523 0
-59 316 0
-426 466 0
52 -124 -314 0
235 -294 0
-398 582 0
-166 606 0
-30 460 0
-133 155 0
-95 363 0
344 -588 0
427 -441 0
-429 456 0
505 -568 577 0
-96 572 0
-272 602 0
159 -233 0
19 -589 0
-457 530 0
172 -405 0
-141 172 0
44 -583 0
-400 -525 0
-258 514 0
-170 -385 0
-134 450 0
-343 450 0
-270 284 0
60 -522 0
495 -555 0
-65 435 0
-78 -474 0
418 -503 0
-67 319 451 546 587 0
435 -440 0
1 -350 0
-320 450 490 0
18 19 293 427 -564 0
82 -339 -587 0
52 -542 0
3 -387 0
427 -622 0
458 -477 0
568 -577 0
-451 458 0
-306 468 0
-218 231 0
172 -552 0
-127 477 0
307 -399 0
-103 231 0
-170 523 0
89 277 284 -311 0
116 -626 0
35 -124 0
-154 -545 0
-67 82 339 451 546 587 0
-262 -305 0
284 -290 0
97 181 -366 0
-364 400 497 0
54 -78 -529 0
83 -528 590 0
-560 599 0
67 -319 -587 0
-67 82 -546 0
115 139 -524 565 0
506 -543 0
-293 488 0
54 -529 0
280 -446 0
-544 561 0
-150 505 577 0
172 -412 0
159 -260 0
231 -352 0
-470 560 0
106 -570 0
-169 231 0
-364 374 0
89 -211 0
435 -595 0
-251 473 0
19 -189 0
-116 439 0
-37 627 0
-110 505 577 0
-334 435 0
161 -609 0
458 -582 0
-5 458 0
-56 627 0
-250 561 0
-78 -529 0
342 -391 0
100 0
-138 435 0
121 0
435 -508 0
-120 374 416 0
135 -176 0
-359 561 0
191 -268 0
17 -306 0
458 -485 0
280 -475 0
421 -569 0
-312 458 0
1 -244 0
-24 -54 0
-139 524 0
-448 535 538 0
216 -283 0
-71 297 0
-223 582 0
36 -216 -571 0
-41 277 0
160 -550 0
231 -576 0
52 -281 0
67 -319 -451 0
163 -230 0
-432 435 0
-105 284 0
162 -406 0
397 -539 0
-115 524 0
-81 435 0
82 -339 -451 0
-200 246 0
283 -615 0
-4 361 0
175 -288 0
189 -567 0
-296 574 0
265 -340 0
-252 451 0
435 -593 0
106 -369 0
-215 560 0
-385 523 0
231 -236 0
-516 -545 0
-16 24 0
-232 435 0
436 -480 524 0
-272 561 0
-239 535 538 0
231 -563 0
280 -414 0
35 -585 0
-201 435 0
-144 544 0
178 -575 0
-505 568 -577 0
450 -610 0
421 -621 0
-114 -283 615 0
-133 283 0
35 -537 0
19 -23 0
497 -617 0
524 -565 0
284 -308 0
-61 159 0
-227 561 0
-190 483 0
-268 561 0
-464 499 0
-194 -385 0
171 -197 0
146 -381 0
-2 160 0
-52 489 0
435 -534 0
-191 363 0
363 -591 0
-51 147 447 0
185 0
-4 561 0
-271 435 0
-40 363 612 0
-155 216 0
-521 530 0
421 -578 0
60 -405 0
-42 392 0
221 -519 0
131 -444 0
67 -319 -546 0
-502 507 0
16 24 -154 365 0
-505 568 0
159 -401 0
216 -459 571 0
-99 413 0
-216 459 -571 0
-14 427 0
36 -455 0
451 -472 0
-3 235 0
246 -398 0
-392 458 0
-333 450 0
-303 413 0
284 -389 0
-63 102 0
-67 82 -339 0
-53 106 0
-261 435 0
397 -559 0
173 -597 0
-66 171 0
-40 363 0
160 -309 0
52 -357 0
-40 363 561 0
-167 577 0
-269 363 0
380 -445 0
17 -635 0
69 -231 0
82 -339 0
-67 82 -587 0
154 516 523 545 0
19 -193 0
421 -434 0
-338 535 0
-268 363 561 0
-43 -262 0
-268 363 0
-462 497 0
235 -433 0
-276 283 0
-125 192 0
-67 82 -451 0
-33 307 0
52 -124 0
-16 18 19 293 427 0
-170 -194 0
107 -204 0
-81 363 0
-48 514 0
-523 -545 0
-70 400 0
374 -617 0
-556 582 0
-25 159 0
-278 546 0
-151 613 0
191 -268 363 0
-154 -516 0
82 -339 -546 0
235 -336 0
85 374 436 -497 0
116 172 -439 0
225 0
19 -55 0
458 -546 0
-353 561 0
219 -443 0
171 -229 0
-391 561 0
-19 162 0
-145 450 0
-212 349 0
458 -484 0
60 -552 0
-146 159 0
175 -213 221 0
106 -546 0
-75 435 0
170 194 385 -523 0
-304 413 0
363 -574 0
-255 -628 0
216 -571 0
108 255 628 0
87 -482 0
-108 -255 0
-124 554 0
-487 494 0
70 -400 -436 524 0
39 -227 0
-200 458 0
374 -462 0
514 -611 0
-266 421 0
52 -314 0
19 -58 0
-566 580 0
61 -408 0
19 -43 0
-119 451 0
19 -601 0
-482 561 0
459 -571 0
293 -386 0
-36 -283 455 0
363 -631 0
231 -298 573 0
87 -438 0
19 -469 0
44 -371 0
-70 400 524 0
-323 450 0
340 -586 0
436 -480 0
285 -359 0
17 -542 0
114 -571 0
-84 494 0
400 -497 525 0
-115 -565 0
175 -200 0
-353 450 0
-420 535 538 0
50 0
363 -612 0
390 -395 0
-245 421 0
235 -243 0
133 -155 -283 0
577 -605 0
427 -478 0
19 -157 0
85 374 -400 436 0
52 -489 0
-351 416 0
-558 627 0
274 -326 0
-36 216 571 0
-12 19 0
-126 397 0
461 495 -555 0
131 -226 0
106 -451 0
-259 558 0
32 -235 0
-436 480 524 0
13 -301 0
273 -600 0
-165 354 0
-253 582 0
231 -318 0
-114 216 571 0
159 -188 0
-40 561 0
-280 475 0
231 -384 0
-464 561 0
-74 435 0
-473 558 0
-168 435 0
-58 235 0
461 -555 0
-34 599 0
284 -544 0
68 -603 0
314 -571 0
-220 363 0
-427 483 0
-383 392 0
171 -256 0
-427 488 0
-43 -305 0
-305 -386 0
-38 175 221 0
-70 400 436 0
-410 422 423 0
-179 435 0
106 -392 0
-328 397 0
191 -268 561 0
-557 582 0
-421 458 0
-237 458 0
123 -283 -459 0
573 -636 0
-123 459 0
-32 235 0
-208 468 0
112 284 390 -619 0
458 -587 0
162 -469 0
106 -315 0
-321 450 0
92 -130 0
505 -512 0
364 -419 0
-249 496 0
376 -614 0
54 -78 -474 0
52 -186 0
231 -254 0
-139 -565 0
-73 524 0
-163 458 0
35 -467 0
162 -427 0
397 -548 0
-18 427 0
561 -597 0
-40 612 0
112 -584 0
106 -572 0
363 -479 0
-8 280 0
-367 418 0
-293 449 0
54 -474 0
97 -250 0
-207 216 0
-528 561 0
146 -504 0
-476 477 0
-31 159 0
175 -372 0
-296 363 0
60 -141 0
36 216 -571 0
63 -102 0
-310 450 0
114 -615 0
-47 205 0
-70 436 0
-345 487 0
19 -510 0
-203 374 0
-80 450 0
35 -404 0
114 216 -571 0
497 -525 0
-212 561 0
-45 277 0
-115 -139 0
27 -148 0
43 262 305 386 0
280 -486 0
-69 231 0
86 -149 0
-47 561 0
-331 460 0
-187 280 0
36 -571 0
114 -216 -571 0
342 -471 0
285 -498 0
-123 283 0
216 459 -571 0
-20 35 0
183 -276 0
-116 -172 439 0
60 -412 0
507 -518 0
322 -335 0
561 -600 0
-516 -523 0
131 -579 0
-11 413 0
-13 245 0
-88 427 0
68 -340 0
-427 449 0
-158 175 0
159 -425 0
477 -540 0
259 -558 0
-341 608 0
284 -544 561 0
-536 546 0
-355 421 0
-118 363 0
397 -633 0
172 -522 0
175 -409 0
205 -375 0
-183 216 0
-235 336 0
19 -630 0
19 -402 0
19 -596 0
-203 497 0
-129 205 0
-325 451 0
-193 483 0
67 -319 0
217 0
-116 172 439 0
67 -82 339 451 546 587 0
-154 -523 0
-108 -628 0
-49 496 0
435 -608 0
-358 435 0
284 -327 0
-30 -331 0
-183 276 -283 0
-13 301 0
162 -293 0
-67 82 0
-297 458 0
283 -455 0
-513 582 0
173 -634 0
-262 427 0
-195 485 0
-124 -314 0
-43 -386 0
30 331 -460 0
363 -453 0
-60 172 0
-70 436 524 0
-79 231 0
-330 403 0
-40 561 612 0
-302 577 0
