c 1 CONFIG_KILL bool
c 2 CONFIG_FEATURE_TRACEROUTE_USE_ICMP bool
c 3 CONFIG_FEATURE_TAB_COMPLETION bool
c 4 CONFIG_FEATURE_INSTALL_LONG_OPTIONS bool
c 5 CONFIG_LOGGER bool
c 6 CONFIG_WHICH bool
c 7 CONFIG_FEATURE_PIDFILE bool
c 8 CONFIG_FEATURE_LESS_FLAGS bool
c 9 CONFIG_RAIDAUTORUN bool
c 10 CONFIG_LSATTR bool
c 11 CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION bool
c 12 CONFIG_ASH_MAIL bool
c 13 CONFIG_FEATURE_KILL_REMOVED bool
c 14 CONFIG_HUSH_INTERACTIVE bool
c 15 CONFIG_UUDECODE bool
c 16 CONFIG_FEATURE_EJECT_SCSI bool
c 17 CONFIG_FEATURE_SH_STANDALONE bool
c 18 CONFIG_FEATURE_IPV6 bool
c 19 CONFIG_LASH bool
c 20 CONFIG_ASH bool
c 21 CONFIG_FEATURE_IFCONFIG_MEMSTART_IOADDR_IRQ bool
c 22 CONFIG_OPENVT bool
c 23 CONFIG_SWITCH_ROOT bool
c 24 CONFIG_FEATURE_BRCTL_FANCY bool
c 25 CONFIG_ASH_READ_NCHARS bool
c 26 CONFIG_FEATURE_PREFER_APPLETS bool
c 27 CONFIG_FEATURE_HTTPD_PROXY bool
c 28 CONFIG_ADJTIMEX bool
c 29 CONFIG_AR bool
c 30 CONFIG_CTTYHACK bool
c 31 CONFIG_WATCH bool
c 32 CONFIG_FEATURE_MAKEDEVS_TABLE choice_bool
c 33 CONFIG_FEATURE_HTTPD_RELOAD_CONFIG_SIGHUP bool
c 34 CONFIG_FEATURE_EDITING_MAX_LEN nonbool 1024
c 35 CONFIG_NC_EXTRA bool
c 36 CONFIG_FEATURE_TOPMEM bool
c 37 CONFIG_IFCONFIG bool
c 38 CONFIG_FEATURE_IP_LINK bool
c 39 CONFIG_FEATURE_ROTATE_LOGFILE bool
c 40 CONFIG_SENDMAIL bool
c 41 CONFIG_FEATURE_MOUNT_LOOP bool
c 42 CONFIG_MKDIR bool
c 43 CONFIG_FEATURE_CHCON_LONG_OPTIONS bool
c 44 CONFIG_FEATURE_TELNET_AUTOLOGIN bool
c 45 CONFIG_DEBUG_CROND_OPTION bool
c 46 CONFIG_FEATURE_SH_IS_ASH choice_bool
c 47 CONFIG_HEXDUMP bool
c 48 CONFIG_FEATURE_TELNET_TTYPE bool
c 49 CONFIG_CATV bool
c 50 CONFIG_FEATURE_WGET_LONG_OPTIONS bool
c 51 CONFIG_FEATURE_GREP_CONTEXT bool
c 52 CONFIG_FEATURE_TR_EQUIV bool
c 53 CONFIG_PASSWORD_MINLEN nonbool 6
c 54 CONFIG_FEATURE_MD5_SHA1_SUM_CHECK bool
c 55 CONFIG_IFUPDOWN bool
c 56 CONFIG_IPCS bool
c 57 CONFIG_BUILD_LIBBUSYBOX bool
c 58 CONFIG_ASH_JOB_CONTROL bool
c 59 CONFIG_FEATURE_REMOTE_LOG bool
c 60 CONFIG_FREERAMDISK bool
c 61 CONFIG_FEATURE_EDITING_SAVEHISTORY bool
c 62 CONFIG_FEATURE_TASKSET_FANCY bool
c 63 CONFIG_FEATURE_FDISK_WRITABLE bool
c 64 CONFIG_FEATURE_HTTPD_BASIC_AUTH bool
c 65 CONFIG_SETKEYCODES bool
c 66 CONFIG_UNIX2DOS hidden_bool
c 67 CONFIG_SEQ bool
c 68 CONFIG_FEATURE_FIND_XDEV bool
c 69 CONFIG_FEATURE_TFTP_PUT bool
c 70 CONFIG_FEATURE_WTMP bool
c 71 CONFIG_PS bool
c 72 CONFIG_FEATURE_VI_MAX_LEN nonbool 4096
c 73 CONFIG_FEATURE_MODPROBE_FANCY_ALIAS bool
c 74 CONFIG_FEATURE_PASSWD_WEAK_CHECK bool
c 75 CONFIG_SYNC bool
c 76 CONFIG_FEATURE_CLEAN_UP bool
c 77 CONFIG_FEATURE_FIND_PERM bool
c 78 CONFIG_FEATURE_FIND_MAXDEPTH bool
c 79 CONFIG_GZIP bool
c 80 CONFIG_CHRT bool
c 81 CONFIG_STATIC bool
c 82 CONFIG_FEATURE_VI_YANKMARK bool
c 83 CONFIG_FEATURE_TAR_FROM bool
c 84 CONFIG_FEATURE_FIND_CONTEXT bool
c 85 CONFIG_FEATURE_UTMP bool
c 86 CONFIG_FTPGET bool
c 87 CONFIG_FEATURE_MDEV_LOAD_FIRMWARE bool
c 88 CONFIG_RMMOD bool
c 89 CONFIG_TAIL bool
c 90 CONFIG_RUN_PARTS bool
c 91 CONFIG_HUSH_TICK bool
c 92 CONFIG_MORE bool
c 93 CONFIG_DNSD bool
c 94 CONFIG_CMP bool
c 95 CONFIG_FEATURE_FETCHMAIL_FILTER bool
c 96 CONFIG_GUNZIP bool
c 97 CONFIG_UNAME bool
c 98 CONFIG_TAC bool
c 99 CONFIG_LOAD_POLICY bool
c 100 CONFIG_FEATURE_SUID_CONFIG_QUIET bool
c 101 CONFIG_MV bool
c 102 CONFIG_PATCH bool
c 103 CONFIG_FEATURE_XARGS_SUPPORT_ZERO_TERM bool
c 104 CONFIG_HAVE_DOT_CONFIG hidden_bool
c 105 CONFIG_PKILL bool
c 106 CONFIG_DOS2UNIX bool
c 107 CONFIG_FEATURE_VI_OPTIMIZE_CURSOR bool
c 108 CONFIG_MKTEMP bool
c 109 CONFIG_FEATURE_LS_FILETYPES bool
c 110 CONFIG_FEATURE_SUID bool
c 111 CONFIG_READLINK bool
c 112 CONFIG_DMALLOC choice_bool
c 113 CONFIG_SETSEBOOL bool
c 114 CONFIG_FEATURE_RFC3397 bool
c 115 CONFIG_NOMMU bool
c 116 CONFIG_DF bool
c 117 CONFIG_RUNLEVEL bool
c 118 CONFIG_FEATURE_UDHCP_PORT bool
c 119 CONFIG_FEATURE_IP_ROUTE bool
c 120 CONFIG_FEATURE_BUFFERS_GO_ON_STACK choice_bool
c 121 CONFIG_LFS bool
c 122 CONFIG_SETLOGCONS bool
c 123 CONFIG_SESTATUS bool
c 124 CONFIG_LOGIN_SCRIPTS bool
c 125 CONFIG_FEATURE_CHECK_TAINTED_MODULE bool
c 126 CONFIG_FEATURE_COPYBUF_KB nonbool 4
c 127 CONFIG_RUNSVDIR bool
c 128 CONFIG_IPADDR hidden_bool
c 129 CONFIG_FEATURE_IFUPDOWN_IFCONFIG_BUILTIN bool
c 130 CONFIG_FEATURE_SPLIT_FANCY bool
c 131 CONFIG_FEATURE_HDPARM_HDIO_UNREGISTER_HWIF bool
c 132 CONFIG_DEVFSD_FG_NP bool
c 133 CONFIG_UNCOMPRESS bool
c 134 CONFIG_FEATURE_WGET_STATUSBAR bool
c 135 CONFIG_FEATURE_GUNZIP_UNCOMPRESS bool
c 136 CONFIG_DIFF bool
c 137 CONFIG_UNZIP bool
c 138 CONFIG_IPRULE hidden_bool
c 139 CONFIG_FEATURE_TAR_OLDSUN_COMPATIBILITY bool
c 140 CONFIG_RESIZE bool
c 141 CONFIG_YES bool
c 142 CONFIG_ARP bool
c 143 CONFIG_FEATURE_FIND_NEWER bool
c 144 CONFIG_FEATURE_BUFFERS_GO_IN_BSS choice_bool
c 145 CONFIG_ADDUSER bool
c 146 CONFIG_FEATURE_SUN_LABEL bool
c 147 CONFIG_BZIP2 bool
c 148 CONFIG_FOLD bool
c 149 CONFIG_FEATURE_LS_COLOR_IS_DEFAULT bool
c 150 CONFIG_FEATURE_TAR_LZMA bool
c 151 CONFIG_FEATURE_HTTPD_CGI bool
c 152 CONFIG_SHA1SUM bool
c 153 CONFIG_FEATURE_AR_LONG_FILENAMES bool
c 154 CONFIG_FEATURE_FANCY_TAIL bool
c 155 CONFIG_FEATURE_UDHCP_DEBUG bool
c 156 CONFIG_FEATURE_SORT_BIG bool
c 157 CONFIG_USLEEP bool
c 158 CONFIG_NICE bool
c 159 CONFIG_INSTALL_APPLET_DONT choice_bool
c 160 CONFIG_FEATURE_IP_RULE bool
c 161 CONFIG_VCONFIG bool
c 162 CONFIG_ASH_GETOPTS bool
c 163 CONFIG_FEATURE_MOUNT_FLAGS bool
c 164 CONFIG_HTTPD bool
c 165 CONFIG_TRACEROUTE bool
c 166 CONFIG_TEE bool
c 167 CONFIG_TEST bool
c 168 CONFIG_NAMEIF bool
c 169 CONFIG_ID bool
c 170 CONFIG_FEATURE_FANCY_SLEEP bool
c 171 CONFIG_FEATURE_LZMA_FAST bool
c 172 CONFIG_APP_DHCPRELAY bool
c 173 CONFIG_FEATURE_FIND_MTIME bool
c 174 CONFIG_FEATURE_VI_WIN_RESIZE bool
c 175 CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER choice_bool
c 176 CONFIG_TFTP bool
c 177 CONFIG_FDISK bool
c 178 CONFIG_IPCALC bool
c 179 CONFIG_BUNZIP2 bool
c 180 CONFIG_MOUNT bool
c 181 CONFIG_FEATURE_RESIZE_PRINT bool
c 182 CONFIG_HOSTID bool
c 183 CONFIG_EXPR bool
c 184 CONFIG_FEATURE_FIND_USER bool
c 185 CONFIG_FEATURE_DEVFS bool
c 186 CONFIG_CP bool
c 187 CONFIG_MICROCOM bool
c 188 CONFIG_FEATURE_IP_TUNNEL bool
c 189 CONFIG_CHPST bool
c 190 CONFIG_PREFIX nonbool "./_install"
c 191 CONFIG_FEATURE_IFUPDOWN_MAPPING bool
c 192 CONFIG_FEATURE_LESS_FLAGCS bool
c 193 CONFIG_FEATURE_HTTPD_ERROR_PAGES bool
c 194 CONFIG_ASH_MATH_SUPPORT bool
c 195 CONFIG_FEATURE_FANCY_ECHO bool
c 196 CONFIG_RUNCON bool
c 197 CONFIG_SPLIT bool
c 198 CONFIG_ASH_BUILTIN_ECHO bool
c 199 CONFIG_INSTALL_SH_APPLET_SYMLINK choice_bool
c 200 CONFIG_FEATURE_TELNETD_STANDALONE bool
c 201 CONFIG_SED bool
c 202 CONFIG_FEATURE_TFTP_BLOCKSIZE bool
c 203 CONFIG_RESET bool
c 204 CONFIG_BBCONFIG bool
c 205 CONFIG_FEATURE_MOUNT_NFS bool
c 206 CONFIG_FEATURE_FIND_PRUNE bool
c 207 CONFIG_SLATTACH bool
c 208 CONFIG_FEATURE_INSMOD_LOADINKMEM bool
c 209 CONFIG_FEATURE_READLINK_FOLLOW bool
c 210 CONFIG_WGET bool
c 211 CONFIG_RX bool
c 212 CONFIG_FEATURE_IP_RARE_PROTOCOLS bool
c 213 CONFIG_FEATURE_FANCY_PING bool
c 214 CONFIG_ENVDIR bool
c 215 CONFIG_LOADFONT bool
c 216 CONFIG_FEATURE_USE_TERMIOS bool
c 217 CONFIG_FEATURE_SETCONSOLE_LONG_OPTIONS bool
c 218 CONFIG_FEATURE_MTAB_SUPPORT bool
c 219 CONFIG_NOHUP bool
c 220 CONFIG_FEATURE_TOP_DECIMALS bool
c 221 CONFIG_IP bool
c 222 CONFIG_BUSYBOX_EXEC_PATH nonbool "/proc/self/exe"
c 223 CONFIG_FEATURE_VI_COLON bool
c 224 CONFIG_HEAD bool
c 225 CONFIG_MATCHPATHCON bool
c 226 CONFIG_UMOUNT bool
c 227 CONFIG_DIRNAME bool
c 228 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN bool
c 229 CONFIG_CLEAR bool
c 230 CONFIG_MD5_SIZE_VS_SPEED nonbool 2
c 231 CONFIG_FEATURE_DIFF_BINARY bool
c 232 CONFIG_FEATURE_MKDIR_LONG_OPTIONS bool
c 233 CONFIG_LOCALE_SUPPORT bool
c 234 CONFIG_DEBUG_TFTP bool
c 235 CONFIG_FEATURE_NAMEIF_EXTENDED bool
c 236 CONFIG_VI bool
c 237 CONFIG_FEATURE_FIND_PRINT0 bool
c 238 CONFIG_FEATURE_HTTPD_RANGES bool
c 239 CONFIG_STRINGS bool
c 240 CONFIG_FEATURE_EDITING bool
c 241 CONFIG_FEATURE_VI_SET bool
c 242 CONFIG_SULOGIN bool
c 243 CONFIG_RDATE bool
c 244 CONFIG_FEATURE_DEB_TAR_LZMA bool
c 245 CONFIG_FDFLUSH bool
c 246 CONFIG_SUM bool
c 247 CONFIG_CKSUM bool
c 248 CONFIG_FEATURE_EDITING_FANCY_PROMPT bool
c 249 CONFIG_KILLALL5 bool
c 250 CONFIG_FEATURE_USE_INITTAB bool
c 251 CONFIG_FEATURE_HAVE_RPC bool
c 252 CONFIG_SETSID bool
c 253 CONFIG_INSTALL_NO_USR bool
c 254 CONFIG_FEATURE_TR_CLASSES bool
c 255 CONFIG_FEATURE_MV_LONG_OPTIONS bool
c 256 CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING bool
c 257 CONFIG_FEATURE_SECURETTY bool
c 258 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_TIME bool
c 259 CONFIG_FEATURE_MDEV_RENAME bool
c 260 CONFIG_FEATURE_VI_SETOPTS bool
c 261 CONFIG_EFENCE choice_bool
c 262 CONFIG_FEATURE_TFTP_GET bool
c 263 CONFIG_FEATURE_VERBOSE_USAGE bool
c 264 CONFIG_FEATURE_GREP_EGREP_ALIAS bool
c 265 CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE nonbool 16
c 266 CONFIG_FEATURE_HTTPD_USE_SENDFILE bool
c 267 CONFIG_FEATURE_FIND_PATH bool
c 268 CONFIG_FEATURE_SH_IS_HUSH choice_bool
c 269 CONFIG_FDFORMAT bool
c 270 CONFIG_MKFIFO bool
c 271 CONFIG_DESKTOP bool
c 272 CONFIG_FEATURE_EXTRA_QUIET bool
c 273 CONFIG_PIPE_PROGRESS bool
c 274 CONFIG_FEATURE_RUNCON_LONG_OPTIONS bool
c 275 CONFIG_RESTORECON bool
c 276 CONFIG_FEATURE_LS_TIMESTAMPS bool
c 277 CONFIG_FEATURE_FIND_SIZE bool
c 278 CONFIG_FEATURE_UNEXPAND_LONG_OPTIONS bool
c 279 CONFIG_ENV bool
c 280 CONFIG_STAT bool
c 281 CONFIG_VERBOSE_RESOLUTION_ERRORS bool
c 282 CONFIG_IPTUNNEL hidden_bool
c 283 CONFIG_TELNET bool
c 284 CONFIG_FEATURE_SU_SYSLOG bool
c 285 CONFIG_UPTIME bool
c 286 CONFIG_LESS bool
c 287 CONFIG_FEATURE_IFUPDOWN_IPV4 bool
c 288 CONFIG_HALT bool
c 289 CONFIG_FEATURE_IP_SHORT_FORMS bool
c 290 CONFIG_LS bool
c 291 CONFIG_START_STOP_DAEMON bool
c 292 CONFIG_DUMPKMAP bool
c 293 CONFIG_PRINTF bool
c 294 CONFIG_FEATURE_MOUNT_FSTAB bool
c 295 CONFIG_LOGNAME bool
c 296 CONFIG_FEATURE_LS_RECURSIVE bool
c 297 CONFIG_PGREP bool
c 298 CONFIG_HUSH_JOB bool
c 299 CONFIG_MSH bool
c 300 CONFIG_BB_SYSCTL bool
c 301 CONFIG_FEATURE_SETFILES_CHECK_OPTION bool
c 302 CONFIG_PASSWD bool
c 303 CONFIG_FEATURE_ALLOW_EXEC bool
c 304 CONFIG_ED bool
c 305 CONFIG_CAL bool
c 306 CONFIG_FEATURE_KILL_DELAY nonbool 0
c 307 CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY bool
c 308 CONFIG_FEATURE_XARGS_SUPPORT_QUOTES bool
c 309 CONFIG_FEATURE_XARGS_SUPPORT_TERMOPT bool
c 310 CONFIG_FEATURE_SH_IS_NONE choice_bool
c 311 CONFIG_PING6 bool
c 312 CONFIG_NC bool
c 313 CONFIG_FEATURE_LS_FOLLOWLINKS bool
c 314 CONFIG_FEATURE_TRACEROUTE_SOURCE_ROUTE bool
c 315 CONFIG_FEATURE_TAR_GNU_EXTENSIONS bool
c 316 CONFIG_FEATURE_AUTOWIDTH bool
c 317 CONFIG_FAKEIDENTD bool
c 318 CONFIG_WATCHDOG bool
c 319 CONFIG_FEATURE_IFUPDOWN_IP bool
c 320 CONFIG_CRONTAB bool
c 321 CONFIG_TASKSET bool
c 322 CONFIG_FEATURE_HTTPD_CONFIG_WITH_MIME_TYPES bool
c 323 CONFIG_FEATURE_VI_USE_SIGNALS bool
c 324 CONFIG_BRCTL bool
c 325 CONFIG_LAST bool
c 326 CONFIG_FEATURE_UNARCHIVE_TAPE bool
c 327 CONFIG_FEATURE_TAR_BZIP2 bool
c 328 CONFIG_WC bool
c 329 CONFIG_FEATURE_TAR_CREATE bool
c 330 CONFIG_GETOPT bool
c 331 CONFIG_PAM bool
c 332 CONFIG_FEATURE_STAT_FORMAT bool
c 333 CONFIG_FEATURE_LS_SORTFILES bool
c 334 CONFIG_FEATURE_HDPARM_GET_IDENTITY bool
c 335 CONFIG_CHMOD bool
c 336 CONFIG_FEATURE_RPM_BZ2 bool
c 337 CONFIG_FEATURE_MAKEDEVS_LEAF choice_bool
c 338 CONFIG_REALPATH bool
c 339 CONFIG_FEATURE_TAR_GZIP bool
c 340 CONFIG_FEATURE_FIND_REGEX bool
c 341 CONFIG_FEATURE_WC_LARGE bool
c 342 CONFIG_FEATURE_EDITING_HISTORY nonbool 15
c 343 CONFIG_UNIQ bool
c 344 CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY bool
c 345 CONFIG_WHO bool
c 346 CONFIG_FEATURE_FETCHMAIL_APOP bool
c 347 CONFIG_FEATURE_PS_TIME bool
c 348 CONFIG_FEATURE_FIND_DELETE bool
c 349 CONFIG_HWCLOCK bool
c 350 CONFIG_FEATURE_TAR_COMPRESS bool
c 351 CONFIG_DMESG bool
c 352 CONFIG_FEATURE_MDEV_EXEC bool
c 353 CONFIG_MT bool
c 354 CONFIG_MKNOD bool
c 355 CONFIG_MOUNTPOINT bool
c 356 CONFIG_SETCONSOLE bool
c 357 CONFIG_KILLALL bool
c 358 CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT bool
c 359 CONFIG_FEATURE_VI_SEARCH bool
c 360 CONFIG_FEATURE_TAR_LONG_OPTIONS bool
c 361 CONFIG_SLEEP bool
c 362 CONFIG_FEATURE_INIT_COREDUMPS bool
c 363 CONFIG_WERROR bool
c 364 CONFIG_FEATURE_IFUPDOWN_EXTERNAL_DHCP bool
c 365 CONFIG_FEATURE_FIND_TYPE bool
c 366 CONFIG_FEATURE_START_STOP_DAEMON_LONG_OPTIONS bool
c 367 CONFIG_LOADKMAP bool
c 368 CONFIG_INSTALL bool
c 369 CONFIG_FUSER bool
c 370 CONFIG_SELINUX bool
c 371 CONFIG_FEATURE_INSMOD_LOAD_MAP bool
c 372 CONFIG_FEATURE_INSTALLER bool
c 373 CONFIG_FEATURE_PRESERVE_HARDLINKS bool
c 374 CONFIG_FEATURE_FBSET_FANCY bool
c 375 CONFIG_CHPASSWD bool
c 376 CONFIG_VLOCK bool
c 377 CONFIG_KLOGD bool
c 378 CONFIG_HD bool
c 379 CONFIG_FEATURE_MOUNT_HELPERS bool
c 380 CONFIG_ETHER_WAKE bool
c 381 CONFIG_INSMOD bool
c 382 CONFIG_FEATURE_WGET_AUTHENTICATION bool
c 383 CONFIG_MKSWAP bool
c 384 CONFIG_KBD_MODE bool
c 385 CONFIG_RENICE bool
c 386 CONFIG_CHATTR bool
c 387 CONFIG_NETSTAT bool
c 388 CONFIG_FEATURE_HTTPD_SET_REMOTE_PORT_TO_ENV bool
c 389 CONFIG_OD bool
c 390 CONFIG_FEATURE_CROND_CALL_SENDMAIL bool
c 391 CONFIG_FEATURE_VI_8BIT bool
c 392 CONFIG_FEATURE_SENDMAIL_EHLO bool
c 393 CONFIG_INSTALL_SH_APPLET_HARDLINK choice_bool
c 394 CONFIG_FEATURE_SH_IS_MSH choice_bool
c 395 CONFIG_FEATURE_USERNAME_COMPLETION bool
c 396 CONFIG_TTY bool
c 397 CONFIG_FEATURE_LS_USERNAME bool
c 398 CONFIG_DU bool
c 399 CONFIG_FEATURE_HWCLOCK_LONG_OPTIONS bool
c 400 CONFIG_CROND bool
c 401 CONFIG_PWD bool
c 402 CONFIG_INCLUDE_SUSv2 bool
c 403 CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K bool
c 404 CONFIG_COMM bool
c 405 CONFIG_HDPARM bool
c 406 CONFIG_FEATURE_INETD_RPC bool
c 407 CONFIG_NC_SERVER bool
c 408 CONFIG_FEATURE_2_6_MODULES bool
c 409 CONFIG_FEATURE_HTTPD_ENCODE_URL_STR bool
c 410 CONFIG_ASH_RANDOM_SUPPORT bool
c 411 CONFIG_RPM bool
c 412 CONFIG_FEATURE_IFCONFIG_STATUS bool
c 413 CONFIG_FEATURE_SGI_LABEL bool
c 414 CONFIG_FEATURE_TEST_64 bool
c 415 CONFIG_CHVT bool
c 416 CONFIG_FEATURE_HTTPD_AUTH_MD5 bool
c 417 CONFIG_FEATURE_MOUNT_CIFS bool
c 418 CONFIG_FEATURE_MINIX2 bool
c 419 CONFIG_FEATURE_DEVPTS bool
c 420 CONFIG_FEATURE_FDISK_ADVANCED bool
c 421 CONFIG_XARGS bool
c 422 CONFIG_FEATURE_LESS_BRACKETS bool
c 423 CONFIG_DELUSER bool
c 424 CONFIG_LSMOD bool
c 425 CONFIG_DC bool
c 426 CONFIG_FBSET bool
c 427 CONFIG_FEATURE_INSMOD_LOAD_MAP_FULL bool
c 428 CONFIG_FEATURE_DEB_TAR_GZ bool
c 429 CONFIG_INIT bool
c 430 CONFIG_FSCK_MINIX bool
c 431 CONFIG_MKFS_MINIX bool
c 432 CONFIG_DEALLOCVT bool
c 433 CONFIG_FEATURE_HTTPD_SETUID bool
c 434 CONFIG_FEATURE_DEL_USER_FROM_GROUP bool
c 435 CONFIG_HUSH bool
c 436 CONFIG_BASENAME bool
c 437 CONFIG_FEATURE_COMPRESS_USAGE bool
c 438 CONFIG_RM bool
c 439 CONFIG_LN bool
c 440 CONFIG_FEATURE_FIND_PAREN bool
c 441 CONFIG_FEATURE_EDITING_VI bool
c 442 CONFIG_FEATURE_INIT_SCTTY bool
c 443 CONFIG_FIND bool
c 444 CONFIG_MODPROBE bool
c 445 CONFIG_CUT bool
c 446 CONFIG_FEATURE_RUN_PARTS_FANCY bool
c 447 CONFIG_FDISK_SUPPORT_LARGE_DISKS bool
c 448 CONFIG_FEATURE_FIND_EXEC bool
c 449 CONFIG_HUSH_LOOPS bool
c 450 CONFIG_SETUIDGID bool
c 451 CONFIG_FEATURE_FANCY_HEAD bool
c 452 CONFIG_FEATURE_DIFF_MINIMAL bool
c 453 CONFIG_FEATURE_TAR_UNAME_GNAME bool
c 454 CONFIG_FEATURE_NETSTAT_WIDE bool
c 455 CONFIG_FEATURE_LESS_REGEXP bool
c 456 CONFIG_MD5SUM bool
c 457 CONFIG_FEATURE_DEB_TAR_BZ2 bool
c 458 CONFIG_FALSE bool
c 459 CONFIG_TAR bool
c 460 CONFIG_LOGIN bool
c 461 CONFIG_MESG bool
c 462 CONFIG_GETSEBOOL bool
c 463 CONFIG_NMETER bool
c 464 CONFIG_IPLINK hidden_bool
c 465 CONFIG_SHOW_USAGE bool
c 466 CONFIG_FEATURE_PIDOF_SINGLE bool
c 467 CONFIG_FEATURE_SYSLOG bool
c 468 CONFIG_FEATURE_IP_ADDRESS bool
c 469 CONFIG_MAKEDEVS bool
c 470 CONFIG_FEATURE_SHADOWPASSWDS bool
c 471 CONFIG_FEATURE_INSMOD_KSYMOOPS_SYMBOLS bool
c 472 CONFIG_PRINTENV bool
c 473 CONFIG_FEATURE_EXPAND_LONG_OPTIONS bool
c 474 CONFIG_SETARCH bool
c 475 CONFIG_DELGROUP bool
c 476 CONFIG_FEATURE_IFCONFIG_SLIP bool
c 477 CONFIG_PING bool
c 478 CONFIG_ASH_BUILTIN_TEST bool
c 479 CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS bool
c 480 CONFIG_FEATURE_HWCLOCK_ADJTIME_FHS bool
c 481 CONFIG_FEATURE_NOLOGIN bool
c 482 CONFIG_LOGREAD bool
c 483 CONFIG_FEATURE_SHARED_BUSYBOX bool
c 484 CONFIG_FEATURE_LESS_MAXLINES nonbool 9999999
c 485 CONFIG_DEVFSD_MODLOAD bool
c 486 CONFIG_DEVFSD bool
c 487 CONFIG_HUSH_HELP bool
c 488 CONFIG_SELINUXENABLED bool
c 489 CONFIG_FEATURE_MODPROBE_MULTIPLE_OPTIONS bool
c 490 CONFIG_IOCTL_HEX2STR_ERROR bool
c 491 CONFIG_FEATURE_RUN_PARTS_LONG_OPTIONS bool
c 492 CONFIG_ECHO bool
c 493 CONFIG_ZCIP bool
c 494 CONFIG_TELNETD bool
c 495 CONFIG_FEATURE_LESS_MARKS bool
c 496 CONFIG_FEATURE_MDEV_CONF bool
c 497 CONFIG_TRUE bool
c 498 CONFIG_IFUPDOWN_IFSTATE_PATH nonbool "/var/run/ifstate"
c 499 CONFIG_CPIO bool
c 500 CONFIG_FSCK bool
c 501 CONFIG_FEATURE_ETC_NETWORKS bool
c 502 CONFIG_CHGRP bool
c 503 CONFIG_MDEV bool
c 504 CONFIG_USE_BB_PWD_GRP bool
c 505 CONFIG_TR bool
c 506 CONFIG_FEATURE_2_4_MODULES bool
c 507 CONFIG_FEATURE_START_STOP_DAEMON_FANCY bool
c 508 CONFIG_EXPAND bool
c 509 CONFIG_ENVUIDGID bool
c 510 CONFIG_CAT bool
c 511 CONFIG_FEATURE_DD_IBS_OBS bool
c 512 CONFIG_FEATURE_FBSET_READMODE bool
c 513 CONFIG_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR bool
c 514 CONFIG_APP_UDHCPC bool
c 515 CONFIG_ADDGROUP bool
c 516 CONFIG_DD bool
c 517 CONFIG_FEATURE_FIND_GROUP bool
c 518 CONFIG_RMDIR bool
c 519 CONFIG_ASH_READ_TIMEOUT bool
c 520 CONFIG_LENGTH bool
c 521 CONFIG_FEATURE_UDHCPC_ARPING bool
c 522 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD bool
c 523 CONFIG_GREP bool
c 524 CONFIG_PSCAN bool
c 525 CONFIG_INSTALL_APPLET_HARDLINKS choice_bool
c 526 CONFIG_SOFTLIMIT bool
c 527 CONFIG_FEATURE_DD_SIGNAL_HANDLING bool
c 528 CONFIG_FEATURE_UMOUNT_ALL bool
c 529 CONFIG_UUENCODE bool
c 530 CONFIG_FEATURE_PIDOF_OMIT bool
c 531 CONFIG_FEATURE_OSF_LABEL bool
c 532 CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS choice_bool
c 533 CONFIG_NITPICK bool
c 534 CONFIG_FEATURE_QUERY_MODULE_INTERFACE hidden_bool
c 535 CONFIG_FEATURE_FAST_TOP bool
c 536 CONFIG_NSLOOKUP bool
c 537 CONFIG_FEATURE_FTPGETPUT_LONG_OPTIONS bool
c 538 CONFIG_FEATURE_INDIVIDUAL bool
c 539 CONFIG_PIDOF bool
c 540 CONFIG_CHOWN bool
c 541 CONFIG_CHROOT bool
c 542 CONFIG_CRYPTPW bool
c 543 CONFIG_FEATURE_FIND_MMIN bool
c 544 CONFIG_DPKG_DEB bool
c 545 CONFIG_FEATURE_SU_CHECKS_SHELLS bool
c 546 CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS bool
c 547 CONFIG_DPKG bool
c 548 CONFIG_FEATURE_HDPARM_HDIO_SCAN_HWIF bool
c 549 CONFIG_DEVFSD_VERBOSE bool
c 550 CONFIG_FETCHMAIL bool
c 551 CONFIG_PIVOT_ROOT bool
c 552 CONFIG_FEATURE_IFUPDOWN_IPV6 bool
c 553 CONFIG_FEATURE_ADDUSER_TO_GROUP bool
c 554 CONFIG_FEATURE_LS_COLOR bool
c 555 CONFIG_INSTALL_APPLET_SYMLINKS choice_bool
c 556 CONFIG_SU bool
c 557 CONFIG_RPM2CPIO bool
c 558 CONFIG_FEATURE_HDPARM_HDIO_GETSET_DMA bool
c 559 CONFIG_MONOTONIC_SYSCALL bool
c 560 CONFIG_FEATURE_TRACEROUTE_VERBOSE bool
c 561 CONFIG_RUNSV bool
c 562 CONFIG_FEATURE_AIX_LABEL bool
c 563 CONFIG_HOSTNAME bool
c 564 CONFIG_ROUTE bool
c 565 CONFIG_USE_BB_SHADOW bool
c 566 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME bool
c 567 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_ECHO bool
c 568 CONFIG_FEATURE_IPC_SYSLOG bool
c 569 CONFIG_FEATURE_HDPARM_HDIO_TRISTATE_HWIF bool
c 570 CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE bool
c 571 CONFIG_GETOPT_LONG bool
c 572 CONFIG_LOSETUP bool
c 573 CONFIG_FEATURE_VI_DOT_CMD bool
c 574 CONFIG_FEATURE_SH_EXTRA_QUIET bool
c 575 CONFIG_FEATURE_BUFFERS_USE_MALLOC choice_bool
c 576 CONFIG_FEATURE_DATE_ISOFMT bool
c 577 CONFIG_ASH_MATH_SUPPORT_64 bool
c 578 CONFIG_UDHCPC_SLACK_FOR_BUGGY_SERVERS nonbool 80
c 579 CONFIG_FEATURE_INIT_SYSLOG bool
c 580 CONFIG_IPCRM bool
c 581 CONFIG_FEATURE_IFUPDOWN_IP_BUILTIN bool
c 582 CONFIG_FEATURE_SUID_CONFIG bool
c 583 CONFIG_AWK bool
c 584 CONFIG_SETFILES bool
c 585 CONFIG_EXPR_MATH_SUPPORT_64 bool
c 586 CONFIG_FEATURE_VI_READONLY bool
c 587 CONFIG_APP_UDHCPD bool
c 588 CONFIG_DEBUG_INIT bool
c 589 CONFIG_FEATURE_DIFF_DIR bool
c 590 CONFIG_DATE bool
c 591 CONFIG_WHOAMI bool
c 592 CONFIG_INETD bool
c 593 CONFIG_FEATURE_HEXDUMP_REVERSE bool
c 594 CONFIG_FEATURE_DF_INODE bool
c 595 CONFIG_FEATURE_IFCONFIG_HW bool
c 596 CONFIG_FEATURE_PS_UNUSUAL_SYSTEMS bool
c 597 CONFIG_GETTY bool
c 598 CONFIG_FEATURE_DMESG_PRETTY bool
c 599 CONFIG_ASH_EXPAND_PRMT bool
c 600 CONFIG_FTPPUT bool
c 601 CONFIG_SETENFORCE bool
c 602 CONFIG_SWAPONOFF bool
c 603 CONFIG_FEATURE_FIND_NOT bool
c 604 CONFIG_SV bool
c 605 CONFIG_FEATURE_FIND_INUM bool
c 606 CONFIG_ASH_OPTIMIZE_FOR_SIZE bool
c 607 CONFIG_FEATURE_IPCALC_LONG_OPTIONS bool
c 608 CONFIG_DEBUG bool
c 609 CONFIG_TOP bool
c 610 CONFIG_FEATURE_ENV_LONG_OPTIONS bool
c 611 CONFIG_ASH_CMDCMD bool
c 612 CONFIG_UNEXPAND bool
c 613 CONFIG_FEATURE_PS_WIDE bool
c 614 CONFIG_EJECT bool
c 615 CONFIG_APP_DUMPLEASES bool
c 616 CONFIG_UNLZMA bool
c 617 CONFIG_SVLOGD bool
c 618 CONFIG_FEATURE_FIND_DEPTH bool
c 619 CONFIG_FEATURE_TEE_USE_BLOCK_IO bool
c 620 CONFIG_FEATURE_TAR_OLDGNU_COMPATIBILITY bool
c 621 CONFIG_FEATURE_GREP_FGREP_ALIAS bool
c 622 CONFIG_CHCON bool
c 623 CONFIG_SORT bool
c 624 CONFIG_FEATURE_MKSWAP_V0 bool
c 625 CONFIG_IPROUTE hidden_bool
c 626 CONFIG_READPROFILE bool
c 627 CONFIG_FEATURE_INSMOD_VERSION_CHECKING bool
c 628 CONFIG_TCPSVD bool
c 629 CONFIG_FEATURE_HUMAN_READABLE bool
c 630 CONFIG_TOUCH bool
c 631 CONFIG_FEATURE_INITRD bool
c 632 CONFIG_HUSH_IF bool
c 633 CONFIG_TIME bool
c 634 CONFIG_FEATURE_VERBOSE_CP_MESSAGE bool
c 635 CONFIG_STTY bool
c 636 CONFIG_TTYSIZE bool
c 637 CONFIG_READAHEAD bool
c 638 CONFIG_SYSLOGD bool
c 639 CONFIG_NO_DEBUG_LIB choice_bool
c 640 CONFIG_UDPSVD bool
c 641 CONFIG_ASH_ALIAS bool
c 642 CONFIG_GETENFORCE bool
c 643 CONFIG_FREE bool
c 644 CONFIG_FEATURE_HDPARM_HDIO_DRIVE_RESET bool
c 645 CONFIG_FEATURE_SENDMAIL_BLOATY bool
c 646 CONFIG_FEATURE_IPCALC_FANCY bool
c 647 CONFIG_FEATURE_PREFER_IPV4_ADDRESS bool
c 648 CONFIG_FEATURE_AWK_MATH bool
c 649 CONFIG_ARPING bool
p cnf 649 531
279 -610 0
-267 443 0
-188 221 0
515 -553 0
370 -601 0
-568 638 0
429 -631 0
-120 -144 0
435 -632 0
-261 -639 0
-276 290 0
-156 623 0
-212 221 0
-434 475 0
-277 443 0
-68 443 0
-258 592 0
-406 592 0
387 -454 0
55 -191 0
-428 544 547 0
178 -607 0
-205 251 0
164 -322 0
-146 177 0
-33 164 0
-159 -555 0
-336 411 0
-103 421 0
210 -382 0
-525 -555 0
435 -487 0
-418 430 431 0
-545 556 0
20 -58 0
-301 584 0
-340 443 0
55 -129 0
-50 571 0
-228 592 0
-268 -394 0
-334 405 0
63 -562 0
370 -584 0
-32 469 0
236 -241 0
444 -489 533 0
-36 609 0
236 -391 0
-348 443 0
-84 370 0
121 -637 0
383 -624 0
-144 533 0
180 -379 0
443 -448 0
-327 459 0
-20 167 0
-256 482 0
-220 570 0
-4 368 0
3 -395 0
371 -427 0
110 -556 0
-514 578 -587 0
-240 342 0
151 -513 0
-217 571 0
289 -464 0
-485 486 0
-73 444 533 0
20 -61 0
20 -599 0
467 -486 0
55 -129 -319 0
42 -232 0
290 -296 0
-301 370 0
101 -255 0
-70 85 -460 0
-74 302 0
405 -569 0
-567 592 0
-346 550 0
55 -287 0
-268 -310 0
20 -25 0
37 -129 0
-32 -337 0
370 -488 0
-175 532 0
-205 467 0
110 -582 0
-61 240 0
20 -46 0
-120 -575 0
57 -81 -483 0
230 0
1 -249 0
128 -289 -468 0
-124 460 0
-471 506 0
319 -581 0
-208 506 0
516 -527 0
-139 459 0
370 -622 0
-208 381 0
429 -579 0
523 -621 0
-390 400 0
70 -325 -597 0
110 -376 0
196 -274 0
504 -565 0
-307 587 0
-274 571 0
177 -531 0
119 -581 0
-400 467 0
583 -648 0
190 0
290 -397 0
70 -85 345 460 556 597 0
381 -627 0
408 -506 534 0
-309 421 0
236 -323 0
290 -313 0
71 -347 0
-274 370 0
140 -181 0
47 -593 0
-121 447 0
444 -489 0
19 20 299 435 -574 0
-16 614 0
271 -347 0
121 177 -447 0
112 261 639 0
-399 571 0
116 -594 0
-263 465 0
443 -543 0
236 -586 0
-73 408 444 0
251 -406 0
-274 370 571 0
37 -595 0
-17 19 20 299 435 0
571 -610 0
-130 197 0
-121 177 447 0
55 -498 0
20 -198 0
-14 435 0
381 -471 0
-87 503 0
-143 443 0
-24 324 0
299 -394 0
126 0
-275 370 0
-118 514 587 0
-134 210 0
347 -596 0
110 -302 0
136 -231 0
443 -618 0
-366 571 0
221 -581 0
-440 443 0
20 -519 0
-196 370 0
-73 408 533 0
-149 554 0
467 -597 0
85 -345 -556 0
-315 459 0
-278 571 0
370 -462 0
443 -517 0
85 -345 -460 0
405 -558 0
55 -319 0
70 -325 -556 0
-46 -394 0
514 -521 0
-350 459 0
-144 -575 0
-112 -639 0
236 -359 0
110 -460 0
398 -403 0
-174 236 0
177 -420 0
-482 568 0
188 -282 0
467 -494 0
37 -476 0
-129 564 0
-125 381 424 0
-3 240 0
-123 370 0
467 -592 0
-511 516 0
96 -135 0
-64 164 0
136 -452 0
-566 592 0
86 -537 600 0
165 -314 0
405 -644 0
-43 370 571 0
-195 492 0
224 -451 0
55 -364 0
66 -106 0
34 -240 0
-213 477 0
167 -414 0
-34 240 0
-244 544 547 0
72 -236 0
151 -388 0
-76 533 0
-175 -199 0
168 -235 0
349 -399 0
-192 286 0
-66 106 0
-35 312 0
-43 622 0
-525 -532 0
116 290 398 -629 0
-168 467 0
-151 164 0
57 -483 0
-329 459 0
183 -585 0
-70 85 0
167 -478 0
85 -345 0
57 -81 -538 0
120 144 -533 575 0
-99 370 0
-264 523 0
-38 -289 464 0
-155 514 587 0
-358 424 0
240 -441 0
587 -615 0
-530 539 0
180 -294 0
-8 286 0
-437 465 0
-302 467 0
-268 435 0
-56 110 0
-131 405 0
119 -221 -581 0
-496 503 0
-82 236 0
-337 469 0
-84 443 0
119 -625 0
29 -153 0
-17 26 0
-41 180 226 0
-199 -393 0
-119 -289 625 0
-184 443 0
57 -538 0
-265 568 0
467 -493 0
38 221 -581 0
176 -262 0
-344 544 0
20 -194 0
-100 582 0
47 -378 0
32 337 -469 0
165 -560 0
-45 400 0
-159 -532 0
40 -392 0
85 -345 -597 0
-2 165 0
53 0
-317 467 0
175 199 393 -532 0
-223 236 0
38 -581 0
-348 618 0
-170 361 0
-460 467 0
291 -507 0
226 -528 0
110 -320 0
-138 160 0
-62 321 0
101 186 -373 0
443 -605 0
221 468 -581 0
-50 210 0
-473 508 0
63 -420 0
176 -234 0
-374 426 0
-128 468 0
-4 571 0
-360 459 0
164 -266 0
159 525 532 555 0
-339 459 0
40 -645 0
-435 458 0
-114 514 587 0
-39 638 0
20 -606 0
-371 408 506 0
-27 164 0
20 -410 0
-257 460 0
-43 571 622 0
-70 325 460 556 597 0
194 -577 0
-473 571 0
119 221 -581 0
-113 370 0
-171 616 0
-120 533 0
370 -642 0
-278 612 0
13 -306 0
167 -299 0
20 -162 0
38 -464 0
138 -160 -289 0
-70 85 -556 0
64 -416 0
-73 408 0
-150 459 0
-299 458 0
-308 421 0
-72 236 0
-43 370 622 0
506 -627 0
20 -478 0
-188 282 -289 0
-206 443 0
-326 459 499 0
-514 578 0
-221 468 -581 0
-13 306 0
-232 571 0
-310 -394 0
468 -581 0
-78 443 0
-365 443 0
429 -442 0
-250 429 0
514 -578 587 0
-284 556 0
-121 -177 447 0
236 -260 0
-128 289 0
470 -565 0
221 -468 581 0
88 381 -408 444 0
349 -480 0
-200 494 0
167 -435 0
-173 443 0
63 -531 0
164 -193 0
236 -573 0
20 -641 0
63 -146 0
177 -413 0
426 -512 0
92 283 290 -316 0
443 -603 0
-466 539 0
-13 250 0
460 -481 0
290 -333 0
-59 638 0
110 -580 0
571 -607 0
435 -449 0
-26 -57 0
240 -248 0
290 -554 571 0
18 -311 0
70 -325 0
180 -205 0
-160 221 0
37 -546 0
351 -598 0
-91 435 0
-69 176 0
-83 459 0
14 -298 0
265 -568 0
-491 571 0
-112 -261 0
221 -289 0
-55 498 0
-532 -555 0
-138 289 0
-5 467 0
-159 -525 0
286 -455 0
-198 492 0
-77 443 0
-51 523 0
196 -274 571 0
136 -589 0
290 -554 0
-107 236 0
-44 283 0
467 -556 0
286 -484 0
-163 180 0
-38 221 581 0
280 -332 0
-576 590 0
-109 290 0
459 -620 0
-172 587 0
-254 505 0
164 -409 0
46 268 310 394 0
-129 -319 0
-371 381 0
89 -154 0
-237 443 0
-95 550 0
110 -400 0
-435 497 0
506 -534 0
-70 85 -597 0
-429 467 0
166 -619 0
20 -611 0
-408 -534 0
-282 289 0
-444 489 533 0
236 -303 583 0
-119 221 581 0
71 -613 0
90 -491 0
-46 -310 0
92 -216 0
578 -587 0
17 26 -159 372 0
180 -218 226 0
-46 -268 0
37 -412 0
-43 370 0
-311 477 0
-54 152 456 0
180 -417 0
-21 37 0
-132 486 0
-435 492 0
533 -575 0
240 -342 0
-331 460 0
38 -221 -581 0
90 -446 0
-393 532 0
-299 497 0
286 -495 0
-255 571 0
286 -422 0
405 -548 0
328 -341 0
-360 571 0
88 381 444 -506 0
-242 467 0
289 -625 0
-19 435 0
-217 356 0
-537 571 0
-570 609 0
70 -325 -460 0
164 -238 0
176 -202 0
73 -408 -444 533 0
-70 85 -345 0
-352 496 0
-48 283 0
-199 532 0
-70 85 345 460 556 597 0
-175 -393 0
-286 484 0
-12 20 0
-522 592 0
-52 505 0
-225 370 0
429 -588 0
-43 571 0
1 -357 0
104 0
63 -413 0
312 -407 0
18 -647 0
196 -274 370 0
222 0
-554 571 0
-11 421 0
164 -433 0
-272 429 0
-63 177 0
-479 570 0
55 -552 0
18 -552 0
178 -646 0
-73 444 0
-259 496 0
486 -549 0
-81 -538 0
470 504 -565 0
177 -562 0
-457 544 547 0
291 -366 0
-362 429 0
-81 -483 0
111 -209 0
