c 1 CONFIG_KILL bool
c 2 CONFIG_FEATURE_TRACEROUTE_USE_ICMP bool
c 3 CONFIG_FEATURE_TAB_COMPLETION bool
c 4 CONFIG_FEATURE_INSTALL_LONG_OPTIONS bool
c 5 CONFIG_LOGGER bool
c 6 CONFIG_WHICH bool
c 7 CONFIG_FEATURE_PIDFILE bool
c 8 CONFIG_FEATURE_LESS_FLAGS bool
c 9 CONFIG_RAIDAUTORUN bool
c 10 CONFIG_LSATTR bool
c 11 CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION bool
c 12 CONFIG_ASH_MAIL bool
c 13 CONFIG_HUSH_INTERACTIVE bool
c 14 CONFIG_UUDECODE bool
c 15 CONFIG_FEATURE_SH_STANDALONE bool
c 16 CONFIG_FEATURE_IPV6 bool
c 17 CONFIG_LASH bool
c 18 CONFIG_ASH bool
c 19 CONFIG_FEATURE_IFCONFIG_MEMSTART_IOADDR_IRQ bool
c 20 CONFIG_OPENVT bool
c 21 CONFIG_SWITCH_ROOT bool
c 22 CONFIG_ASH_READ_NCHARS bool
c 23 CONFIG_FEATURE_PREFER_APPLETS bool
c 24 CONFIG_FEATURE_HTTPD_PROXY bool
c 25 CONFIG_ADJTIMEX bool
c 26 CONFIG_AR bool
c 27 CONFIG_CTTYHACK bool
c 28 CONFIG_WATCH bool
c 29 CONFIG_FEATURE_MAKEDEVS_TABLE choice_bool
c 30 CONFIG_FEATURE_HTTPD_RELOAD_CONFIG_SIGHUP bool
c 31 CONFIG_FEATURE_EDITING_MAX_LEN nonbool 1024
c 32 CONFIG_NC_EXTRA bool
c 33 CONFIG_FEATURE_TOPMEM bool
c 34 CONFIG_IFCONFIG bool
c 35 CONFIG_FEATURE_IP_LINK bool
c 36 CONFIG_FEATURE_ROTATE_LOGFILE bool
c 37 CONFIG_FEATURE_MOUNT_LOOP bool
c 38 CONFIG_MKDIR bool
c 39 CONFIG_FEATURE_CHCON_LONG_OPTIONS bool
c 40 CONFIG_FEATURE_TELNET_AUTOLOGIN bool
c 41 CONFIG_DEBUG_CROND_OPTION bool
c 42 CONFIG_FEATURE_SH_IS_ASH choice_bool
c 43 CONFIG_HEXDUMP bool
c 44 CONFIG_FEATURE_TELNET_TTYPE bool
c 45 CONFIG_CATV bool
c 46 CONFIG_FEATURE_WGET_LONG_OPTIONS bool
c 47 CONFIG_FEATURE_GREP_CONTEXT bool
c 48 CONFIG_FEATURE_TR_EQUIV bool
c 49 CONFIG_PASSWORD_MINLEN nonbool 6
c 50 CONFIG_FEATURE_MD5_SHA1_SUM_CHECK bool
c 51 CONFIG_IFUPDOWN bool
c 52 CONFIG_IPCS bool
c 53 CONFIG_BUILD_LIBBUSYBOX bool
c 54 CONFIG_ASH_JOB_CONTROL bool
c 55 CONFIG_FEATURE_REMOTE_LOG bool
c 56 CONFIG_FREERAMDISK bool
c 57 CONFIG_FEATURE_EDITING_SAVEHISTORY bool
c 58 CONFIG_FEATURE_TASKSET_FANCY bool
c 59 CONFIG_FEATURE_FDISK_WRITABLE bool
c 60 CONFIG_FEATURE_HTTPD_BASIC_AUTH bool
c 61 CONFIG_SETKEYCODES bool
c 62 CONFIG_UNIX2DOS hidden_bool
c 63 CONFIG_SEQ bool
c 64 CONFIG_FEATURE_FIND_XDEV bool
c 65 CONFIG_FEATURE_TFTP_PUT bool
c 66 CONFIG_FEATURE_WTMP bool
c 67 CONFIG_PS bool
c 68 CONFIG_FEATURE_VI_MAX_LEN nonbool 1024
c 69 CONFIG_FEATURE_MODPROBE_FANCY_ALIAS bool
c 70 CONFIG_FEATURE_PASSWD_WEAK_CHECK bool
c 71 CONFIG_SYNC bool
c 72 CONFIG_FEATURE_CLEAN_UP bool
c 73 CONFIG_FEATURE_FIND_PERM bool
c 74 CONFIG_FEATURE_FIND_MAXDEPTH bool
c 75 CONFIG_GZIP bool
c 76 CONFIG_CHRT bool
c 77 CONFIG_STATIC bool
c 78 CONFIG_FEATURE_VI_YANKMARK bool
c 79 CONFIG_FEATURE_TAR_FROM bool
c 80 CONFIG_FEATURE_FIND_CONTEXT bool
c 81 CONFIG_FEATURE_UTMP bool
c 82 CONFIG_FTPGET bool
c 83 CONFIG_FEATURE_MDEV_LOAD_FIRMWARE bool
c 84 CONFIG_RMMOD bool
c 85 CONFIG_TAIL bool
c 86 CONFIG_RUN_PARTS bool
c 87 CONFIG_HUSH_TICK bool
c 88 CONFIG_MORE bool
c 89 CONFIG_DNSD bool
c 90 CONFIG_CMP bool
c 91 CONFIG_GUNZIP bool
c 92 CONFIG_UNAME bool
c 93 CONFIG_LOAD_POLICY bool
c 94 CONFIG_FEATURE_SUID_CONFIG_QUIET bool
c 95 CONFIG_MV bool
c 96 CONFIG_PATCH bool
c 97 CONFIG_FEATURE_XARGS_SUPPORT_ZERO_TERM bool
c 98 CONFIG_HAVE_DOT_CONFIG hidden_bool
c 99 CONFIG_PKILL bool
c 100 CONFIG_DOS2UNIX bool
c 101 CONFIG_FEATURE_VI_OPTIMIZE_CURSOR bool
c 102 CONFIG_MKTEMP bool
c 103 CONFIG_FEATURE_LS_FILETYPES bool
c 104 CONFIG_FEATURE_SUID bool
c 105 CONFIG_READLINK bool
c 106 CONFIG_DMALLOC choice_bool
c 107 CONFIG_SETSEBOOL bool
c 108 CONFIG_FEATURE_RFC3397 bool
c 109 CONFIG_DF bool
c 110 CONFIG_RUNLEVEL bool
c 111 CONFIG_FEATURE_IP_ROUTE bool
c 112 CONFIG_FEATURE_BUFFERS_GO_ON_STACK choice_bool
c 113 CONFIG_LFS bool
c 114 CONFIG_SETLOGCONS bool
c 115 CONFIG_LOGIN_SCRIPTS bool
c 116 CONFIG_FEATURE_CHECK_TAINTED_MODULE bool
c 117 CONFIG_RUNSVDIR bool
c 118 CONFIG_IPADDR hidden_bool
c 119 CONFIG_FEATURE_IFUPDOWN_IFCONFIG_BUILTIN bool
c 120 CONFIG_FEATURE_SPLIT_FANCY bool
c 121 CONFIG_FEATURE_HDPARM_HDIO_UNREGISTER_HWIF bool
c 122 CONFIG_DEVFSD_FG_NP bool
c 123 CONFIG_UNCOMPRESS bool
c 124 CONFIG_FEATURE_WGET_STATUSBAR bool
c 125 CONFIG_FEATURE_GUNZIP_UNCOMPRESS bool
c 126 CONFIG_DIFF bool
c 127 CONFIG_UNZIP bool
c 128 CONFIG_IPRULE hidden_bool
c 129 CONFIG_FEATURE_TAR_OLDSUN_COMPATIBILITY bool
c 130 CONFIG_RESIZE bool
c 131 CONFIG_YES bool
c 132 CONFIG_ARP bool
c 133 CONFIG_FEATURE_FIND_NEWER bool
c 134 CONFIG_FEATURE_BUFFERS_GO_IN_BSS choice_bool
c 135 CONFIG_ADDUSER bool
c 136 CONFIG_FEATURE_SUN_LABEL bool
c 137 CONFIG_BZIP2 bool
c 138 CONFIG_FOLD bool
c 139 CONFIG_FEATURE_LS_COLOR_IS_DEFAULT bool
c 140 CONFIG_FEATURE_TAR_LZMA bool
c 141 CONFIG_FEATURE_HTTPD_CGI bool
c 142 CONFIG_SHA1SUM bool
c 143 CONFIG_FEATURE_AR_LONG_FILENAMES bool
c 144 CONFIG_FEATURE_FANCY_TAIL bool
c 145 CONFIG_FEATURE_UDHCP_DEBUG bool
c 146 CONFIG_FEATURE_SORT_BIG bool
c 147 CONFIG_USLEEP bool
c 148 CONFIG_NICE bool
c 149 CONFIG_INSTALL_APPLET_DONT choice_bool
c 150 CONFIG_FEATURE_IP_RULE bool
c 151 CONFIG_VCONFIG bool
c 152 CONFIG_ASH_GETOPTS bool
c 153 CONFIG_FEATURE_MOUNT_FLAGS bool
c 154 CONFIG_HTTPD bool
c 155 CONFIG_TRACEROUTE bool
c 156 CONFIG_TEE bool
c 157 CONFIG_TEST bool
c 158 CONFIG_NAMEIF bool
c 159 CONFIG_ID bool
c 160 CONFIG_FEATURE_FANCY_SLEEP bool
c 161 CONFIG_FEATURE_LZMA_FAST bool
c 162 CONFIG_APP_DHCPRELAY bool
c 163 CONFIG_FEATURE_FIND_MTIME bool
c 164 CONFIG_FEATURE_SH_IS_LASH choice_bool
c 165 CONFIG_FEATURE_VI_WIN_RESIZE bool
c 166 CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER choice_bool
c 167 CONFIG_TFTP bool
c 168 CONFIG_FDISK bool
c 169 CONFIG_IPCALC bool
c 170 CONFIG_BUNZIP2 bool
c 171 CONFIG_MOUNT bool
c 172 CONFIG_FEATURE_RESIZE_PRINT bool
c 173 CONFIG_HOSTID bool
c 174 CONFIG_EXPR bool
c 175 CONFIG_FEATURE_FIND_USER bool
c 176 CONFIG_FEATURE_DEVFS bool
c 177 CONFIG_CP bool
c 178 CONFIG_MICROCOM bool
c 179 CONFIG_FEATURE_IP_TUNNEL bool
c 180 CONFIG_CHPST bool
c 181 CONFIG_PREFIX nonbool "./_install"
c 182 CONFIG_FEATURE_IFUPDOWN_MAPPING bool
c 183 CONFIG_FEATURE_LESS_FLAGCS bool
c 184 CONFIG_FEATURE_HTTPD_ERROR_PAGES bool
c 185 CONFIG_ASH_MATH_SUPPORT bool
c 186 CONFIG_FEATURE_FANCY_ECHO bool
c 187 CONFIG_RUNCON bool
c 188 CONFIG_SPLIT bool
c 189 CONFIG_ASH_BUILTIN_ECHO bool
c 190 CONFIG_INSTALL_SH_APPLET_SYMLINK choice_bool
c 191 CONFIG_FEATURE_TELNETD_STANDALONE bool
c 192 CONFIG_SED bool
c 193 CONFIG_FEATURE_TFTP_BLOCKSIZE bool
c 194 CONFIG_RESET bool
c 195 CONFIG_BBCONFIG bool
c 196 CONFIG_FEATURE_MOUNT_NFS bool
c 197 CONFIG_FEATURE_FIND_PRUNE bool
c 198 CONFIG_SLATTACH bool
c 199 CONFIG_FEATURE_INSMOD_LOADINKMEM bool
c 200 CONFIG_FEATURE_READLINK_FOLLOW bool
c 201 CONFIG_WGET bool
c 202 CONFIG_RX bool
c 203 CONFIG_FEATURE_IP_RARE_PROTOCOLS bool
c 204 CONFIG_FEATURE_FANCY_PING bool
c 205 CONFIG_ENVDIR bool
c 206 CONFIG_LOADFONT bool
c 207 CONFIG_FEATURE_USE_TERMIOS bool
c 208 CONFIG_FEATURE_SETCONSOLE_LONG_OPTIONS bool
c 209 CONFIG_FEATURE_MTAB_SUPPORT bool
c 210 CONFIG_NOHUP bool
c 211 CONFIG_FEATURE_TOP_DECIMALS bool
c 212 CONFIG_IP bool
c 213 CONFIG_BUSYBOX_EXEC_PATH nonbool "/proc/self/exe"
c 214 CONFIG_FEATURE_VI_COLON bool
c 215 CONFIG_HEAD bool
c 216 CONFIG_MATCHPATHCON bool
c 217 CONFIG_UMOUNT bool
c 218 CONFIG_DIRNAME bool
c 219 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN bool
c 220 CONFIG_CLEAR bool
c 221 CONFIG_MD5_SIZE_VS_SPEED nonbool 2
c 222 CONFIG_FEATURE_DIFF_BINARY bool
c 223 CONFIG_FEATURE_MKDIR_LONG_OPTIONS bool
c 224 CONFIG_LOCALE_SUPPORT bool
c 225 CONFIG_DEBUG_TFTP bool
c 226 CONFIG_VI bool
c 227 CONFIG_FEATURE_FIND_PRINT0 bool
c 228 CONFIG_FEATURE_HTTPD_RANGES bool
c 229 CONFIG_STRINGS bool
c 230 CONFIG_FEATURE_EDITING bool
c 231 CONFIG_FEATURE_VI_SET bool
c 232 CONFIG_SULOGIN bool
c 233 CONFIG_RDATE bool
c 234 CONFIG_FEATURE_DEB_TAR_LZMA bool
c 235 CONFIG_FDFLUSH bool
c 236 CONFIG_SUM bool
c 237 CONFIG_CKSUM bool
c 238 CONFIG_FEATURE_EDITING_FANCY_PROMPT bool
c 239 CONFIG_KILLALL5 bool
c 240 CONFIG_FEATURE_USE_INITTAB bool
c 241 CONFIG_FEATURE_HAVE_RPC bool
c 242 CONFIG_SETSID bool
c 243 CONFIG_INSTALL_NO_USR bool
c 244 CONFIG_FEATURE_TR_CLASSES bool
c 245 CONFIG_FEATURE_MV_LONG_OPTIONS bool
c 246 CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING bool
c 247 CONFIG_FEATURE_SECURETTY bool
c 248 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_TIME bool
c 249 CONFIG_FEATURE_VI_SETOPTS bool
c 250 CONFIG_EFENCE choice_bool
c 251 CONFIG_FEATURE_TFTP_GET bool
c 252 CONFIG_FEATURE_VERBOSE_USAGE bool
c 253 CONFIG_FEATURE_GREP_EGREP_ALIAS bool
c 254 CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE nonbool 16
c 255 CONFIG_FEATURE_HTTPD_USE_SENDFILE bool
c 256 CONFIG_FEATURE_FIND_PATH bool
c 257 CONFIG_FEATURE_SH_IS_HUSH choice_bool
c 258 CONFIG_FDFORMAT bool
c 259 CONFIG_MKFIFO bool
c 260 CONFIG_DESKTOP bool
c 261 CONFIG_FEATURE_EXTRA_QUIET bool
c 262 CONFIG_PIPE_PROGRESS bool
c 263 CONFIG_FEATURE_RUNCON_LONG_OPTIONS bool
c 264 CONFIG_RESTORECON bool
c 265 CONFIG_FEATURE_LS_TIMESTAMPS bool
c 266 CONFIG_FEATURE_FIND_SIZE bool
c 267 CONFIG_FEATURE_UNEXPAND_LONG_OPTIONS bool
c 268 CONFIG_ENV bool
c 269 CONFIG_STAT bool
c 270 CONFIG_VERBOSE_RESOLUTION_ERRORS bool
c 271 CONFIG_IPTUNNEL hidden_bool
c 272 CONFIG_TELNET bool
c 273 CONFIG_FEATURE_SU_SYSLOG bool
c 274 CONFIG_UPTIME bool
c 275 CONFIG_LESS bool
c 276 CONFIG_FEATURE_IFUPDOWN_IPV4 bool
c 277 CONFIG_HALT bool
c 278 CONFIG_FEATURE_IP_SHORT_FORMS bool
c 279 CONFIG_LS bool
c 280 CONFIG_START_STOP_DAEMON bool
c 281 CONFIG_DUMPKMAP bool
c 282 CONFIG_PRINTF bool
c 283 CONFIG_FEATURE_MOUNT_FSTAB bool
c 284 CONFIG_LOGNAME bool
c 285 CONFIG_FEATURE_LS_RECURSIVE bool
c 286 CONFIG_PGREP bool
c 287 CONFIG_HUSH_JOB bool
c 288 CONFIG_MSH bool
c 289 CONFIG_FEATURE_EDITING_FANCY_KEYS bool
c 290 CONFIG_BB_SYSCTL bool
c 291 CONFIG_FEATURE_SETFILES_CHECK_OPTION bool
c 292 CONFIG_PASSWD bool
c 293 CONFIG_FEATURE_ALLOW_EXEC bool
c 294 CONFIG_ED bool
c 295 CONFIG_CAL bool
c 296 CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY bool
c 297 CONFIG_FEATURE_XARGS_SUPPORT_QUOTES bool
c 298 CONFIG_FEATURE_XARGS_SUPPORT_TERMOPT bool
c 299 CONFIG_FEATURE_SH_IS_NONE choice_bool
c 300 CONFIG_PING6 bool
c 301 CONFIG_NC bool
c 302 CONFIG_FEATURE_LS_FOLLOWLINKS bool
c 303 CONFIG_FEATURE_TRACEROUTE_SOURCE_ROUTE bool
c 304 CONFIG_FEATURE_TAR_GNU_EXTENSIONS bool
c 305 CONFIG_FEATURE_AUTOWIDTH bool
c 306 CONFIG_FAKEIDENTD bool
c 307 CONFIG_WATCHDOG bool
c 308 CONFIG_FEATURE_IFUPDOWN_IP bool
c 309 CONFIG_CRONTAB bool
c 310 CONFIG_TASKSET bool
c 311 CONFIG_FEATURE_HTTPD_CONFIG_WITH_MIME_TYPES bool
c 312 CONFIG_FEATURE_VI_USE_SIGNALS bool
c 313 CONFIG_LAST bool
c 314 CONFIG_FEATURE_UNARCHIVE_TAPE bool
c 315 CONFIG_FEATURE_TAR_BZIP2 bool
c 316 CONFIG_WC bool
c 317 CONFIG_FEATURE_TAR_CREATE bool
c 318 CONFIG_GETOPT bool
c 319 CONFIG_PAM bool
c 320 CONFIG_FEATURE_STAT_FORMAT bool
c 321 CONFIG_FEATURE_LS_SORTFILES bool
c 322 CONFIG_FEATURE_HDPARM_GET_IDENTITY bool
c 323 CONFIG_CHMOD bool
c 324 CONFIG_FEATURE_RPM_BZ2 bool
c 325 CONFIG_FEATURE_MAKEDEVS_LEAF choice_bool
c 326 CONFIG_REALPATH bool
c 327 CONFIG_FEATURE_TAR_GZIP bool
c 328 CONFIG_FEATURE_FIND_REGEX bool
c 329 CONFIG_FEATURE_WC_LARGE bool
c 330 CONFIG_FEATURE_EDITING_HISTORY nonbool 15
c 331 CONFIG_UNIQ bool
c 332 CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY bool
c 333 CONFIG_WHO bool
c 334 CONFIG_FEATURE_FIND_DELETE bool
c 335 CONFIG_HWCLOCK bool
c 336 CONFIG_FEATURE_TAR_COMPRESS bool
c 337 CONFIG_DMESG bool
c 338 CONFIG_FEATURE_MDEV_EXEC bool
c 339 CONFIG_MT bool
c 340 CONFIG_MKNOD bool
c 341 CONFIG_MOUNTPOINT bool
c 342 CONFIG_SETCONSOLE bool
c 343 CONFIG_KILLALL bool
c 344 CONFIG_FEATURE_LSMOD_PRETTY_2_6_OUTPUT bool
c 345 CONFIG_FEATURE_VI_SEARCH bool
c 346 CONFIG_FEATURE_TAR_LONG_OPTIONS bool
c 347 CONFIG_SLEEP bool
c 348 CONFIG_FEATURE_INIT_COREDUMPS bool
c 349 CONFIG_WERROR bool
c 350 CONFIG_FEATURE_IFUPDOWN_EXTERNAL_DHCP bool
c 351 CONFIG_FEATURE_FIND_TYPE bool
c 352 CONFIG_FEATURE_START_STOP_DAEMON_LONG_OPTIONS bool
c 353 CONFIG_LOADKMAP bool
c 354 CONFIG_INSTALL bool
c 355 CONFIG_FUSER bool
c 356 CONFIG_SELINUX bool
c 357 CONFIG_FEATURE_INSMOD_LOAD_MAP bool
c 358 CONFIG_FEATURE_INSTALLER bool
c 359 CONFIG_FEATURE_PRESERVE_HARDLINKS bool
c 360 CONFIG_FEATURE_FBSET_FANCY bool
c 361 CONFIG_CHPASSWD bool
c 362 CONFIG_VLOCK bool
c 363 CONFIG_KLOGD bool
c 364 CONFIG_FEATURE_MOUNT_HELPERS bool
c 365 CONFIG_ETHER_WAKE bool
c 366 CONFIG_INSMOD bool
c 367 CONFIG_FEATURE_WGET_AUTHENTICATION bool
c 368 CONFIG_MKSWAP bool
c 369 CONFIG_KBD_MODE bool
c 370 CONFIG_RENICE bool
c 371 CONFIG_CHATTR bool
c 372 CONFIG_NETSTAT bool
c 373 CONFIG_FEATURE_HTTPD_SET_REMOTE_PORT_TO_ENV bool
c 374 CONFIG_OD bool
c 375 CONFIG_FEATURE_CROND_CALL_SENDMAIL bool
c 376 CONFIG_INSTALL_SH_APPLET_HARDLINK choice_bool
c 377 CONFIG_FEATURE_SH_IS_MSH choice_bool
c 378 CONFIG_FEATURE_USERNAME_COMPLETION bool
c 379 CONFIG_TTY bool
c 380 CONFIG_FEATURE_LS_USERNAME bool
c 381 CONFIG_DU bool
c 382 CONFIG_FEATURE_HWCLOCK_LONG_OPTIONS bool
c 383 CONFIG_CROND bool
c 384 CONFIG_PWD bool
c 385 CONFIG_INCLUDE_SUSv2 bool
c 386 CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K bool
c 387 CONFIG_COMM bool
c 388 CONFIG_HDPARM bool
c 389 CONFIG_FEATURE_INETD_RPC bool
c 390 CONFIG_NC_SERVER bool
c 391 CONFIG_FEATURE_2_6_MODULES bool
c 392 CONFIG_FEATURE_HTTPD_ENCODE_URL_STR bool
c 393 CONFIG_ASH_RANDOM_SUPPORT bool
c 394 CONFIG_RPM bool
c 395 CONFIG_FEATURE_IFCONFIG_STATUS bool
c 396 CONFIG_FEATURE_SGI_LABEL bool
c 397 CONFIG_FEATURE_TEST_64 bool
c 398 CONFIG_CHVT bool
c 399 CONFIG_FEATURE_HTTPD_AUTH_MD5 bool
c 400 CONFIG_FEATURE_MOUNT_CIFS bool
c 401 CONFIG_FEATURE_MINIX2 bool
c 402 CONFIG_FEATURE_DEVPTS bool
c 403 CONFIG_FEATURE_FDISK_ADVANCED bool
c 404 CONFIG_XARGS bool
c 405 CONFIG_FEATURE_LESS_BRACKETS bool
c 406 CONFIG_DELUSER bool
c 407 CONFIG_LSMOD bool
c 408 CONFIG_DC bool
c 409 CONFIG_FBSET bool
c 410 CONFIG_FEATURE_INSMOD_LOAD_MAP_FULL bool
c 411 CONFIG_FEATURE_DEB_TAR_GZ bool
c 412 CONFIG_INIT bool
c 413 CONFIG_FSCK_MINIX bool
c 414 CONFIG_MKFS_MINIX bool
c 415 CONFIG_DEALLOCVT bool
c 416 CONFIG_FEATURE_HTTPD_SETUID bool
c 417 CONFIG_FEATURE_DEL_USER_FROM_GROUP bool
c 418 CONFIG_HUSH bool
c 419 CONFIG_BASENAME bool
c 420 CONFIG_FEATURE_COMPRESS_USAGE bool
c 421 CONFIG_RM bool
c 422 CONFIG_LN bool
c 423 CONFIG_FEATURE_FIND_PAREN bool
c 424 CONFIG_FEATURE_EDITING_VI bool
c 425 CONFIG_FEATURE_INIT_SCTTY bool
c 426 CONFIG_FIND bool
c 427 CONFIG_MODPROBE bool
c 428 CONFIG_CUT bool
c 429 CONFIG_FEATURE_RUN_PARTS_FANCY bool
c 430 CONFIG_FDISK_SUPPORT_LARGE_DISKS bool
c 431 CONFIG_FEATURE_FIND_EXEC bool
c 432 CONFIG_HUSH_LOOPS bool
c 433 CONFIG_SETUIDGID bool
c 434 CONFIG_FEATURE_FANCY_HEAD bool
c 435 CONFIG_FEATURE_DIFF_MINIMAL bool
c 436 CONFIG_FEATURE_NETSTAT_WIDE bool
c 437 CONFIG_FEATURE_LESS_REGEXP bool
c 438 CONFIG_MD5SUM bool
c 439 CONFIG_FEATURE_DEB_TAR_BZ2 bool
c 440 CONFIG_FALSE bool
c 441 CONFIG_TAR bool
c 442 CONFIG_LOGIN bool
c 443 CONFIG_MESG bool
c 444 CONFIG_GETSEBOOL bool
c 445 CONFIG_NMETER bool
c 446 CONFIG_IPLINK hidden_bool
c 447 CONFIG_SHOW_USAGE bool
c 448 CONFIG_FEATURE_PIDOF_SINGLE bool
c 449 CONFIG_FEATURE_SYSLOG bool
c 450 CONFIG_FEATURE_IP_ADDRESS bool
c 451 CONFIG_MAKEDEVS bool
c 452 CONFIG_FEATURE_SHADOWPASSWDS bool
c 453 CONFIG_FEATURE_INSMOD_KSYMOOPS_SYMBOLS bool
c 454 CONFIG_PRINTENV bool
c 455 CONFIG_FEATURE_EXPAND_LONG_OPTIONS bool
c 456 CONFIG_SETARCH bool
c 457 CONFIG_DELGROUP bool
c 458 CONFIG_FEATURE_IFCONFIG_SLIP bool
c 459 CONFIG_PING bool
c 460 CONFIG_ASH_BUILTIN_TEST bool
c 461 CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS bool
c 462 CONFIG_FEATURE_HWCLOCK_ADJTIME_FHS bool
c 463 CONFIG_FEATURE_NOLOGIN bool
c 464 CONFIG_LOGREAD bool
c 465 CONFIG_FEATURE_SHARED_BUSYBOX bool
c 466 CONFIG_FEATURE_LESS_MAXLINES nonbool 9999999
c 467 CONFIG_DEVFSD_MODLOAD bool
c 468 CONFIG_DEVFSD bool
c 469 CONFIG_HUSH_HELP bool
c 470 CONFIG_SELINUXENABLED bool
c 471 CONFIG_FEATURE_MODPROBE_MULTIPLE_OPTIONS bool
c 472 CONFIG_IOCTL_HEX2STR_ERROR bool
c 473 CONFIG_FEATURE_RUN_PARTS_LONG_OPTIONS bool
c 474 CONFIG_ECHO bool
c 475 CONFIG_ZCIP bool
c 476 CONFIG_TELNETD bool
c 477 CONFIG_FEATURE_LESS_MARKS bool
c 478 CONFIG_FEATURE_MDEV_CONF bool
c 479 CONFIG_TRUE bool
c 480 CONFIG_IFUPDOWN_IFSTATE_PATH nonbool "/var/run/ifstate"
c 481 CONFIG_CPIO bool
c 482 CONFIG_FSCK bool
c 483 CONFIG_FEATURE_ETC_NETWORKS bool
c 484 CONFIG_CHGRP bool
c 485 CONFIG_MDEV bool
c 486 CONFIG_USE_BB_PWD_GRP bool
c 487 CONFIG_TR bool
c 488 CONFIG_FEATURE_2_4_MODULES bool
c 489 CONFIG_FEATURE_START_STOP_DAEMON_FANCY bool
c 490 CONFIG_EXPAND bool
c 491 CONFIG_ENVUIDGID bool
c 492 CONFIG_CAT bool
c 493 CONFIG_FEATURE_DD_IBS_OBS bool
c 494 CONFIG_FEATURE_FBSET_READMODE bool
c 495 CONFIG_FEATURE_HTTPD_CONFIG_WITH_SCRIPT_INTERPR bool
c 496 CONFIG_APP_UDHCPC bool
c 497 CONFIG_ADDGROUP bool
c 498 CONFIG_DD bool
c 499 CONFIG_FEATURE_FIND_GROUP bool
c 500 CONFIG_RMDIR bool
c 501 CONFIG_ASH_READ_TIMEOUT bool
c 502 CONFIG_LENGTH bool
c 503 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD bool
c 504 CONFIG_GREP bool
c 505 CONFIG_PSCAN bool
c 506 CONFIG_INSTALL_APPLET_HARDLINKS choice_bool
c 507 CONFIG_SOFTLIMIT bool
c 508 CONFIG_FEATURE_DD_SIGNAL_HANDLING bool
c 509 CONFIG_FEATURE_UMOUNT_ALL bool
c 510 CONFIG_UUENCODE bool
c 511 CONFIG_FEATURE_PIDOF_OMIT bool
c 512 CONFIG_FEATURE_OSF_LABEL bool
c 513 CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS choice_bool
c 514 CONFIG_NITPICK bool
c 515 CONFIG_FEATURE_QUERY_MODULE_INTERFACE hidden_bool
c 516 CONFIG_FEATURE_FAST_TOP bool
c 517 CONFIG_NSLOOKUP bool
c 518 CONFIG_FEATURE_FTPGETPUT_LONG_OPTIONS bool
c 519 CONFIG_FEATURE_INDIVIDUAL bool
c 520 CONFIG_PIDOF bool
c 521 CONFIG_CHOWN bool
c 522 CONFIG_CHROOT bool
c 523 CONFIG_CRYPTPW bool
c 524 CONFIG_FEATURE_FIND_MMIN bool
c 525 CONFIG_DPKG_DEB bool
c 526 CONFIG_FEATURE_SU_CHECKS_SHELLS bool
c 527 CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS bool
c 528 CONFIG_DPKG bool
c 529 CONFIG_FEATURE_HDPARM_HDIO_SCAN_HWIF bool
c 530 CONFIG_DEVFSD_VERBOSE bool
c 531 CONFIG_PIVOT_ROOT bool
c 532 CONFIG_FEATURE_IFUPDOWN_IPV6 bool
c 533 CONFIG_FEATURE_ADDUSER_TO_GROUP bool
c 534 CONFIG_FEATURE_LS_COLOR bool
c 535 CONFIG_INSTALL_APPLET_SYMLINKS choice_bool
c 536 CONFIG_SU bool
c 537 CONFIG_RPM2CPIO bool
c 538 CONFIG_FEATURE_HDPARM_HDIO_GETSET_DMA bool
c 539 CONFIG_MONOTONIC_SYSCALL bool
c 540 CONFIG_FEATURE_TRACEROUTE_VERBOSE bool
c 541 CONFIG_RUNSV bool
c 542 CONFIG_FEATURE_AIX_LABEL bool
c 543 CONFIG_HOSTNAME bool
c 544 CONFIG_ROUTE bool
c 545 CONFIG_USE_BB_SHADOW bool
c 546 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME bool
c 547 CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_ECHO bool
c 548 CONFIG_FEATURE_IPC_SYSLOG bool
c 549 CONFIG_FEATURE_HDPARM_HDIO_TRISTATE_HWIF bool
c 550 CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE bool
c 551 CONFIG_GETOPT_LONG bool
c 552 CONFIG_LOSETUP bool
c 553 CONFIG_FEATURE_VI_DOT_CMD bool
c 554 CONFIG_FEATURE_SH_EXTRA_QUIET bool
c 555 CONFIG_FEATURE_BUFFERS_USE_MALLOC choice_bool
c 556 CONFIG_FEATURE_DATE_ISOFMT bool
c 557 CONFIG_ASH_MATH_SUPPORT_64 bool
c 558 CONFIG_FEATURE_INIT_SYSLOG bool
c 559 CONFIG_IPCRM bool
c 560 CONFIG_FEATURE_IFUPDOWN_IP_BUILTIN bool
c 561 CONFIG_FEATURE_SUID_CONFIG bool
c 562 CONFIG_AWK bool
c 563 CONFIG_SETFILES bool
c 564 CONFIG_EXPR_MATH_SUPPORT_64 bool
c 565 CONFIG_FEATURE_VI_READONLY bool
c 566 CONFIG_APP_UDHCPD bool
c 567 CONFIG_DEBUG_INIT bool
c 568 CONFIG_FEATURE_DIFF_DIR bool
c 569 CONFIG_DATE bool
c 570 CONFIG_WHOAMI bool
c 571 CONFIG_INETD bool
c 572 CONFIG_FEATURE_DF_INODE bool
c 573 CONFIG_FEATURE_IFCONFIG_HW bool
c 574 CONFIG_GETTY bool
c 575 CONFIG_FEATURE_DMESG_PRETTY bool
c 576 CONFIG_ASH_EXPAND_PRMT bool
c 577 CONFIG_FTPPUT bool
c 578 CONFIG_SETENFORCE bool
c 579 CONFIG_SWAPONOFF bool
c 580 CONFIG_FEATURE_FIND_NOT bool
c 581 CONFIG_SV bool
c 582 CONFIG_FEATURE_FIND_INUM bool
c 583 CONFIG_ASH_OPTIMIZE_FOR_SIZE bool
c 584 CONFIG_FEATURE_IPCALC_LONG_OPTIONS bool
c 585 CONFIG_DEBUG bool
c 586 CONFIG_TOP bool
c 587 CONFIG_FEATURE_ENV_LONG_OPTIONS bool
c 588 CONFIG_ASH_CMDCMD bool
c 589 CONFIG_UNEXPAND bool
c 590 CONFIG_FEATURE_PS_WIDE bool
c 591 CONFIG_EJECT bool
c 592 CONFIG_APP_DUMPLEASES bool
c 593 CONFIG_UNLZMA bool
c 594 CONFIG_SVLOGD bool
c 595 CONFIG_FEATURE_FIND_DEPTH bool
c 596 CONFIG_FEATURE_TEE_USE_BLOCK_IO bool
c 597 CONFIG_FEATURE_TAR_OLDGNU_COMPATIBILITY bool
c 598 CONFIG_FEATURE_GREP_FGREP_ALIAS bool
c 599 CONFIG_CHCON bool
c 600 CONFIG_SORT bool
c 601 CONFIG_FEATURE_MKSWAP_V0 bool
c 602 CONFIG_IPROUTE hidden_bool
c 603 CONFIG_READPROFILE bool
c 604 CONFIG_FEATURE_INSMOD_VERSION_CHECKING bool
c 605 CONFIG_TCPSVD bool
c 606 CONFIG_FEATURE_HUMAN_READABLE bool
c 607 CONFIG_TOUCH bool
c 608 CONFIG_FEATURE_INITRD bool
c 609 CONFIG_HUSH_IF bool
c 610 CONFIG_TIME bool
c 611 CONFIG_STTY bool
c 612 CONFIG_TTYSIZE bool
c 613 CONFIG_READAHEAD bool
c 614 CONFIG_SYSLOGD bool
c 615 CONFIG_NO_DEBUG_LIB choice_bool
c 616 CONFIG_UDPSVD bool
c 617 CONFIG_ASH_ALIAS bool
c 618 CONFIG_GETENFORCE bool
c 619 CONFIG_FREE bool
c 620 CONFIG_FEATURE_HDPARM_HDIO_DRIVE_RESET bool
c 621 CONFIG_FEATURE_IPCALC_FANCY bool
c 622 CONFIG_FEATURE_PREFER_IPV4_ADDRESS bool
c 623 CONFIG_FEATURE_AWK_MATH bool
c 624 CONFIG_ARPING bool
p cnf 624 513
201 -367 0
504 -598 0
230 -238 0
126 -568 0
109 -572 0
104 -362 0
-160 347 0
412 -558 0
-19 34 0
168 -512 0
104 -536 0
-68 226 0
-338 478 0
-189 474 0
13 -287 0
-442 449 0
-13 418 0
17 -164 0
449 -571 0
51 -308 0
156 -596 0
-55 614 0
-306 449 0
366 -604 0
-136 168 0
168 -396 0
-23 -53 0
-334 426 0
179 -271 0
35 -212 -560 0
-298 404 0
171 -364 0
-324 394 0
-179 212 0
279 -380 0
-87 418 0
-121 388 0
-128 278 0
187 -263 0
418 -432 0
372 -436 0
187 -263 551 0
-197 426 0
275 -405 0
337 -575 0
-190 513 0
269 -320 0
51 -480 0
18 -57 0
-493 498 0
279 -534 0
412 -608 0
441 -597 0
562 -623 0
-453 488 0
-80 356 0
-111 -278 602 0
18 -22 0
-292 449 0
51 -532 0
-146 600 0
-120 188 0
-256 426 0
-427 471 514 0
-232 449 0
-375 383 0
-190 -376 0
-58 310 0
95 177 -359 0
-199 488 0
-478 485 0
-550 586 0
-140 441 0
449 -475 0
174 -564 0
356 -578 0
-464 548 0
-66 313 442 536 574 0
-240 412 0
279 -534 551 0
-103 279 0
488 -515 0
106 250 615 0
53 -519 0
-382 551 0
-412 449 0
-35 212 560 0
-39 356 599 0
-417 457 0
426 -524 0
-352 551 0
82 -518 577 0
16 -300 0
86 -429 0
104 -559 0
130 -172 0
-46 201 0
-183 275 0
-37 171 217 0
149 506 513 535 0
141 -495 0
-39 551 599 0
-196 241 0
335 -462 0
388 -529 0
356 -599 0
-72 514 0
88 -207 0
-60 154 0
69 -391 -427 514 0
-66 81 -333 0
-288 479 0
111 -602 0
230 -424 0
-203 212 0
-455 490 0
-376 513 0
-234 525 528 0
-423 426 0
-69 427 0
-112 -134 0
-17 479 0
316 -329 0
278 -602 0
-165 226 0
288 -377 0
449 -536 0
-57 230 0
-59 168 0
426 -431 0
-4 354 0
-420 447 0
-288 440 0
128 -150 -278 0
-150 212 0
-106 -615 0
-149 -506 0
157 -460 0
-118 450 0
169 -584 0
-39 599 0
-455 551 0
-97 404 0
-94 561 0
-164 -299 0
-41 383 0
-134 -555 0
-3 230 0
-141 154 0
335 -382 0
-73 426 0
226 -231 0
356 -618 0
-77 -519 0
155 -540 0
230 -330 0
-411 525 528 0
-244 487 0
-77 -465 0
449 -476 0
-252 447 0
-124 201 0
551 -587 0
388 -538 0
-5 449 0
187 -263 356 0
468 -530 0
-40 272 0
-11 404 0
488 -604 0
38 -223 0
-134 514 0
-24 154 0
18 -501 0
167 -225 0
17 18 288 418 -554 0
-166 513 0
212 -278 0
-112 -555 0
111 212 -560 0
18 -152 0
-139 534 0
426 -580 0
-149 -535 0
15 23 -149 358 0
-30 154 0
275 -477 0
-31 230 0
-66 81 -574 0
356 -563 0
551 -584 0
95 -245 0
452 486 -545 0
66 -313 -574 0
-357 391 488 0
566 -592 0
217 -509 0
35 -560 0
-257 -299 0
-69 427 514 0
-83 485 0
-29 -325 0
118 -278 -450 0
-461 550 0
226 -293 562 0
18 -588 0
81 -333 -442 0
-42 -257 0
-15 23 0
-214 226 0
-62 100 0
-153 171 0
66 -313 -536 0
514 -555 0
-344 407 0
-418 479 0
418 -609 0
-106 -250 0
34 -395 0
-145 496 566 0
388 -620 0
-304 441 0
31 -230 0
26 -143 0
-291 356 0
-348 412 0
104 -442 0
-101 226 0
-247 442 0
-66 81 -536 0
60 -399 0
81 -333 -536 0
450 -560 0
497 -533 0
275 -466 0
51 -119 -308 0
-129 441 0
-317 441 0
-161 593 0
-389 571 0
449 -468 0
-44 272 0
-70 292 0
-315 441 0
-219 571 0
356 -470 0
155 -303 0
104 -292 0
-328 426 0
308 -560 0
-300 459 0
113 -613 0
427 -471 0
-439 525 528 0
366 -453 0
409 -494 0
-133 426 0
442 -463 0
452 -545 0
53 -77 -519 0
241 -389 0
-42 -377 0
66 -81 333 442 536 574 0
498 -508 0
-39 356 0
-275 466 0
-166 -190 0
426 -595 0
-187 356 0
-254 548 0
34 -573 0
91 -125 0
-299 -377 0
-257 -377 0
-111 212 560 0
-211 550 0
-50 142 438 0
-93 356 0
98 0
166 190 376 -513 0
212 -560 0
279 -285 0
-267 551 0
-534 551 0
-473 551 0
34 -527 0
88 272 279 -305 0
-119 -308 0
104 -561 0
-506 -513 0
-212 450 -560 0
-245 551 0
141 -373 0
-296 566 0
-503 571 0
-319 442 0
-332 525 0
-113 168 430 0
154 -392 0
-66 81 -442 0
-15 17 18 288 418 0
-74 426 0
212 450 -560 0
226 -249 0
-208 342 0
-175 426 0
-164 -377 0
42 164 257 299 377 0
-273 536 0
-401 413 414 0
-35 -278 446 0
418 -469 0
-448 520 0
18 -189 0
157 -418 0
-32 301 0
-334 595 0
18 -393 0
368 -601 0
412 -425 0
230 -289 0
215 -434 0
126 -222 0
18 -42 0
-223 551 0
280 -489 0
35 -446 0
-52 104 0
449 -574 0
-66 81 333 442 536 574 0
1 -343 0
-291 563 0
-467 468 0
171 -400 0
59 -136 0
-179 271 -278 0
-199 366 0
-107 356 0
412 -567 0
111 -212 -560 0
169 -621 0
-263 356 0
-360 409 0
113 168 -430 0
301 -390 0
157 -397 0
-271 278 0
18 -576 0
-263 551 0
-79 441 0
-267 589 0
16 -622 0
81 -333 0
53 -77 -465 0
167 -251 0
171 -196 0
66 -313 -442 0
-266 426 0
18 -617 0
-166 -376 0
51 -119 0
-116 366 407 0
-186 474 0
59 -542 0
-119 544 0
427 -471 514 0
-196 449 0
185 -557 0
-48 487 0
-69 391 0
3 -378 0
68 -226 0
-4 551 0
168 -542 0
-51 480 0
109 279 381 -606 0
81 -333 -574 0
-547 571 0
35 212 -560 0
-164 -257 0
226 -312 0
-112 514 0
221 0
-357 366 0
104 -383 0
-248 571 0
-113 -168 430 0
226 -565 0
226 -553 0
67 -590 0
51 -350 0
154 -184 0
-322 388 0
486 -545 0
-29 451 0
254 -548 0
154 -416 0
-336 441 0
-204 459 0
59 -403 0
84 366 427 -488 0
-163 426 0
388 -549 0
-64 426 0
-261 412 0
-47 504 0
-526 536 0
-78 226 0
154 -311 0
-80 426 0
268 -587 0
426 -499 0
279 -321 0
112 134 -514 555 0
-12 18 0
-346 551 0
-391 -515 0
59 -512 0
-227 426 0
-263 356 551 0
-17 440 0
29 325 -451 0
18 -185 0
18 -54 0
-556 569 0
-2 155 0
-39 551 0
-418 440 0
-246 464 0
-351 426 0
1 -239 0
-8 275 0
167 -193 0
356 -444 0
-108 496 566 0
84 366 -391 427 0
18 -460 0
86 -473 0
278 -446 0
-297 404 0
-36 614 0
181 0
-383 449 0
18 -583 0
381 -386 0
-69 391 427 0
-506 -535 0
-327 441 0
62 -100 0
-118 278 0
66 -313 0
34 -458 0
105 -200 0
-264 356 0
-250 -615 0
-42 -164 0
104 -309 0
-314 441 481 0
-149 -513 0
-162 566 0
-69 391 514 0
157 -288 0
-39 356 551 0
-546 571 0
-253 504 0
-33 586 0
-257 418 0
212 -450 560 0
-513 -535 0
357 -410 0
226 -345 0
-511 520 0
126 -435 0
171 -283 0
-216 356 0
34 -119 0
51 -182 0
-346 441 0
-46 551 0
280 -352 0
-113 430 0
-115 442 0
-548 614 0
-325 451 0
59 -396 0
-18 157 0
213 0
-66 81 0
275 -437 0
-122 468 0
-17 157 0
-230 330 0
426 -582 0
-265 279 0
-208 551 0
-191 476 0
-128 150 0
154 -228 0
51 -276 0
154 -255 0
-65 167 0
49 0
171 -209 217 0
-42 -299 0
-518 551 0
279 -302 0
391 -488 515 0
168 -403 0
53 -465 0
-158 449 0
85 -144 0
16 -532 0
111 -560 0
